<nz-card [nzLoading]="cardLoading">
    <section>
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        <div nz-card-grid [ngStyle]="gridStyle"><label class="font-weight-semibold text-dark mr-3">Name:
                                <span class="font-weight-normal">{{_currEMIBorrowerDetail?.user_details ?
                                    _currEMIBorrowerDetail?.user_details.full_name : '-'}}</span></label></div>
                    </div>
                    <div class="col-md-12">
                        <div nz-card-grid [ngStyle]="gridStyle"><label class="font-weight-semibold text-dark mr-3">Mobile:
                                <span class="font-weight-normal">{{_currEMIBorrowerDetail?.user_details ?
                                    _currEMIBorrowerDetail?.user_details.mobile : '-'}}</span></label></div>
                    </div>
                    <div class="col-md-12">
                        <div nz-card-grid [ngStyle]="gridStyle"><label class="font-weight-semibold text-dark mr-3">Email:
                                <span class="font-weight-normal">{{_currEMIBorrowerDetail?.user_details ?
                                    _currEMIBorrowerDetail?.user_details.email : '-'}}</span></label></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        <div nz-card-grid [ngStyle]="gridStyle"><label class="font-weight-semibold text-dark mr-3">Loan ID:
                                <span class="font-weight-normal">{{_currEMIBorrowerDetail?.loan_unique_id ?
                                    _currEMIBorrowerDetail?.loan_unique_id : '-'}}</span></label></div>
                    </div>
                    <div class="col-md-12">
                        <div nz-card-grid [ngStyle]="gridStyle"><label class="font-weight-semibold text-dark mr-3">Amount
                                Provided: <span class="font-weight-normal">₹ {{_currEMIBorrowerDetail?.loan_amount_provided
                                    ? _currEMIBorrowerDetail?.loan_amount_provided :'0' }}</span></label></div>
                    </div>
                    <div class="col-md-12">
                        <div nz-card-grid [ngStyle]="gridStyle"><label class="font-weight-semibold text-dark mr-3">Interest
                                Rate: <span class="font-weight-normal">{{_currEMIBorrowerDetail?.interest_rate ?
                                    _currEMIBorrowerDetail?.interest_rate : '0'}}%</span></label></div>
                    </div>
                    <div class="col-md-12">
                        <div nz-card-grid [ngStyle]="gridStyle"><label class="font-weight-semibold text-dark mr-3">Auto
                                Debit: <span class="font-weight-normal">{{_currEMIBorrowerDetail?.auto_debit ?
                                    _currEMIBorrowerDetail?.auto_debit : ''}}</span></label></div>
                    </div>
                  
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        <div nz-card-grid [ngStyle]="gridStyle"><label
                                class="font-weight-semibold text-dark mr-3">Activation Date
                                Debit: <span class="font-weight-normal">{{_currEMIBorrowerDetail?.activation_date ?
                                    _currEMIBorrowerDetail?.activation_date : ''}}</span></label></div>
                    </div>
                    <div class="col-md-12">
                        <div nz-card-grid [ngStyle]="gridStyle"><label class="font-weight-semibold text-dark mr-3">Product
                                Tenure:
                                <span class="font-weight-normal">{{_currEMIBorrowerDetail?.product_tenure ?
                                    _currEMIBorrowerDetail?.product_tenure : '-' }}</span></label></div>
                    </div>
                    <div class="col-md-12">
                        <div nz-card-grid [ngStyle]="gridStyle"><label
                                class="font-weight-semibold text-dark mr-3">Application Nature:
                                <span class="font-weight-normal">{{_currEMIBorrowerDetail?.application_nature ?
                                    _currEMIBorrowerDetail?.application_nature : '-'}}</span></label></div>
                    </div>
                    <div class="col-md-12">
                        <div nz-card-grid [ngStyle]="gridStyle"><label class="font-weight-semibold text-dark mr-3">Due Day:
                                <span class="font-weight-normal">{{_currEMIBorrowerDetail?.due_day ?
                                    _currEMIBorrowerDetail?.due_day : '-'}}</span></label></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="mt-5">
        <nz-table #basicTable [nzFrontPagination]="false" [nzData]="schedulerDetails" [nzPageIndex]="page"
            [nzShowSizeChanger]="true" [nzTotal]="total_count" [nzPageSize]="globalPageSize" [nzScroll]="{ x: '1500px' }">
            <!-- , y: '45vh'     -->
            <thead>
                <tr>
                    <!-- <th nzWidth="2rem"></th> -->
                    <th nzWidth="3rem">#</th>
                    <th>Narration</th>
                    <th>EMI Date</th>
                    <th>EMI</th>
                    <th>Interest</th>
                    <th>Principal</th>
                    <th>Outstanding Fees Charges</th>
                    <th>Is Nach Fire</th>
                    <th>Repayments</th>
                    <th>Paid On</th>
                    <th>Paid Status</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let data of schedulerDetails; index as i">
                    <tr>
                        <td>{{ i + 1 }}</td>
                        <td>{{data?.narration ? data?.narration : '-'}}
                        </td>
                        <td>{{ data?.emi_date ? data?.emi_date : "-" }}</td>
                        <td>₹{{data?.emi ? data?.emi : '-'}}</td>
                        <td>₹{{data.emi_interest_component ? data?.emi_interest_component : '0'}}</td>
                        <td>₹ {{ data?.emi_principle_component ? data?.emi_principle_component : "0" }}</td>
                        <td>₹{{ data.fees_charges_outstanding ? data.fees_charges_outstanding : "0" }}</td>
                        <td>
                            <i *ngIf="data.nach_fire" nz-icon nzType="check-circle" nzTheme="fill"
                                class="text-success"></i>
                            <i *ngIf="!data.nach_fire" nz-icon nzType="close-circle" nzTheme="fill"
                                class="text-danger"></i>
                        </td>
                        <td>{{data.repayments ? data.repayments : '-'}}</td>
                        <td> {{ data.paid_on ? (data?.paid_on | date:'medium') : '-' }}</td>
                        <td><label [ngClass]="data?.paid_status ? 'text-success' : 'text-danger'">{{ data?.paid_status ?
                                'PAID' : 'FAILED' }}</label> </td>
    
                    </tr>
                </ng-container>
            </tbody>
        </nz-table>
        <div class="total_count_text" *ngIf="total_count">
            <b>Total Count : </b>{{ total_count }}
        </div>
    </section>
</nz-card>