<section>
    <nz-card>
        <form nz-form [formGroup]="addEditProductForm" (ngSubmit)="onClickSubmitForm()">
            <div class="row">
                <div class="col-12">
                    <div>
                        Partner’s Name
                    </div>
                    <div>
                        <input width="1rem" nz-input formControlName="code" type="text" id="credit" placeholder="Enter Code" />
                    </div>
                </div>
                <div class="col-12">
                    <div>
                        Address Line 1
                    </div>
                    <div>
                        <input nz-input formControlName="code" type="text" id="credit" placeholder="Enter Code" />
                    </div>
                </div>
                <div class="col-12">
                    <div>
                        Address line 2
                    </div>
                    <div>
                        <input nz-input formControlName="code" type="text" id="credit" placeholder="Enter Code" />
                    </div>
                </div>
                <div class="col-12">
                    <div>
                        City
                    </div>
                    <div>
                        <input nz-input formControlName="code" type="text" id="credit" placeholder="Enter Code" />
                    </div>
                </div>
                <div class="col-12">
                    <div>
                        State/Region
                    </div>
                    <div>
                        <input nz-input formControlName="code" type="text" id="credit" placeholder="Enter Code" />
                    </div>
                </div>
                <div class="col-12">
                    <div>
                        Pin Code
                    </div>
                    <div>
                        <input nz-input formControlName="code" type="text" id="credit" placeholder="Enter Code" />
                    </div>
                </div>
                <div class="col-12">
                    <div>
                        Phone No
                    </div>
                    <div>
                        <input nz-input formControlName="code" type="text" id="credit" placeholder="Enter Code" />
                    </div>
                </div>
            </div>

        </form>
    </nz-card>
</section>