<section>
    <nz-card>
        <form nz-form [formGroup]="addEditProductForm">
            <div class="row border-bottom">
                <div class="col-md-12">
                    <nz-form-item>
                        <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="name" class="text-left" nzRequired>Master’s Name</nz-form-label>
                        <nz-form-control [nzSm]="7" [nzXs]="24" nzErrorTip="Please input Product Name!">
                            <input nz-input type="text" formControlName="name"  placeholder="Master Name"/>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div class="col-md-12">
                    <nz-form-item>
                        <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="address_line_1" class="text-left" nzRequired>Address Line 1</nz-form-label>
                        <nz-form-control [nzSm]="7" [nzXs]="24" nzErrorTip="Please Add Address!">
                            <input nz-input type="text" formControlName="address_line_1" placeholder="Address Line 1"/>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div class="col-md-12">
                    <nz-form-item>
                        <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="address_line_2" class="text-left" nzRequired>Address line 2</nz-form-label>
                        <nz-form-control [nzSm]="7" [nzXs]="24" nzErrorTip="Please Add Address line 2!">
                            <input nz-input type="text" formControlName="address_line_2"  placeholder="Address Line 2"/>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div class="col-md-12">
                    <nz-form-item>
                        <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="city" class="text-left" nzRequired>City</nz-form-label>
                        <nz-form-control [nzSm]="7" [nzXs]="24" nzErrorTip="Please Add City!">
                            <input nz-input type="text" formControlName="city"  placeholder="City"/>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div class="col-md-12">
                    <nz-form-item>
                        <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="state" class="text-left" nzRequired>State/Region</nz-form-label>
                        <nz-form-control [nzSm]="7" [nzXs]="24" nzErrorTip="Please Add State!">
                            <input nz-input type="text" formControlName="state"  placeholder="State"/>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div class="col-md-12">
                    <nz-form-item>
                        <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="pincode" class="text-left" nzRequired>Pin Code</nz-form-label>
                        <nz-form-control [nzSm]="7" [nzXs]="24" nzErrorTip="Please Add Pincode!">
                            <input nz-input type="number" formControlName="pincode"  placeholder="Pincode"/>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div class="col-md-12">
                    <nz-form-item>
                        <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="phone" class="text-left" nzRequired>Phone No</nz-form-label>
                        <nz-form-control [nzSm]="7" [nzXs]="24" nzErrorTip="Please Add Phone No.!">
                            <input nz-input type="number" formControlName="phone"  placeholder="Phone No."/>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <div class="mt-2">
                <h5>
                    Business Details
                </h5>
            </div>
            <div class="row border-bottom">
                <div class="col-md-6">
                    <nz-form-item>
                        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="business_type" class="text-left" nzRequired>Type</nz-form-label>
                        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please Add Business Type!">
                            <input nz-input type="text" formControlName="business_type"  placeholder="Business Type"/>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div class="col-md-6">
                    <nz-form-item>
                        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="business_nature" class="text-left" nzRequired>Nature</nz-form-label>
                        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please Add Business Nature!">
                            <input nz-input type="text" formControlName="business_nature"  placeholder="Business Nature"/>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <div class="mt-2">
                <h5>
                    Contact Personal Details
                </h5>
            </div>
            <div class="row border-bottom">
                <div class="col-md-6">
                    <nz-form-item>
                        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="contact_person_name" class="text-left" nzRequired>Name</nz-form-label>
                        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please Add Contact Person Name!">
                            <input nz-input type="text" formControlName="contact_person_name"  placeholder="Person Name" />
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div class="col-md-6">
                    <nz-form-item>
                        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="contact_person_phone" class="text-left" nzRequired>Phone No.</nz-form-label>
                        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please Add Contact person Name!">
                            <input nz-input type="text" formControlName="contact_person_phone"  placeholder="person Phone No."/>
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <div class="col-md-6">
                    <nz-form-item>
                        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="contact_person_email" class="text-left" nzRequired>Email Id</nz-form-label>
                        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please Add Contact Person Email!">
                            <input nz-input type="text" formControlName="contact_person_email"  placeholder="Person Email"/>
                        </nz-form-control>
                    </nz-form-item>
                </div>


                <!-- <div class="mt-2">
                    <h6>
                        Banking Details
                    </h6>
                </div> -->
                <div class="row">
                    <div class="col-12">
                        <div class="mt-2">
                            <h6>
                                Banking Details
                            </h6>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <nz-form-item>
                            <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="bank_name" class="text-left" nzRequired>Bank Name</nz-form-label>
                            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please Add Bank Name!">
                                <input nz-input type="text" formControlName="bank_name"  placeholder="Bank Name"/>
                            </nz-form-control>
                        </nz-form-item>
                    </div>

                    <div class="col-md-6">
                        <nz-form-item>
                            <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="account_no" class="text-left" nzRequired>A/c No.</nz-form-label>
                            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please Add Account No.!">
                                <input nz-input type="text" formControlName="account_no"  placeholder="Account No."/>
                            </nz-form-control>
                        </nz-form-item>
                    </div>

                    <div class="col-md-6">
                        <nz-form-item>
                            <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="ifsc" class="text-left" nzRequired>IFSC Code</nz-form-label>
                            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please Add IFsC!">
                                <input nz-input type="text" formControlName="ifsc"  placeholder="IFSC" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>

                    <div class="col-md-6">
                        <nz-form-item>
                            <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="branch" class="text-left" nzRequired>Branch</nz-form-label>
                            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please Add Branch!">
                                <input nz-input type="text" formControlName="branch"  placeholder="Branch" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>

                </div>
            </div>
            <div class="mt-2">
                <h5>
                    KYC Documents
                </h5>
            </div>
            <ng-container *ngFor="let item of get_underwritingArr(addEditProductForm); let k = index;"
                formArrayName="document_data">
                <!-- <nz-form-label class="text-left" nzNoColon>{{item.controls.label_name.value?.toString().toUpperCase()}}
                </nz-form-label> -->
                <div class="col-md-12" [formGroupName]="k">
                    <div class="row">
                        <div class="col-md-6 pl-0">
                            <nz-form-item>
                                <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="min" class="text-left" nzRequired>
                                    {{item.controls.label_name.value}}</nz-form-label>
                                <nz-form-control [nzSm]="8" [nzXs]="24" nzErrorTip="Please Add {{item.controls.label_name.value}}!">
                                        <nz-upload
                                        [nzMultiple]="'false'" [nzAccept]="'.png, .jpg, .pdf'"
                                        [nzCustomRequest]="customUpload"
                                        (nzChange)="onUpload($event, k)"
                                        >
                                        <button nz-button>
                                            <i nz-icon nzType="upload"></i>
                                            Click to Upload
                                        </button>
                                        </nz-upload>
                                    <!-- (nzChange)="onUpload($event)"[nzBeforeUpload]="beforeUpload" [nzBeforeUpload]="beforeUpload" <input type="file" formControlName="documents" > -->
                                    <!-- <input nz-input type="number" min="0" formControlName="label_name"
                                            placeholder="Please input {{item.controls.label_name.value}}!" /> -->
                                    <!-- <input type="file" /> -->
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <!-- <div class="col-md-6">
                                <nz-form-item>
                                    <nz-form-label nzFor="max" class="text-left" nzRequired>{{item.controls.max_label.value}}</nz-form-label>
                                    <nz-form-control nzErrorTip="Please input {{item.controls.max_label.value}}!">
                                        <input nz-input type="number" min="0" formControlName="max"
                                            placeholder="Please input {{item.controls.max_label.value}}!" />
                                    </nz-form-control>
                                </nz-form-item>
                            </div> -->
                    </div>
                </div>
            </ng-container>
            <div class="row no-gutters">
                <div class="col-12 d-flex justify-content-between">
                    <button nz-button nzType="link" class="pl-0" (click)="isVisible = true">+Add Document</button>
                    <!-- <button nz-button nzType="primary" [disabled]="createEditForm.invalid" (click)="submitForm()">Submit</button> -->
                </div>
            </div>

            <div class="row border-top mt-2">
                <div class="col-md-12 mt-4">
                    <nz-form-item>
                        <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="employee" class="text-left" nzRequired>Employee</nz-form-label>
                        <nz-form-control [nzSm]="7" [nzXs]="24" nzErrorTip="Please select Employee!">
                            <nz-radio-group formControlName='employee'>
                                <label nz-radio nzValue="yes">Yes</label>
                                <label nz-radio nzValue="no">No</label>
                                <label nz-radio nzValue="na">N/A</label>
                            </nz-radio-group>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <div class="row my-4">
                <div class="col-12">
                    <nz-form-item>
                        <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="payout" class="text-left" nzRequired>Payout</nz-form-label>
                        <nz-form-control [nzSm]="7" [nzXs]="24" nzErrorTip="Please select Payout!">
                            <nz-radio-group formControlName='payout'>
                                <label nz-radio nzValue="yes">Yes</label>
                                <label nz-radio nzValue="no">No</label>
                                <label nz-radio nzValue="na">N/A</label>
                            </nz-radio-group>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>


        </form>
    </nz-card>
    <div class="row my-3 justify-content-between">
        <div class="col-3">
            <button nz-button nzType="default">Reset</button>
        </div>
        <div class="col-3 text-right">
            <button type="submit" (click)="onClickSubmitForm()" nz-button nzType="primary">Save</button>
        </div>

    </div>
</section>

<!-- <div class="col-12 my-2 d-flex">
    <div class="text-width">
        Bank No.
    </div>
    <div>
        <input class="input-width" nzSize="small" nz-input formControlName="bank_name" type="text" id="credit" placeholder="Enter Code" />
    </div>
</div>
<div class="col-12 my-2 d-flex">
    <div class="text-width">
        Account No.
    </div>
    <div>
        <input class="input-width" nz-input nzSize="small" formControlName="account_no" type="text" id="credit" placeholder="Enter Code" />
    </div>
</div>
<div class="col-12 my-2 d-flex">
    <div class="text-width">
        IFSC
    </div>
    <div >
        <input class="input-width" nzSize="small" nz-input formControlName="ifsc" type="text" id="credit" placeholder="Enter Code" />
    </div>
</div> -->


<nz-modal [(nzVisible)]="isVisible" nzTitle="Add New Document" (nzOnCancel)="handleCancel()" (nzOnOk)="addRule()">
    <ng-container *nzModalContent>
        <nz-form-label [nzSm]="7" [nzXs]="24" class="text-left" nzRequired>Select Document</nz-form-label>
        <nz-select [(ngModel)]="selectedDocument" nzPlaceHolder="Select Select Entity!">
            <nz-option *ngFor="let item of documentArray" [nzValue]="item" [nzLabel]="item.name">
            </nz-option>
        </nz-select>
    </ng-container>
</nz-modal>