<!--Edit Personal Details -->
<section>
      <!-- <nz-page-header class="site-page-header p-2 bg-gray-lightest" [nzTitle]="personal"></nz-page-header> -->
      <ng-template #personal>
            <div class="d-flex justify-content-between">
                  <div> <span class="font-weight-normal font-size-14">Personal Details</span></div>
            </div>
      </ng-template>
      <nz-card [nzTitle]="personal" [nzLoading]="api_calling_loader['accordian']">
            <form nz-form [formGroup]="personalDetails" [nzLayout]="'vertical'">
                  <div class="row">
                        <div class="col-md-4">
                              <nz-form-item>
                                    <nz-form-label>User Name:</nz-form-label>
                                    <nz-form-control>
                                          <label>
                                                {{personalInfo?.name | titlecase}} 
                                          </label>
                                    </nz-form-control>
                              </nz-form-item>
                        </div>
                        <div class="col-md-4">
                              <nz-form-item>
                                    <nz-form-label>Mobile No:</nz-form-label>
                                    <nz-form-control>
                                          <label>
                                                {{personalInfo?.contact}} 
                                          </label>
                                    </nz-form-control>
                              </nz-form-item>
                        </div>
                        <div class="col-md-4">

                        </div>
                        <div class="col-md-4">
                              <nz-form-item>
                                    <nz-form-label nzRequired>Email</nz-form-label>
                                    <nz-form-control nzErrorTip="Please check your Email!">
                                          <input nz-input ui-mask="****" type="email" formControlName="email"
                                                placeholder="Enter your Email" />
                                    </nz-form-control>
                              </nz-form-item>
                        </div>
                        <div class="col-md-4">
                              <nz-form-item>
                                    <nz-form-label nzRequired>D.O.B</nz-form-label>
                                    <nz-form-control nzErrorTip="Please select your Date Of Birth!">
                                          <nz-date-picker formControlName="date_of_birth" nzFormat="yyyy-MM-dd"
                                                [nzDisabledDate]="disabledDate" (ngModelChange)="onChange($event)">
                                          </nz-date-picker>
                                    </nz-form-control>
                              </nz-form-item>
                        </div>
                        <div class="col-md-4">
                              <nz-form-item>
                                    <nz-form-label nzRequired>Monthly Income</nz-form-label>
                                    <nz-form-control nzErrorTip="Please select your Monthly Income!">
                                          <!-- (nzFocus)="fetchMasterIncomeRange()"  -->
                                          <nz-select class="w-100" style=" width: 8rem;" formControlName="income"
                                                nzAllowClear nzPlaceHolder="Select Amount">
                                                <nz-option *ngFor="let item of masterIncomeRangeList"
                                                      [nzValue]="item?.pk" [nzLabel]="item?.name"></nz-option>
                                          </nz-select>
                                    </nz-form-control>
                              </nz-form-item>
                        </div>
                  </div>
            </form>
      </nz-card>
</section>

<!--Edit Employement Details -->
<section>
      <!-- <nz-page-header class="site-page-header p-2 bg-gray-lightest" [nzTitle]="employement"></nz-page-header> -->
      <ng-template #employement>
            <div class="d-flex justify-content-between">
                  <div> <span class="font-weight-normal font-size-14">Employement Details</span></div>
            </div>
      </ng-template>
      <nz-card [nzTitle]="employement" [nzLoading]="api_calling_loader['accordian']">
            <form nz-form [formGroup]="employementDetails" [nzLayout]="'vertical'">
                  <div class="row">
                        <div class="col-md-4">
                              <nz-form-item>
                                    <nz-form-label nzRequired>Company Name</nz-form-label>
                                    <nz-form-control nzErrorTip="Please select your Company Name!">
                                          <nz-select class="w-100" style=" width: 8rem;" formControlName="company_name"
                                                nzAllowClear nzPlaceHolder="Company Name"
                                                (ngModelChange)="editCompanyName($event)">
                                                <nz-option *ngFor="let item of partnerList" [nzValue]="item?.pk"
                                                      [nzLabel]="item?.name"></nz-option>
                                          </nz-select>
                                    </nz-form-control>
                              </nz-form-item>
                        </div>
                        <div class="col-md-8">
                              <nz-form-item>
                                    <nz-form-label nzRequired>Address</nz-form-label>
                                    <nz-form-control nzErrorTip="Please check your company name for address">
                                          <input readonly="readonly" nz-input placeholder="Enter your Company Address"
                                                formControlName="address" nzFormat="yyyy-MM-dd">
                                    </nz-form-control>
                              </nz-form-item>
                        </div>
                  </div>
            </form>
      </nz-card>
</section>

<!-- Section Pre Approved Offer Details -->
<section>
      <!-- <nz-page-header class="site-page-header p-2 bg-gray-lightest" [nzTitle]="preApprovedDetailModal"></nz-page-header> -->
      <ng-template #preApprovedDetailModal>
            <div class="d-flex justify-content-between">
                  <div> <span class="font-weight-normal font-size-14">Pre Approved Offer Details</span></div>
            </div>
      </ng-template>
      <nz-card [nzTitle]="preApprovedDetailModal" [nzLoading]="api_calling_loader['accordian']">
            <form nz-form [formGroup]="preApprovedForm" [nzLayout]="'vertical'">
                  <div class="row">
                        <div class="col-md-4">
                              <nz-form-item>
                                    <nz-form-label nzRequired>Product Name</nz-form-label>
                                    <nz-form-control nzErrorTip="Please select Product Name!">
                                          <nz-select class="mx-1 w-100" nzAllowClear formControlName="product_name"
                                                (ngModelChange)="onFocusMethod($event)" nzPlaceHolder="Product">
                                                <nz-option *ngFor="let item of productList" [nzValue]="item.id"
                                                      [nzLabel]="item.name">
                                                </nz-option>
                                          </nz-select>
                                    </nz-form-control>
                              </nz-form-item>
                        </div>
                        <div class="col-md-8">
                              <nz-form-item>
                                    <nz-form-label nzRequired>Limit Proposed</nz-form-label>
                                    <nz-form-control nzErrorTip="Please enter the valid limit proposed">
                                          <input nz-input type="text" pattern="\d{1,6}" maxlength="7"
                                                formControlName="limitProcessed"
                                                placeholder="Enter your Limit Proposed">
                                    </nz-form-control>
                              </nz-form-item>
                        </div>
                  </div>
            </form>
      </nz-card>
</section>

<!-- Document Details Section -->
<section>
      <ng-template #modalTitle>
            <label *ngIf="_isUpload">Upload Document</label>
            <label *ngIf="_isViewDocument">{{ _currentModalData?.document_id?.name ?
                  _currentModalData?.document_id?.name : ''
                  }} Document</label>
            <label *ngIf="_isVerify">{{ _currentModalData?.document_id?.name ? _currentModalData?.document_id?.name : ''
                  }}
                  Document</label>
      </ng-template>
      <!-- Modal Section -->
      <ng-template #documentModal>
            <div class="d-flex justify-content-between">
                  <div> <span class="font-weight-normal font-size-14"> Document Details</span></div>
            </div>
      </ng-template>
      <nz-card [nzTitle]="documentModal" [nzLoading]="api_calling_loader['accordian']">
            <form nz-form [formGroup]="documentForm" [nzLayout]="'vertical'">
                  <div class="row">
                        <div class="col-md-4" *ngFor="let item of documentList">
                              <div class="d-flex flex-column">
                                    <div class="d-flex flex-wrap justify-content-between">
                                          <label class="text-muted">{{
                                                item?.document_master?.name + ' '}} <b>
                                                      {{ item?.status }} </b>
                                          </label>
                                          <div class="mr-5">
                                                <a class="text-primary mr-3" *ngIf="item?.file_url"
                                                      nzTooltipTitle="View Document"
                                                      (click)="_isViewDocument = true;_currentModalData = item;">
                                                      <i nz-icon nzType="eye" nzTheme="outline"></i></a>
                                                <a class="text-primary mr-3"
                                                      *ngIf="item?.file_url && item?.status == 'Pending'"
                                                      nzTooltipTitle="Verify Document"
                                                      (click)="_isVerify = true; _currentModalData = item">
                                                      <i nz-icon nzType="check-circle" nzTheme="outline"></i></a>
                                                <a class="text-primary mr-3" *ngIf="item.file_url"
                                                      nzTooltipTitle="Download Document"
                                                      (click)="openDocumentModal('download',item, data)">
                                                      <i nz-icon nzType="download" nzTheme="outline"></i></a>
                                                <a class="text-primary" nzTooltipTitle="Upload Document"
                                                      (click)="_isUpload = true; _currentModalData = item">
                                                      <i nz-icon nzType="upload" nzTheme="outline"></i>
                                                </a>
                                          </div>
                                    </div>
                                    <div *ngIf="item?.document_master?.name == 'Aadhar Card'">

                                          <p>
                                                <label>Aadhar No: {{ item?.aadhar_no ?
                                                      global.maskingDigits(item?.aadhar_no) : ''}} </label>
                                          </p>
                                    </div>
                                    <div *ngIf="item?.document_master?.name == 'Pan'">

                                          <p>
                                                <label>PAN No: {{item?.pan_no ? global.maskingDigits(item?.pan_no) :
                                                      ''}} </label>
                                          </p>
                                    </div>
                                    <div>
                                          {{ item?.reason ? item?.reason : '--'}}
                                    </div>
                              </div>
                        </div>
                  </div>
            </form>
      </nz-card>
</section>

<section *ngIf="_isViewDocument"> 
      <app-common-document-actions [action]="'viewDocument'" [_isOpenModal]="_isViewDocument ? true : false"
            [documentData]="_currentModalData"  (close)="_isViewDocument = false "></app-common-document-actions>
</section>

<section *ngIf="_isVerify">
      <app-common-document-actions [action]="'verifyDocument'" [_isOpenModal]="_isVerify ? true : false" [documentData]="_currentModalData"
            (close)="_isVerify = false; getFormLoanData()">
      </app-common-document-actions>

</section>
<section *ngIf="_isUpload">
      <app-common-document-actions [action]="'uploadDocument'" [_isOpenModal]="_isUpload ? true : false" [documentData]="_currentModalData"
            (close)="_isUpload = false; getFormLoanData()">
      </app-common-document-actions>
</section>

<section>
      <div class="d-flex justify-content-md-end">
            <button nz-button nzType="link" class="border" (click)="resetForm()">Reset</button>
            <button nz-button nzType="primary"
                  [disabled]="( !personalDetails.valid ? true : ( !employementDetails.valid ? true : ( !preApprovedForm.valid ? true : false)))"
                  [nzLoading]="api_calling_loader['button']" class="mx-2" (click)="submitForm()">Save</button>
      </div>
      <ng-template #footerModal>
            <button nz-button nzType="link" class="border" (click)="handleCancel()">Cancel</button>
            <button *ngIf="_isUpload" nz-button nzType="primary" class="mx-2" [disabled]="!fileList[0] ? true : false"
                  [nzLoading]="api_calling_loader['modalButton']" (click)="handleOk('uploadDocument')">Submit</button>
            <button *ngIf="_isVerify" nz-button nzType="primary"
                  [disabled]="(!documentStatus && !verifyRemarks) ? true : false" class="mx-2"
                  [nzLoading]="api_calling_loader['modalButton']" (click)="handleOk('verify')">Submit</button>
      </ng-template>
</section>