<!--Edit Personal Details -->
<section>
      <!-- <nz-page-header class="site-page-header p-2 bg-gray-lightest" [nzTitle]="personal"></nz-page-header> -->
      <ng-template #personal>
            <div class="d-flex justify-content-between">
                  <div> <span class="font-weight-normal font-size-14">Personal Details</span></div>
            </div>
      </ng-template>
      <nz-card [nzTitle]="personal" [nzLoading]="api_calling_loader['accordian']">
            <form nz-form [formGroup]="personalDetails" [nzLayout]="'vertical'">
                  <div class="row">
                        <div class="col-md-4">
                              <nz-form-item>
                                    <nz-form-label nzRequired>Email</nz-form-label>
                                    <nz-form-control nzErrorTip="Please check your Email!">
                                          <input nz-input type="email" formControlName="email" placeholder="Enter your Email" />
                                    </nz-form-control>
                              </nz-form-item>
                        </div>
                        <div class="col-md-4">
                              <nz-form-item>
                                    <nz-form-label nzRequired>D.O.B</nz-form-label>
                                    <nz-form-control nzErrorTip="Please select your Date Of Birth!">
                                          <nz-date-picker formControlName="date_of_birth" nzFormat="yyyy-MM-dd"
                                          [nzDisabledDate]="disabledDate" (ngModelChange)="onChange($event)">
                                          </nz-date-picker>
                                    </nz-form-control>
                              </nz-form-item>
                        </div>
                        <div class="col-md-4">
                              <nz-form-item>
                                    <nz-form-label nzRequired>Monthly Income</nz-form-label>
                                    <nz-form-control nzErrorTip="Please select your Monthly Income!">
                                          <!-- (nzFocus)="fetchMasterIncomeRange()"  -->
                                          <nz-select class="w-100" style=" width: 8rem;" formControlName="income"
                                                nzAllowClear nzPlaceHolder="Select Amount">
                                                <nz-option *ngFor="let item of masterIncomeRangeList" [nzValue]="item?.pk" [nzLabel]="item?.name"></nz-option>
                                          </nz-select>
                                    </nz-form-control>
                              </nz-form-item>
                        </div>
                  </div>
            </form>
      </nz-card>
</section>

<!--Edit Employement Details -->
<section>
      <!-- <nz-page-header class="site-page-header p-2 bg-gray-lightest" [nzTitle]="employement"></nz-page-header> -->
      <ng-template #employement>
            <div class="d-flex justify-content-between">
                  <div> <span class="font-weight-normal font-size-14">Employement Details</span></div>
            </div>
      </ng-template>
      <nz-card [nzTitle]="employement" [nzLoading]="api_calling_loader['accordian']">
            <form nz-form [formGroup]="employementDetails" [nzLayout]="'vertical'">
                  <div class="row">
                        <div class="col-md-4">
                              <nz-form-item>
                                    <nz-form-label nzRequired>Company Name</nz-form-label>
                                    <nz-form-control nzErrorTip="Please select your Company Name!">
                                          <nz-select class="w-100" style=" width: 8rem;" formControlName="company_name" 
                                           nzAllowClear nzPlaceHolder="Company Name" (ngModelChange)="editCompanyName($event)">
                                                <nz-option *ngFor="let item of partnerList" [nzValue]="item?.pk" [nzLabel]="item?.name"></nz-option>
                                          </nz-select>
                                    </nz-form-control>
                              </nz-form-item>
                        </div>
                        <div class="col-md-8">
                              <nz-form-item>
                                    <nz-form-label nzRequired>Address</nz-form-label>
                                    <nz-form-control nzErrorTip="Please check your company name for address">
                                          <input readonly="readonly" nz-input placeholder="Enter your Company Address"
                                                formControlName="address" nzFormat="yyyy-MM-dd">
                                    </nz-form-control>
                              </nz-form-item>
                        </div>
                  </div>
            </form>
      </nz-card>
</section>

<!-- Section Pre Approved Offer Details -->
<section>
      <!-- <nz-page-header class="site-page-header p-2 bg-gray-lightest" [nzTitle]="preApprovedDetailModal"></nz-page-header> -->
      <ng-template #preApprovedDetailModal>
            <div class="d-flex justify-content-between">
                  <div> <span class="font-weight-normal font-size-14">Pre Approved Offer Details</span></div>
            </div>
      </ng-template>
      <nz-card  [nzTitle]="preApprovedDetailModal" [nzLoading]="api_calling_loader['accordian']">
            <form nz-form [formGroup]="preApprovedForm" [nzLayout]="'vertical'">
                  <div class="row">
                        <div class="col-md-4">
                              <nz-form-item>
                                    <nz-form-label nzRequired>Product Name</nz-form-label>
                                    <nz-form-control nzErrorTip="Please select Product Name!">
                                          <nz-select class="w-100" style=" width: 8rem;" formControlName="product_name"
                                                nzAllowClear nzPlaceHolder="Product Name">
                                                <nz-option nzValue="medicine" nzLabel="FatakPay"></nz-option>
                                          </nz-select>
                                    </nz-form-control>
                              </nz-form-item>
                        </div>
                        <div class="col-md-8">
                              <nz-form-item>
                                    <nz-form-label nzRequired>Limit Proposed</nz-form-label>
                                    <nz-form-control nzErrorTip="Please enter your limit proposed">
                                          <input nz-input type="number" placeholder="Enter your Limit Proposed"
                                                formControlName="limitProcessed">
                                    </nz-form-control>
                              </nz-form-item>
                        </div>
                  </div>
            </form>
      </nz-card>
</section>

<!-- Document Details Section -->
<section>
      <!-- <nz-page-header class="site-page-header p-2 bg-gray-lightest" [nzTitle]="documentModal"></nz-page-header> -->
      <ng-template #documentModal>
            <div class="d-flex justify-content-between">
                  <div> <span class="font-weight-normal font-size-14"> Document Details</span></div>
            </div>
      </ng-template>
      <nz-card [nzTitle]="documentModal" [nzLoading]="api_calling_loader['accordian']">
            <form nz-form [formGroup]="documentForm" [nzLayout]="'vertical'">
                  <div class="row">
                        <div class="col-md-6" *ngFor="let item of documentList; index as i">
                              <nz-form-item>
                                    <nz-form-label>{{item?.document_master?.name}} Document {{ i + 1}}</nz-form-label>
                                    <label> {{item?.file_name}}</label>
                                    <!-- <nz-form-control nzErrorTip="Please select document type!">
                                          <nz-select class="w-100" style=" width: 8rem;" formControlName="document_name"
                                                nzAllowClear nzPlaceHolder="Document Name">
                                                <nz-option [nzValue]="item?.document_master?.id" [nzLabel]="item?.document_master?.name"></nz-option>
                                          </nz-select>
                                    </nz-form-control> -->
                              </nz-form-item>

                              <div class="d-flex my-2 justify-content-between px-3">
                                    <a class="text-primary"> <i nz-icon nzType="eye" nzTheme="outline"></i> View</a>
                                    <a class="text-primary"> <i nz-icon class="mx-3" nzType="check-circle"
                                                nzTheme="outline"></i> Verify</a>
                                    <a class="text-primary"> <i nz-icon nzType="download" nzTheme="outline"></i>
                                          Download</a>
                                    <a class="text-primary"> <i nz-icon nzType="upload" nzTheme="outline"></i>
                                          Uplaod</a>
                              </div>
                        </div>
                        <!-- <div class="col-md-6">
                              <nz-form-item>
                                    <nz-form-label class="ml-2">Document 2</nz-form-label>
                                    <nz-form-control nzErrorTip="Please enter your limit proposed">
                                          <nz-select class="w-100" style=" width: 8rem;"
                                                formControlName="document_name_2" nzAllowClear
                                                nzPlaceHolder="Document Name">
                                                <nz-option nzValue="1" nzLabel="Aadhaar Card"></nz-option>
                                          </nz-select>
                                    </nz-form-control>
                              </nz-form-item>
                              <div class="d-flex my-2 justify-content-between">
                                    <a class="text-primary"> <i nz-icon nzType="eye" nzTheme="outline"></i> View</a>
                                    <a class="text-primary"> <i nz-icon class="mx-3" nzType="check-circle"
                                                nzTheme="outline"></i> Verify</a>
                                    <a class="text-primary"> <i nz-icon nzType="download" nzTheme="outline"></i>
                                          Download</a>
                                    <a class="text-primary"> <i nz-icon nzType="upload" nzTheme="outline"></i>
                                          Uplaod</a>
                              </div>
                        </div> -->
                  </div>
            </form>
            <!-- <div class="row my-3">
                  <div class="col-md-12">
                        <a class="text-primary">
                              <h5 class="text-primary">+ Add Document</h5>
                        </a>
                  </div>
            </div> -->
      </nz-card>
</section>

<section>
      <div class="d-flex justify-content-md-end">
            <button nz-button nzType="link" class="border" (click)="resetForm()">Reset</button>
            <button nz-button nzType="primary" [disabled]="(personalDetails.invalid && employementDetails.invalid && preApprovedForm.invalid) ? true : false" class="mx-2" (click)="submitForm()">Save</button>
      </div>
</section>