<section>
    <div class="row">
        <div class="col-md-12">
            <div>
                <nz-page-header class="site-page-header acc-bg-light" [nzTitle]="nomineeDetail">
                </nz-page-header>
                <nz-card class="mb-md-0 border" [nzLoading]="api_calling_loader">
                    <div class="row" *ngFor="
                                  let a_data of data?.nominee_details;
                                  let i = index
                                ">
                        <div class="col-md-4">
                            <div class="d-flex flex-column">
                                <span class="text-muted"> Name </span>
                                <div>
                                    {{ a_data ? a_data?.name : "-" }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="d-flex flex-column">
                                <span class="text-muted"> Relationship </span>
                                <div>
                                    {{ a_data ? a_data?.relationship : "-" }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="d-flex flex-column">
                                <span class="text-muted"> Mobile </span>
                                <div>
                                    {{ a_data ? a_data?.mobile : "-" }}
                                </div>
                            </div>
                        </div>
                    </div>
                </nz-card>
                <ng-template #nomineeDetail>
                    <div class="ml-md-2">
                        <h6 class="mb-0">
                            <i nz-icon class="mr-2" nzType="file" nzTheme="outline"></i>
                            Nominee Details
                        </h6>
                    </div>
                </ng-template>
            </div>
            <div class="mt-3">
                <nz-page-header class="site-page-header acc-bg-light" [nzTitle]="bankDetails">
                </nz-page-header>
                <nz-card class="mb-md-0" [nzLoading]="api_calling_loader">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="d-flex flex-column">
                                <div class="text-muted">A/c Holder Name:</div>
                                <div>
                                    {{
                                    data?.bank_details
                                    ?.account_holder_name
                                    ? data?.bank_details
                                    ?.account_holder_name
                                    : "-"
                                    }}
                                </div>
                            </div>
                        </div>
            
                        <div class="col-md-4">
                            <div class="d-flex flex-column">
                                <span class="text-muted"> Bank Name - </span>
                                <div>
                                    {{
                                    data?.bank_details?.bank_name
                                    ? data?.bank_details?.bank_name
                                    : "-"
                                    }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="d-flex flex-column">
                                <span class="text-muted"> A/c No. </span>
                                <div>
                                    {{
                                    data?.bank_details?.account_no
                                    ? data?.bank_details?.account_no
                                    : "-"
                                    }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mt-2">
                            <div class="d-flex flex-column">
                                <span class="text-muted">Account Type: </span>
                                <div>
                                    {{
                                    data?.bank_details?.account_type
                                    ? data?.bank_details
                                    ?.account_type
                                    : "-"
                                    }}
                                </div>
                            </div>
                        </div>
            
                        <div class="col-md-4 mt-2">
                            <div class="d-flex flex-column">
                                <span class="text-muted">IFSC Code </span>
                                <div>
                                    {{
                                    data?.bank_details?.ifsc_code
                                    ? data?.bank_details?.ifsc_code
                                    : "-"
                                    }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mt-2">
                            <div class="d-flex flex-column">
                                <span class="text-muted">Bank name:</span>
                                <div>
                                    {{
                                    data?.bank_details?.bank_name
                                    ? data?.bank_details?.bank_name
                                    : "-"
                                    }}
                                </div>
                            </div>
                        </div>
                    </div>
                </nz-card>
                <ng-template #bankDetails>
                    <div class="ml-md-2">
                        <h6 class="mb-0">Bank Details</h6>
                    </div>
                </ng-template>
            </div>
            <div class="mt-3">
                <nz-page-header class="site-page-header acc-bg-light" [nzTitle]="offerDetails">
                </nz-page-header>
                <nz-card class="mb-md-0" [nzLoading]="api_calling_loader">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="d-flex flex-column">
                                <div class="text-muted">Loan amount</div>
                                <div>
                                    {{
                                    data?.offer_details?.loan_amount
                                    ? data?.offer_details?.loan_amount
                                    : "-"
                                    }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="d-flex flex-column">
                                <div class="d-flex justify-content-between">
                                    <span class="text-muted">Loan max amount</span>
                                </div>
                                <div>
                                    {{
                                    data?.offer_details?.loan_amount_max
                                    ? data?.offer_details?.loan_amount_max
                                    : "-"
                                    }}
                                </div>
                            </div>
                        </div>
                    </div>
                </nz-card>
                <ng-template #offerDetails>
                    <div class="ml-md-2">
                        <h6 class="mb-0">Offer Details</h6>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</section>