
<section>
    <div class="row mb-md-3">
        <div class="col-md-6 mb-md-0">
            <nz-radio-group [(ngModel)]="selectedTab" (ngModelChange)='onClickChangeTab($event)'>
                <label nz-radio-button class="mr-md-2 mr-2 px-4 mb-md-0 mb-3 border-radius-2" nzValue="all">All</label>
                <label nz-radio-button class="mr-md-2 mr-2 px-4 mb-md-0 mb-3 border-radius-2" nzValue="active">Active</label>
                <label nz-radio-button class="mr-md-2 mr-2 px-4 mb-md-0 mb-3 border-radius-2"
                    nzValue="inactive">Inactive</label>
            </nz-radio-group>
        </div>
        <div class="col-md-6 col-12 my-md-0 my-3 d-flex justify-content-end">
            <button nz-button class='text-primary' [routerLink]="['/lenders/add']">+ Add Lender/NBFC</button>
        </div>
    </div>
    <div class="row mb-md-3">
        <span>{{masterPartner?.length}} Results Found</span>
    </div>
    <div class="row">
        <nz-card class="w-100">
            <div class="row">
                <div class="col-md-4 mb-3 d-flex">
                    <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                        <input (keyup.enter)="getResultBasedOnSearch()" [(ngModel)]="searchValue" type="text" nz-input placeholder="Search text" />
                      </nz-input-group>
                    <!-- <ng-template #suffixIconButton>
                        <button nz-button nzType="secondary" nzSearch><i nz-icon nzType="search"></i></button>
                    </ng-template> -->
                    <ng-template #suffixIconButton>
                        <button (click)="getResultBasedOnSearch()" nz-button nzType="secondary" nzSearch><i nz-icon nzType="search"></i></button>
                      </ng-template>
                </div>
                <div class="col-md-8 mb-3 d-flex justify-content-md-end">
                    <button nz-button nzType="default" nzShape="circle" nz-tooltip nzTooltipTitle="Reset Filter"  class="mr-2" (click)="resetFilter()">
                        <i nz-icon nzType="undo"></i>
                      </button>
                </div>
            </div>
            <div class="accordianLoanApp">
            <nz-table [nzTotal]="total_count" [nzFrontPagination]="false" [nzLoading]="_apiLoader['list']"
            [nzShowSizeChanger]="true" [nzFrontPagination]="false" [nzPageSize]="globalPageSize"
            [nzPageIndex]="page" (nzQueryParams)="getNBFCList($event)" [nzShowSizeChanger]="true" [nzData]="masterPartner" 
            [nzScroll]="{ x: '1500px', y: '60vh' }">
                <thead>
                    <tr>
                    <th rowspan="2" nzWidth="100px">#</th>
                    <th >Lenders Detail</th>
                    <th >Regd. On</th>
                    <th >NBFC Line Given</th>
                    <th> Amt. Recd. in Escrow A/C</th>
                    <th rowspan="2">Wallet Bal.</th>
                    <th rowspan="2">Registered</th>
                    <!-- <th rowspan="2">Transaction Status</th> -->
                    <th rowspan="2">System Status</th>
                    <th class="pr-0" nzWidth="5rem" nzRight>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let data of masterPartner; index as i">
                        <tr>
                            <td [nzExpand]="expandSet.has(data.id)" (nzExpandChange)="onExpandChange(data.id, $event, i)">
                                {{ i + 1 }}</td>
                            <td>{{ data?.name }}</td>
                            <td>{{ data?.created_at | date: 'dd MMM yyyy' }}
                                <td>{{ data?.nbfc_line_given }}</td>
                                <td>{{ data?.amount_received}}</td>
                            <td>{{data?.wallet_balance}}</td>
                            <td *ngIf="data?.registered">
                                <a><i nz-icon nzType="check-circle" nzTheme="outline"></i></a>
                            </td>
                            <td *ngIf="!data?.registered">
                                <a><i nz-icon nzType="close-circle" nzTheme="outline"></i></a>
                            </td>
                            <!-- <td>{{ data?.transaction_status}}</td> -->
                            <td *ngIf="data?.is_deleted"><a><i nz-icon nzType="close-circle" nzTheme="outline"></i></a></td>
                            <td *ngIf="!data?.is_deleted"><a><i nz-icon nzType="check-circle" nzTheme="outline"></i></a></td>
                            
                            <!-- <td>{{ data.no_of_partner }}</td> -->
                            <td nzRight  class="pr-0">
                                <a class="text-dark font-size-20" nz-dropdown [nzClickHide]="false"
                                    [nzTrigger]="'click'" [nzPlacement]="'bottomRight'"
                                    [nzDropdownMenu]="latestUploadDropDown">
                                    <img src="assets/images/ellipsis.png" alt="" width="30">
                                </a>
                                <nz-dropdown-menu #latestUploadDropDown="nzDropdownMenu">
                                    <ul nz-menu>
                                        <!-- [routerLink]="['edit-employee', data.id]" -->
                                        <li nz-menu-item (click)="changePassword(data)">
                                            <span class="m-l-5" >Change Password</span>
                                        </li>
                                        <li nz-menu-item  [routerLink]="['../lenders/edit']" [queryParams]="{id: data.id}">
                                            <span class="m-l-5">Edit</span>
                                        </li>
                                        <li nz-menu-item *ngIf="!data.is_deleted"  (click)="deleteUserByUserId(data?.id, false)">
                                            <span class="m-l-5">InActive</span>
                                        </li>
                                        <li nz-menu-item *ngIf="data.is_deleted"  (click)="deleteUserByUserId(data?.id, true)">
                                            <span class="m-l-5">Active</span>
                                        </li>
                                        <!-- <li nz-menu-item>
                                            <span class="m-l-5">Upgrade Dashboard</span>
                                        </li> -->
                                        <!-- <li nz-menu-item>
                                            <span class="m-l-5">Upgrade Agreement</span>
                                        </li> -->
                                        <li nz-menu-item (click)="storeSelectedId(data?.id)">
                                            <nz-upload style="cursor: pointer;" [nzMultiple]="false"
                                                [nzAccept]="'.xls, .xlsx, .pdf'" [nzBeforeUpload]="beforeUpload"
                                                class="d-flex pl-1 align-items-left" nzSize="large">
                                                Upload Agreement
                                            </nz-upload>
                                        </li>
                                        <li nz-menu-item (click)="storeSelectedId(data?.id, 'get')">
                                            <span class="m-l-5">Show Agreement</span>
                                        </li>
                                
                                
                                    </ul>
                                </nz-dropdown-menu>
                            </td>
                        </tr>


                        <tr [nzExpand]="expandSet.has(data.id) ">

                            <div class="justify-content-center">
                                <nz-page-header 
                                    class="site-page-header acc-bg-light mb-2"
                                    [nzTitle]="basicDetail">
                                </nz-page-header>
                                <nz-card class="mb-md-5" [nzLoading]="storeDetailId == data.id ? _apiLoader['detailList'] : null">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="d-flex flex-column">
                                                <h6>
                                                    NBFC's Address
                                                </h6>
                                                <div>
                                                    {{ data?.expandSet?.address_line_1 || data?.expandSet?.address_line_2 ? (data?.expandSet?.address_line_1 + ' ' + data?.expandSet?.address_line_2) : ' -- '}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="d-flex flex-column">
                                                <h6>
                                                    Phone No.
                                                </h6>
                                                <div>
                                                    {{data?.expandSet?.phone ? data?.expandSet?.phone : ' -- '}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </nz-card>
                            </div>

                            <div>
                                <nz-page-header
                                    class="site-page-header acc-bg-light mb-2"
                                    [nzTitle]="contactPersonDetail">
                                </nz-page-header>
                                <nz-card class="mb-md-5"   [nzLoading]="storeDetailId == data.id ? _apiLoader['detailList'] : null">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="d-flex flex-column">
                                                <h6>
                                                    Name
                                                </h6>
                                                <div>
                                                    {{data?.expandSet?.nbfc_user_name ? data?.expandSet?.nbfc_user_name : ' -- '}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="d-flex flex-column">
                                                <h6>
                                                    Phone No.
                                                </h6>
                                                <div>
                                                    {{data?.expandSet?.nbfc_user_mobile ? data?.expandSet?.nbfc_user_mobile : ' -- '}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="d-flex flex-column">
                                                <h6>
                                                    Email-Id
                                                </h6>
                                                <div>
                                                    {{data?.expandSet?.nbfc_user_email ? data?.expandSet?.nbfc_user_email : ' -- '}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </nz-card>
                            </div>

                            <div>
                                <nz-page-header
                                    class="site-page-header acc-bg-light mb-2"
                                    [nzTitle]="bankingDetail">
                                </nz-page-header>
                                <nz-card class="mb-md-5"   [nzLoading]="storeDetailId == data.id ? _apiLoader['detailList'] : null">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="d-flex flex-column">
                                                <h6>
                                                    Bank Name
                                                </h6>
                                                <div>
                                                    {{data?.expandSet?.bank_name ? data?.expandSet?.bank_name : ' -- '}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="d-flex flex-column">
                                                <h6>
                                                    IFSC
                                                </h6>
                                                <div>
                                                    {{data?.expandSet?.ifsc ? data?.expandSet?.ifsc : ' -- '}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="d-flex flex-column">
                                                <h6>
                                                    A/c No.
                                                </h6>
                                                <div>
                                                    {{data?.expandSet?.account_no ? data?.expandSet?.account_no : ' -- '}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="d-flex flex-column">
                                                <h6>
                                                    Branch.
                                                </h6>
                                                <div>
                                                    {{data?.expandSet?.branch ? data?.expandSet?.branch : ' -- ' }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </nz-card>
                            </div>

                            <div class="justify-content-center">
                                <nz-page-header
                                    class="site-page-header acc-bg-light mb-2"
                                    [nzTitle]="kycDocument">
                                </nz-page-header>
                                <nz-card class="mb-md-5"  [nzLoading]="storeDetailId == data.id ? _apiLoader['detailList'] : null" >
                                    <div class="row"  *ngIf="data?.expandSet?.documents?.length > 0">
                                        <div class="col-md-6" *ngFor="let data of data?.expandSet?.documents">
                                            <div class="d-flex flex-column">
                                                <h6>
                                                    {{data?.document_master?.name}}
                                                </h6>
                                                <div>
                                                    <span *ngIf="data?.document_file">
                                                        <a>Submitted </a>
                                                        &
                                                    </span>
                                                    <span *ngIf="!data?.document_file">
                                                        Document Not Submitted
                                                    </span>
                                                    <span *ngIf="data?.is_verified">
                                                        Verified
                                                    </span>
                                                    <span *ngIf="!data?.is_verified && data?.document_file">
                                                        <a 
                                                            nz-popconfirm
                                                            nzPopconfirmTitle="Are you sure you want to verify corresponding document ?"
                                                            nzPopconfirmPlacement="bottom"                                              
                                                            (nzOnConfirm)="onClickVerifyDoc(data?.id)"
                                                            (nzOnCancel)="cancel()"
                                                            >
                                                            Plz Click to verify
                                                            </a>
                                                    </span>
                                                </div>
                                                <div class="mt-3">
                                                    <!-- <a href='{{ data?.document_file }}' download='image' >
                                                        <img [src]='data?.document_file' alt="image" width="104" height="142">
                                                    </a><br> -->
                                                    <i style="cursor: pointer;"  *ngIf="data?.document_file" class="mr-3" nz-icon nzType="download" nzTheme="outline" (click)="onClickDownloadSelectedDocument(data)"> </i>
                                                    <i style="cursor: pointer;" *ngIf="data?.document_file" class="mr-3" nz-icon nzType="eye" nzTheme="outline" (click)="storeSelectedId(data, 'submitted')"></i>
                                                </div>
                                            </div>                                        </div>
                                    </div>
                                    <div class="row" *ngIf="data?.expandSet?.documents?.length <= 0">
                                        <div class="col-md-6">
                                                <h6>
                                                    No Documents To show
                                                </h6>
                                            </div>
                                    </div>
                                </nz-card>
                            </div>

                            <div class="justify-content-center" *ngIf="data?.expandSet?.all_previous_roi_mappings.length > 0">
                                <nz-page-header
                                    class="site-page-header acc-bg-light mb-2"
                                    [nzTitle]="roiDetails">
                                </nz-page-header>
                                <nz-card class="mb-md-5"  [nzLoading]="storeDetailId == data.id ? _apiLoader['detailList'] : null" >
                                <!-- <div> -->
                                    <div class="row my-2" *ngFor="let data of data?.expandSet?.all_previous_roi_mappings">
                                        <div class="col-md-4">
                                            <div class="d-flex flex-column">
                                                <h6>
                                                    ROI Utilised Fund
                                                </h6>
                                                <div>
                                                    {{data?.roi_utilized_fund ? data?.roi_utilized_fund : ' -- '}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="d-flex flex-column">
                                                <h6>
                                                    ROI Unutilised Fund
                                                </h6>
                                                <div>
                                                    {{data?.roi_unutilized_fund ? data?.roi_unutilized_fund : ' -- '}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="d-flex flex-column">
                                                <h6>
                                                    Created At
                                                </h6>
                                                <div>
                                                    {{data?.created_at ? (data?.created_at | date: 'dd MMM yyyy, HH:mm:ss a' ) : ' -- '}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <!-- </div> -->
                                </nz-card>
                            </div>

                            <div class="justify-content-center">
                                <nz-page-header
                                    class="site-page-header acc-bg-light mb-2"
                                    [nzTitle]="otherDetails">
                                </nz-page-header>
                                <nz-card class="mb-md-5"  [nzLoading]="storeDetailId == data.id ? _apiLoader['detailList'] : null" >
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="d-flex flex-column">
                                                <h6>
                                                    Total Commitment
                                                </h6>
                                                <div>
                                                    {{data?.expandSet?.total_commitment ? data?.expandSet?.total_commitment : ' -- '}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="d-flex flex-column">
                                                <h6>
                                                    Roi
                                                </h6>
                                                <div class="d-flex">
                                                    {{data?.expandSet?.roi ? data?.expandSet?.roi : ' -- '}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="d-flex flex-column">
                                                <h6>
                                                    FLDG
                                                </h6>
                                                <div class="d-flex">
                                                    {{data?.expandSet?.fldg ? data?.expandSet?.fldg : ' -- '}}
                                                    <span *ngIf="data?.expandSet?.fldg_calculation_type != 'Flat'">
                                                        %
                                                    </span>
                                                    <span *ngIf="data?.expandSet?.fldg_calculation_type == 'Flat'">
                                                        ₹
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </nz-card>
                            </div>


                        </tr>
                    </ng-container>
                </tbody>
            </nz-table>
        </div>
        </nz-card>
    </div>
</section>



<ng-template #basicDetail>
    <div class="ml-md-2">
        <h6 class="mb-0">Basic Details</h6>
    </div>
</ng-template>
<ng-template #contactPersonDetail>
    <div class="ml-md-2">
        <h6 class="mb-0">Contact Personal Detail</h6>
    </div>
</ng-template>
<ng-template #bankingDetail>
    <div class="ml-md-2">
        <h6 class="mb-0">Banking Details</h6>
    </div>
</ng-template>
<ng-template #kycDocument>
    <div class="ml-md-2">
        <h6 class="mb-0">KYC Documents</h6>
    </div>
</ng-template>
<ng-template #otherDetails>
    <div class="ml-md-2">
        <h6 class="mb-0">Other Details</h6>
    </div>
</ng-template>
<ng-template #roiDetails>
    <div class="ml-md-2">
        <h6 class="mb-0">ROI Details</h6>
    </div>
</ng-template>


  <nz-modal [nzWidth]="400" [(nzVisible)]="isDelete" [nzFooter]="null" [nzClosable]="false">
    <ng-container *nzModalContent>
        <app-double-confirmation-popup 
            [title]="statusOfSelectedLender ? 'This action will Activate this account' : 'This action will Deactivate this account'"
            [subTitle]="statusOfSelectedLender ? 'if required, you can activate this account after 15 days. Are your sure ?' : 'if required, you can Deactivate this account after 15 days. Are your sure ?'"
            [icon]="'assets/images/activate.png'"
            (onOkCall)="confirmationTrigger()"
            (onCencelCall)="isDelete = false; selectedUserId = ''"
            [cancelBtnTxt]="'Cancel'"
            [submitBtnTxt]="'OK'">
        </app-double-confirmation-popup>
    </ng-container>
</nz-modal>

<nz-modal [nzWidth]="400" [(nzVisible)]="toggleChangePassword" [nzFooter]="null" [nzClosable]="false">
    <ng-container *nzModalContent>
        <app-change-password>
            [userData]="selectedUserData"
            
            (onOkCall)="onClickChangePassword()"
            (onCencelCall)="isDelete = false; selectedUserId = ''"
            [cancelBtnTxt]="'Cancel'"
            [submitBtnTxt]="'OK'">
        </app-change-password>
    </ng-container>
</nz-modal>

<nz-modal nzTitle="Change Password"  (nzOnCancel)="toggleChangePassword = false"[nzWidth]="800" [(nzVisible)]="toggleChangePassword" [nzFooter]="null" [nzClosable]="true" >
    <ng-container *nzModalContent>
        <app-change-password
            [userData]="selectedUserData"
            (onOkCall)="onClickChangePassword($event)"
            (onCencelCall)="toggleChangePassword = false"
            [cancelBtnTxt]="'Cancel'"
            [submitBtnTxt]="'Update'">
        </app-change-password>
    </ng-container>
</nz-modal>

<nz-modal [(nzVisible)]="pdf_viewer_object_values['boolean']" nzHeight="50vw"  nzWidth="60vw" nzKeyboard="true"
	[nzTitle]="pdf_viewer_object_values['title']" (nzOnCancel)="handleCancel()" [nzFooter]="modalFooter">
	<ng-container *nzModalContent>
		<div class="pdf_viewer_container">
			<embed [src]="sanatizeUrlToSafe(pdf_viewer_object_values['url'])" width="100%" style="height: 25rem;" />
		</div>
	</ng-container>
	<ng-template #modalFooter>
		<button nz-button nzType="primary" (click)="handleCancel()">Close</button>
	</ng-template>
</nz-modal>

<!-- <section>
    <div class="row mb-md-3">
        <nz-radio-group [(ngModel)]="selectedTab" nzButtonStyle="solid">
            <label nz-radio-button class="mr-md-2 mr-2 px-4 mb-md-0 mb-3 border-radius-2" nzValue="1">All</label>
            <label nz-radio-button class="mr-md-2 mr-2 px-4 mb-md-0 mb-3 border-radius-2" nzValue="2">Active</label>
            <label nz-radio-button class="mr-md-2 mr-2 px-4 mb-md-0 mb-3 border-radius-2" nzValue="3">Inactive</label>
        </nz-radio-group>
    </div>
    <div class="row mb-md-3">
        <span>{{listOfData.length}} Results Found</span>
    </div>
    <div class="row">
        <nz-card class="w-100">
            <div class="row">
                <div class="col-md-4 mb-3 d-flex">
                    <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                        <input type="text"nz-input placeholder="Search text" />
                    </nz-input-group>
                    <ng-template #suffixIconButton>
                        <button nz-button nzType="secondary" nzSearch><i nz-icon nzType="search"></i></button>
                    </ng-template>
                </div>
                <div class="col-md-8 mb-3 d-flex justify-content-md-end">
                    <nz-select class="mx-1" style=" width: 8rem;" ngModel="filters" nzAllowClear
                        nzPlaceHolder="Filter By">
                        <nz-option nzValue="medicine" nzLabel="Medicine 1"></nz-option>
                        <nz-option nzValue="medic" nzLabel="Medicine 2"></nz-option>
                    </nz-select>
                    <nz-select class="mx-1" style=" width: 8rem;" ngModel="filters" nzAllowClear
                        nzPlaceHolder="Filter By">
                        <nz-option nzValue="medicine" nzLabel="Medicine 1"></nz-option>
                        <nz-option nzValue="medic" nzLabel="Medicine 2"></nz-option>
                    </nz-select>
                </div>
            </div>
            <nz-table [nzData]="listOfData" 
            [nzScroll]="{ x: '1500px' }">
                <thead>
                    <tr>
                        <th nzWidth="3rem">#</th>
                        <th>Lender Details</th>
                        <th>Regd. On</th>
                        <th>PAN</th>
                        <th>Invested Amt.</th>
                        <th>Amt. Utilised</th>
                        <th>Wallet Bal.</th>
                        <th>Product Type</th>
                        <th>KYC</th>
                        <th>Verification</th>
                        <th>Status</th>
                        <th nzRight nzWidth="11rem">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of listOfData; index as i">
                        <td>{{ i+1 }}</td>
                        <td>{{ data.name }}</td>
                        <td>{{ data.regDate }}</td>
                        <td>{{ data.pan }}
                            <br><nz-tag [nzColor]="'#074EE8'">FETCH</nz-tag></td>
                        <td>{{ data.invest }}</td>
                        <td>{{ data.invest }}</td>
                        <td>{{ data.invest }}</td>
                        <td>{{ data.type }}</td>
                        <td>
                            <a><i nz-icon nzType="check-circle" nzTheme="outline"></i></a>
                        </td>
                        <td>
                            <a><i nz-icon nzType="check-circle" nzTheme="outline"></i></a>
                        </td>
                        <td>{{ data.status }}</td>
                        <td nzRight nzWidth="11rem">
                            <a class="mr-3"><i nz-icon nzType="edit" nzTheme="outline"></i></a>
                            <a class="mr-3"><i nz-icon nzType="delete" nzTheme="outline"></i></a>
                            <a class="mr-3"><i nz-icon nzType="lock" nzTheme="outline"></i></a>
                            <a class="mr-3"><i nz-icon nzType="arrow-down" nzTheme="outline"></i></a>
                            <a><i nz-icon nzType="user" nzTheme="outline"></i></a>
                        </td>
                    </tr>
                </tbody>
            </nz-table>
        </nz-card>
    </div>
</section> -->