<section>
    <div class="row mb-md-3">
        <div class="col-md-6 mb-md-0">
            <nz-radio-group [(ngModel)]="selectedTab" (ngModelChange)='onClickChangeTab($event)' nzButtonStyle="solid">
                <label nz-radio-button class="mr-md-2 mr-2 px-4 mb-md-0 mb-3 border-radius-2" nzValue="all">All</label>
                <label nz-radio-button class="mr-md-2 mr-2 px-4 mb-md-0 mb-3 border-radius-2" nzValue="active">Active</label>
                <label nz-radio-button class="mr-md-2 mr-2 px-4 mb-md-0 mb-3 border-radius-2"
                    nzValue="inactive">Inactive</label>
            </nz-radio-group>
        </div>
        <div class="col-md-6 col-12 my-md-0 my-3 d-flex justify-content-end">
            <!-- <button nz-button class='text-primary mr-4' [routerLink]="['/merchants/add-merchant']">+ Add Merchant</button> -->
            <button nz-button class='text-primary' [routerLink]="['/merchants/add-dsa']">+ Add DSA</button>
        </div>
    </div>
    <div class="row mb-md-3">
        <span>{{merchantList?.length}} Results Found</span>
    </div>
    <div class="row">
        <nz-card class="w-100">
            <div class="row">
                <div class="col-md-4 mb-3 d-flex">
                    <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                        <input (keyup.enter)="getResultBasedOnSearch()" [(ngModel)]="searchValue" type="text" nz-input placeholder="Search text" />
                      </nz-input-group>
                    <!-- <ng-template #suffixIconButton>
                        <button nz-button nzType="secondary" nzSearch><i nz-icon nzType="search"></i></button>
                    </ng-template> -->
                    <ng-template #suffixIconButton>
                        <button (click)="getResultBasedOnSearch()" nz-button nzType="secondary" nzSearch><i nz-icon nzType="search"></i></button>
                      </ng-template>
                </div>
                <div class="col-md-8 mb-3 d-flex justify-content-md-end">
                    <button nz-button nzType="default" nzShape="circle" nz-tooltip nzTooltipTitle="Reset Filter"  class="mr-2" (click)="resetFilter()">
                        <i nz-icon nzType="undo"></i>
                      </button>
                </div>
            </div>
            <nz-table [nzTotal]="total_count" [nzFrontPagination]="false" [nzLoading]="_apiLoader['list']"
            [nzShowSizeChanger]="true" [nzFrontPagination]="false" [nzPageSize]="globalPageSize"
            [nzPageIndex]="page" (nzQueryParams)="getPartnerDSAList($event)" [nzShowSizeChanger]="true" [nzData]="merchantList" [nzScroll]="{ x: '1500px' }">
                <thead>
                    <tr>
                    <th rowspan="2" nzWidth="100px">#</th>
                    <th >Merchant Name</th>
                    <th >Type</th>
                    <th >Regd. On</th>
                    <th> MDR%</th>
                    <th>Source ID</th>
                    <th>Merchant ID</th>
                    <th>Refer Id</th>
                    <th>Registered</th>
                    <th>Transaction Status</th>
                    <th>System Status</th>
                    <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let data of merchantList; index as i">
                        <tr>
                            <td [nzExpand]="expandSet.has(data.id)" (nzExpandChange)="onExpandChange(data.id, $event, i)">
                                {{ i + 1 }}</td>
                            <td>{{ data.name }}</td>
                            <td>{{ data.type }}</td>
                            <td>{{ data.created_at | date: 'dd MMM yyyy' }}
                            <td>{{data?.mdr}}</td>
                            <td>{{data?.source_id}}</td>
                            <td>{{data?.unique_code}}</td>
                            <td>{{data?.refer_id}}</td>
                            <td *ngIf="data?.registered ">
                                <a><i nz-icon nzType="check-circle" nzTheme="outline"></i></a>
                            </td>
                            <td *ngIf="!data?.registered ">
                                <a><i nz-icon nzType="close-circle" nzTheme="outline"></i></a>
                            </td>
                            <td>{{data?.transaction_status}}</td>
                            <td *ngIf="data?.is_deleted">False</td>
                            <td *ngIf="!data?.is_deleted">True</td>
                            
                            <!-- <td>{{ data.no_of_partner }}</td> -->
                            <td>
                                <a class="text-dark font-size-20" nz-dropdown [nzClickHide]="false"
                                    [nzTrigger]="'click'" [nzPlacement]="'bottomRight'"
                                    [nzDropdownMenu]="latestUploadDropDown">
                                    <i nz-icon nzType="ellipsis" theme="outline"></i>
                                </a>
                                <nz-dropdown-menu #latestUploadDropDown="nzDropdownMenu">
                                    <ul nz-menu>
                                        <li nz-menu-item>
                                            <span class="m-l-5" (click)="changePassword(data)">Change Password</span>
                                        </li>
                                        <li nz-menu-item>
                                            <span class="m-l-5" [routerLink]="['../add-dsa']" [queryParams]="{id: data.id}">Edit</span>
                                        </li>
                                        <li nz-menu-item *ngIf="!data.is_deleted"> 
                                            <!-- <i nz-icon nzType="delete" theme="outline"></i> -->
                                            <span class="m-l-5" (click)="deleteUserByUserId(data?.id)">Delete</span>
                                        </li>
                                        <li nz-menu-item>
                                            <span class="m-l-5">Upgrade Dashboard</span>
                                        </li>
                                        <li nz-menu-item>
                                            <span class="m-l-5">Upgrade Agreement</span>
                                        </li>
                                        <li nz-menu-item>
                                            <span class="m-l-5">Upload Agreement</span>
                                        </li>
                                        <li nz-menu-item>
                                            <span class="m-l-5">Show Agreement</span>
                                        </li>
                                
                                
                                    </ul>
                                </nz-dropdown-menu>
                            </td>
                        </tr>


                        <tr [nzExpand]="expandSet.has(data.id) ">

                            <div class="justify-content-center">
                                <nz-page-header 
                                    class="site-page-header text-center w-25 p-1 rounded bg-gray-lightest mb-2"
                                    [nzTitle]="basicDetail">
                                </nz-page-header>
                                <nz-card class="mb-md-5" [nzLoading]="_apiLoader['detailList']">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="d-flex flex-column">
                                                <h6>
                                                    NBFC's Address
                                                </h6>
                                                <div>
                                                    {{data?.expandSet?.address_line_1}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="d-flex flex-column">
                                                <h6>
                                                    Phone No.
                                                </h6>
                                                <div>
                                                    {{data?.expandSet?.phone}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </nz-card>
                            </div>

                            <div>
                                <nz-page-header
                                    class="site-page-header text-center rounded w-25 p-1 bg-gray-lightest my-2"
                                    [nzTitle]="contactPersonDetail">
                                </nz-page-header>
                                <nz-card class="mb-md-5" [nzLoading]="_apiLoader['detailList']">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="d-flex flex-column">
                                                <h6>
                                                    Name
                                                </h6>
                                                <div>
                                                    {{data?.expandSet?.contact_person_name}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="d-flex flex-column">
                                                <h6>
                                                    Phone No.
                                                </h6>
                                                <div>
                                                    {{data?.expandSet?.contact_person_name}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="d-flex flex-column">
                                                <h6>
                                                    Email-Id
                                                </h6>
                                                <div>
                                                    {{data?.expandSet?.contact_person_email}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </nz-card>
                            </div>

                            <div>
                                <nz-page-header
                                    class="site-page-header text-center rounded w-25 p-1 bg-gray-lightest my-2"
                                    [nzTitle]="bankingDetail">
                                </nz-page-header>
                                <nz-card class="mb-md-5" [nzLoading]="_apiLoader['detailList']">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="d-flex flex-column">
                                                <h6>
                                                    Bank Name
                                                </h6>
                                                <div>
                                                    {{data?.expandSet?.bank_name}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="d-flex flex-column">
                                                <h6>
                                                    IFSC
                                                </h6>
                                                <div>
                                                    {{data?.expandSet?.ifsc}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="d-flex flex-column">
                                                <h6>
                                                    A/c No.
                                                </h6>
                                                <div>
                                                    {{data?.expandSet?.account_no}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="d-flex flex-column">
                                                <h6>
                                                    Branch.
                                                </h6>
                                                <div>
                                                    {{data?.expandSet?.branch}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </nz-card>
                            </div>

                            <div class="justify-content-center">
                                <nz-page-header
                                    class="site-page-header text-center w-25 p-1 rounded bg-gray-lightest mb-2"
                                    [nzTitle]="kycDocument">
                                </nz-page-header>
                                <nz-card class="mb-md-5" [nzLoading]="_apiLoader['detailList']">
                                    <div class="row">
                                        <div class="col-md-6" *ngFor="let data of data?.expandSet?.documents">
                                            <div class="d-flex flex-column">
                                                <h6>
                                                    {{data?.document_master?.name}}
                                                </h6>
                                                <div>
                                                    Submitted & Verified
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </nz-card>
                            </div>

                            <div class="justify-content-center">
                                <nz-page-header
                                    class="site-page-header text-center w-25 p-1 rounded bg-gray-lightest mb-2"
                                    [nzTitle]="otherDetails">
                                </nz-page-header>
                                <nz-card class="mb-md-5" [nzLoading]="_apiLoader['detailList']">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="d-flex flex-column">
                                                <h6>
                                                    Total Commitment
                                                </h6>
                                                <div>
                                                    {{data?.expandSet?.total_commitment}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="d-flex flex-column">
                                                <h6>
                                                    Roi
                                                </h6>
                                                <div class="d-flex">
                                                    {{data?.expandSet?.roi}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="d-flex flex-column">
                                                <h6>
                                                    FLDG
                                                </h6>
                                                <div class="d-flex">
                                                    {{data?.expandSet?.fldg}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </nz-card>
                            </div>


                        </tr>
                    </ng-container>
                </tbody>
            </nz-table>
        </nz-card>
    </div>
</section>




<ng-template #basicDetail>
    <div class="ml-md-2">
        <h6 class="mb-0">Basic Details</h6>
    </div>
</ng-template>
<ng-template #contactPersonDetail>
    <div class="ml-md-2">
        <h6 class="mb-0">Contact Personal Detail</h6>
    </div>
</ng-template>
<ng-template #bankingDetail>
    <div class="ml-md-2">
        <h6 class="mb-0">Banking Details</h6>
    </div>
</ng-template>
<ng-template #kycDocument>
    <div class="ml-md-2">
        <h6 class="mb-0">KYC Documents</h6>
    </div>
</ng-template>
<ng-template #otherDetails>
    <div class="ml-md-2">
        <h6 class="mb-0">Other Details</h6>
    </div>
</ng-template>

<nz-modal [(nzVisible)]="isDelete" nzOkLoading="true" nzWidth="25rem" [nzTitle]="null" [nzClosable]="false" [nzFooter]="null" (nzOnCancel)="handleCancel()">
    <ng-container *nzModalContent>

      <div class="py-4 text-center">
        <!-- <img src="assets/images/icons/doubleconfirmationdelete.png"> -->

        <p class="font-weight-bold text-dark mt-4">You are about to delete an User</p>
        <p class="font-size-12 font-weight-semibold text-dark">This action will delete the user Permanently<br> Are You Sure ?</p>

        <div class="row pt-4">
          <div class="col-6">
            <button nz-button (click)="handleCancel()" nzType="default" nzBlock>Cancel</button>
          </div>
          <div class="col-6">
            <button nz-button (click)="confirmationTrigger(true)" nzType="primary" nzBlock>{{isCancel ? 'Cancel Order' : 'Delete'}}</button>
          </div>
        </div>
      </div>
    </ng-container>
  </nz-modal>

  <nz-modal [nzWidth]="400" [(nzVisible)]="isDelete" [nzFooter]="null" [nzClosable]="false">
    <ng-container *nzModalContent>
        <app-double-confirmation-popup 
            [title]="'You are about to delete an User'"
            [subTitle]="'This action will delete the details permanently. Are You Sure?'"
            [icon]="'assets/images/delete-icon.png'"
            (onOkCall)="confirmationTrigger()"
            (onCencelCall)="isDelete = false; selectedUserId = ''"
            [cancelBtnTxt]="'Cancel'"
            [submitBtnTxt]="'OK'">
        </app-double-confirmation-popup>
    </ng-container>
</nz-modal>

<nz-modal nzTitle="Change Password"  (nzOnCancel)="toggleChangePassword = false"[nzWidth]="800" [(nzVisible)]="toggleChangePassword" [nzFooter]="null" [nzClosable]="true" >
    <ng-container *nzModalContent>
        <app-change-password
            [userData]="selectedUserData"
            (onOkCall)="onClickChangePassword($event)"
            (onCencelCall)="toggleChangePassword = false"
            [cancelBtnTxt]="'Cancel'"
            [submitBtnTxt]="'Update'">
        </app-change-password>
    </ng-container>
</nz-modal>