<section>
    <nz-card>
        <div class="row">
            <div class="col-md-12" *ngIf="section == 1">
                <nz-form-item>
                    <nz-form-label [nzSm]="3" [nzXs]="24" nzFor="bill_date" class="text-left">Enter Mobile no.</nz-form-label>
                    <nz-form-control [nzSm]="5" [nzXs]="24" nzErrorTip="Please select Role">
                        <input nz-input type="number" (keydown)="http.restrictType($event)" [(ngModel)]="mobile"
                            placeholder="Please input mobile no." maxlength="10" minlength="10"/>
                    </nz-form-control>
                </nz-form-item>
                <button nz-button nzType="primary" nzSize="large" nzShape="round" class="px-5" [nzLoading]="loading" [disabled]="this.mobile.toString().length != 10"
                    (click)="fetchLoanApplicationEMIData()">Submit</button>
            </div>

            <div class="col-md-12" *ngIf="section == 2">
                <nz-form-item class="mb-0">
                    <nz-form-label [nzSm]="3" [nzXs]="24" class="text-left">Full Name</nz-form-label>

                    <nz-form-label [nzSm]="21" [nzXs]="24" class="text-left" nzNoColon>{{userData?.user_dataset?.full_name}}</nz-form-label>
                </nz-form-item>
                <nz-form-item class="mb-0">
                    <nz-form-label [nzSm]="3" [nzXs]="24" class="text-left">Mobile no</nz-form-label>

                    <nz-form-label [nzSm]="21" [nzXs]="24" class="text-left" nzNoColon>{{userData?.user_dataset?.mobile}}</nz-form-label>
                </nz-form-item>
                <nz-form-item class="mb-0">
                    <nz-form-label [nzSm]="3" [nzXs]="24" class="text-left">Email id</nz-form-label>

                    <nz-form-label [nzSm]="21" [nzXs]="24" class="text-left" nzNoColon>{{userData?.user_dataset?.email}}</nz-form-label>
                </nz-form-item>
                <nz-form-item class="mb-0">
                    <nz-form-label [nzSm]="3" [nzXs]="24" class="text-left">Age</nz-form-label>

                    <nz-form-label [nzSm]="21" [nzXs]="24" class="text-left" nzNoColon>{{userData?.age}}</nz-form-label>
                </nz-form-item>
                <nz-form-item class="mb-0">
                    <nz-form-label [nzSm]="3" [nzXs]="24" class="text-left">Aadhar number</nz-form-label>

                    <nz-form-label [nzSm]="21" [nzXs]="24" class="text-left" nzNoColon>{{userData?.user_kyc_details?.aadhar_no}}</nz-form-label>
                </nz-form-item>
                <nz-form-item class="mb-0">
                    <nz-form-label [nzSm]="3" [nzXs]="24" class="text-left">Pan number</nz-form-label>

                    <nz-form-label [nzSm]="21" [nzXs]="24" class="text-left" nzNoColon>{{userData?.user_kyc_details?.pan_no}}</nz-form-label>
                </nz-form-item>
                <nz-form-item class="mb-0">
                    <nz-form-label [nzSm]="3" [nzXs]="24" class="text-left">Address</nz-form-label>

                    <nz-form-label [nzSm]="21" [nzXs]="24" class="text-left" nzNoColon>{{userData?.user_kyc_details?.address_1}}</nz-form-label>
                </nz-form-item>
                <nz-form-item class="mb-0">
                    <nz-form-label [nzSm]="3" [nzXs]="24" class="text-left">Company name</nz-form-label>

                    <nz-form-label [nzSm]="21" [nzXs]="24" class="text-left" nzNoColon>{{userData?.company_details?.corporate_name}}</nz-form-label>
                </nz-form-item>
                <nz-form-item class="mb-0">
                    <nz-form-label [nzSm]="3" [nzXs]="24" class="text-left">Is card block</nz-form-label>

                    <nz-form-label [nzSm]="21" [nzXs]="24" class="text-left" nzNoColon>{{userData?.is_blocked ? 'Yes' : 'No'}}</nz-form-label>
                </nz-form-item>
                <nz-form-item class="mb-0">
                    <nz-form-label [nzSm]="3" [nzXs]="24" class="text-left">Age</nz-form-label>

                    <nz-form-label [nzSm]="21" [nzXs]="24" class="text-left" nzNoColon>{{userData?.age}}</nz-form-label>
                </nz-form-item>
                <nz-form-item class="mb-0">
                    <nz-form-label [nzSm]="3" [nzXs]="24" class="text-left">Outstanding amount</nz-form-label>

                    <nz-form-label [nzSm]="21" [nzXs]="24" class="text-left" nzNoColon>₹ {{userData?.outstanding_amount}}</nz-form-label>
                </nz-form-item>
                <nz-form-item class="mb-0">
                    <nz-form-label [nzSm]="3" [nzXs]="24" class="text-left">Due date</nz-form-label>

                    <nz-form-label [nzSm]="21" [nzXs]="24" class="text-left" nzNoColon>{{userData?.due_date}}</nz-form-label>
                </nz-form-item>
                <nz-form-item class="mb-0">
                    <nz-form-label [nzSm]="3" [nzXs]="24" class="text-left">Dpd days</nz-form-label>

                    <nz-form-label [nzSm]="21" [nzXs]="24" class="text-left" nzNoColon>{{userData?.dpd_days}}</nz-form-label>
                </nz-form-item>
                <nz-form-item class="mb-0">
                    <nz-form-label [nzSm]="3" [nzXs]="24" class="text-left">Emandate token</nz-form-label>

                    <nz-form-label [nzSm]="21" [nzXs]="24" class="text-left" nzNoColon>{{userData?.emandate_token}}</nz-form-label>
                </nz-form-item>
                <nz-form-item class="mb-0">
                    <nz-form-label [nzSm]="3" [nzXs]="24" class="text-left">Emandate max amount</nz-form-label>

                    <nz-form-label [nzSm]="21" [nzXs]="24" class="text-left" nzNoColon> ₹ {{userData?.emandate_max_amount ? userData?.emandate_max_amount : 0}}</nz-form-label>
                </nz-form-item>

                <button nz-button nzType="primary" nzSize="large" nzShape="round" [nzLoading]="loading" class="mt-3 px-5"
                    (click)="section = 3; createEditFormFuction()">Submit</button>
            </div>
            <div class="col-md-12" *ngIf="section == 3">
                <form nz-form [formGroup]="createEditForm">
                    <nz-form-item>
                        <nz-form-label [nzSm]="5" [nzXs]="24" nzFor="mobile" class="text-left">Mobile number</nz-form-label>
                        <nz-form-control [nzSm]="8" [nzXs]="24" nzErrorTip="Please input Mobile number!">
                            <nz-input-group>
                                <input nz-input type="number" (keydown)="http.restrictType($event)" min="0"
                                    formControlName="mobile" placeholder="Please input Mobile number!" readonly/>
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label [nzSm]="5" [nzXs]="24" nzFor="product_id" class="text-left">Product</nz-form-label>
                        <nz-form-control [nzSm]="8" [nzXs]="24" nzErrorTip="Please select Product!">
                            <nz-select formControlName="product_id" nzPlaceHolder="Please select Product!"
                                (nzFocus)="fetchProductList()" nzShowSearch nzAllowClear style="width: 15rem;">
                                <nz-option *ngFor="let item of productList" [nzValue]="item.id" [nzLabel]="item.name">
                                </nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label [nzSm]="5" [nzXs]="24" nzFor="loan_amount" class="text-left">Loan amount</nz-form-label>
                        <nz-form-control [nzSm]="8" [nzXs]="24" nzErrorTip="Please input Loan amount!">
                            <nz-input-group>
                                <input nz-input type="number" (keydown)="http.restrictType($event)" [min]="tenureData?.minimum_amount" max="tenureData?.maximum_amount" formControlName="loan_amount"
                                    placeholder="Please input Loan amount!"/>
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item *ngIf="createEditForm.value.product_id">
                        <nz-form-label [nzSm]="5" [nzXs]="24" nzFor="tenure" class="text-left">Tenure</nz-form-label>
                        <nz-form-control [nzSm]="8" [nzXs]="24" nzErrorTip="Please input Tenure!">
                            <nz-select formControlName="tenure" nzPlaceHolder="Please select Tenure!" (nzFocus)="fetchProductEMI(createEditForm.value.product_id)"
                                nzShowSearch nzAllowClear style="width: 15rem;" (ngModelChange)="changeModel()">
                                <nz-option *ngFor="let item of tenureData?.tenure" [nzValue]="item" [nzLabel]="item.name">
                                </nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label [nzSm]="5" [nzXs]="24" nzFor="disbursement_date" class="text-left">Disbursement date</nz-form-label>
                        <nz-form-control [nzSm]="8" [nzXs]="24" nzErrorTip="Please input Disbursement date!">
                            <nz-input-group>
                                <nz-date-picker formControlName="disbursement_date" [nzFormat]="'yyyy-MM-dd'"></nz-date-picker>
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label [nzSm]="5" [nzXs]="24" nzFor="roi" class="text-left">Rate of interest</nz-form-label>
                        <nz-form-control [nzSm]="8" [nzXs]="24" nzErrorTip="Please input Rate of interest!">
                            <nz-input-group>
                                <input nz-input type="number" (keydown)="http.restrictType($event)" min="0"
                                    formControlName="roi" placeholder="Please input Rate of interest!" readonly/>
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label [nzSm]="5" [nzXs]="24" nzFor="pre_emi_interest" class="text-left">Pre EMI interest</nz-form-label>
                        <nz-form-control [nzSm]="8" [nzXs]="24" nzErrorTip="Please input Pre EMI interest!">
                            <nz-input-group>
                                <input nz-input type="number" (keydown)="http.restrictType($event)" min="0"
                                    formControlName="pre_emi_interest" placeholder="Please input Pre EMI interest!"/>
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
                    <button nz-button nzType="primary" nzSize="large" nzShape="round" [nzLoading]="loading" class="mt-3 px-5" [disabled]="createEditForm.invalid"
                        (click)="createOfflineEMI()">Submit</button>
                </form>
            </div>
        </div>
    </nz-card>
</section>