<section>
    <nz-card>
        <div class="row">
            <div class="col-md-3 mb-3 d-flex">
                <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                    <input type="text"nz-input placeholder="Search text" [(ngModel)]="searchValue" (keyup.enter)="fetListOfFailOTP()"/>
                </nz-input-group>
                <ng-template #suffixIconButton>
                    <button nz-button nzType="secondary" nzSearch (click)="fetchBorrowerList()"><i nz-icon nzType="search"></i></button>
                </ng-template>
                <button nz-button nzType="default" nzShape="circle" nz-tooltip nzTooltipTitle="Reset Filter" (click)="resetFilters()" class="ml-2">
                    <i nz-icon nzType="undo"></i>
                </button>
            </div>
            <div class="col-md-9 mb-3 d-flex justify-content-md-end flex-wrap">
                <nz-range-picker class="mx-1 mb-2" style=" width: 18rem;" [(ngModel)]="date" [nzDisabledDate]="disabledDate" (ngModelChange)="fetListOfFailOTP()" [nzRanges]="customRanges"></nz-range-picker>
                <!-- <nz-select class="mx-1 mb-2" [(ngModel)]="selectedCorporate" nzAllowClear nzShowSearch nzPlaceHolder="Select Corporate"
                    (nzOnSearch)="OnTypeSearchList($event)" style="min-width: 13rem"
                    (ngModelChange)="fetchBorrowerList()" (nzFocus)="fetchPartnerList()">
                    <nz-option *ngFor="let item of corporateList" [nzValue]="item?.pk" [nzLabel]="item?.name">
                        <div *ngIf="item.name">{{ item?.name }}</div>
                    </nz-option>
                </nz-select> -->
                <!-- <nz-select class="mx-1" style=" width: 12rem;" ngModel="filters" nzAllowClear
                    nzPlaceHolder="Filter By A/C Status">
                    <nz-option nzValue="1" nzLabel="Fatak Pay"></nz-option>
                    <nz-option nzValue="2" nzLabel="Fatak Pay EMI"></nz-option>
                </nz-select> -->
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <nz-table [nzTotal]="total_count" [nzLoading]="apiLoader" [nzFrontPagination]="false"  [nzPageIndex]="page" [nzPageSize]="globalPageSize" [nzShowSizeChanger]="true" [nzTotal]="total_count"
                (nzQueryParams)="otpFailuerResponse[0] ? fetListOfFailOTP($event) : ''" [nzData]="otpFailuerResponse">
                <thead>
                    <tr>
                        <!-- <th nzWidth="2rem" [nzChecked]="checked" [nzIndeterminate]="indeterminate" (nzCheckedChange)="onAllChecked($event)"></th> -->
                        <th nzWidth="5rem">#</th>
                        <th>Mobile No</th>
                        <th>Updated At</th>
                        <!-- <th nzWidth="5.5rem" nzRight *ngxPermissionsOnly="['waive_off_transaction', 'view_details_transaction', 'refund_transaction', 'reverse_transaction']"> Actions</th> -->
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let data of otpFailuerResponse, index as i">
                        <tr>
                            <!-- <td [nzChecked]="setOfCheckedId.has(data.id)" [nzDisabled]="data.disabled"
                                (nzCheckedChange)="onItemChecked(data.id, $event)"></td> -->
                            <td *ngIf="page === 1">{{i+1}}</td><td *ngIf="page > 1">{{((page-1)*globalPageSize)+(i+1)}}</td>
                            <td>{{ data?.mobile ? data?.mobile : '-'}}</td>
                            <td>{{ data?.updated_at ? data?.updated_at : ' - ' }}</td>
                        </tr>
                    </ng-container>
                </tbody>
            </nz-table>
            <div class="total_count_text" *ngIf="total_count">
                <b>Total Count : </b>{{total_count}}
            </div>
            </div>
        </div>
    </nz-card>
</section>