
<section>
    <div class="row">
        <nz-card class="w-100 mb-0">
            <div class="row">
                <!-- <div class="col-md-4 mb-3 d-flex">
                    <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                        <input type="text"nz-input placeholder="Search text" [(ngModel)]="search_params" (keyup.enter)="fetchProductList()"/>
                    </nz-input-group>
                    <ng-template #suffixIconButton>
                        <button nz-button nzType="secondary" nzSearch (click)="fetchProductList()"><i nz-icon nzType="search"></i></button>
                    </ng-template>
                </div> -->
                <div class="col-md-12 mb-3 d-flex justify-content-md-end flex-wrap">
                    <button nz-button nzType="default" nzShape="circle" nz-tooltip nzTooltipTitle="Reset Filter"  class="mr-2" (click)="resetFilters()">
                        <i nz-icon nzType="undo"></i>
                    </button>
                    <nz-range-picker style="min-width: 10rem;" [(ngModel)]="date" [nzDisabledDate]="disabledDate"
                        (ngModelChange)="fetchRefundsList()" [nzRanges]="customRanges"></nz-range-picker>
                </div>
            </div>
            <nz-table #basicTable [nzFrontPagination]="false" [nzData]="list_data" [nzPageIndex]="page" [nzShowSizeChanger]="true" [nzTotal]="total_count" [nzPageSize]="globalPageSize"
            [nzLoading]="api_calling_loader" (nzQueryParams)="list_data ? fetchRefundsList($event) : ''">
                <thead>
                    <tr>
                        <th nzWidth="3rem">#</th>
                        <th>Refund id</th>
                        <th>Refund transaction id</th>
                        <th>Refund created for</th>
                        <th>Amount</th>
                        <th>Refund status</th>
                        <th>Error description</th>  
                        <th>Refunded by</th>  
                        <th>Refund date</th>                      
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of list_data; index as i">
                        <td *ngIf="page === 1">{{i+1}}</td>
                        <td *ngIf="page > 1">{{((page-1)*globalPageSize)+(i+1)}}</td>
                        <td>{{ data.refund_id ? data.refund_id: '-' }}</td>
                        <td>{{ data['refund_transaction_id'] ? data['refund_transaction_id']: '-' }}</td>
                        <td>{{ data['created_for_transaction'] ? data['created_for_transaction']: '-' }}</td>
                        <td>{{ data['amount'] ? data['amount']: '-' }}</td>
                        <td>{{ data['refund_status'] ? data['refund_status']: '-' }}</td>
                        <td>{{ data['error_description'] ? data['error_description']: '-' }}</td>
                        <td>
                            <h5>{{data?.created_by_name ? data?.created_by_name : '-'}}</h5>
                            <span>Contact No: {{data.created_by_mobile ? data.created_by_mobile : '-'}}</span>
                        </td>
                        <td>{{ data['created_at'] ? (data['created_at'] | date: 'medium'): '-' }}</td>
                    </tr>
                </tbody>
            </nz-table>
            <div class="total_count_text" *ngIf="total_count">
                <b>Total Count : </b>{{total_count}}
            </div>
        </nz-card>
    </div>
</section>