<div class="header">
    <div class="logo logo-dark d-flex align-items-center">
        <a href="" class="w-100">
            <img class="w-50" src="assets/images/logo/logo.png" alt="Logo">
            <img class="logo-fold w-100" src="assets/images/logo/logo-fold.svg" alt="Logo">
        </a>
    </div>
    <div class="logo logo-white">
        <a href="">
            <img class="w-50" src="assets/images/logo/logo.png" alt="Logo">
            <img class="logo-fold" src="assets/images/logo/logo-fold-white.png" alt="Logo">
        </a>
    </div>
    <div class="nav-wrap">
        <ul class="nav-left">
            <li class="desktop-toggle">
                <a (click)="toggleFold()">
                    <i nz-icon [nzType]="isFolded? 'menu-unfold':'menu-fold'" theme="outline"></i>
                </a>
            </li>
            <li class="mobile-toggle">
                <a (click)="toggleExpand()">
                    <i nz-icon [nzType]="isExpand? 'menu-fold': 'menu-unfold'" theme="outline"></i>
                </a>
            </li>
        </ul>
        <ul class="nav-right">
            <img src="assets/images/Icons/notification.png" class="px-3" style="cursor: pointer;">
            <nz-divider class="h-80" nzType="vertical"></nz-divider>
            <div class="align-self-center d-none d-md-block mr-md-3 px-md-0">
                <div class="m-l-10">
                    <p class="m-b-0 text-dark font-weight-semibold">{{userDetails?.user?.first_name + ' ' + userDetails?.user?.last_name }}</p>
                    <p class="m-b-0 opacity-07 font-size-12">{{userDetails?.user?.role?.role_name}}</p>
                    <!-- *ngIf="contact_person_name && contact_person_name != 'nan'" <p *ngIf="userId" class="m-b-0 opacity-07 font-size-12">{{userId}} </p> -->
                </div>
            </div>
            <li>
                <a (click)="quickViewToggle()" style="border-radius: 50%;">
                    <i nz-icon nzType="user" nzTheme="outline"></i>
                </a>
                <nz-drawer [nzWidth]="480" nzTitle="" [nzClosable]="false" [nzVisible]="quickViewVisible" nzPlacement="right"
                    (nzOnClose)="quickViewToggle()">
                    <div class="row">
                        <div class="d-flex align-items-center pointer" (click)="quickViewToggle()">
                            <i nz-icon nzType="arrow-left" class="mr-3" nzTheme="outline"></i>
                            <h5 class="h5 mb-0">Back</h5>
                        </div>
                    </div>
                    <app-quick-view></app-quick-view>
                </nz-drawer>
            </li>
        </ul>
    </div>
</div>    