<div class="common-layout {{ 'is-' + selectedHeaderColor }}" [ngClass]="{
    'is-folded': isFolded,
    'is-side-nav-dark' : isSideNavDark,
    'is-expand' : isExpand
}">
<app-header></app-header>
<app-sidenav></app-sidenav>
<div class="page-container">
    <div class="bg-white main-content h-unset pb-0" [ngClass]="!showBreadCrumb ? 'd-flex align-items-center' : ''"
        *ngIf="contentHeaderDisplay !== 'none'">
        <div class="main-content-header d-flex justify-content-between mb-2 flex-wrap" *ngIf="showBreadCrumb">
            <div class="d-flex flex-wrap">
                <h5 class="page-title mr-2" *ngIf="breadcrumbs$ | async; let breadcrumbs">{{showBreadCrumb}}</h5>
                <nz-breadcrumb>
                    /
                    <nz-breadcrumb-item class="pl-2" *ngFor="let breadcrumb of breadcrumbs$ | async">
                        <a [routerLink]="breadcrumb.url" [queryParams]="breadcrumb.params">
                            {{ breadcrumb.label }}
                        </a>
                    </nz-breadcrumb-item>
                </nz-breadcrumb>
            </div>
        </div>

        <div *ngIf="router.url.includes('dashboard')">
            <h4 class="font-weight-semibold" *ngIf="breadcrumbs$ | async; let breadcrumbs">{{(breadcrumbs[breadcrumbs.length - 1].label)}}</h4>
        </div>
        <h4 class="font-weight-semibold d-none" [ngClass]="showBreadCrumb ? 'mt-4' : ''"
            *ngIf="breadcrumbs$ | async; let breadcrumbs">{{(breadcrumbs[breadcrumbs.length - 1]?.label)}}</h4>
    </div>
    <div class="main-content" [ngClass]="contentHeaderDisplay !== 'none' ? 'pt-0 pb-1' : ''">
        <router-outlet></router-outlet>
    </div>
</div>
</div>