<div class="header_breadcrumb_section">
    <button nz-button nzType="default" class="mx-1" (click)="downloadSampleFile()">Download Sample</button>
    <button nz-button nzType="default" class="ml-1" (click)="isImport = true">Import Excel</button>
</div>

<section>
    <div class="row mb-md-3">
        <div class="col-md-12 mb-md-0">
            <nz-radio-group [(ngModel)]="selectedTab" (ngModelChange)="getManualTransactionList()">
                <label nz-radio-button class="px-5 mb-md-0 mb-3 border-radius-2" nzValue="pending">Pending</label>
                <label nz-radio-button class=" px-5 mb-md-0 mb-3 border-radius-2" nzValue="approved">Approved</label>
                <label nz-radio-button class=" px-5 mb-md-0 mb-3 border-radius-2" nzValue="rejected">Rejected</label>
            </nz-radio-group>
        </div>
    </div>
</section>


<section>
    <div class="row mb-md-3">
        <span>{{total_count}} Results Found</span>
    </div>
    <div class="row">
        <nz-card class="w-100">
            <div class="row">
                <div class="col-md-3 mb-3 d-flex">
                    <!-- <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                        <input (keyup.enter)="fetchTransactionList()" [(ngModel)]="searchValue" type="text" nz-input
                            placeholder="Search text" />
                    </nz-input-group>
                    <ng-template #suffixIconButton>
                        <button (click)="fetchTransactionList()" nz-button nzType="secondary" nzSearch><i nz-icon
                                nzType="search"></i></button>
                    </ng-template> -->
                </div>
                <div class="col-md-9 mb-3 d-flex justify-content-md-end">
                    <!-- <button nz-button nzType="default" nzShape="circle" nz-tooltip nzTooltipTitle="Reset Filter"
                        class="mr-1" (click)="resetFilter()">
                        <i nz-icon nzType="undo"></i>
                    </button> -->
                    <!-- <nz-select class="mx-1" style=" width: 15rem;" ngModel="filters" nzAllowClear [(ngModel)]="master_product_id" (ngModelChange)="fetchTransactionList()"
                        nzPlaceHolder="Filter By Product Master">
                        <nz-option [nzValue]="1" nzLabel="FatakPay"></nz-option>
                        <nz-option [nzValue]="2" nzLabel="Fatak EMI"></nz-option>
                    </nz-select> -->
                    <button nz-button nzType="default"
                        nzShape="circle" nz-tooltip nzTooltipTitle="Reset Filter" (click)="date = null; getManualTransactionList();" class="mr-2">
                        <i nz-icon nzType="undo"></i>
                    </button>
                    <nz-range-picker [(ngModel)]="date" [nzDisabledDate]="disabledDate"
                        (ngModelChange)="getManualTransactionList()" [nzRanges]="customRanges"></nz-range-picker>
                    <!-- <nz-select class="mx-1" style=" width: 10rem;" [(ngModel)]="selectedType" (ngModelChange)="fetchTransactionList()"
                        nzPlaceHolder="Filter By Type">
                        <nz-option nzValue="Borrower Funded" nzLabel="Borrower Funded"></nz-option>
                        <nz-option nzValue="Fees Charge" nzLabel="Fees Charge"></nz-option>
                        <nz-option nzValue="Repayment" nzLabel="Repayment"></nz-option>
                        <nz-option nzValue="Reverse" nzLabel="Reverse"></nz-option>
                        <nz-option nzValue="Expense Spend" nzLabel="Expense Spend"></nz-option>
                    </nz-select>
                    <nz-select class="mx-1" style=" width: 10rem;" [(ngModel)]="selectedStatus" (ngModelChange)="fetchTransactionList()"
                        nzPlaceHolder="Filter By Status">
                        <nz-option nzValue="Success" nzLabel="Success"></nz-option>
                        <nz-option nzValue="Fail" nzLabel="Fail"></nz-option>
                        <nz-option nzValue="Reject" nzLabel="Reject"></nz-option>
                    </nz-select> -->
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-md-4 mb-3 d-flex">
                    <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                        <input (keyup.enter)="getManualTransactionList()" [(ngModel)]="searchValue" type="text" nz-input
                            placeholder="Search text" />
                    </nz-input-group>
                    <ng-template #suffixIconButton>
                        <button (click)="getManualTransactionList()" nz-button nzType="secondary" nzSearch><i nz-icon
                                nzType="search"></i></button>
                    </ng-template>
                </div>
                <div class="col-md-8 mb-3 d-flex justify-content-md-end">
                    <button nz-button nzType="default" nzShape="circle" nz-tooltip nzTooltipTitle="Reset Filter"
                        class="mr-2" (click)="resetFilter()">
                        <i nz-icon nzType="undo"></i>
                    </button>
                    <nz-date-picker [(ngModel)]="date" (ngModelChange)="getManualTransactionList()"></nz-date-picker>
                </div>
            </div> -->
            <nz-table [nzData]="listOfData" [nzTotal]="total_count" [nzFrontPagination]="false" [nzShowSizeChanger]="true"
                [nzPageIndex]="page" [nzPageSize]="globalPageSize"
                (nzQueryParams)="listOfData ? getManualTransactionList($event) : ''" 
                [nzLoading]="api_calling_loader" [nzScroll]="{ x: '100%', y: '45vh' }">
                <thead>
                    <tr>
                        <th nzWidth="5rem">#</th>
                        <th>File Name</th>
                        <th>{{ selectedTab == 'pending' ? 'Date & Time' : 'Added on'}}</th>
                        <th>Added By</th>
                        <th *ngIf="selectedTab == 'approved'">Approved By</th>
                        <th *ngIf="selectedTab == 'approved'">Approved on</th>
                        <th *ngIf="selectedTab == 'rejected'">Rejected By</th>
                        <th *ngIf="selectedTab == 'rejected'">Rejected on</th>
                        <th *ngIf="selectedTab == 'rejected'">Remarks</th>
                        <th [nzWidth]="selectedTab == 'pending' ? '20rem' : '8rem'" nzRight> Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let data of listOfData; index as i">
                        <tr>
                            <td *ngIf="page === 1">{{i+1}}</td>
                            <td *ngIf="page > 1">{{((page-1)*globalPageSize)+(i+1)}}</td>
                            <td>{{ data?.file_name ? data?.file_name : '-' }}</td>
                            <td>{{ data?.created_at | date: 'medium' }}</td>
                            <td>
                                <h5>{{data?.created_by_name ? data?.created_by_name : '-'}}</h5>
                                <!-- <span>Contact No: {{data.pan}}</span> -->
                            </td>
                            <td *ngIf="selectedTab == 'approved'">
                                <h5>{{data?.verified_by ? data?.verified_by : '-'}}</h5>
                                <span>Contact No: {{data.verified_by_phone ? data.verified_by_phone : '-'}}</span>
                            </td>
                            <td *ngIf="selectedTab == 'approved'">{{ data?.updated_at | date: 'medium' }}</td>
                            <td *ngIf="selectedTab == 'rejected'">
                                <h5>{{data?.verified_by ? data?.verified_by : '-'}}</h5>
                                <span>Contact No: {{data.verified_by_phone ? data.verified_by_phone : '-'}}</span>
                            </td>
                            <td *ngIf="selectedTab == 'rejected'">{{ data?.updated_at | date: 'medium' }}</td>
                            <td *ngIf="selectedTab == 'rejected'">{{ data?.remarks ? data?.remarks : '-'}}</td>
                            <td nzRight>
                                <span *ngxPermissionsOnly="['view_app_change_bill_date']"><a class="mr-3"
                                        *ngIf="selectedTab == 'pending'"
                                        (click)="fetchPreviewAfterList(data, true)">Preview</a></span>
                                <a class="mr-3" [href]="data?.imported_file" download>Download</a>
                                <a class="mr-3" *ngIf="selectedTab == 'pending'"
                                    (click)="fetchPreviewAfterList(data, false)">Approve </a>
                                <a *ngIf="selectedTab == 'pending'" (click)="clickOnReject(data.id)">Reject </a>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </nz-table>
        </nz-card>
    </div>
</section>


<!-- Import excel -->
<nz-modal [(nzVisible)]="isImport" nzTitle="Import Excel" [nzFooter]="null" (nzOnCancel)="isImport = false"
    nzOkText="Submit">
    <ng-container *nzModalContent>
        <div class="row">
            <div class="col-md-12">
                <nz-upload nzType="drag" [nzMultiple]="false" [nzBeforeUpload]="beforeUploadName">
                    <p class="ant-upload-text">Drag and Drop file here</p>
                    <button class="mt-md-5" nz-button nzType="primary">Browse</button>
                </nz-upload>
            </div>
        </div>
    </ng-container>
</nz-modal>

<!-- preview -->
<nz-modal [nzWidth]="700" [(nzVisible)]="isPreview" nzTitle="Preview for : {{preview_file_name}}" [nzFooter]="null"
    (nzOnCancel)="isPreview = false" (nzOnOk)="isPreview = false;">
    <ng-container *nzModalContent>
        <nz-table [nzFrontPagination]="false" [nzData]="previewData">
            <thead>
                <th>#</th>
                <th>Loan ID</th>
                <th>New Credit Line</th>
                <th>Activation Date</th>
            </thead>
            <tbody>
                <tr *ngFor="let item of previewData; index as i">
                    <td>{{i+1}}</td>
                    <td>{{item['Loan ID'] ? item['Loan ID'] : '-'}}</td>
                    <td>{{item['New Credit Line'] ? item['New Credit Line'] : '-'}}</td>
                    <td>{{item['Activation Date'] ? (item['Activation Date'] | date: 'dd/MM/yyyy') : '-'}}</td>
                </tr>
            </tbody>
        </nz-table>
    </ng-container>
</nz-modal>

<!-- Approve -->
<nz-modal [nzWidth]="700" [(nzVisible)]="isApprove" (nzOnCancel)="isApprove = false"
    nzTitle="Preview for : {{preview_file_name}}" [nzFooter]="modalFooter">
    <ng-container *nzModalContent>
        <nz-table [nzFrontPagination]="false" [nzData]="previewData">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Loan ID</th>
                    <th>New Credit Line</th>
                    <th>Activation Date</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of previewData; index as i">
                    <td>{{i+1}}</td>
                    <td>{{item['Loan ID'] ? item['Loan ID'] : '-'}}</td>
                    <td>{{item['New Credit Line'] ? item['New Credit Line'] : '-'}}</td>
                    <td>{{item['Activation Date'] ? (item['Activation Date'] | date: 'dd/MM/yyyy') : '-'}}</td>
                </tr>
            </tbody>
        </nz-table>
    </ng-container>
    <ng-template #modalFooter>
        <button nz-button nzType="default" (click)="isApprove = false">Cancel</button>
        <button nz-button nzType="primary" (click)="approveTransaction()"
            [nzLoading]="is_approve_loading">Approve</button>
    </ng-template>
</nz-modal>


<!-- Approve Success -->
<nz-modal [nzWidth]="500" [(nzVisible)]="isApprovedSuccess" [nzFooter]="null" [nzClosable]="false"
    (nzOnCancel)="isApprovedSuccess = false; getManualTransactionList()">
    <ng-container *nzModalContent>
        <app-double-confirmation-popup [title]="'Approved Successfully!'" [subTitle]="''"
            [icon]="'assets/images/done.png'" (onOkCall)="isApprovedSuccess = false; getManualTransactionList()"
            (onCencelCall)="isApprovedSuccess = false; getManualTransactionList()" [cancelBtnTxt]="''"
            [submitBtnTxt]="''">
        </app-double-confirmation-popup>
    </ng-container>
</nz-modal>


<!-- preview brfore upload -->
<nz-modal [nzWidth]="700" [(nzVisible)]="isPreviewBeforeUpload" nzTitle="Preview for : {{preview_file_name}}"
    [nzFooter]="modalFooterupload" (nzOnCancel)="isPreviewBeforeUpload = false"
    (nzOnOk)="isPreviewBeforeUpload = false;">
    <ng-container *nzModalContent>
        <nz-table [nzFrontPagination]="false" [nzData]="previewBeforeUpload">
            <thead>
                <tr>
                    <th>Sr. no</th>
                    <th>Loan ID</th>
                    <th>New Credit Line</th>
                    <th>Activation Date</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of previewBeforeUpload; index as i">
                    <td>{{i+1}}</td>
                    <td>{{item['Loan ID'] ? item['Loan ID'] : '-'}}</td>
                    <td>{{item['New Credit Line'] ? item['New Credit Line'] : '-'}}</td>
                    <td>{{item['Activation Date'] ? (item['Activation Date'] | date: 'dd/MM/yyyy') : '-'}}</td>
                    <td>
                        <span *ngIf="item.line_status == 'Error'" class="text-danger">Error &nbsp;
                            <i nz-icon nzType="info-circle" nzTheme="outline" nz-popover
                                [nzPopoverContent]="contentTemplate" nzPopoverPlacement="top"></i>
                        </span>
                        <span *ngIf="item.line_status == 'Success'" class="text-success">Success</span>
                        <ng-template #contentTemplate>
                            <div class="px-3">
                                <ul *ngFor="let err of item.message">
                                    <li class="text-danger">{{err}}</li>
                                </ul>
                            </div>
                        </ng-template>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </ng-container>
    <ng-template #modalFooterupload>
        <button nz-button nzType="default" (click)="isPreviewBeforeUpload = false">Cancel</button>
        <button nz-button nzType="primary" (click)="uploadTransaction()" [nzLoading]="is_upload_loading">Upload</button>
    </ng-template>
</nz-modal>
<!-- success upload -->
<nz-modal [nzWidth]="500" [(nzVisible)]="uploadSuccessfully" [nzFooter]="null" [nzClosable]="false"
    (nzOnCancel)="uploadSuccessfully = false; getManualTransactionList()">
    <ng-container *nzModalContent>
        <app-double-confirmation-popup [title]="'Upload Successfully!'" [subTitle]="''"
            [icon]="'assets/images/done.png'" (onOkCall)="uploadSuccessfully = false; getManualTransactionList()"
            (onCencelCall)="uploadSuccessfully = false; getManualTransactionList()" [cancelBtnTxt]="''"
            [submitBtnTxt]="''">
        </app-double-confirmation-popup>
    </ng-container>
</nz-modal>
<!-- failed upload -->
<nz-modal [(nzVisible)]="isFail" [nzFooter]="null" [nzClosable]="false">
    <ng-container *nzModalContent>
        <app-double-confirmation-popup [title]="''" [subTitle]="'Errors found in the uploaded sheet. Please try again'"
            [icon]="'assets/images/fail.png'" (onOkCall)="isImport = true;isFail = false"
            (onCencelCall)="isFail = false" [cancelBtnTxt]="'Cancel'" [submitBtnTxt]="'Import Excel'">
        </app-double-confirmation-popup>
    </ng-container>
</nz-modal>


<nz-modal [(nzVisible)]="isReject" nzTitle="Reject" (nzOnCancel)="isReject = false; rejactRemarks=''"
    [nzFooter]="modalFooter1">
    <ng-container *nzModalContent>
        <div class="row">
            <div class="col-md-12">
                <nz-form-item>
                    <nz-form-label [nzSm]="8" [nzXs]="24" class="text-left" nzRequired>Add Remarks</nz-form-label>
                    <nz-form-control [nzSm]="16" [nzXs]="24">
                        <textarea nz-input nzAutosize [(ngModel)]="rejactRemarks"
                            [nzAutosize]="{ minRows: 3, maxRows: 5 }"></textarea>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
    </ng-container>
    <ng-template #modalFooter1>
        <button nz-button nzType="default" (click)="isReject = false; rejactRemarks=''">Cancel</button>
        <button nz-button nzType="primary" (click)="rejectTransaction()" [disabled]="!rejactRemarks"
            [nzLoading]="is_approve_loading">Submit</button>
    </ng-template>
</nz-modal>


<!-- Reject Success -->
<nz-modal [nzWidth]="500" [(nzVisible)]="isRejectSuccess" [nzFooter]="null" [nzClosable]="false"
    (nzOnCancel)="isRejectSuccess = false">
    <ng-container *nzModalContent>
        <app-double-confirmation-popup [title]="'Rejected Successfully!'" [subTitle]="''"
            [icon]="'assets/images/done.png'" (onOkCall)="isRejectSuccess = false"
            (onCencelCall)="isRejectSuccess = false" [cancelBtnTxt]="''" [submitBtnTxt]="''">
        </app-double-confirmation-popup>
    </ng-container>
</nz-modal>