<section>
    <nz-card nzTitle="Add Product Details" [nzActions]="[actionSubmit]" [nzLoading]="isLoading">
        <form nz-form [formGroup]="createEditForm">
            <div class="row">
                <div class="col-md-12">
                    <nz-form-item>
                        <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="name" class="text-left" nzRequired>Product Name</nz-form-label>
                        <nz-form-control [nzSm]="8" [nzXs]="24" nzErrorTip="Please input Product Name!">
                            <input nz-input type="text" formControlName="name" />
                        </nz-form-control>
                    </nz-form-item>
                </div>
                
                <div class="col-md-12">
                    <nz-form-item>
                        <nz-form-label [nzSm]="4" [nzXs]="24" class="text-left">Product Code</nz-form-label>
                        <nz-form-control [nzSm]="8" [nzXs]="24">
                            <nz-form-label class="text-left" nzNoColon>{{productDetails?.product_code}}</nz-form-label>
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <div class="col-md-12">
                    <nz-form-item>
                        <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="product_master" class="text-left" nzRequired>Master Product</nz-form-label>
                        <nz-form-control [nzSm]="8" [nzXs]="24" nzErrorTip="Please select Master Product!">
                            <nz-radio-group formControlName="product_master" (ngModelChange)="changeProductMaster($event)">
                                <label nz-radio nzValue="1">FatakPay</label>
                                <label nz-radio nzValue="2">Fatak EMI</label>
                              </nz-radio-group>
                        </nz-form-control>
                        <nz-form-label [nzSm]="4" [nzXs]="24" class="ml-auto text-left">Created at</nz-form-label>
                        <nz-form-label [nzSm]="3" [nzXs]="24" [nzNoColon]="true" class="text-left">{{productDetails ? (productDetails.created_at | date: 'yyyy-MM-dd') : '-'}}</nz-form-label>
                    </nz-form-item>
                </div>
                <!-- <div class="col-md-12">
                    <nz-form-item>
                        <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="default_nbfc" class="text-left" nzRequired>Default NBFS</nz-form-label>
                        <nz-form-control [nzSm]="8" [nzXs]="24" nzErrorTip="Please select Default NBFS!">
                            <nz-select formControlName="default_nbfc" nzPlaceHolder="Select Default NBFS"
                            (nzFocus)="fetchNBFCdata()" nzShowSearch nzAllowClear>
                                <nz-option *ngFor="let item of nbfcsList" [nzValue]="item.pk" [nzLabel]="item.name"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div> -->
                <div class="col-md-12">
                    <nz-form-item>
                        <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="activation_date" class="text-left" nzRequired>Activation Date</nz-form-label>
                        <nz-form-control [nzSm]="8" [nzXs]="24" nzErrorTip="Please select Activation Date!">
                            <nz-date-picker formControlName="activation_date" [nzFormat]="'yyyy-MM-dd'"></nz-date-picker>
                        </nz-form-control>
                        <nz-form-label [nzSm]="4" [nzXs]="24" class="ml-auto text-left">Created by</nz-form-label>
                        <nz-form-label [nzSm]="3" [nzXs]="24" [nzNoColon]="true"  class="text-left">{{productDetails ? productDetails.created_by?.first_name : '-'}}</nz-form-label>
                    </nz-form-item>
                </div>
                <div class="col-md-12">
                    <nz-form-item>
                        <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="inactivation_date" class="text-left">Inactivation Date</nz-form-label>
                        <nz-form-control [nzSm]="8" [nzXs]="24" nzErrorTip="Please select Inactivation Date!">
                            <nz-date-picker formControlName="inactivation_date" [nzFormat]="'yyyy-MM-dd'"></nz-date-picker>
                        </nz-form-control>
                        <nz-form-label [nzSm]="4" [nzXs]="24" class="ml-auto text-left">Updated at</nz-form-label>
                        <nz-form-label [nzSm]="3" [nzXs]="24" [nzNoColon]="true" class="text-left">{{productDetails ? (productDetails.updated_at | date: 'yyyy-MM-dd') : '-'}}</nz-form-label>
                    </nz-form-item>
                </div>
                <div class="col-md-12">
                    <nz-form-item>
                        <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="remarks" class="text-left">Remarks</nz-form-label>
                        <nz-form-control [nzSm]="8" [nzXs]="24" nzErrorTip="Please select Remarks!">
                            <textarea nz-input formControlName="remarks"></textarea>
                        </nz-form-control>
                        <nz-form-label [nzSm]="4" [nzXs]="24" class="ml-auto text-left">Updated by</nz-form-label>
                        <nz-form-label [nzSm]="3" [nzXs]="24" [nzNoColon]="true" class="text-left">{{productDetails ? productDetails.updated_by?.first_name : '-'}}</nz-form-label>
                    </nz-form-item>
                </div>
                <h5 *ngIf="createEditForm.get('product_master').value == '2'">EMI Tenure</h5>
                <div class="col-md-12" *ngIf="createEditForm.get('product_master').value == '2'">
                    <ng-container *ngFor="let item of get_tenures(createEditForm); let k = index;" formArrayName="tenures">
                        <div class="row mx-0" [formGroupName]="k">
                            <div class="col-md-11" *ngIf="createEditForm.get('product_master').value == '2'">
                                
                                <nz-form-item>
                                    <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="emi_type" class="text-left" nzRequired>EMI Type
                                    </nz-form-label>
                                    <nz-form-control [nzSm]="8" [nzXs]="24" nzErrorTip="Please select EMI Type!">
                                        <nz-radio-group formControlName="emi_type">
                                            <label nz-radio [nzValue]="'Single'">Single</label>
                                            <label nz-radio [nzValue]="'Multiple'">Multiple</label>
                                        </nz-radio-group>
                                    </nz-form-control>
                                </nz-form-item>
                                <nz-form-item>
                                    <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="tenure" class="text-left" nzRequired>Select Tenure
                                    </nz-form-label>
                                    <nz-form-control [nzSm]="4" [nzXs]="24" nzErrorTip="Please select Tenure Unit!">
                                        <nz-select formControlName="tenure_unit" nzPlaceHolder="Select Tenure Unit">
                                            <nz-option *ngFor="let item of tenureList" [nzValue]="item.value" [nzLabel]="item.name"></nz-option>
                                        </nz-select>
                                    </nz-form-control>
                                    <nz-form-control [nzSm]="4" [nzXs]="24" nzErrorTip="Please enter Tenure!" class="ml-3">
                                        <input nz-input type="number" (keydown)="http.restrictType($event)" min="0" formControlName="tenure" placeholder="Please enter Tenure" (keyup)="setNoOfEmisValue(k)"/>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                            
                            <label class="text-left d-flex mx-2 pointer" *ngIf="k > 0" nz-popconfirm nzPopconfirmTitle="Are you sure remove tenure?"
                                nzPopconfirmPlacement="topLeft" (nzOnConfirm)="removeSlab(item, k)">
                                <i nz-icon nzType="close-circle" class="font-size-24 text-danger" nzTheme="outline"></i>
                            </label>
                            <div class="col-md-12" *ngIf="createEditForm.get('product_master').value == '2'">
                                <nz-form-item>
                                    <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="rate_of_interest" class="text-left" nzRequired>Interest Rate(%)
                                    </nz-form-label>
                                    <nz-form-control [nzSm]="8" [nzXs]="24" nzErrorTip="Please input Interest Rate(%)!">
                                        <nz-input-group [nzAddOnAfter]="addOnAfterTemplate">
                                            <input nz-input type="number" (keydown)="http.restrictType($event)" min="0" formControlName="rate_of_interest" />
                                        </nz-input-group>
                                        <ng-template #addOnAfterTemplate>
                                            <span>%</span>
                                        </ng-template>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                            <div class="col-md-12" *ngIf="createEditForm.get('product_master').value == '2'">
                                <nz-form-item>
                                    <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="emi_details" class="text-left">EMI Details</nz-form-label>
                                    <nz-form-control [nzSm]="8" [nzXs]="24" nzErrorTip="Please select EMI Details!">
                                        <textarea nz-input formControlName="emi_details" placeholder="Please input EMI Details"></textarea>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                            <div class="col-md-12" *ngIf="createEditForm.get('product_master').value == '2'">
                                <nz-form-item>
                                    <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="advance_emi" class="text-left">Advance EMI</nz-form-label>
                                    <nz-form-control [nzSm]="8" [nzXs]="24" nzErrorTip="Please input Advance EMI!">
                                        <input nz-input type="number" (keydown)="http.restrictType($event)" min="0" formControlName="advance_emi" placeholder="Please input Advance EMI"/>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>
                    
                    </ng-container>
                </div>
                <button *ngIf="createEditForm.get('product_master').value == '2'" nz-button nzType="link" (click)="addTenure()">+Add Tenure</button>
                
            </div>
        </form>
    </nz-card>
    <ng-template #actionSubmit>
        <div class="row no-gutters" *ngIf="!router.url.includes('view-product')">
            <div class="col-12 d-flex justify-content-end px-4">
                <button nz-button nzType="primary" [disabled]="createEditForm.invalid" [nzLoading]="isLoading" (click)="submitForm()">Submit</button>
            </div>
        </div>
    </ng-template>
</section>