<div class="header_breadcrumb_section">
    <button nz-button nzType="primary" class="ml-auto" [routerLink]="['../product/create-product']" *ngxPermissionsOnly="['add_product']">+ Create Product</button>
</div>
<section>
    <div class="row">
        <nz-card class="w-100 mb-0">
            <div class="row">
                <div class="col-md-4 mb-3 d-flex">
                    <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                        <input type="text"nz-input placeholder="Search text" [(ngModel)]="search_params" (keyup.enter)="fetchProductList()"/>
                    </nz-input-group>
                    <ng-template #suffixIconButton>
                        <button nz-button nzType="secondary" nzSearch (click)="fetchProductList()"><i nz-icon nzType="search"></i></button>
                    </ng-template>
                    <button nz-button nzType="default" nzShape="circle" nz-tooltip nzTooltipTitle="Reset Filter"  class="ml-2" (click)="resetFilters()">
                        <i nz-icon nzType="undo"></i>
                    </button>
                </div>
                <div class="col-md-8 mb-3 d-flex justify-content-md-end flex-wrap">
                    <nz-select class="mx-1 mb-2" style="min-width: 10rem;" nzAllowClear [(ngModel)]="draft_status" (ngModelChange)="fetchProductList()"
                        nzPlaceHolder="Filter By Draft Status">
                        <nz-option [nzValue]="'yes'" nzLabel="Yes"></nz-option>
                        <nz-option [nzValue]="'no'" nzLabel="No"></nz-option>
                    </nz-select>
                    <nz-select class="mx-1 mb-2" style="min-width: 10rem;" nzAllowClear [(ngModel)]="product_master" (ngModelChange)="fetchProductList()"
                        nzPlaceHolder="Filter By Product Master">
                        <nz-option nzValue="1" nzLabel="FatakPay"></nz-option>
                        <nz-option nzValue="2" nzLabel="Fatak EMI"></nz-option>
                    </nz-select>
                    <nz-select class="mx-1 mb-2" style="min-width: 10rem;" nzAllowClear [(ngModel)]="status" (ngModelChange)="fetchProductList()"
                        nzPlaceHolder="Filter By status">
                        <nz-option nzValue="active" nzLabel="Active"></nz-option>
                        <nz-option nzValue="inactive" nzLabel="Inactive"></nz-option>
                    </nz-select>
                    <nz-select class="mx-1 mb-2" style="min-width: 10rem;" nzAllowClear [(ngModel)]="partner" (ngModelChange)="fetchProductList()"
                        nzPlaceHolder="Filter By Partner"(nzFocus)="fetchPartnerData()" nzShowSearch>
                        <nz-option *ngFor="let item of partnerData" [nzValue]="item.pk" [nzLabel]="item.name">
                        </nz-option>
                    </nz-select>
                    <nz-range-picker style="min-width: 10rem;" [(ngModel)]="date" [nzDisabledDate]="disabledDate"
                        (ngModelChange)="fetchProductList()" [nzRanges]="customRanges"></nz-range-picker>
                </div>
            </div>
            <nz-table #basicTable [nzFrontPagination]="false" [nzData]="productList" [nzPageIndex]="page" [nzShowSizeChanger]="true" [nzTotal]="total_count" [nzPageSize]="globalPageSize"
            [nzScroll]="{ x: '2200px', y: '45vh' }" [nzLoading]="api_calling_loader" (nzQueryParams)="productList ? fetchProductList($event) : ''">
                <thead>
                    <tr>
                        <th nzWidth="3rem">#</th>
                        <th>Name</th>
                        <th>Product Master</th>
                        <th>Master Partners</th>
                        <th>Partners</th>
                        <th>NBFC's Mapped</th>
                        <th>Fees Type</th>
                        <th>Status</th>
                        <th>Draft Status</th>
                        <th>Activated on</th>
                        <th>Created at</th>
                        <th>Created by</th>
                        <th>Updated at</th>
                        <!-- <th>Updated by</th> -->
                        <th nzWidth="5rem" nzRight>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of productList; index as i">
                        <td *ngIf="page === 1">{{i+1}}</td>
                        <td *ngIf="page > 1">{{((page-1)*globalPageSize)+(i+1)}}</td>
                        <td>{{ data.name ? data.name : '-' }}</td>
                        <td>{{ data.product_master ? data.product_master.name : '-' }}</td>
                        <td><span class="pointer text-blue" *ngIf="data.master_partners > 0"
                                nz-popover [nzPopoverContent]="contentTemplate1" nzPopoverTrigger="click" nzPopoverPlacement="top">{{ data.master_partners > 0 ? data.master_partners : '-' }}</span>
                            <ng-template #contentTemplate1>
                                    <div>
                                        <nz-table #basicTable [nzData]="data.master_partners_list" [nzFrontPagination]="false" [nzShowPagination]="false">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Master partner</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let item of basicTable.data; index as k">
                                                    <td>{{ k + 1}}</td>
                                                    <td>{{item.display_name}}</td>
                                                </tr>
                                            </tbody>
                                        </nz-table>
                                    </div>
                                </ng-template>
                                <span *ngIf="data.master_partners <= 0">{{data.master_partners == 0 ? data.master_partners: '-'}}</span>
                        </td>
                        <td><span class="pointer text-blue" *ngIf="data.partners > 0"
                                nz-popover [nzPopoverContent]="contentTemplate2" nzPopoverTrigger="click" nzPopoverPlacement="top">{{ data.partners > 0 ? data.partners : '-' }}</span>
                            <ng-template #contentTemplate2>
                                    <div>
                                        <nz-table #basicTable [nzData]="data.partners_list" [nzFrontPagination]="false" [nzShowPagination]="false">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>partner</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let item of basicTable.data; index as k">
                                                    <td>{{ k + 1}}</td>
                                                    <td>{{item.display_name}}</td>
                                                </tr>
                                            </tbody>
                                        </nz-table>
                                    </div>
                                </ng-template>
                                <span *ngIf="data.partners <= 0">{{data.partners == 0 ? data.partners: '-'}}</span>
                        </td>
                        <td><span class="pointer text-blue" *ngIf="data.nbfcs > 0"
                                nz-popover [nzPopoverContent]="contentTemplate3" nzPopoverTrigger="click" nzPopoverPlacement="top">{{ data.nbfcs > 0 ? data.nbfcs : '-' }}</span>
                            <ng-template #contentTemplate3>
                                    <div>
                                        <nz-table #basicTable [nzData]="data.nbfc_list" [nzFrontPagination]="false" [nzShowPagination]="false">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>NBFC</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let item of basicTable.data; index as k">
                                                    <td>{{ k + 1}}</td>
                                                    <td>{{item.display_name}}</td>
                                                </tr>
                                            </tbody>
                                        </nz-table>
                                    </div>
                                </ng-template>
                                <span *ngIf="data.nbfcs <= 0">{{data.nbfcs == 0 ? data.nbfcs: '-'}}</span>
                        </td>
                        <td>{{ data.fees_type >= 0 ? data.fees_type : '-' }}</td>
                        <td>{{ data.is_active ? 'Active' : 'Inactive'  }}</td>
                        <td>{{ data.is_draft ? 'Draft' : 'Complete'  }} &nbsp;
                            <i nz-icon nzType="info-circle" class="text-danger" nzTheme="outline" *ngIf="data.is_draft"
                                nz-popover [nzPopoverContent]="contentTemplate" nzPopoverPlacement="top"></i>
                                <ng-template #contentTemplate>
                                    <div class="px-3">
                                        <ul *ngFor="let item of data.draft_reason">
                                            <li class="text-danger">{{item}}</li>
                                        </ul>
                                    </div>
                                </ng-template>
                        </td>
                        <td>{{ data.activation_date | date: "mediumDate" }}</td>
                        <td>{{ data.created_at | date: "mediumDate"}} {{data.created_at | date: "shortTime" }}</td>
                        <td>{{ data.created_by ? data.created_by?.first_name : '-' }}</td>
                        <td>{{ data.updated_at | date: "mediumDate"}} {{data.updated_at | date: "shortTime" }}</td>
                        <!-- <td>{{ data.updated_by ? data.updated_by?.first_name : '-' }}</td> -->
                        <td nzRight>
                            <div>
                                <a class="text-dark font-size-20" nz-dropdown [nzClickHide]="false" [nzTrigger]="'click'"
                                    [nzPlacement]="'bottomRight'" [nzDropdownMenu]="latestUploadDropDown">
                                    <img src="assets/images/ellipsis.png" alt="" width="30">
                                </a>
                                <nz-dropdown-menu #latestUploadDropDown="nzDropdownMenu">
                                    <ul nz-menu>    
                                        <li nz-menu-item [routerLink]="['../product/view-product']" [queryParams]="{id: data.id}">
                                            <span class="m-l-5">View</span>
                                        </li> 
                                        <li nz-menu-item *ngxPermissionsOnly="['edit_product']" [routerLink]="['../product/edit-product']" [queryParams]="{id: data.id}">
                                            <span class="m-l-5">Edit</span>
                                        </li> 
                                        <li nz-menu-item *ngIf="!data.is_active" nz-popconfirm nzPopconfirmTitle="Are you sure Activate Product?"
                                        nzPopconfirmPlacement="topLeft"
                                        (nzOnConfirm)="activeInactiveProduct(data.id)">
                                            <span class="m-l-5">Activate</span>
                                        </li> 
                                        <li nz-menu-item *ngIf="data.is_active" nz-popconfirm nzPopconfirmTitle="Are you sure Deactivate Product?"
                                        nzPopconfirmPlacement="topLeft"
                                        (nzOnConfirm)="activeInactiveProduct(data.id)">
                                            <span class="m-l-5">Deactivate</span>
                                        </li>
                                    </ul>
                                </nz-dropdown-menu>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </nz-table>
            <div class="total_count_text" *ngIf="total_count">
                <b>Total Count : </b>{{total_count}}
            </div>
        </nz-card>
    </div>
</section>