<div class="header_breadcrumb_section">
    <button nz-button nzType="primary" class="ml-auto" [routerLink]="['../product/create-product']">+ Create Product</button>
</div>
<section>
    <div class="row">
        <nz-card class="w-100 mb-0">
            <div class="row">
                <div class="col-md-4 mb-3 d-flex">
                    <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                        <input type="text"nz-input placeholder="Search text" [(ngModel)]="search_params" (keyup.enter)="fetchProductList()"/>
                    </nz-input-group>
                    <ng-template #suffixIconButton>
                        <button nz-button nzType="secondary" nzSearch (click)="fetchProductList()"><i nz-icon nzType="search"></i></button>
                    </ng-template>
                    <button nz-button nzType="default" nzShape="circle" nz-tooltip nzTooltipTitle="Reset Filter"  class="ml-2" (click)="resetFilters()">
                        <i nz-icon nzType="undo"></i>
                    </button>
                </div>
                <div class="col-md-8 mb-3 d-flex justify-content-md-end">
                    <nz-select class="mx-1" style="min-width: 12rem;" nzAllowClear [(ngModel)]="draft_status" (ngModelChange)="fetchProductList()"
                        nzPlaceHolder="Filter By Draft Status">
                        <nz-option [nzValue]="'yes'" nzLabel="Yes"></nz-option>
                        <nz-option [nzValue]="'no'" nzLabel="No"></nz-option>
                    </nz-select>
                    <nz-select class="mx-1" style="min-width: 12rem;" nzAllowClear [(ngModel)]="product_master" (ngModelChange)="fetchProductList()"
                        nzPlaceHolder="Filter By Product Master">
                        <nz-option nzValue="1" nzLabel="FatakPay"></nz-option>
                        <nz-option nzValue="2" nzLabel="Fatak EMI"></nz-option>
                    </nz-select>
                    <nz-select class="mx-1" style="min-width: 12rem;" nzAllowClear [(ngModel)]="status" (ngModelChange)="fetchProductList()"
                        nzPlaceHolder="Filter By status">
                        <nz-option nzValue="active" nzLabel="Active"></nz-option>
                        <nz-option nzValue="inactive" nzLabel="Inactive"></nz-option>
                    </nz-select>
                </div>
            </div>
            <nz-table #basicTable [nzFrontPagination]="false" [nzData]="productList" [nzPageIndex]="page" [nzShowSizeChanger]="true" [nzTotal]="total_count" [nzPageSize]="globalPageSize"
            [nzScroll]="{ x: '2200px', y: '45vh' }" [nzLoading]="api_calling_loader" (nzQueryParams)="productList ? fetchProductList($event) : ''">
                <thead>
                    <tr>
                        <th nzWidth="3rem">#</th>
                        <th>Name</th>
                        <th>Product Master</th>
                        <th>Master Partners</th>
                        <th>Partners</th>
                        <th>NBFC's Mapped</th>
                        <th>Fees Type</th>
                        <th>Status</th>
                        <th>Draft Status</th>
                        <th>Activated on</th>
                        <th>Created at</th>
                        <th>Created by</th>
                        <th>Updated at</th>
                        <th>Updated by</th>
                        <th nzWidth="5rem" nzRight>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of productList; index as i">
                        <td *ngIf="page === 1">{{i+1}}</td>
                        <td *ngIf="page > 1">{{((page-1)*globalPageSize)+(i+1)}}</td>
                        <td>{{ data.name ? data.name : '-' }}</td>
                        <td>{{ data.product_master ? data.product_master.name : '-' }}</td>
                        <td>{{ data.master_partners >= 0 ? data.master_partners : '-' }}</td>
                        <td>{{ data.partners >= 0 ? data.partners : '-' }}</td>
                        <td>{{ data.nbfcs >= 0 ? data.nbfcs : '-' }}</td>
                        <td>{{ data.fees_type >= 0 ? data.fees_type : '-' }}</td>
                        <td>{{ data.is_active ? 'Active' : 'Inactive'  }}</td>
                        <td>{{ data.is_draft ? 'Draft' : 'Complete'  }}</td>
                        <td>{{ data.activation_date | date: "mediumDate" }}</td>
                        <td>{{ data.created_at | date: "mediumDate"}} {{data.created_at | date: "shortTime" }}</td>
                        <td>{{ data.created_by ? data.created_by?.first_name : '-' }}</td>
                        <td>{{ data.updated_at | date: "mediumDate"}} {{data.updated_at | date: "shortTime" }}</td>
                        <td>{{ data.updated_by ? data.updated_by?.first_name : '-' }}</td>
                        <td nzRight>
                            <div>
                                <a class="text-dark font-size-20" nz-dropdown [nzClickHide]="false" [nzTrigger]="'click'"
                                    [nzPlacement]="'bottomRight'" [nzDropdownMenu]="latestUploadDropDown">
                                    <img src="assets/images/ellipsis.png" alt="" width="30">
                                </a>
                                <nz-dropdown-menu #latestUploadDropDown="nzDropdownMenu">
                                    <ul nz-menu>    
                                        <li nz-menu-item [routerLink]="['../product/view-product']" [queryParams]="{id: data.id}">
                                            <span class="m-l-5">View</span>
                                        </li> 
                                        <li nz-menu-item [routerLink]="['../product/edit-product']" [queryParams]="{id: data.id}">
                                            <span class="m-l-5">Edit</span>
                                        </li> 
                                        <li nz-menu-item *ngIf="!data.is_active" nz-popconfirm nzPopconfirmTitle="Are you sure Activate Product?"
                                        nzPopconfirmPlacement="topLeft"
                                        (nzOnConfirm)="activeInactiveProduct(data.id)">
                                            <span class="m-l-5">Activate</span>
                                        </li> 
                                        <li nz-menu-item *ngIf="data.is_active" nz-popconfirm nzPopconfirmTitle="Are you sure Deactivate Product?"
                                        nzPopconfirmPlacement="topLeft"
                                        (nzOnConfirm)="activeInactiveProduct(data.id)">
                                            <span class="m-l-5">Deactivate</span>
                                        </li>
                                    </ul>
                                </nz-dropdown-menu>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </nz-table>
            <div class="total_count_text" *ngIf="total_count">
                <b>Total Count : </b>{{total_count}}
            </div>
        </nz-card>
    </div>
</section>