.header_breadcrumb_section{
	padding-bottom: 2em;
    margin-top: -5em;
    display: flex;
    justify-content: end;
}

.wh-5 {
    width: 7rem;
    height: 7rem;
    font-size: 5rem;
    background-color: #F9F9F9;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
}


:host ::ng-deep .ant-table-body {
    max-height: calc(100vh - 527px) !important;
}