<div class="header_breadcrumb_section">
  <div class="d-flex justify-content-md-between flex-wrap w-100">
    <div></div>
    <div class="align-self-end font-size-20">
      <i nz-icon class="mr-2" nzType="user" nzTheme="outline"></i> Users :
      {{ total_count ? total_count : "0" }}
    </div>
    <div>
      <button
        nz-button
        nzType="primary"
        [disabled]="checkDisabledStatus()"
        class="ml-auto"
        *ngxPermissionsOnly="['update_dormant_status_application']"
        (click)="updateStatus('status')"
        [routerLink]=""
      >
        Update Status ({{ _checkedLoanList ? _checkedLoanList?.length : "0" }})
      </button>
      <button
        nz-button
        nzType="link"
        (click)="exportData('xlsx')"
        class="ml-3 border"
        [routerLink]=""
        *ngxPermissionsOnly="['export_dormant_application']"
      >
        Export
      </button>
    </div>
  </div>
</div>
<!-- Main Section  -->
<section>
  <nz-card class="w-100">
    <div class="row">
      <div class="col-md-3 mb-3 d-flex">
        <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
          <input
            type="text"
            [(ngModel)]="searchValue"
            (keyup.enter)="getFormLoanData()"
            nz-input
            placeholder="Search text"
          />
        </nz-input-group>
        <ng-template #suffixIconButton>
          <button
            nz-button
            nzType="secondary"
            (click)="getFormLoanData()"
            nzSearch
          >
            <i nz-icon nzType="search"></i>
          </button>
        </ng-template>
      </div>
      <div class="col-md-9 mt-md-0 mt-3 mb-3 d-flex justify-content-md-end">
        <button
          nz-button
          nzType="default"
          nzShape="circle"
          nz-tooltip
          nzTooltipTitle="Reset Filter"
          (click)="resetFilters()"
          class="mr-2"
        >
          <i nz-icon nzType="undo"></i>
        </button>
        <nz-select
          class="mx-3"
          nzAllowClear
          [(ngModel)]="productFilters"
          style="width: 12rem"
          (nzFocus)="onFocusMethod('product')"
          (ngModelChange)="getFormLoanData()"
          nzPlaceHolder="Select Product"
        >
          <nz-option
            *ngFor="let item of productList"
            [nzValue]="item.id"
            [nzLabel]="item.name"
          >
          </nz-option>
        </nz-select>
        <nz-select
          class="mx-1"
          nzAllowClear
          [(ngModel)]="stageFilters"
          style="width: 12rem"
          (ngModelChange)="getFormLoanData()"
          nzPlaceHolder="Select Stage"
        >
          <nz-option
            *ngFor="let item of stageList"
            [nzValue]="item?.name"
            [nzLabel]="item.name"
          >
          </nz-option>
        </nz-select>
        <nz-select
          [(ngModel)]="partner"
          nzShowSearch
          (nzFocus)="onFocusMethod('partner')"
          class="mr-3 my-md-0 my-3"
          style="width: 12rem"
          (ngModelChange)="getFormLoanData()"
          nzAllowClear
          nzPlaceHolder="Select Partner"
        >
          <nz-option
            *ngFor="let item of partnerList"
            [nzValue]="item?.pk"
            [nzLabel]="item?.name"
          ></nz-option>
          <nz-option nzValue="other" nzLabel="Others"></nz-option>
        </nz-select>
        <nz-select
          class="mr-3"
          nzMode="multiple"
          (nzFocus)="onFocusMethod('status')"
          style="width: 12rem"
          [(ngModel)]="filters"
          (ngModelChange)="getFormLoanData()"
          nzAllowClear
          [nzMaxTagCount]="1"
          [nzSize]="'small'"
          nzPlaceHolder="Select Status"
        >
          <nz-option
            *ngFor="let item of stageStatusList"
            [nzValue]="item.id"
            [nzLabel]="item.status"
          >
          </nz-option>
        </nz-select>
        <nz-select
          [(ngModel)]="moved_by"
          style="width: 12rem"
          class="mx-1"
          (ngModelChange)="getFormLoanData()"
          nzAllowClear
          nzPlaceHolder="Select Moved by"
        >
          <nz-option [nzValue]="'all'" [nzLabel]="'Both'"> </nz-option>
          <nz-option [nzValue]="'admin'" [nzLabel]="'Admin'"> </nz-option>
          <nz-option [nzValue]="'system'" [nzLabel]="'System'"> </nz-option>
        </nz-select>
        <nz-range-picker
          class="mx-1"
          style="width: 12rem"
          [(ngModel)]="date"
          [nzDisabledDate]="disabledDate"
          (ngModelChange)="getFormLoanData()"
          [nzRanges]="customRanges"
        ></nz-range-picker>
        <nz-select
          [(ngModel)]="date_sorter"
          style="width: 15rem"
          class="mx-1"
          (ngModelChange)="getFormLoanData()"
          nzAllowClear
          nzPlaceHolder="Sort by date"
        >
          <nz-option
            [nzValue]="'latest-apply_date'"
            [nzLabel]="'Latest apply date'"
          >
          </nz-option>
          <nz-option
            [nzValue]="'latest-edit_date'"
            [nzLabel]="'Latest edit date'"
          >
          </nz-option>
          <nz-option [nzValue]="'old-apply_date'" [nzLabel]="'Old apply date'">
          </nz-option>
          <nz-option [nzValue]="'old-edit_date'" [nzLabel]="'Old edit date'">
          </nz-option>
        </nz-select>
      </div>
    </div>

    <div class="accordianLoanApp">
      <nz-table
        #rowSelectionTable
        [nzData]="loanApplicationData"
        [nzTotal]="total_count"
        [nzFrontPagination]="false"
        [nzShowSizeChanger]="true"
        [nzPageIndex]="page"
        [nzPageSize]="globalPageSize"
        (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
        (nzQueryParams)="
          loanApplicationData[0] ? getFormLoanData($event) : null
        "
        [nzScroll]="{ x: '1500px', y: '' }"
        [nzLoading]="api_calling_loader['listLoader']"
      >
        <thead>
          <tr>
            <th nzWidth="2rem"></th>
            <th
              nzWidth="3rem"
              [nzChecked]="loanApplicationData[0] ? checked : false"
              [nzIndeterminate]="loanApplicationData[0] ? indeterminate : false"
              (nzCheckedChange)="
                loanApplicationData[0] ? onAllChecked($event) : false
              "
            ></th>
            <th nzWidth="100px">#</th>
            <th>Loan ID</th>
            <th nzWidth="14rem">User Details</th>
            <th>Apply Date & Time</th>
            <th>Master Partner</th>
            <th>Source Id</th>
            <th>Type</th>
            <th>Partner Id</th>
            <th>Reference Id</th>
            <th>Previous stage</th>
            <th>Move to stage on</th>
            <th>Latest Action Performed By</th>
            <th>Status</th>
            <th>Remarks</th>
            <th nzRight [nzWidth]="'5rem'">Action</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let data of loanApplicationData; index as i">
            <tr>
              <td
                nzWidth="2rem"
                [nzExpand]="expandSet.has(data.id)"
                (nzExpandChange)="onExpandChange(data.id, $event, i)"
              ></td>
              <td
                nzWidth="3rem"
                [nzChecked]="setOfCheckedId.has(data.id)"
                [nzDisabled]="data.disabled"
                (nzCheckedChange)="onItemChecked(data.id, $event)"
              ></td>
              <td>{{ i + 1 }}</td>
              <td>{{ data?.application_code }}</td>
              <td nzWidth="14rem">
                <div class="d-flex flex-column">
                  <div>
                    {{
                      data?.user?.first_name
                        ? data?.user?.first_name +
                          " " +
                          (data?.user?.last_name ? data?.user?.last_name : "")
                        : ""
                    }}
                  </div>
                  <div *ngIf="data?.user?.mobile" class="d-flex font-size-12">
                    Contact No: {{ data?.user?.mobile }}
                  </div>
                </div>
              </td>
              <td>
                <div class="d-flex flex-column">
                  <div>{{ data?.created_at | date : "shortDate" }}</div>
                  <div>{{ data?.created_at | date : "shortTime" }}</div>
                </div>
              </td>
              <td>
                {{ data?.master_partner ? data?.master_partner?.name : "-" }}
              </td>
              <td>{{ data?.source_id ? data?.source_id : "-" }}</td>
              <td>{{ data?.type ? data?.type : '-' }}</td>
              <td>{{ data?.partner?.name ? data?.partner?.name : "-" }}</td>
              <td>{{ data?.reference_id ? data?.reference_id : "-" }}</td>
              <td>{{ data?.last_stage ? data?.last_stage : "-" }}</td>
              <td>
                {{
                  data?.moved_to_stage_on
                    ? (data?.moved_to_stage_on | date : "shortDate")
                    : "-"
                }}
                {{
                  data?.moved_to_stage_on
                    ? (data?.moved_to_stage_on | date : "shortTime")
                    : ""
                }}
              </td>
              <td>
                {{
                  data?.latest_action_performed_by?.name
                    ? data?.latest_action_performed_by?.name
                    : "-"
                }}
              </td>
              <td>{{ data?.status ? data?.status : "-" }}</td>
              <td>
                <span nz-tooltip nzTooltipTitle="{{ data?.remarks }}">
                  {{
                    data?.remarks?.length >= 18
                      ? (data?.remarks | slice : 0 : 18)
                      : data?.remarks
                      ? data?.remarks
                      : "-"
                  }}
                </span>
              </td>
              <td nzRight [nzWidth]="'5rem'">
                <a
                  class="text-dark font-size-20"
                  nz-dropdown
                  [nzClickHide]="false"
                  [nzTrigger]="'click'"
                  [nzPlacement]="'bottomRight'"
                  [nzDropdownMenu]="latestUploadDropDown"
                >
                  <i nz-icon nzType="ellipsis" theme="outline"></i>
                </a>
                <nz-dropdown-menu #latestUploadDropDown="nzDropdownMenu">
                  <ul nz-menu>
                    <!-- [routerLink]="['edit-employee', data.id]" -->
                    <li nz-menu-item (click)="moveStageTo('original', data)">
                      <!-- <i nz-icon nzType="edit" theme="outline"></i> -->
                      <span class="m-l-5">Move to Original Stage </span>
                    </li>
                    <li
                      nz-menu-item
                      (click)="moveStageTo('underwriting', data)"
                    >
                      <span class="m-l-5">Move to Underwriting</span>
                    </li>
                    <li nz-menu-item>
                      <span class="m-l-5">Pull SMS Data</span>
                    </li>
                    <li nz-menu-item>
                      <span class="m-l-5">Pull Black Box Data</span>
                    </li>
                    <li nz-menu-item>
                      <span class="m-l-5"> Download Cibil File</span>
                    </li>
                    <li
                      nz-menu-item
                      [routerLink]="['track-status']"
                      [queryParams]="{ id: data?.id }"
                    >
                      <span class="m-l-5">Track Status</span>
                    </li>
                  </ul>
                </nz-dropdown-menu>
              </td>
            </tr>
            <tr [nzExpand]="expandSet.has(data.id)">
              <div class="row">
                <div class="col-md-12" *ngIf="data.id === _currentId">
                  <app-deatils [uploadPermission]="'Upload_Rejected_Document_Details'" [_currentId]="_currentId"></app-deatils>
                </div>
              </div>
            </tr>
          </ng-container>
        </tbody>
      </nz-table>
    </div>
  </nz-card>
</section>

<section *ngIf="_isViewDocument">
  <app-common-document-actions
    [action]="'viewDocument'"
    [_isOpenModal]="_isViewDocument ? true : false"
    [documentData]="_currentModalData"
    (close)="_isViewDocument = false"
  ></app-common-document-actions>
</section>

<section *ngIf="_isVerify">
  <app-common-document-actions
    [action]="'verifyDocument'"
    [_isOpenModal]="_isVerify ? true : false"
    [documentData]="_currentModalData"
    (close)="
      _isVerify = false;
      getIdWiseData(_currentModalData?.application, currentDropDownId)
    "
  >
  </app-common-document-actions>
</section>
<section *ngIf="_isUpload">
  <app-common-document-actions
    [action]="'uploadDocument'"
    [_isOpenModal]="_isUpload ? true : false"
    [documentData]="_currentModalData"
    (close)="
      _isUpload = false;
      getIdWiseData(_currentModalData?.application, currentDropDownId)
    "
  >
  </app-common-document-actions>
</section>

<!-- Modal Section -->
<ng-template #modalTitle>
  <label *ngIf="_isStatus">Update Status</label>
  <label *ngIf="_isEditOffer">Edit Offer</label>
  <label *ngIf="isRejectModal">Reject</label>
  <label *ngIf="_isEditOffer">Edit Offer</label>
  <label *ngIf="_isPullData">
    <span *ngIf="_isCibil">Third Party Cibil Data</span
    ><span *ngIf="!_isCibil">Third Party SMS Data</span></label
  >
  <label *ngIf="isFetchCibilSms">
    <span *ngIf="_isCibil">Fetch Cibil Data</span
    ><span *ngIf="!_isCibil">Fetch SMS Data</span></label
  >
</ng-template>
<section>
  <nz-modal
    [nzWidth]="_isPullData || isFetchCibilSms ? 800 : 500"
    [(nzVisible)]="_isUpdateStatus"
    [nzTitle]="modalTitle"
    (nzOnCancel)="handleCancel()"
    [nzFooter]="footerModal"
  >
    <section *ngIf="_isStatus">
      <div class="row">
        <div class="col-md-4 mb-3">
          <nz-form-label nzRequired>Select Status</nz-form-label>
        </div>
        <div class="col-md-8 mb-3">
          <nz-select
            class="w-100"
            [(ngModel)]="_currentStageStatus"
            nzAllowClear
            nzPlaceHolder="Select Status"
          >
            <nz-option
              *ngFor="let item of stageMasterList"
              [nzValue]="item?.id"
              [nzLabel]="item?.name"
            ></nz-option>
          </nz-select>
        </div>
        <div class="col-md-4">
          <nz-form-label nzRequired>Remarks</nz-form-label>
        </div>
        <div class="col-md-8">
          <nz-textarea-count [nzMaxCharacterCount]="100">
            <textarea
              rows="4"
              nz-input
              [(ngModel)]="remarksDescription"
            ></textarea>
          </nz-textarea-count>
        </div>
      </div>
    </section>
    <section *ngIf="_isEditOffer">
      <div class="row" [formGroup]="offerForm">
        <div class="col-md-12 mb-3">
          {{
            _currentLoanDetails?.user?.first_name
              ? _currentLoanDetails?.user?.first_name +
                " " +
                (_currentLoanDetails?.user?.last_name
                  ? _currentLoanDetails?.user?.last_name
                  : "")
              : "-"
          }}
          <span class="mx-2">{{
            _currentLoanDetails?.user?.mobile
              ? _currentLoanDetails?.user?.mobile
              : "-"
          }}</span>
          <span class="mx-2">{{
            _currentLoanDetails?.id ? "ID-" + _currentLoanDetails?.id : "-"
          }}</span>
        </div>
        <div class="col-md-4 mb-3">Offer Amount</div>
        <div class="col-md-8 mb-3">
          <input
            nz-input
            placeholder="Enter Your Offer Amount"
            formControlName="amountOffered"
          />
        </div>

        <div class="col-md-4 mb-3">Validity</div>
        <div class="col-md-8 mb-3">
          <input nz-input readonly="readonly" placeholder="" />
        </div>

        <div class="col-md-4 mb-3">Interest</div>
        <div class="col-md-8 mb-3">
          <input nz-input readonly="readonly" placeholder="" />
        </div>
      </div>
    </section>
    <section *ngIf="isRejectModal">
      <div class="row">
        <div class="col-md-12 text-muted">
          {{
            _currentLoanDetails?.user?.first_name
              ? _currentLoanDetails?.user?.first_name +
                " " +
                (_currentLoanDetails?.user?.last_name
                  ? _currentLoanDetails?.user?.last_name
                  : "")
              : "-"
          }}
          <!-- <span class="mx-2">{{ _currentLoanDetails?.user?.mobile ?
                                    _currentLoanDetails?.user?.mobile : '-'}}</span> -->
          <span class="mx-3">{{
            _currentLoanDetails?.id ? "ID-" + _currentLoanDetails?.id : "-"
          }}</span>
        </div>
        <div class="col-md-12 my-4">
          Are you sure about rejecting the offer?
        </div>
        <div class="col-md-4 text-muted">Remarks, if any</div>
        <div class="col-md-8">
          <nz-textarea-count [nzMaxCharacterCount]="100">
            <textarea
              rows="4"
              class="border"
              nz-input
              [(ngModel)]="remarks"
            ></textarea>
          </nz-textarea-count>
        </div>
      </div>
    </section>

    <section *ngIf="_isPullData">
      <app-common-cibil-sms
        [_currentLoanDetails]="_currentLoanDetails"
        [isCibil]="_isCibil ? true : false"
      >
      </app-common-cibil-sms>
    </section>
    <section *ngIf="isFetchCibilSms">
      <app-common-cibil-sms
        [_currentLoanDetails]="_currentLoanDetails"
        [isFetch]="isFetchCibilSms ? true : false"
        [isCibil]="_isCibil ? true : false"
      >
      </app-common-cibil-sms>
    </section>
  </nz-modal>
</section>
<ng-template #footerModal>
  <button
    nz-button
    *ngIf="_isEditOffer"
    nzType="link"
    class="border"
    (click)="handleCancel()"
  >
    Reset
  </button>
  <button
    nz-button
    *ngIf="isRejectModal"
    nzType="link"
    class="border"
    (click)="handleCancel()"
  >
    Cancel
  </button>
  <button
    nz-button
    *ngIf="!isRejectModal && !_isEditOffer"
    nzType="link"
    class="border"
    (click)="handleCancel()"
  >
    Cancel
  </button>
  <button
    *ngIf="_isStatus"
    nz-button
    nzType="primary"
    [nzLoading]="api_calling_loader['button']"
    class="mx-2"
    [disabled]="!_currentStageStatus || !remarksDescription ? true : false"
    (click)="handleOk('status')"
  >
    Submit
  </button>
  <button
    *ngIf="_isEditOffer"
    nz-button
    nzType="primary"
    class="mx-2"
    [nzLoading]="api_calling_loader['button']"
    (click)="handleOk('offer')"
  >
    Update
  </button>
  <button
    *ngIf="isRejectModal"
    nz-button
    nzType="primary"
    class="mx-2"
    (click)="handleOk('reject')"
  >
    Submit
  </button>
  <button
    *ngIf="_isUpload"
    nz-button
    nzType="primary"
    class="mx-2"
    [disabled]="!(fileList.length > 0) ? true : false"
    [nzLoading]="api_calling_loader['button']"
    (click)="handleOk('uploadDocument')"
  >
    Submit
  </button>
  <button
    *ngIf="_isVerify"
    nz-button
    nzType="primary"
    [disabled]="!documentStatus && !verifyRemarks ? true : false"
    class="mx-2"
    [nzLoading]="api_calling_loader['button']"
    (click)="handleOk('verify')"
  >
    Submit
  </button>
</ng-template>

<nz-modal
  [(nzVisible)]="isVisibleThirdPartyResp"
  [nzWidth]="'600'"
  nzTitle="Fetched Third Party Response"
  [nzFooter]="thirdPartyFooter"
  (nzOnCancel)="isVisibleThirdPartyResp = false"
>
  <ng-container *nzModalContent>
    <nz-card [nzLoading]="api_calling_loader['xmlLoader']">
      <!-- <p>Content one</p>
                  <p>Content two</p>
                  <p>Content three</p> -->
      <span *ngIf="thirdPartyDataResponse">
        <ngx-json-viewer
          [json]="thirdPartyDataResponse"
          [expanded]="true"
        ></ngx-json-viewer>
      </span>
      <span *ngIf="!thirdPartyDataResponse" style="font-weight: bolder">
        No data Found
      </span>
    </nz-card>
  </ng-container>
  <ng-template #thirdPartyFooter>
    <button
      nz-button
      nzType="link"
      class="border"
      (click)="isVisibleThirdPartyResp = false"
    >
      Cancel
    </button>
  </ng-template>
</nz-modal>
