<nz-card>
    <!-- User Info -->
    <div>
        <nz-descriptions nzTitle="User Info" [nzBordered]="true" [nzSize]="'small'">
            <nz-descriptions-item nzTitle="Account Number">{{history_data?.account_number ? history_data?.account_number :
                '--'}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Account Holder Name">{{history_data?.account_name ? history_data?.account_name :
                '--'}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="IFSC Code">{{history_data?.ifsc_code ? history_data?.ifsc_code :
                '--'}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Bank Name">{{history_data?.bank_full_name ? history_data?.bank_full_name :
                '--'}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Account Type">{{history_data?.account_type ? history_data?.account_type :
                '--'}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Period Start">{{history_data?.period_start ? history_data?.period_start :
                '--'}}</nz-descriptions-item>
    
            <nz-descriptions-item nzTitle="Period End">{{history_data?.period_end ? history_data?.period_end :
                '--'}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Email">{{history_data?.email ? history_data?.email : '--'}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="PAN Number">{{history_data?.pan_number ? history_data?.pan_number :
                '--'}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Address">{{history_data?.address ? history_data?.address : '--'}}</nz-descriptions-item>
        </nz-descriptions>
    </div>


    <!-- Other Details -->
    <div class="row my-3">
        <div class="col-md-6 col-12">
            <nz-descriptions [nzTitle]="null" [nzBordered]="true" nzSize="small">
                <nz-descriptions-item [nzSpan]="3" nzTitle="Average Balance">{{history_data?.average_balance ? history_data?.average_balance
                    : '--'}}</nz-descriptions-item>
                <nz-descriptions-item [nzSpan]="3" nzTitle="Average Balance(5,15,25)">{{history_data?.custom_average_balance ?
                    history_data?.custom_average_balance : '--'}}</nz-descriptions-item>
                <nz-descriptions-item [nzSpan]="3" nzTitle="Average Balance(Last 6 Month)">{{history_data?.average_balance_last_six_month
                    ? history_data?.average_balance_last_six_month : '--'}}</nz-descriptions-item>
                <nz-descriptions-item
                    [nzSpan]="3" nzTitle="Average Balance(Last 12 Month)">{{history_data?.average_balance_last_twelve_month ?
                    history_data?.average_balance_last_twelve_month : '--'}}</nz-descriptions-item>

            </nz-descriptions>
        </div>
        <div class="col-md-6 col-12">
            <nz-descriptions [nzTitle]="null" [nzBordered]="true" nzSize="small">
                <nz-descriptions-item [nzSpan]="3" nzTitle=" I/W Return">{{history_data?.inward_return_amount ?
                    history_data?.inward_return_amount : '--'}} | {{history_data?.inward_return_count ?
                    history_data?.inward_return_count : '--'}}</nz-descriptions-item>
                <nz-descriptions-item [nzSpan]="3" nzTitle="O/W Return">{{history_data?.outward_return_amount ?
                    history_data?.outward_return_amount : '--'}} | {{history_data?.outward_return_count ?
                    history_data?.outward_return_count : '--'}}</nz-descriptions-item>
                <nz-descriptions-item [nzSpan]="3" nzTitle="Average Receipt(6 months)">{{history_data?.average_receipt_last_six_month ?
                    history_data?.average_receipt_last_six_month : '--'}}</nz-descriptions-item>
                <nz-descriptions-item [nzSpan]="3" nzTitle="Average Receipt(12 Month)">{{history_data?.average_receipt_last_twelve_month
                    ? history_data?.average_receipt_last_twelve_month : '--'}}</nz-descriptions-item>
            </nz-descriptions>
        </div>
    </div>
</nz-card>


<!-- Table Data -->
<nz-card>
    <div class="row">
        <div class="col-md-12">
            <nz-table [nzData]="history_data?.bankstatementcamanalysismonthly_set" nzShowPagination="false">
                <thead>
                    <tr>
                        <th>Month Year</th>
                        <th>No. Net of Credits</th>
                        <th>Net Monthly Credit</th>
                        <th>Gross Monthly Credits</th>
                        <th>No. of Debits</th>
                        <th>Net Monthly Debit</th>
                        <th>Gross Monthly Debits</th>
                        <th>No. of I/W Return</th>
                        <th>I/W Return</th>
                        <th>No. of O/W Return</th>
                        <th>O/W Return</th>
                        <th>Loan Disbursal</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- <ng-container > -->
                        <tr *ngFor="let item of history_data?.bankstatementcamanalysismonthly_set ;let i as index">
                            <td>{{item?.month}}</td>
                            <td>{{item?.no_of_net_credit}}</td>
                            <td>{{item?.net_credit_amount}}</td>
                            <td>{{item?.gross_credit_amount}}</td>
                            <td>{{item?.no_of_net_debit}}</td>
                            <td>{{item?.net_debit_amount}}</td>
                            <td>{{item?.gross_debit_amount}}</td>
                            <td>{{item?.no_of_inward_return}}</td>
                            <td>{{item?.inward_return}}</td>
                            <td>{{item?.no_of_outward_return}}</td>
                            <td>{{item?.outward_return}}</td>
                            <td>{{item?.loan_disbursal}}</td>
                        </tr>
                        
                    <!-- </ng-container> -->
                </tbody>
            </nz-table>
        </div>
        <div class="col-md-12">
            <nz-table [nzData]="history_data?.bankstatementtransactions_set" nzShowPagination="false">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>MONTH</th>
                        <th>Narration</th>
                        <th>Payment Mode</th>
                        <th>Payment Category</th>
                        <th>Credit</th>
                        <th>Debit</th>
                        <th>Balance</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container >
                        <tr *ngFor="let data of history_data?.bankstatementtransactions_set ;index as i">
                            <td>{{data?.converted_transaction_date}}</td>
                            <td>{{data?.month_year}}</td>
                            <td>{{data?.narration}}</td>
                            <td>{{data?.payment_mode}}</td>
                            <td>{{data?.payment_category}}</td>
                            <td>{{ data?.type == 'Cr' ? data?.amount : '--'}}</td>
                            <td>{{ data?.type != 'Cr' ? data?.amount : '--'}}</td>
                            <td>{{data?.closing_balance}}</td>
                            
                        </tr>
                    </ng-container>
                </tbody>
            </nz-table>
        </div>
    </div>
</nz-card>



<!-- EMI Details -->
<section>
    <nz-card nzTitle="EMI DETAILS">
        <!-- <h3 class="mt-3 col-md-12"></h3> -->
        <nz-table [nzData]="history_data?.bankstatementemi_set " class="col-md-12">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Narration</th>
                    <th>Category</th>
                    <th>Type</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let data of history_data?.bankstatementemi_set ;index as i">
                    <tr>
                        <td class="bg-light">{{data?.list_title}}</td>
                    </tr>
                    <tr *ngFor="let item of data?.list_items ;index as i">
                        <td>{{item?.transaction_date}}</td>
                        <td>{{item?.narration}}</td>
                        <td>{{item?.payment_category}}</td>
                        <td>{{item?.type}}</td>
                        <td>₹{{item?.amount}}</td>
                    </tr>
                </ng-container>
            </tbody>
        </nz-table>
    </nz-card>
</section>

<!-- Custom Balance Day -->
<section>
    <nz-card nzTitle="Custom Day Balances">
        <!-- <h3 class="mt-3 col-md-12"></h3> -->
        <nz-table [nzData]="history_data?.bankstatementcamanalysismonthly_set " class="col-md-12">
            <thead>
                <tr>
                    <th>Month</th>
                    <th>5</th>
                    <th>10</th>
                    <th>15</th>
                    <th>20</th>
                    <th>25</th>
                    <th>30</th>
                    <th>Mean</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of history_data?.bankstatementcamanalysismonthly_set ;index as i">
                    <td>{{ i + 1 }}</td>
                    <td>{{ data.custom_day_balances_5 ? data.custom_day_balances_5 : "--" }}</td>
                    <td> {{ data.custom_day_balances_10 ? data.custom_day_balances_10 : "--" }}</td>
                    <td> {{ data.custom_day_balances_15 ? data.custom_day_balances_15 : "--" }}</td>
                    <td>{{ data.custom_day_balances_20 ? data.custom_day_balances_20 : "--" }}</td>
                    <td> {{ data.custom_day_balances_25 ? data.custom_day_balances_25 : "--" }}</td>
                    <td> {{ data.custom_day_balances_30 ? data.custom_day_balances_30 : "--" }}</td>
                    <td>{{data?.custom_day_balances_mean ? data?.custom_day_balances_mean : "--"}}</td>
                </tr>
            </tbody>
        </nz-table>
    </nz-card>
</section>