<section *ngIf="!api_calling_loader">
    <nz-card [nzActions]="[actionSubmit]" [nzLoading]="api_calling_loader">
        <div class="row mb-md-3">
            <nz-radio-group [(ngModel)]="selectedTab" nzButtonStyle="solid" [disabled]="router.url.includes('view-product')">
                <label nz-radio-button class="mr-md-2 mr-2 px-4 mb-md-0 mb-3 border-radius-2" *ngFor="let item of employmentTypeData"
                    [nzValue]="item.pk">{{item.name}}</label>
            </nz-radio-group>
        </div>
        <form nz-form [formGroup]="createEditForm">
            <div class="row">
                <!-- <nz-form-label class="text-left" nzNoColon>Product Type</nz-form-label> -->
                <!-- <div class="col-md-12">
                    <nz-form-item>
                        <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="primary_product" class="text-left" nzRequired>Primary Product</nz-form-label>
                        <nz-form-control [nzSm]="8" [nzXs]="24" nzErrorTip="Please select Primary Product!">
                            <nz-select formControlName="primary_product" nzPlaceHolder="Select Primary Product" nzShowSearch nzAllowClear>
                                <nz-option *ngFor="let item of productType" [nzValue]="item.value" [nzLabel]="item.name"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div class="col-md-12">
                    <nz-form-item>
                        <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="secondary_product" class="text-left" nzRequired>Secondary Product</nz-form-label>
                        <nz-form-control [nzSm]="8" [nzXs]="24" nzErrorTip="Please select Secondary Product!">
                            <nz-select formControlName="secondary_product" nzPlaceHolder="Select Secondary Product" nzShowSearch nzAllowClear>
                                <nz-option *ngFor="let item of productType" [nzValue]="item.value" [nzLabel]="item.name"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div> -->
                <nz-form-label class="text-left">Validation rule</nz-form-label>
                <div class="col-md-12">
                    <nz-form-item>
                        <div class="col-md-5">
                            <nz-form-label nzFor="aadhar_check" class="text-left" nzRequired>Aadhar card</nz-form-label>
                        </div>
                        <div class="col-md-7">
                            <nz-form-control nzErrorTip="Please select Aadhar card!">
                                <nz-radio-group formControlName="aadhar_check">
                                    <label nz-radio nzValue="Mandatory">Mandatory</label>
                                    <label nz-radio nzValue="Not Required">Not Required</label>
                                  </nz-radio-group>
                            </nz-form-control>
                        </div>
                    </nz-form-item>
                    
                    <nz-form-item>
                        <div class="col-md-5">
                            <nz-form-label nzFor="pan_check" class="text-left" nzRequired>Pan card</nz-form-label>
                        </div>
                        <div class="col-md-7">
                            <nz-form-control nzErrorTip="Please select Pan card!">
                                <nz-radio-group formControlName="pan_check">
                                    <label nz-radio nzValue="Mandatory">Mandatory</label>
                                    <label nz-radio nzValue="Not Required">Not Required</label>
                                  </nz-radio-group>
                            </nz-form-control>
                        </div>
                    </nz-form-item>
                </div>
                <nz-form-label class="text-left">Third party API call</nz-form-label>
                <div class="col-md-12">
                    <ng-container *ngFor="let item of get_Third_party(createEditForm); let k = index;" formArrayName="third_party_calls">
                        <div class="row mx-0" [formGroupName]="k">
                            <div class="col-md-12">
                                <nz-form-item>
                                    <div class="col-md-5">
                                        <nz-form-label nzFor="tenure" class="text-left" nzRequired>{{item.controls.label_txt.value.toString()}}</nz-form-label>
                                    </div>
                                    <div class="col-md-7">
                                        <nz-form-control nzErrorTip="Please select Tenure Unit!">
                                            <nz-radio-group formControlName="check_type" [nzDisabled]="router.url.includes('view-product')">
                                                <label [nzDisabled]="router.url.includes('view-product')" nz-radio nzValue="Mandatory">Mandatory</label>
                                                <label [nzDisabled]="router.url.includes('view-product')" nz-radio nzValue="Not Required">Not Required</label>
                                              </nz-radio-group>
                                        </nz-form-control>
                                    </div>
                                </nz-form-item>
                            </div>
                        </div>
                    </ng-container>
                </div>
                <!-- <nz-form-label class="text-left">Additional Details</nz-form-label>
                <div class="col-md-12">
                    <ng-container *ngFor="let item of get_field_rules(createEditForm); let k = index;" formArrayName="field_rules">
                        <div class="row mx-0" [formGroupName]="k">
                            <div class="col-md-12">
                                <nz-form-item>
                                    <div class="col-md-5">
                                        <nz-form-label nzFor="tenure" class="text-left" nzRequired>{{item.controls.label_txt.value.toString()}}</nz-form-label>
                                    </div>
                                    <div class="col-md-7">
                                        <nz-form-control nzErrorTip="Please select Tenure Unit!">
                                            <nz-radio-group formControlName="check_type" [nzDisabled]="router.url.includes('view-product')">
                                                <label [nzDisabled]="router.url.includes('view-product')" nz-radio nzValue="Mandatory">Mandatory</label>
                                                <label [nzDisabled]="router.url.includes('view-product')" nz-radio nzValue="Optional">Optional</label>
                                                <label [nzDisabled]="router.url.includes('view-product')" nz-radio nzValue="Not Required">Not Required</label>
                                              </nz-radio-group>
                                        </nz-form-control>
                                    </div>
                                </nz-form-item>
                            </div>
                        </div>
                    </ng-container>
                </div> -->
                <nz-form-label class="text-left">Document Upload</nz-form-label>
                <div class="col-md-12">
                    <ng-container *ngFor="let item of get_document_rules(createEditForm); let k = index;" formArrayName="document_rules">
                        <div class="row mx-0" [formGroupName]="k">
                            <div class="col-md-12">
                                <nz-form-item>
                                    <div class="col-md-5">
                                        <nz-form-label nzFor="tenure" class="text-left" nzRequired>{{item.controls.label_txt.value.toString()}}</nz-form-label>
                                    </div>
                                    <div class="col-md-7">
                                        <nz-form-control nzErrorTip="Please select Tenure Unit!">
                                            <nz-radio-group formControlName="check_type" [nzDisabled]="router.url.includes('view-product')">
                                                <label nz-radio nzValue="Mandatory">Mandatory</label>
                                                <!-- <label nz-radio nzValue="Optional">Optional</label> -->
                                                <label nz-radio nzValue="Not Required">Not Required</label>
                                              </nz-radio-group>
                                        </nz-form-control>
                                    </div>
                                </nz-form-item>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </form>
    </nz-card>
    
    <ng-template #actionSubmit>
        <div class="row no-gutters" *ngIf="!router.url.includes('view-product')">
            <div class="col-12 d-flex justify-content-end px-4">
                <button nz-button nzType="primary" [disabled]="createEditForm.invalid" [nzLoading]="loading" (click)="submitForm()">Submit</button>
            </div>
        </div>
    </ng-template>
</section>