<section>
    <nz-card>
        <form [formGroup]="versionForm">
            <div class="row align-items-baseline">
                <div class="col-md-5">
                    <nz-form-item>
                        <nz-form-label [nzSm]="12" [nzXs]="24" nzFor="name" class="text-left" nzRequired>Current Version
                        </nz-form-label>
                        <nz-form-control [nzSm]="12" [nzXs]="24" nzErrorTip="Please Add Valid Version!">
                            <input nz-input type="text" formControlName="app_version" placeholder="App Version" />
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <label nz-checkbox formControlName="is_optional" class="ml-3">Optional</label>
                <div class="col-md-12" style="text-align-last: right;">
                    <button nz-button nzType="primary" [nzLoading]="apiLoader['onUpdate']" (click)="onClickUpdateVersion()">Update Version</button>   
                </div>
            </div>
        </form>
        
    </nz-card>
</section>