<section>
<div class="row">
    <div class="col-md-12 d-flex justify-content-start mb-3" *ngFor="let data of userData">
        <div class="text-center">
            <span class="mr-4">
                {{data?.name }}
            </span>
            <span class="mr-4">
                {{ data?.phone}}
            </span>
            <span class="mr-4">
                {{ data?.email  }}
            </span>
        </div>
    </div>
    <!-- <div class="col-md-12 text-center mb-5">
        <p>{{subTitle}}</p>
    </div>-->
</div>
<form [formGroup]="passwordForm">
<div class="row">
    <div class="col-md-12 mt-4">
        <nz-form-item>
            <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="new_password" class="text-left" nzRequired>New Password</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please Add Password !">
                <input nz-input type="text" formControlName="new_password"  placeholder="New Password"/>
            </nz-form-control>
        </nz-form-item>
    </div>
    <div class="col-md-12 mt-4">
        <nz-form-item>
            <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="retype_password" class="text-left" nzRequired>Confirm new password</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please Confirm Password !">
                <input nz-input type="text" formControlName="retype_password"  placeholder="Confirm Password"/>
            </nz-form-control>
        </nz-form-item>
    </div>
</div>
</form>
<div class="row">
    <div class="col-md-12 d-flex justify-content-center">
        <button nz-button nzType="default" (click)="onCencelCall.emit()"
            class="mr-3">{{cancelBtnTxt}}</button>
        <button nz-button nzType="primary" [nzLoading]="isLoading" (click)="onClickSubmitForm()">{{submitBtnTxt}}</button>
    </div> 
</div>

</section>