<section>
    <div class="row">
        <nz-card class="w-100">
            <div class="row">
                <div class="col-md-4 mb-3 d-flex">
                    <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                        <input type="text"nz-input placeholder="Search text" [(ngModel)]="search_param" (keyup.enter)="fetchLoanApplicationList()"/>
                    </nz-input-group>
                    <ng-template #suffixIconButton>
                        <button nz-button nzType="secondary" (click)="fetchLoanApplicationList()" nzSearch><i nz-icon nzType="search"></i></button>
                    </ng-template>
                    <button nz-button nzType="default" nzShape="circle" nz-tooltip nzTooltipTitle="Reset Filter"  class="ml-2">
                        <i nz-icon nzType="undo"></i>
                    </button>
                </div>
                <div class="col-md-8 mb-3 d-flex justify-content-md-end">
                    <nz-select class="mx-1" style=" width: 15rem;" ngModel="filters" nzAllowClear
                        nzPlaceHolder="Filter By Product Master">
                        <nz-option nzValue="1" nzLabel="Fatak Pay"></nz-option>
                        <nz-option nzValue="2" nzLabel="Fatak Pay EMI"></nz-option>
                    </nz-select>
                    <nz-select class="mx-1" style=" width: 12rem;" ngModel="filters" nzAllowClear
                        nzPlaceHolder="Filter By Card Status">
                        <nz-option nzValue="1" nzLabel="Fatak Pay"></nz-option>
                        <nz-option nzValue="2" nzLabel="Fatak Pay EMI"></nz-option>
                    </nz-select>
                    <nz-select class="mx-1" style=" width: 12rem;" ngModel="filters" nzAllowClear
                        nzPlaceHolder="Filter By A/C Status">
                        <nz-option nzValue="1" nzLabel="Fatak Pay"></nz-option>
                        <nz-option nzValue="2" nzLabel="Fatak Pay EMI"></nz-option>
                    </nz-select>
                </div>
            </div>
            <nz-table [nzData]="borrowertList" [nzScroll]="{ x: '1500px' }" [nzLoading]="api_calling_loader">
                <!-- [nzFrontPagination]="true" [nzTotal]="total_count" [nzPageIndex]="page" [nzPageSize]="globalPageSize" [nzShowPagination]="true" [nzLoading]="api_calling_loader" -->
                <thead>
                    <tr>
                        <th nzWidth="3rem">#</th>
                        <th>User Name</th>
                        <th>Loan ID</th>
                        <th>Applied on</th>
                        <th>Previous Credit Line Assigned</th>
                        <th>Change of Amount</th>
                        <th>New Credit Line Assigned</th>
                        <th>Activation Date</th>
                        <th nzRight>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of borrowertList; index as i">
                        <td></td>
                        <td>{{data.user ? data.user.full_name : '-'}}</td>
                        <td>{{data.loan_unique_id ? data.loan_unique_id : '-'}}</td>
                        <td>{{data.created_at | date: "medium"}}</td>
                        <td>{{data.loan_amount_provided ? data.loan_amount_provided : '-'}}</td>
                        <td>{{data.creditline_data[0]?.change_type ? data.creditline_data[0]?.change_type : '-'}}{{data.creditline_data[0]?.amount_change ? data.creditline_data[0]?.amount_change : '-'}}</td>
                        <td>{{data.loan_amount_provided ? (data.creditline_data[0]?.change_type == '+' ? data.loan_amount_provided + data.creditline_data[0]?.amount_change : data.loan_amount_provided - data.creditline_data[0]?.amount_change) : '-'}}</td>
                        <td>{{data.created_at | date: "medium"}}</td>
                        <td nzRight>
                            <a class="text-dark font-size-20" nz-dropdown [nzClickHide]="false"
                                    [nzTrigger]="'click'" [nzPlacement]="'bottomRight'"
                                    [nzDropdownMenu]="latestUploadDropDown">
                                    <img src="assets/images/ellipsis.png" alt="" width="30">
                                </a>
                                <nz-dropdown-menu #latestUploadDropDown="nzDropdownMenu">
                                    <ul nz-menu>
                                        <!-- [routerLink]="['edit-employee', data.id]" -->
                                        <li nz-menu-item (click)="isIncLine = true">
                                            <!-- <i nz-icon nzType="login" nzTheme="outline"></i> -->
                                            <span class="m-l-5">Increase Credit Line</span>
                                        </li>
                                        <li nz-menu-item (click)="isDescLine = true">
                                            <!-- <i nz-icon nzType="delete" theme="outline"></i> -->
                                            <span class="m-l-5">Decrease Credit Line</span>
                                        </li>
                                    </ul>
                                </nz-dropdown-menu>
                        </td>
                    </tr>
                </tbody>
            </nz-table>
        </nz-card>
    </div>
</section>
<nz-modal [(nzVisible)]="isIncLine" nzTitle="Increase Credit Line" (nzOnCancel)="isIncLine = false" nzOkText="Save" (nzOnOk)="isIncLine = false">
    <ng-container *nzModalContent>
        <form [formGroup]="createIncLine">
            <div class="row">
                <div class="col-md-12">
                    <span class="mr-md-5">Name : Akshay Tomar</span>
                    <span>Loan ID - #F-EMI4567</span>
                </div>
                <div class="col-md-12">
                    <nz-form-item>
                        <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="amount" class="text-left">Previous Credit Line</nz-form-label>
                        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input Amount!">
                            10000
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div class="col-md-12">
                    <nz-form-item>
                        <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="incBy" class="text-left" nzRequired>Increase Credit by</nz-form-label>
                        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input Increase Credit by!">
                            <input nz-input type="number" min="0" formControlName="incBy" placeholder="Please input Increase Credit by"/>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div class="col-md-12">
                    <nz-form-item>
                        <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="newCred" class="text-left" nzRequired>New Credit Line</nz-form-label>
                        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input New Credit Line!">
                            <input nz-input type="number" min="0" formControlName="newCred" placeholder="Please input New Credit Line"/>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div class="col-md-12">
                    <nz-form-item>
                        <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="activation_from" class="text-left" nzRequired>Activate from
                        </nz-form-label>
                        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input Activate from!">
                            <nz-date-picker formControlName="activation_from" [nzFormat]="'YYYY-MM-dd'" nzPlaceHolder="Please input Activate from!"></nz-date-picker>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
        </form>
    </ng-container>
</nz-modal>
<nz-modal [(nzVisible)]="isDescLine" nzTitle="Decrease Credit Line" (nzOnCancel)="isDescLine = false" nzOkText="Save" (nzOnOk)="isDescLine = false">
    <ng-container *nzModalContent>
        <form [formGroup]="createDescLine">
            <div class="row">
                <div class="col-md-12">
                    <span class="mr-md-5">Name : Akshay Tomar</span>
                    <span>Loan ID - #F-EMI4567</span>
                </div>
                <div class="col-md-12">
                    <nz-form-item>
                        <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="amount" class="text-left">Previous Credit Line</nz-form-label>
                        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input Amount!">
                            10000
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div class="col-md-12">
                    <nz-form-item>
                        <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="incBy" class="text-left" nzRequired>Decrease Credit by</nz-form-label>
                        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input Decrease Credit by!">
                            <input nz-input type="number" min="0" formControlName="incBy" placeholder="Please input Decrease Credit by"/>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div class="col-md-12">
                    <nz-form-item>
                        <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="newCred" class="text-left" nzRequired>New Credit Line</nz-form-label>
                        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input New Credit Line!">
                            <input nz-input type="number" min="0" formControlName="newCred" placeholder="Please input New Credit Line"/>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div class="col-md-12">
                    <nz-form-item>
                        <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="activation_from" class="text-left" nzRequired>Activate from
                        </nz-form-label>
                        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input Activate from!">
                            <nz-date-picker formControlName="activation_from" [nzFormat]="'YYYY-MM-dd'" nzPlaceHolder="Please input Activate from!"></nz-date-picker>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
        </form>
    </ng-container>
</nz-modal>