<div class="header_breadcrumb_section">
  <div class="d-flex justify-content-md-between flex-wrap w-100">
    <div></div>
    <div class="align-self-end font-size-20">
      <i nz-icon class="mr-2" nzType="user" nzTheme="outline"></i> Users :
      {{ total_count ? total_count : "0" }}
    </div>
    <div>
      <button *ngxPermissionsOnly="['update_underwriting_status_application']" nz-button nzType="primary"
        [disabled]="checkDisabledStatus()" class="ml-auto" (click)="updateStatus('status')" [routerLink]="">
        Update Status ({{ _checkedLoanList ? _checkedLoanList?.length : "0" }})
      </button>
      <!-- ---**---  <button nz-button nzType="link" (click)="exportData('xlsx')" class="ml-3 border" [routerLink]=""
        *ngxPermissionsOnly="['export_underwriting_application']">
        Export
      </button> -->
    </div>
  </div>
</div>
<!-- Main Section  -->
<section>
  <nz-card class="w-100">
    <div class="row mb-md-3">
      <div class="col-md-12 mb-md-0">
        <div class="d-flex">
          <span>
            <nz-radio-group [(ngModel)]="selectedTabFilter" (ngModelChange)="onClickChangeTabFilter($event)">
              <label nz-radio-button class="mr-md-2 mr-2 px-4 mb-md-0 mb-3 border-radius-2" nzValue="all">All</label>
              <label nz-radio-button class="mr-md-2 mr-2 px-4 mb-md-0 mb-3 border-radius-2"
                nzValue="normal">Normal</label>
              <label nz-radio-button class="mr-md-2 mr-2 px-4 mb-md-0 mb-3 border-radius-2"
                nzValue="dormant">Dormant</label>
              <label nz-radio-button class="mr-md-2 mr-2 px-4 mb-md-0 mb-3 border-radius-2" nzValue="B2B">B2B</label>
              <label nz-radio-button class="mr-md-2 mr-2 px-4 mb-md-0 mb-3 border-radius-2" nzValue="D2C">D2C</label>
            </nz-radio-group>
          </span>
          <span>
            <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton" class="mb-2" style="width: 19rem">
              <input type="text" [(ngModel)]="searchValue" (keyup.enter)="getFormLoanData()" nz-input
                placeholder="Search text" />
            </nz-input-group>
            <ng-template #suffixIconButton>
              <button nz-button nzType="secondary" (click)="getFormLoanData()" nzSearch>
                <i nz-icon nzType="search"></i>
              </button>
            </ng-template>
          </span>
          <span>
            <button nz-button nzType="default" nzShape="circle" nz-tooltip nzTooltipTitle="Reset Filter"
              class="'mb-2 mx-1" (click)="resetFilters()">
              <i nz-icon nzType="undo"></i>
            </button>
          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 mt-md-0 mt-3 mb-3 d-flex justify-content-md-end">
        <div class="d-flex flex-wrap">
          <!-- <nz-select class="mx-1 mb-2" nzAllowClear [(ngModel)]="productFilters" style="width: 12rem"
            (nzFocus)="onFocusMethod('product')" (ngModelChange)="getFormLoanData()" nzPlaceHolder="Select Product">
            <nz-option *ngFor="let item of productList" [nzValue]="item.id" [nzLabel]="item.name">
            </nz-option>
          </nz-select> -->
          <nz-select class="mx-1 mb-2" nzAllowClear [(ngModel)]="stageFilters" style="width: 12rem"
            (nzFocus)="onFocusMethod('product')" (ngModelChange)="getFormLoanData()" nzPlaceHolder="Select Stage">
            <nz-option *ngFor="let item of stageList" [nzValue]="item?.name" [nzLabel]="item.name">
            </nz-option>
          </nz-select>

          <nz-select [(ngModel)]="partner" nzMode="multiple" style="width: 15rem" class="mx-1 my-md-0 mb-3"
            (nzFocus)="onFocusMethod('partner')" (ngModelChange)="getFormLoanData()" nzAllowClear [nzMaxTagCount]="1"
            [nzSize]="'small'" nzPlaceHolder="Select Partner">
            <nz-option *ngFor="let item of partnerList" [nzValue]="item.pk" [nzLabel]="item.name">
            </nz-option>
          </nz-select>
          <nz-select [(ngModel)]="moved_by" style="width: 12rem" class="mx-1 mb-2" (ngModelChange)="getFormLoanData()"
            nzAllowClear nzPlaceHolder="Select Moved by">
            <nz-option [nzValue]="'all'" [nzLabel]="'Both'"> </nz-option>
            <nz-option [nzValue]="'admin'" [nzLabel]="'Admin'"> </nz-option>
            <nz-option [nzValue]="'system'" [nzLabel]="'System'"> </nz-option>
          </nz-select>
          <nz-select [(ngModel)]="filters" nzMode="multiple" style="width: 15rem" class="mb-2"
            (nzFocus)="onFocusMethod('status')" (ngModelChange)="getFormLoanData()" nzAllowClear [nzMaxTagCount]="1"
            [nzSize]="'small'" nzPlaceHolder="Select Status">
            <nz-option *ngFor="let item of stageStatusList" [nzValue]="item.id" [nzLabel]="item.status">
            </nz-option>
          </nz-select>
          <nz-select [(ngModel)]="date_sorter" style="width: 15rem" class="mx-1 mb-2"
            (ngModelChange)="getFormLoanData()" nzAllowClear nzPlaceHolder="Sort by date">
            <nz-option [nzValue]="'latest-apply_date'" [nzLabel]="'Latest apply date'">
            </nz-option>
            <nz-option [nzValue]="'latest-edit_date'" [nzLabel]="'Latest edit date'">
            </nz-option>
            <nz-option [nzValue]="'old-apply_date'" [nzLabel]="'Old apply date'">
            </nz-option>
            <nz-option [nzValue]="'old-edit_date'" [nzLabel]="'Old edit date'">
            </nz-option>
          </nz-select>
          <nz-range-picker class="mx-1 mb-2" style="width: 18rem" [(ngModel)]="date" [nzDisabledDate]="disabledDate"
            (ngModelChange)="getFormLoanData()" [nzRanges]="customRanges"></nz-range-picker>
        </div>
      </div>
    </div>

    <div class="accordianLoanApp">
      <nz-table #rowSelectionTable [nzData]="loanApplicationData" [nzTotal]="total_count" [nzFrontPagination]="false"
        [nzShowSizeChanger]="true" [nzPageIndex]="page" [nzPageSize]="globalPageSize"
        (nzCurrentPageDataChange)="onCurrentPageDataChange($event)" (nzQueryParams)="
          loanApplicationData[0] ? getFormLoanData($event) : null
        " [nzPageSizeOptions]="[100,200,300,400,500,600,750,1000]" [nzScroll]="{ x: '1500px', y: '' }"
        [nzLoading]="api_calling_loader['listLoader']">
        <thead>
          <tr>
            <th nzWidth="2rem"></th>
            <th nzWidth="3rem" [nzChecked]="loanApplicationData[0] ? checked : false"
              [nzIndeterminate]="loanApplicationData[0] ? indeterminate : false" (nzCheckedChange)="
                loanApplicationData[0] ? onAllChecked($event) : false
              "></th>
            <th nzWidth="60px">#</th>
            <th nzWidth="8rem">Loan ID</th>
            <th nzWidth="14rem">User Details</th>
            <th nzWidth="8rem">UTM Source Code</th>
            <th nzWidth="8rem">Source</th>
            <th nzWidth="8rem">DSA Name</th>
            <th nzWidth="8rem">Type</th>
            <th nzWidth="8rem">Apply Date & Time</th>
            <th nzWidth="8rem">Master Partner</th>
            <th nzWidth="8rem">Master Product</th>
            <th nzWidth="8rem">Company</th>
            <th nzWidth="8rem">Previous stage</th>
            <th nzWidth="8rem">Move to stage on</th>
            <th nzWidth="8rem">Latest Action Performed By</th>
            <th nzWidth="8rem">Status</th>
            <th nzWidth="8rem">Remarks</th>
            <th nzRight [nzWidth]="'5rem'">Action</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let data of loanApplicationData; index as i">
            <tr>
              <td nzWidth="2rem" [nzExpand]="expandSet.has(data.id)"
                (nzExpandChange)="onExpandChange(data.id, $event, i)"></td>
              <td nzWidth="3rem" [nzChecked]="setOfCheckedId.has(data.id)" [nzDisabled]="data.disabled"
                (nzCheckedChange)="onItemChecked(data.id, $event)"></td>
              <td *ngIf="page === 1">{{i+1}}</td>
              <td *ngIf="page > 1">{{((page-1)*globalPageSize)+(i+1)}}</td>
              <td>{{ data?.application_code }}</td>
              <td nzWidth="14rem">
                <div class="d-flex flex-column">
                  <div>
                    {{
                    data?.user?.first_name
                    ? data?.user?.first_name +
                    " " +
                    (data?.user?.last_name ? data?.user?.last_name : "")
                    : ""
                    }}
                  </div>
                  <div *ngIf="data?.user?.mobile" class="d-flex font-size-12">
                    Contact No:
                    {{ data?.user?.mobile }}
                  </div>
                </div>
              </td>
              <td>{{data?.user?.utm_source_code ? data?.user?.utm_source_code : '-' }} </td>
              <td>{{ data?.user?.source }}</td>
              <td>{{ data?.dsa_name ? data?.dsa_name : '-' }}</td>
              <td>{{ data?.type ? data?.type : '-' }}</td>
              <td>
                <div class="d-flex flex-column">
                  <div>{{ data?.created_at | date : "medium" }}</div>
                </div>
              </td>
              <td>
                {{ data?.master_partner ? data?.master_partner?.name : "-" }}
              </td>
              <td>{{data?.product_master_name ? data?.product_master_name : '-'}}</td>
              <td>
                {{
                data?.company_details?.company_name
                ? data?.company_details?.company_name
                : "-"
                }}
              </td>
              <td>{{ data?.last_stage ? data?.last_stage : "-" }}</td>
              <td>
                {{
                data?.moved_to_stage_on
                ? (data?.moved_to_stage_on | date : "medium")
                : "-"
                }}
              </td>
              <td>
                {{
                data?.latest_action_performed_by?.name
                ? data?.latest_action_performed_by?.name
                : "-"
                }}
              </td>
              <td>{{ data?.status ? data?.status : "-" }}</td>
              <td>
                <span nz-tooltip nzTooltipTitle="{{ data?.remarks }}">
                  {{
                  data?.remarks?.length >= 18
                  ? (data?.remarks | slice : 0 : 18)
                  : data?.remarks
                  ? data?.remarks
                  : "-"
                  }}
                </span>
              </td>
              <td nzRight [nzWidth]="'5rem'">
                <a class="text-dark font-size-20" nz-dropdown [nzClickHide]="false" [nzTrigger]="'click'"
                  [nzPlacement]="'bottomRight'" [nzDropdownMenu]="latestUploadDropDown">
                  <i nz-icon nzType="ellipsis" theme="outline"></i>
                </a>
                <nz-dropdown-menu #latestUploadDropDown="nzDropdownMenu">
                  <ul nz-menu>
                    <li *ngxPermissionsOnly="['generate_offer_underwriting']" nz-menu-item nz-popconfirm
                      nzPopconfirmTitle="Are you sure about this action ?" nzPopconfirmPlacement="bottom" (nzOnConfirm)="
                        generateOfferForCorrespondingApplication(data?.id)
                      ">
                      <span class="m-l-5">Generate Offer</span>
                    </li>
                    <li nz-menu-item  *ngIf="data?.product_master_id == 1" (click)="generateOffer(data?.id)">
                      <span class="m-l-5">Manual offer  Card</span>
                    </li>
                    <li nz-menu-item (click)="IsClickOnChnageType(data)">
                      <span class="m-l-5">Change product type</span>
                    </li>
                    <li nz-menu-item [routerLink]="['edit-form']" [queryParams]="{ id: data?.id }"
                      *ngxPermissionsOnly="['edit_underwriting_application']">
                      <span class="m-l-5">Edit Application</span>
                    </li>
                    <li nz-menu-item *ngxPermissionsOnly="[
                        'download_cibil_pdf_underwriting_application'
                      ]" (click)="fetchCibilPDF(data?.id)">
                      <span class="m-l-5">Fetch Cibil PDF</span>
                    </li>
                    <li *ngxPermissionsOnly="[
                        'track_underwriting_status_application'
                      ]" nz-menu-item [routerLink]="['track-status']" [queryParams]="{ id: data?.id }">
                      <span class="m-l-5">Track Application</span>
                    </li>
                    <li *ngxPermissionsOnly="['move_to_dormant_underwriting']">
                      <span class="" style="cursor: pointer; margin-left: 27px" nz-popconfirm [nzPopconfirmTitle]="
                          data?.is_dormant
                            ? 'Are you sure you want to Move this application to Normal ? '
                            : 'Are you sure you want to Move this application to Dormant ?'
                        " nzPopconfirmPlacement="bottom" (nzOnConfirm)="confirm(data?.id)" (nzOnCancel)="cancel()">{{
                        data?.is_dormant
                        ? "Move To Normal"
                        : "Move To Dormant"
                        }}</span>
                    </li>
                    <li nz-menu-item *ngxPermissionsOnly="[
                        'pull_cibil_underwriting_application'
                      ]">
                      <a nz-popconfirm [nzPopconfirmTitle]="popupTitle" nzPopconfirmPlacement="bottomRight"
                        (nzOnConfirm)="
                          pullDataSMSCibil('thirdPartyCibil', data)
                        " (nzOnCancel)="cancel()" class="m-l-5">Pull Cibil from Third Party</a>
                    </li>
                    <ng-template #popupTitle>Are you sure you want to pull Cibil data for
                      <span>{{
                        data?.user?.first_name
                        ? data?.user?.first_name +
                        " " +
                        (data?.user?.last_name ? data?.user?.last_name : "")
                        : ""
                        }}</span>
                      from the third party?
                    </ng-template>
                    <li *ngxPermissionsOnly="[
                        'pull_sms_underwriting_application'
                      ]" nz-menu-item (click)="pullDataSMSCibil('thirdPartySMS', data)">
                      <span class="m-l-5">Pull SMS from Third Party</span>
                    </li>
                    <li *ngxPermissionsOnly="[
                        'fetch_sms_underwriting_application'
                      ]" nz-menu-item (click)="getCibilScoreData('sms', data?.user?.id)">
                      <span class="m-l-5">Fetch SMS</span>
                    </li>

                    <li nz-menu-item (click)="openMoveToModal(data.id)">
                      <span class="m-l-5">Move To Document Pending</span>
                    </li>
                    <li nz-menu-item *ngIf="data?.product_master_id == 2" (click)="openManualModal(data.id)">
                      <span class="m-l-5">EMI Manual</span>
                    </li>
                  </ul>
                </nz-dropdown-menu>
              </td>
            </tr>
            <tr [nzExpand]="expandSet.has(data.id)">
              <div class="row">
                <div class="col-md-12" *ngIf="data.id === _currentId">
                  <app-deatils [uploadPermission]="'Upload_Underwriting_Document_Details'"
                    [_currentId]="_currentId"></app-deatils>
                </div>
              </div>
            </tr>
          </ng-container>
        </tbody>
      </nz-table>
    </div>
  </nz-card>
</section>

<section *ngIf="_isViewDocument">
  <app-common-document-actions [action]="'viewDocument'" [_isOpenModal]="_isViewDocument ? true : false"
    [documentData]="_currentModalData" (close)="_isViewDocument = false"></app-common-document-actions>
</section>

<section *ngIf="_isVerify">
  <app-common-document-actions [action]="'verifyDocument'" [_isOpenModal]="_isVerify ? true : false"
    [documentData]="_currentModalData" (close)="
      _isVerify = false;
      getIdWiseData(_currentModalData?.application, currentDropDownId)
    ">
  </app-common-document-actions>
</section>
<section *ngIf="_isUpload">
  <app-common-document-actions [action]="'uploadDocument'" [_isOpenModal]="_isUpload ? true : false"
    [documentData]="_currentModalData" (close)="
      _isUpload = false;
      getIdWiseData(_currentModalData?.application, currentDropDownId)
    ">
  </app-common-document-actions>
</section>
<!-- Modal Section -->
<ng-template #modalTitle>
  <label *ngIf="_isStatus">Update Status</label>
  <label *ngIf="_isEditOffer">Edit Offer</label>
  <label *ngIf="_isPullData">
    <span *ngIf="_isCibil">Third Party Cibil Data</span><span *ngIf="!_isCibil">Third Party SMS Data</span></label>
  <label *ngIf="isFetchCibilSms">
    <span *ngIf="_isCibil">Fetch Cibil Data</span><span *ngIf="!_isCibil">Fetch SMS Data</span></label>
</ng-template>
<!-- Modal Section -->
<section>
  <nz-modal [nzWidth]="_isPullData || isFetchCibilSms ? 800 : 500" [(nzVisible)]="_isUpdateStatus"
    [nzTitle]="modalTitle" (nzOnCancel)="handleCancel()" [nzFooter]="footerModal">
    <section *ngIf="_isStatus">
      <div class="row">
        <div class="col-md-4 mb-3">
          <nz-form-label nzRequired>Select Status</nz-form-label>
        </div>
        <div class="col-md-8 mb-3">
          <nz-select class="w-100" [(ngModel)]="_currentStageStatus" nzAllowClear nzPlaceHolder="Select Status">
            <nz-option *ngFor="let item of stageMasterList" [nzValue]="item?.id" [nzLabel]="item?.name"></nz-option>
          </nz-select>
        </div>
        <div class="col-md-4">
          <nz-form-label nzRequired>Remarks</nz-form-label>
        </div>
        <div class="col-md-8">
          <nz-textarea-count [nzMaxCharacterCount]="100">
            <textarea rows="4" [(ngModel)]="remarksDescription" nz-input></textarea>
          </nz-textarea-count>
        </div>
      </div>
    </section>
    <section *ngIf="_isEditOffer">
      <nz-card [nzLoading]="api_calling_loader['accordian']" class="p-0 m-0 border-0">
        <div class="row" [formGroup]="offerForm">
          <div class="col-md-12 mb-3">
            {{
            _currentLoanDetails?.user?.first_name
            ? _currentLoanDetails?.user?.first_name +
            " " +
            (_currentLoanDetails?.user?.last_name
            ? _currentLoanDetails?.user?.last_name
            : "")
            : "-"
            }}
            <span class="mx-2">{{
              _currentLoanDetails?.user?.mobile
              ? _currentLoanDetails?.user?.mobile
              : "-"
              }}</span>
            <span class="mx-2">{{
              _currentLoanDetails?.id ? "ID-" + _currentLoanDetails?.id : "-"
              }}</span>
          </div>
          <div class="col-md-4 mb-3">Offer Amount</div>
          <div class="col-md-8 mb-3">
            <input nz-input placeholder="Enter Your Offer Amount" type="number" formControlName="amountOffered" />
          </div>

          <div class="col-md-4 mb-3">Validity</div>
          <div class="col-md-8 mb-3">
            <input nz-input readonly="readonly" formControlName="validitiy" placeholder="" />
          </div>

          <div class="col-md-4 mb-3">Interest</div>
          <div class="col-md-8 mb-3">
            <nz-input-group nzSuffix="%">
              <input type="text" nz-input readonly="readonly" formControlName="interest" placeholder="" />
            </nz-input-group>
          </div>
        </div>
      </nz-card>
    </section>

    <section *ngIf="_isPullData">
      <app-common-cibil-sms [_currentLoanDetails]="_currentLoanDetails" [isCibil]="_isCibil ? true : false">
      </app-common-cibil-sms>
    </section>
    <section *ngIf="isFetchCibilSms">
      <app-common-cibil-sms [_currentLoanDetails]="_currentLoanDetails" [isFetch]="isFetchCibilSms ? true : false"
        [isCibil]="_isCibil ? true : false">
      </app-common-cibil-sms>
    </section>
  </nz-modal>
</section>

<ng-template #footerModal>
  <button nz-button *ngIf="_isEditOffer" nzType="link" class="border" (click)="resetFilters('offer')">
    Reset
  </button>
  <button nz-button *ngIf="!_isEditOffer" nzType="link" class="border" (click)="handleCancel()">
    Cancel
  </button>
  <button *ngIf="_isStatus" nz-button nzType="primary" [nzLoading]="api_calling_loader['button']"
    [disabled]="!_currentStageStatus || !remarksDescription ? true : false" class="mx-2"
    (click)="handleOk('StatusModal')">
    Submit
  </button>
  <button nz-button nzType="primary" class="mx-2" *ngIf="_isEditOffer" (click)="handleOk('offer')"
    [disabled]="offerForm.invalid ? true : false">
    Update
  </button>
</ng-template>

<nz-modal [(nzVisible)]="isVisibleXMLModal" nzTitle="Fetched XML Response" [nzFooter]="xmlFooter"
  (nzOnCancel)="isVisibleXMLModal = false">
  <ng-container *nzModalContent>
    <nz-card [nzLoading]="api_calling_loader['xmlLoader']">
      <span *ngIf="xmlDataResponse">
        <ngx-json-viewer [json]="xmlDataResponse" [expanded]="false"></ngx-json-viewer>
      </span>
      <span *ngIf="!xmlDataResponse" style="font-weight: bolder">
        No data Found
      </span>
    </nz-card>
  </ng-container>
  <ng-template #xmlFooter>
    <button nz-button nzType="link" class="border" (click)="isVisibleXMLModal = false">
      Cancel
    </button>
  </ng-template>
</nz-modal>

<nz-modal [(nzVisible)]="isVisibleThirdPartyResp" [nzWidth]="500" nzTitle="Fetcheds Third Party Response"
  [nzFooter]="thirdPartyFooter" (nzOnCancel)="isVisibleThirdPartyResp = false">
  <ng-container *nzModalContent>
    <nz-card [nzLoading]="api_calling_loader['xmlLoader']">
      <span *ngIf="thirdPartyDataResponse">
        <ngx-json-viewer [json]="thirdPartyDataResponse" [expanded]="true"></ngx-json-viewer>
      </span>
      <span *ngIf="!thirdPartyDataResponse" style="font-weight: bolder">
        No data Found
      </span>
    </nz-card>
  </ng-container>
  <ng-template #thirdPartyFooter>
    <button nz-button nzType="link" class="border" (click)="isVisibleThirdPartyResp = false">
      Cancel
    </button>
  </ng-template>
</nz-modal>

<nz-modal [(nzVisible)]="isVisibleUploadedImage" nzTitle="Fetched Selfie Response"
  (nzOnCancel)="isVisibleUploadedImage = false" (nzOnOk)="isVisibleUploadedImage = false" [nzWidth]="'70%'">
  <ng-container *nzModalContent>
    <nz-card [nzLoading]="api_calling_loader['previewSelfie']">
      <div class="row">
        <div class="col-6">
          <div><b>Aadhar Image</b></div>
          <img alt="item" [src]="storedSelfieImage?.aadhar_url" width="100%" />
        </div>
        <div class="col-6">
          <div><b>Selfie Image</b></div>
          <img alt="item" [src]="storedSelfieImage?.selfie_url" width="100%" />
        </div>
      </div>
    </nz-card>
  </ng-container>
</nz-modal>

<section>
  <nz-modal [nzWidth]="'500px'" [(nzVisible)]="_generateOffer" nzTitle="Generate Offer" (nzOnCancel)="handleCancel()"
    [nzFooter]="footerModalOffer">
    <section *ngIf="_isEditOffer">
      <div class="row" [formGroup]="offerForm">
        <div class="col-md-12 mb-3">
          {{
          _currentLoanDetails?.user?.first_name
          ? _currentLoanDetails?.user?.first_name +
          " " +
          (_currentLoanDetails?.user?.last_name
          ? _currentLoanDetails?.user?.last_name
          : "")
          : "-"
          }}
          <span class="mx-2">{{
            _currentLoanDetails?.user?.mobile
            ? _currentLoanDetails?.user?.mobile
            : "-"
            }}</span>
          <span class="mx-2">{{
            _currentLoanDetails?.id ? "ID-" + _currentLoanDetails?.id : "-"
            }}</span>
        </div>
        <div class="col-md-4 mb-3">Offer Amount</div>
        <div class="col-md-8 mb-3">
          <input nz-input placeholder="Enter Your Offer Amount" formControlName="amountOffered" />
        </div>

        <div class="col-md-4 mb-3">Validity</div>
        <div class="col-md-8 mb-3">
          <input nz-input readonly="readonly" placeholder="" />
        </div>

        <div class="col-md-4 mb-3">Interest</div>
        <div class="col-md-8 mb-3">
          <input nz-input readonly="readonly" placeholder="" />
        </div>
      </div>
    </section>
    <section *ngIf="_generate_offer">
      <div class="row mb-3">
        <div class="col-md-6">
          <nz-form-label nzRequired>Final amount max</nz-form-label>
        </div>
        <div class="col-md-6">
          <input nz-input type="number" [(ngModel)]="final_amount_max" min="0" placeholder="Enter final amount max" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <nz-form-label nzRequired> Final amount </nz-form-label>
        </div>
        <div class="col-md-6">
          <input nz-input type="number" [(ngModel)]="final_amount" placeholder="Enter final amount" />
        </div>
      </div>
    </section>
  </nz-modal>
  <ng-template #footerModalOffer>
    <button nz-button nzType="link" class="border" (click)="handleCancel()">
      Cancel
    </button>
    <button nz-button nzType="primary" [disabled]="!final_amount_max && !final_amount ? true : false" class="mx-2"
      [nzLoading]="api_calling_loader['offerButton']" (click)="handleOk('generate_offer')">
      Submit
    </button>
  </ng-template>
</section>

<nz-modal [(nzVisible)]="pdf_viewer_object_values['boolean']" nzHeight="60vw" nzWidth="80vw" nzKeyboard="true"
  [nzTitle]="pdf_viewer_object_values['title']" (nzOnCancel)="handleCancel()" [nzFooter]="modalFooter">
  <ng-container *nzModalContent>
    <div class="pdf_viewer_container" *ngIf="pdf_viewer_object_values['url']">
      <embed [src]="pdfData" width="100%" style="height: 37rem" />
    </div>
    <div *ngIf="!pdf_viewer_object_values['url']">
      <h4>No PDF Found</h4>
    </div>
  </ng-container>
</nz-modal>
<ng-template #modalFooter>
  <button nz-button nzType="primary" (click)="handleCancel()">Close</button>
</ng-template>

<nz-modal [(nzVisible)]="isVisible" nzTitle="Select Date Range" (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk('attendance')" [nzOkText]="'Fetch attendance'" [nzOkLoading]="api_calling_loader['button']">
  <ng-container *nzModalContent>
    <nz-range-picker [(ngModel)]="attendance_date"></nz-range-picker>
  </ng-container>
</nz-modal>
<nz-modal nzWidth="1000px" [(nzVisible)]="isAttendanceVisible" nzTitle="Attendance" (nzOnCancel)="handleCancel()"
  [nzOkText]="null">
  <ng-container *nzModalContent>
    <nz-table [nzData]="attendance_data">
      <thead>
        <tr>
          <th>Sr. no.</th>
          <th>Date</th>
          <th>Number of hours worked</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of attendance_data; index as i">
          <td>{{ i + 1 }}</td>
          <td>{{ data.date }}</td>
          <td>{{ data.number_of_hours_worked }}</td>
          <td>{{ data.status }}</td>
        </tr>
      </tbody>
    </nz-table>
  </ng-container>
</nz-modal>
<nz-modal [(nzVisible)]="isMoveToDoc" nzTitle="Move to Document Pending" (nzOnCancel)="handleCancel()"
  (nzOnOk)="moveToPendingDocumentUploadStage(true)">
  <ng-container *nzModalContent>
    <div class="row">
      <div class="col-md-12 mb-3">Select Documents :</div>
      <div class="col-md-12 mb-3">
        <nz-checkbox-group [(ngModel)]="checkOptionsOne"></nz-checkbox-group>
      </div>
      <div class="col-md-12 mb-3">Remarks :</div>
      <div class="col-md-12">
        <textarea nz-input [nzAutosize]="{ minRows: 3, maxRows: 5 }" [(ngModel)]="document_remark"></textarea>
      </div>
    </div>
  </ng-container>
</nz-modal>


<!-- change product type -->
<nz-modal [(nzVisible)]="isChangeProductType" nzTitle="Change product type" (nzOnCancel)="handleCancel()"
  (nzOnOk)="changeProductTypeAPICall()" nzOkText="Change product type" [nzOkLoading]="loading">
  <ng-container *nzModalContent>
    <div class="row">
      <div class="col-md-12">
        <!-- <nz-form-item>
          <nz-form-label>Product type</nz-form-label>
          <nz-form-control nzErrorTip="Please check your product type">
            <nz-radio-group [(ngModel)]="selectedType">
              <label nz-radio nzValue="B2B">B2B</label>
              <label nz-radio nzValue="D2C">D2C</label>
            </nz-radio-group>
          </nz-form-control>
        </nz-form-item> -->
        <nz-form-item *ngIf="selectedType == 'D2C'">
          <nz-form-label>Company Name</nz-form-label>
          <nz-form-control nzErrorTip="Please check your Company name!">
            <input nz-input placeholder="Enter your Company name" [(ngModel)]="company_name">
          </nz-form-control>
        </nz-form-item>
        <nz-form-item *ngIf="selectedType == 'B2B'">
          <nz-form-label>Company Name</nz-form-label>
          <nz-form-control nzErrorTip="Please select your Company Name!">
            <nz-select class="w-100" style=" width: 8rem;" nzAllowClear [(ngModel)]="company_id"
              nzPlaceHolder="Company Name" (nzFocus)="onFocusMethod('partner')">
              <nz-option *ngFor="let item of partnerList" [nzValue]="item?.pk" [nzLabel]="item?.name"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item *ngIf="selectedType == 'B2B'">
          <nz-form-label nzFor="emp_code" class="text-left">Employee Code
          </nz-form-label>
          <nz-form-control nzErrorTip="Please Add Valid Code">
            <input nz-input type="text" placeholder="EMP Code" [(ngModel)]="emp_code" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label nzFor="employment_type_id" class="text-left">Employment Type
          </nz-form-label>
          <nz-form-control nzErrorTip="Please select Valid Type">
            <nz-select [(ngModel)]="emp_type" nzPlaceHolder="Select Type" (nzFocus)="fetchEmploymentType()">
              <nz-option *ngFor="let item of employmentType" [nzValue]="item.pk" [nzLabel]="item.name">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </ng-container>
</nz-modal>

<!-- Manual EMI  -->
<ng-template #manualFooter>
  <button nz-button nzType="link" (click)="handleCancelManual()">Cancel</button>
  <button nz-button nzType="primary" [disabled]="emiManualForm.invalid" [nzLoading]="manualLoading" (click)="handleManualSubmit()">Save</button>
</ng-template>

<nz-modal [(nzVisible)]="isManualEmi" nzTitle="EMI Manual Offer" [nzFooter]="manualFooter"
  (nzOnCancel)="handleCancelManual()" nzOkText="Save">
  <ng-container *nzModalContent>
    <form [formGroup]="emiManualForm">
      <div class="row">
        <div class="col-md-12">
          <nz-form-item>
            <nz-form-label nzRequired>Amount</nz-form-label>
            <nz-form-control nzErrorTip="Please check your Max Amount">
              <input nz-input type="number" placeholder="Enter max amount" formControlName="max_amount">
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label nzRequired>Interest</nz-form-label>
            <nz-form-control nzErrorTip="Please check your interest">
              <nz-input-group [nzAddOnAfter]="manualIntr" class="mb-2" style="width: 19rem">
                <input nz-input type="number" placeholder="Enter interest" formControlName="interest_rate">
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <ng-template #manualIntr> % </ng-template>

          <nz-form-item>
            <nz-form-label nzRequired>Product Tenure </nz-form-label>
            <nz-form-control nzErrorTip="Please select Valid Product">
              <nz-select formControlName="tenure" nzPlaceHolder="Select Product Tenure">
                <nz-option *ngFor="let item of productTenureList" [nzValue]="item.tenure" [nzLabel]="item.name">
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </form>

  </ng-container>
</nz-modal>