<div class="header_breadcrumb_section">
    <button nz-button nzType="primary" class="ml-auto" (click)="isEdit = true; modalTitle = 'Add Employee'">+ Add Employee</button>
</div>
<section>
    <div class="row">
        <nz-card class="w-100">
            <div class="row">
                <div class="col-md-4 mb-3 d-flex">
                    <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                        <input type="text"nz-input placeholder="Search text" [(ngModel)]="search_params" (keyup.enter)="fetchEmployeeList()"/>
                    </nz-input-group>
                    <ng-template #suffixIconButton>
                        <button nz-button nzType="secondary" nzSearch (click)="fetchEmployeeList()"><i nz-icon nzType="search"></i></button>
                    </ng-template>
                    <button nz-button nzType="default" nzShape="circle" nz-tooltip nzTooltipTitle="Reset Filter"  class="ml-2" (click)="resetFilters()">
                        <i nz-icon nzType="undo"></i>
                    </button>
                </div>
                <div class="col-md-8 mb-3 d-flex justify-content-md-end">
                    <nz-range-picker [(ngModel)]="date" (ngModelChange)="fetchEmployeeList()"></nz-range-picker>
                    <nz-select class="mx-1" style="width: 15rem;" [(ngModel)]="roles"
                        (ngModelChange)="fetchEmployeeList()" nzPlaceHolder="Filter By Role" (nzFocus)="fetchRoles()">
                        <nz-option *ngFor="let item of roleData" [nzValue]="item.pk" [nzLabel]="item.name">
                        </nz-option>
                    </nz-select>

                    <nz-select class="mx-1" style="width: 12rem;" [(ngModel)]="deactivated" (ngModelChange)="fetchEmployeeList()"
                        nzPlaceHolder="Filter By Status">
                        <nz-option nzValue="0" nzLabel="Active"></nz-option>
                        <nz-option nzValue="1" nzLabel="Inactive"></nz-option>
                    </nz-select>
                </div>
            </div>
            <nz-table [nzFrontPagination]="false" [nzShowSizeChanger]="true" [nzData]="employeeList" [nzLoading]="api_calling_loader" [nzPageIndex]="page" [nzTotal]="total_count" [nzPageSize]="globalPageSize"
            (nzQueryParams)="employeeList ? fetchEmployeeList($event) : ''">
                <thead>
                    <tr>
                        <th nzWidth="3rem">#</th>
                        <th>Employee Name</th>
                        <th>Employee Code</th>
                        <th>User Type</th>
                        <th>Mobile No.</th>
                        <th>Email-ID</th>
                        <th>Regd. On</th>
                        <th>Status</th>
                        <th nzRight>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of employeeList; index as i">
                        <td *ngIf="page === 1">{{i+1}}</td><td *ngIf="page > 1">{{((page-1)*globalPageSize)+(i+1)}}</td>
                        <td>{{ data.first_name ? data.first_name + ' ' + data.last_name : '-' }}</td>
                        <td>{{ data.unique_code ? data.unique_code : '-' }}</td>
                        <td>{{ data.role ? data.role.role_name : '-' }}</td>
                        <td>{{ data.mobile ? data.mobile : '-' }}</td>
                        <td>{{ data.email ? data.email : '' }}</td>
                        <td>{{ data.created_at | date: "mediumDate"}} {{data.created_at | date: "shortTime" }}</td>
                        <td>{{ data.is_active ? 'Active' : 'Inactive' }}</td>
                        <td nzRight>
                            <div>
                                <a class="text-dark font-size-20" nz-dropdown [nzClickHide]="false" [nzTrigger]="'click'"
                                    [nzPlacement]="'bottomRight'" [nzDropdownMenu]="latestUploadDropDown">
                                    <img src="assets/images/ellipsis.png" alt="" width="30">
                                </a>
                                <nz-dropdown-menu #latestUploadDropDown="nzDropdownMenu">
                                    <ul nz-menu>
                                        <li nz-menu-item (click)="changePasswordFunction(data)">
                                            <span class="m-l-5">Change Password</span>
                                        </li>
    
                                        <li nz-menu-item (click)="editEmployeeFunction(data)">
                                            <span class="m-l-5">Edit</span>
                                        </li>

                                        <!-- <li nz-menu-item (click)="deleteEmployeeFunction(data.id)">
                                            <span class="m-l-5">Delete</span>
                                        </li> -->
                                        
                                        <!-- <li nz-menu-item>
                                            <span class="m-l-5">Edit Permissions</span>
                                        </li> -->

                                        <li nz-menu-item nz-popconfirm
                                        nzPopconfirmTitle="Are you sure {{ !data.is_active ? 'Activate' : 'Inactivate' }} Employee?"
                                        nzPopconfirmPlacement="topLeft"
                                        (nzOnConfirm)="deleteEmployeeFunction(data.id)">
                                            <span class="m-l-5">{{ !data.is_active ? 'Active' : 'Inactive' }}</span>
                                        </li>
                                    </ul>
                                </nz-dropdown-menu>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </nz-table>
            <div class="total_count_text" *ngIf="total_count">
                <b>Total Count : </b>{{total_count}}
            </div>
        </nz-card>
    </div>
</section>
<nz-modal [nzWidth]="400" [(nzVisible)]="isDelete" [nzFooter]="null" [nzClosable]="false">
    <ng-container *nzModalContent>
        <app-double-confirmation-popup 
            [title]="'You are about to delete an employee detail'"
            [subTitle]="'This action will delete the details permanently. Are You Sure?'"
            [icon]="'assets/images/delete-icon.png'"
            (onOkCall)="deleteEmployee()"
            (onCencelCall)="isDelete = false; idForDeleteEmployee = ''"
            [cancelBtnTxt]="'Cancel'"
            [submitBtnTxt]="'OK'">
        </app-double-confirmation-popup>
    </ng-container>
</nz-modal>

<nz-modal [(nzVisible)]="isEdit" [nzTitle]="modalTitle" (nzOnCancel)="isEdit = false; createEditForm.reset()" (nzOnOk)="editEmployee(createEditForm.value)"
    nzOkText="Save" [nzOkDisabled]="createEditForm.invalid">
    <ng-container *nzModalContent>
        <nz-spin [nzSpinning]="formLoading">
            <form [formGroup]="createEditForm">
                <div class="row">
                    <div class="col-md-6">
                        <nz-form-item>
                            <nz-form-label [nzSm]="24" [nzXs]="24" nzFor="first_name" class="text-left" nzRequired>Employee
                                First Name</nz-form-label>
                            <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="Please input Employee First Name!">
                                <input nz-input type="text" formControlName="first_name" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div class="col-md-6">
                        <nz-form-item>
                            <nz-form-label [nzSm]="24" [nzXs]="24" nzFor="last_name" class="text-left" nzRequired>Employee Last
                                Name</nz-form-label>
                            <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="Please input Employee Last Name!">
                                <input nz-input type="text" formControlName="last_name" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div class="col-md-6">
                        <nz-form-item>
                            <nz-form-label [nzSm]="24" [nzXs]="24" nzFor="unique_code" class="text-left" nzRequired>Employee
                                Code</nz-form-label>
                            <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="Please input Employee Code!">
                                <input nz-input type="text" formControlName="unique_code" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div class="col-md-6">
                        <nz-form-item>
                            <nz-form-label [nzSm]="24" [nzXs]="24" nzFor="role" class="text-left">Designation
                            </nz-form-label>
                            <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="Please input Designation!">
                                <nz-select nzAllowClear formControlName="role" nzPlaceHolder="Please select Designation"
                                    (nzFocus)="fetchRoles()">
                                    <nz-option *ngFor="let item of roleData" [nzValue]="item.pk" [nzLabel]="item.name">
                                    </nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div class="col-md-6">
                        <nz-form-item>
                            <nz-form-label [nzSm]="24" [nzXs]="24" nzFor="associated_team" class="text-left">
                                Associated Team</nz-form-label>
                            <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="Please input Associated Team!">
                                <nz-select nzAllowClear formControlName="associated_team"
                                    nzPlaceHolder="Please select Associated Team" (nzFocus)="fetchRoles()">
                                    <nz-option *ngFor="let item of teamName" [nzValue]="item.name" [nzLabel]="item.name">
                                    </nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div class="col-md-6">
                        <nz-form-item>
                            <nz-form-label [nzSm]="24" [nzXs]="24" nzFor="reporting_manager" class="text-left">
                                Reporting Manager</nz-form-label>
                            <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="Please input Reporting Manager!">
                                <nz-select nzAllowClear formControlName="reporting_manager" nzPlaceHolder="Please select Reporting Manager"
                                    (nzFocus)="fetchEmployeeManagerList()">
                                    <nz-option *ngFor="let item of employeeManagerList" [nzValue]="item.id"
                                        [nzLabel]="item.first_name + ' ' + item.last_name">
                                    </nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div class="col-md-6">
                        <nz-form-item>
                            <nz-form-label [nzSm]="24" [nzXs]="24" nzFor="mobile" class="text-left" nzRequired>Mobile No.
                            </nz-form-label>
                            <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="Please input Mobile No.!">
                                <input nz-input type="text" formControlName="mobile" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div class="col-md-6">
                        <nz-form-item>
                            <nz-form-label [nzSm]="24" [nzXs]="24" nzFor="email" class="text-left" nzRequired>Email ID
                            </nz-form-label>
                            <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="Please input Email ID!">
                                <input nz-input type="text" formControlName="email" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div class="col-md-6">
                        <nz-form-item>
                            <nz-form-label [nzSm]="24" [nzXs]="24" nzFor="is_active" class="text-left" nzRequired>Status
                            </nz-form-label>
                            <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="Please input Status!">
                                <nz-select nzAllowClear formControlName="is_active" nzPlaceHolder="Please select Status">
                                    <nz-option [nzValue]="true" nzLabel="Active"></nz-option>
                                    <nz-option [nzValue]="false" nzLabel="Inactive"></nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
            </form>
        </nz-spin>
    </ng-container>
</nz-modal>

<nz-modal [(nzVisible)]="isChangePassword" nzTitle="Change Password" (nzOnCancel)="isChangePassword = false" (nzOnOk)="changePassword()"
    nzOkText="Update">
    <ng-container *nzModalContent>
        <nz-spin [nzSpinning]="formLoading">
            <form [formGroup]="changePasswordForm">
                <div class="row">
                    <div class="col-md-12">
                        <span class="mr-3">Name : {{changePasswordForm.value.name}}</span>
                        <span>Employee Code - {{changePasswordForm.value.code}}
                        </span>
                    </div>
                    <div class="col-md-12">
                        <nz-form-item>
                            <nz-form-label [nzSm]="24" [nzXs]="24" nzFor="new_password" class="text-left" nzRequired>New Password
                            </nz-form-label>
                            <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="Please input New Password!">
                                <input nz-input type="text" formControlName="new_password" placeholder="Type new password"/>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div class="col-md-12">
                        <nz-form-item>
                            <nz-form-label [nzSm]="24" [nzXs]="24" nzFor="retype_password" class="text-left" nzRequired>Confirm new Password
                            </nz-form-label>
                            <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="Please input Confirm new Password!">
                                <input nz-input type="text" formControlName="retype_password" placeholder="Type new password"/>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
            </form>
        </nz-spin>
    </ng-container>
</nz-modal>