<nz-modal [(nzVisible)]="_isOpenModal" [nzTitle]="modalTitle" (nzOnCancel)="handleCancel()" [nzFooter]="footerModal" nzHeight="50vw" nzWidth="60vw">
    <nz-card class="border-0" [nzLoading]="api_calling_loader['cardLoader']">
        <!-- View Document -->
        <section *ngIf="action == 'viewDocument'">
            <div class="row">
                <div class="col-md-12 mb-3" *ngIf="isDoubleSide">
                    <h6> {{ documentData?.document_master?.name }}</h6>
                    <nz-radio-group [(ngModel)]="currentDocumentType" nzButtonStyle="solid">
                        <label class="mb-3 mb-md-0" nz-radio [nzValue]="1">Front View</label>
                        <label class="mb-3 mx-3 mb-md-0" nz-radio [nzValue]="2">Back View</label>
                    </nz-radio-group>
                </div>
                <div class="col-md-12"
                    *ngIf="isDoubleSide ? isDoubleSide && (currentDocumentType == 1) : currentDocumentType == 1">
                    <span *ngIf="documentData?.document_master?.name == 'Voter ID'" class="mb-5 pb-4">
                        <a href="{{  documentData?.front_file_url }}" target="_blank">{{'Preview' + documentData?.document_master?.name }} </a>
                    </span>
                    <embed
                        [src]="sanatizeUrlToSafe((isDoubleSide ? (isDoubleSide && (currentDocumentType == 1) ? documentData?.front_file_url : documentData?.back_file_url) : documentData?.file_url))"
                        class="w-100 h-100 mt-4">
                </div>
                <div class="col-md-12"
                    *ngIf="isDoubleSide ? isDoubleSide && (currentDocumentType == 2) : currentDocumentType == 2">
                    <span *ngIf="documentData?.document_master?.name == 'Voter ID'" class="mb-5 pb-4">
                        <a href="{{  documentData?.back_file_url }}" target="_blank">{{'Preview' + documentData?.document_master?.name }} </a>
                    </span>
                    <embed [src]="sanatizeUrlToSafe(documentData?.back_file_url)" class="w-100 h-100 mt-4">
                </div>
            </div>
        </section>
        <!-- Verify Document -->
        <section *ngIf="action == 'verifyDocument' ? true : false">
            <div class="d-flex flex-column">
                <div> Verify {{ documentData?.document_master?.name + ' Document'}}
                </div>
                <div class="d-flex flex-column">
                    <div>
                        <nz-radio-group [(ngModel)]="documentStatus">
                            <label nz-radio [nzValue]="1">Accept</label>
                            <label nz-radio [nzValue]="2">Reject</label>
                        </nz-radio-group>
                    </div>
                    <div class="d-flex flex-wrap mt-3">
                        <label>Remarks: </label>
                        <textarea rows="4" nz-input [(ngModel)]="verifyRemarks"></textarea>
                        <!-- <nz-textarea-count class="mx-3 w-100" [(ngModel)]="verifyRemarks" [nzMaxCharacterCount]="200">
                      <textarea rows="4" nz-input></textarea>
                </nz-textarea-count> -->
                    </div>
                </div>
            </div>
        </section>

        <section *ngIf="action == 'uploadDocument' ? true : false">
            <div class="row">
                <ng-container *ngIf="isDoubleSide">
                    <div class="col-md-12 mb-4">
                        <!-- <embed *ngIf="_currentFileName" class="my-3" [src]="sanatizeUrlToSafe(documentData?.front_file_url)" class="w-100 h-100"> -->

                        <nz-upload [nzAccept]="'.pdf, .img, .jpeg, .png, .jpg'" nzType="drag" [nzBeforeUpload]="beforeUploadName"
                            [nzMultiple]="false" [(nzFileList)]="fileList">
                            <p class="ant-upload-text">{{ documentData?.document_master?.name + ' Front Side'}}</p>
                            <button class="mt-md-2" nz-button nzType="primary">{{fileList[0] ? 'Re-Upload' : 'Upload'}}
                            </button>
                            <!-- <embed *ngIf="!_currentFileName" [src]="sanatizeUrlToSafe(_currentFileName)" class="w-100 h-100"> -->
                            <!-- <img *ngIf="!_currentFileName" [src]="documentData?.front_file_url" alt=""> -->
                        </nz-upload>
                    </div>
                    <nz-divider ></nz-divider>
                    <div class="col-md-12">
                        <nz-upload [nzAccept]="'.pdf, .img, .jpeg, .png, .jpg'" nzType="drag" [nzBeforeUpload]="beforeUpload"
                            [nzMultiple]="false" [(nzFileList)]="fileListSecond">
                            <p class="ant-upload-text">{{ documentData?.document_master?.name + ' Back Side'}}</p>
                            <button class="mt-md-2" nz-button nzType="primary">{{fileListSecond[0] ? 'Re-Upload' :
                                'Upload'}} </button>
                        </nz-upload>
                    </div>
                </ng-container>
                <div class="col-md-12 mb-3" *ngIf="!isDoubleSide">
                    <nz-upload nzListType="picture" nzType="drag" [nzAccept]="'.pdf, .img, .jpeg, .png, .jpg'"
                        [nzBeforeUpload]="beforeUploadName" [nzMultiple]="false" [(nzFileList)]="fileList">
                        <p class="ant-upload-text">Drag and Drop file here</p>
                        <p class="ant-upload-text">or</p>
                        <button class="mt-md-4" nz-button nzType="primary">Upload</button>
                    </nz-upload>
                </div>
            </div>

        </section>
    </nz-card>
    
</nz-modal>
<!-- Title Section/  -->
<ng-template #modalTitle>
    <label *ngIf="action == 'viewDocument'">
        <i nz-icon nzType="eye" class="mr-3" nzTheme="outline"></i> View Document
    </label>
    <label *ngIf="action == 'verifyDocument'">
        <i nz-icon nzType="check-circle" class="mr-3" nzTheme="outline"></i> Verify Document
    </label>
    <label *ngIf="action == 'uploadDocument'">
        <i nz-icon nzType="upload" class="mr-3" nzTheme="outline"> </i>Upload Document
    </label>
</ng-template>

<ng-template #footerModal>
    <button nz-button nzType="link" class="border" (click)="handleCancel()">Cancel</button>
    <button *ngIf="action == 'verifyDocument' ? true : false" nz-button nzType="primary"
        [nzLoading]="api_calling_loader['button']" [disabled]="!documentStatus ? true : false" class="mx-2"
        (click)="handleOk('verify')">Submit</button>
    <button *ngIf="action == 'uploadDocument' && (isDoubleSide ? (currentDocumentType == 1 ? true : false) : true)"
        nz-button nzType="primary" class="mx-2"
        [disabled]="!(documentData?.front_file_url || fileList[0]) ? true : false"
        [nzLoading]="api_calling_loader['button']" (click)="handleOk('uploadDocument')">Submit</button>
    <button *ngIf="action == 'uploadDocument' && (isDoubleSide ? (currentDocumentType == 2 ? true : false) : false)"
        nz-button nzType="primary" class="mx-2" [disabled]="!_currentFileName2 ? true : false"
        [nzLoading]="api_calling_loader['button']" (click)="handleOk('uploadDocument')">Submit</button>
</ng-template>