<section>
    <nz-card>
        <form nz-form [formGroup]="addEditProductForm">
            <div class="row border-bottom">
                <div class="col-md-12">
                    <nz-form-item>
                        <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="name" class="text-left" nzRequired>Merchant Name</nz-form-label>
                        <nz-form-control [nzSm]="7" [nzXs]="24" nzErrorTip="Please Add valid Merchant Name!">
                            <input nz-input type="text" formControlName="name"  placeholder="Merchant Name"/>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div class="col-md-12">
                    <nz-form-item>
                        <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="address_line_1" class="text-left" nzRequired>Address Line 1</nz-form-label>
                        <nz-form-control [nzSm]="7" [nzXs]="24" nzErrorTip="Please Add valid Address!">
                            <input nz-input type="text" formControlName="address_line_1" placeholder="Address Line 1"/>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div class="col-md-12">
                    <nz-form-item>
                        <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="address_line_2" class="text-left" nzRequired>Address line 2</nz-form-label>
                        <nz-form-control [nzSm]="7" [nzXs]="24" nzErrorTip="Please Add valid Address line 2!">
                            <input nz-input type="text" formControlName="address_line_2"  placeholder="Address Line 2"/>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div class="col-md-12">
                    <nz-form-item>
                        <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="unique_code" class="text-left" nzRequired>Unique Code</nz-form-label>
                        <nz-form-control [nzSm]="7" [nzXs]="24" nzErrorTip="Please Add valid Unique Code!">
                            <input nz-input type="text" formControlName="unique_code"  placeholder="Unique Code"/>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div class="col-md-12">
                    <nz-form-item>
                        <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="city" class="text-left" nzRequired>City</nz-form-label>
                        <nz-form-control [nzSm]="7" [nzXs]="24" nzErrorTip="Please Add valid City!">
                            <input nz-input type="text" formControlName="city"  placeholder="City"/>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div class="col-md-12">
                    <nz-form-item>
                        <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="state" class="text-left" nzRequired>State</nz-form-label>
                        <nz-form-control [nzSm]="7" [nzXs]="24" nzErrorTip="Please select Valid Sate">
                            <nz-select formControlName="state" nzPlaceHolder="Select State"
                                (nzFocus)="getListOfStates()" nzShowSearch nzAllowClear
                                (nzOnSearch)="onSearchGetList($event, 'state')">
                                <nz-option *ngFor="let item of stateArr" [nzValue]="item.id"
                                    [nzLabel]="item.name">
                                </nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div class="col-md-12">
                    <nz-form-item>
                        <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="pincode" class="text-left" nzRequired>Pin Code</nz-form-label>
                        <nz-form-control [nzSm]="7" [nzXs]="24" nzErrorTip="Please Add valid Pincode!">
                            <input nz-input type="number" formControlName="pincode"  placeholder="Pincode"/>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div class="col-md-12">
                    <nz-form-item>
                        <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="phone" class="text-left" nzRequired>Phone No</nz-form-label>
                        <nz-form-control [nzSm]="7" [nzXs]="24" nzErrorTip="Please Add valid Phone No.!">
                            <input nz-input type="number" formControlName="phone"  placeholder="Phone No."/>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div class="col-md-12">
                    <nz-form-item>
                        <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="partner_master" class="text-left" nzRequired>Refereed By</nz-form-label>
                        <nz-form-control [nzSm]="7" [nzXs]="24" nzErrorTip="Please Select Valid Master Partner!">
                        <nz-select nzAllowClear nzShowSearch class="mr-2 width" [nzAllowClear]='false' nzPlaceHolder="Select Master Partner"
                         (keyup)="getListOfMasterPartner($event?.target.value)" formControlName="partner_master">
                        <ng-container *ngFor="let item of listOfMasterPartner" nzCustomContent>
                            <nz-option *ngIf="item?.name"  [nzValue]="item?.pk" [nzLabel]="item?.name"></nz-option>
                        </ng-container>
                      </nz-select>
                    </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <div class="mt-2">
                <h5>
                    Contact Personal Details
                </h5>
            </div>
            <div class="row border-bottom">
                <div class="col-md-6">
                    <nz-form-item>
                        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="contact_person_name" class="text-left" nzRequired>Name</nz-form-label>
                        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please Add valid Name!">
                            <input nz-input type="text" formControlName="contact_person_name"  placeholder="Person Name" />
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div class="col-md-6">
                    <nz-form-item>
                        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="contact_person_phone" class="text-left" nzRequired>Phone No.</nz-form-label>
                        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please Add Valid Phone No !">
                            <input nz-input type="number" formControlName="contact_person_phone"  placeholder="person Phone No."/>
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <div class="col-md-6">
                    <nz-form-item>
                        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="contact_person_email" class="text-left" nzRequired>Email Id</nz-form-label>
                        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please Add Valid Email!">
                            <input nz-input type="text" formControlName="contact_person_email"  placeholder="Person Email"/>
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="mt-2">
                            <h6>
                                Banking Details
                            </h6>
                        </div>
                    </div>
                    
                    <div class="col-md-6">
                        <nz-form-item>
                            <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="bank_name" class="text-left" nzRequired>Bank Name</nz-form-label>
                            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please Add Valid Bank Name!">
                                <input nz-input type="text" formControlName="bank_name"  placeholder="Bank Name"/>
                            </nz-form-control>
                        </nz-form-item>
                    </div>

                    <div class="col-md-6">
                        <nz-form-item>
                            <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="account_no" class="text-left" nzRequired>A/c No.</nz-form-label>
                            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please Add Valid Account No.!">
                                <input nz-input type="text" formControlName="account_no"  placeholder="Account No."/>
                            </nz-form-control>
                        </nz-form-item>
                    </div>

                    <div class="col-md-6">
                        <nz-form-item>
                            <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="ifsc" class="text-left" nzRequired>IFSC Code</nz-form-label>
                            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please Add Valid IFSC Code!">
                                <input nz-input type="text" formControlName="ifsc"  placeholder="IFSC" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>

                    <div class="col-md-6">
                        <nz-form-item>
                            <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="branch" class="text-left" nzRequired>Branch</nz-form-label>
                            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please Add Valid Branch!">
                                <input nz-input type="text" formControlName="branch"  placeholder="Branch" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>

                </div>
            </div>
            <div class="mt-2 d-flex">
                <h5 class="mr-2">
                    KYC Documents 
                </h5>
            </div>
            <ng-container *ngFor="let item of get_underwritingArr(addEditProductForm); let k = index;"
                formArrayName="document_data">
                <!-- <nz-form-label class="text-left" nzNoColon>{{item.controls.label_name.value?.toString().toUpperCase()}}
                </nz-form-label> -->
                <div class="col-md-12" [formGroupName]="k">
                    <div class="row">
                        <div class="col-md-7 pl-0">
                            <nz-form-item>
                                <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="min" class="text-left" nzRequired>
                                    {{item.controls.label_name.value}}</nz-form-label>
                                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please Add {{item.controls.label_name.value}}!">
                                    <div class="d-flex">
                                    <nz-upload
                                        [nzMultiple]="'false'" [nzAccept]="'.png, .jpg, .pdf'"
                                        [nzCustomRequest]="customUpload"
                                        (nzChange)="onUpload($event, k)"
                                        >
                                        <!-- <button nz-button>
                                            <i nz-icon nzType="upload"></i>
                                            Click to Upload
                                        </button> -->
                                        <button nz-button type="button"><i nz-icon nzType="upload"></i>{{item.controls.document_name.value ? 'Re Upload' :    '  Upload ' }}</button>
                                        </nz-upload>
                                        <label class="ml-3 align-self-center" formControlName="is_verified"  nz-checkbox >Verify</label> 
                                    </div>    
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div class="col-md-2 pl-0 mt-2" >
                            <i (click)='deleteDocumentByDocumentId(k)' *ngIf="item.controls.document_name.value" nz-icon nzType="delete" nzTheme="outline" style="font-size: 1rem; cursor: pointer; color: red;"></i>
                        </div>
                    </div>
                </div>
            </ng-container>
            <div class="row no-gutters">
                <div class="col-12 d-flex justify-content-between">
                    <button nz-button nzType="link" class="pl-0" (click)="isVisible = true">+Add Document</button>
                </div>
            </div>

            <div class="row border-top border-bottom my-2">
                <div class="col-12">
                    <div class="mt-2">
                        <h5>
                            UPI ID
                        </h5>
                    </div>
                </div>
                <div class="col-md-6">
                    <nz-form-item>
                        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="primary_upi" class="text-left" nzRequired>Primary UPI ID</nz-form-label>
                        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please Add Valid Primary UPI ID.!">
                            <input nz-input type="text" formControlName="primary_upi"  placeholder="Primary UPI ID"/>
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <div class="col-md-6">
                    <nz-form-item>
                        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="secondary_upi" class="text-left" nzRequired>Secondary UPI ID</nz-form-label>
                        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please Add Valid Secondary UPI ID!">
                            <input nz-input type="text" formControlName="secondary_upi"  placeholder="Secondary UPI ID" />
                        </nz-form-control>
                    </nz-form-item>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-12">
                    <div class="mt-2 d-flex">
                        <h5>
                            Other Details 
                        </h5> <span>(to be filled through admin)</span>
                    </div>
                </div>
                <div class="col-md-6">
                    <nz-form-item>
                        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="mdr" class="text-left" nzRequired>MDR %</nz-form-label>
                        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please Add Valid MDR %!">
                            <input nz-input type="number" formControlName="mdr"  placeholder="MDR."/>
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <div class="col-md-6">
                    <nz-form-item>
                        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="interest_subvention" class="text-left" nzRequired>Interest Subvention</nz-form-label>
                        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please Add Valid Interest Subvention !">
                            <input nz-input type="number" formControlName="interest_subvention"  placeholder="Interest Subvention" />
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div class="col-12">
                    <nz-form-item>
                        <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="payout" class="text-left" nzRequired>Payout</nz-form-label>
                        <nz-form-control [nzSm]="8" [nzXs]="24" nzErrorTip="Please select Payout!">
                            <nz-radio-group formControlName='payout'>
                                <label nz-radio nzValue="yes">Yes</label>
                                <label nz-radio nzValue="no">No</label>
                                <label nz-radio nzValue="na">N/A</label>
                            </nz-radio-group>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                
            </div>
        </form>
    </nz-card>
    <div class="row my-3 justify-content-between">
        <div class="col-3">
            <button nzType="primary" *ngIf="!isEdit" nz-button type="submit" [nzLoading]="apiLoader['saveAddNew']" [disabled]="apiLoader['formSave']" (click)="onClickSaveExistingForm($event)">Save & Add New</button>
        </div>
        <div class="col-3 text-right">
            <button type="submit" (click)="onClickSubmitForm()" [nzLoading]="apiLoader['formSave']" [disabled]="apiLoader['saveAddNew']" nz-button nzType="primary">Save</button>
        </div>

    </div>
</section>


<nz-modal [(nzVisible)]="isVisible" nzTitle="Add New Document" (nzOnCancel)="handleCancel()" (nzOnOk)="addRule()">
    <ng-container *nzModalContent>
        <nz-form-label [nzSm]="7" [nzXs]="24" class="text-left" nzRequired>Select Document</nz-form-label>
        <nz-select class='ml-4' [(ngModel)]="selectedDocument" nzPlaceHolder="Select Select Entity!" style="min-width: 13rem;">
            <nz-option *ngFor="let item of documentArray" [nzValue]="item" [nzLabel]="item.name">
            </nz-option>
        </nz-select>
    </ng-container>
</nz-modal>