<section>
    <div class="row mb-md-3">
        <span>{{total_count ? (total_count + '  Results Found') : (0 + '  Results Found')}}</span>
    </div>
    <div class="row">
        <nz-card class="w-100">
            <div class="row">
                <div class="col-md-4 mb-3 d-flex">
                    <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                        <input (keyup.enter)="getResultBasedOnSearch()" [(ngModel)]="searchValue" type="text" nz-input placeholder="Search text" />
                      </nz-input-group>
                    <ng-template #suffixIconButton>
                        <button (click)="getResultBasedOnSearch()" nz-button nzType="secondary" nzSearch><i nz-icon nzType="search"></i></button>
                      </ng-template>
                </div>
                <div class="col-md-8 mb-3 d-flex justify-content-md-end">
                    <button nz-button nzType="default" nzShape="circle" nz-tooltip nzTooltipTitle="Reset Filter"  class="mr-2" (click)="resetFilter()">
                        <i nz-icon nzType="undo"></i>
                      </button>
                    <ng-container  *ngxPermissionsOnly="['upload_athorization_policy']">
                        <nz-upload style="cursor: pointer;" [nzMultiple]="false" [nzAccept]="'.xls, .xlsx'" [nzBeforeUpload]="beforeUpload"
                        class="d-flex align-items-center mx-4" nzSize="large">
                        {{uploaded_file ? 'Re Upload' : 'Upload File' }}
                        <i *ngIf="!uploaded_file" class="pl-2 text-primary" nz-icon nzTheme="outline" nzType="edit"></i>
                        </nz-upload>
                    </ng-container>
                    <button nz-button nzType="primary" class="ml-3" (click)="http.sampleDownloadGlobalFunction('MCCCODE_UPLOAD')">Sample File Download<i nz-icon nzType="cloud-download" nzTheme="outline"></i></button>
                </div>
            </div>
            <nz-table [nzTotal]="total_count" [nzFrontPagination]="false" [nzLoading]="apiLoader['list']" [nzPageSize]="globalPageSize"
            [nzShowSizeChanger]="true" [nzFrontPagination]="false"
            [nzPageIndex]="page" (nzQueryParams)="getAuthorizationList($event)" [nzShowSizeChanger]="true" [nzData]="UPIList">
                <thead>
                    <tr>
                    <th rowspan="2" nzWidth="100px">#</th>
                    <th >MCC Code</th>
                    <th >Type</th>
                    <th >Status</th>
                    <th >Remarks</th>
                    <th> Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let data of UPIList; index as i">
                        <tr>
                            <td *ngIf="page === 1">{{i+1}}</td>
                            <td *ngIf="page > 1">{{((page-1)*globalPageSize)+(i+1)}}</td>
                            <td>{{ data?.code }}</td>
                            <td>{{ data?.code_type }}</td>
                            <td>{{ data?.status  }}</td>
                            <td>{{ data?.remarks ? data?.remarks : ' -- '  }}</td>
                            <td>
                                <a class="text-dark font-size-20" nz-dropdown [nzClickHide]="false"
                                    [nzTrigger]="'click'" [nzPlacement]="'bottomRight'"
                                    [nzDropdownMenu]="latestUploadDropDown">
                                    <i nz-icon nzType="ellipsis" theme="outline"></i>
                                </a>
                                <nz-dropdown-menu #latestUploadDropDown="nzDropdownMenu">
                                    <ul nz-menu>
                                        <!-- [routerLink]="['edit-employee', data.id]" -->
                                        <ng-container *ngxPermissionsOnly="['mcc_code_edit_athorization_policy']">
                                            <li nz-menu-item (click)="changeDetail(data)">
                                            <span class="m-l-5" >Edit</span>
                                        </li>
                                        </ng-container>
                                        
                                        <ng-container *ngxPermissionsOnly="['mcc_code_active_athorization_policy']">
                                            <li  *ngIf="data?.status == 'Blocked'" nz-menu-item>
                                            <span  class="m-l-5" (click)="toggleStatusBasedOnAction(data?.id, 'active')">Active</span>
                                        </li>
                                        </ng-container>
                                        
                                        <ng-container *ngxPermissionsOnly="['mcc_code_inactive_athorization_policy']">
                                            <li  *ngIf="data?.status == 'Active'" nz-menu-item>
                                            <span class="m-l-5" (click)="toggleStatusBasedOnAction(data?.id, 'inactive')">Inactive</span>
                                        </li>
                                        </ng-container>
                                        
                                    </ul>
                                </nz-dropdown-menu>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </nz-table>
            <div class="total_count_text" *ngIf="total_count && !apiLoader['list']">
                <b>Total Count : </b>{{total_count}}
              </div>
        </nz-card>
    </div>
</section>

<nz-modal nzTitle="Edit" [nzOkLoading]="apiLoader['onOk']"  (nzOnCancel)="isVisible = false"[nzWidth]="800" [(nzVisible)]="isVisible" (nzOnOk)="onClickUpdateDetails()" [nzClosable]="true" >
    <ng-container *nzModalContent>
        <div  class="row mb-4">
            <div class="col-6">
                <span class="h6 my-0 text-bold ml-1 mr-5">
                    Old MCC Code :-
                </span>
                <span class="h6 my-0 ">
                    {{oldDetail?.code ? oldDetail?.code : ' -- '}}
                </span>
            </div>
            <div class="col-6">
                <span class="h6 my-0 text-bold ml-1 mr-5">
                    Type :-
                </span>
                <span class="h6 my-0">
                    {{oldDetail?.code_type ? oldDetail?.code_type : ' -- '}}    
                </span>
            </div>
        </div>
        <form [formGroup]="updateMCCDetails">
        <div class="row mb-5">
            <div class="col-md-12">
                <nz-form-item>
                    <nz-form-label [nzSm]="5" [nzXs]="24" nzFor="code" class="text-left" nzRequired>New MCC Code</nz-form-label>
                    <nz-form-control [nzSm]="19" [nzXs]="24" nzErrorTip="Please Add Valid 4 Digit MCC Code!">
                        <input nz-input formControlName="code" type="text"  placeholder="MCC Code"/>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div class="col-md-12">
                <nz-form-item>
                    <nz-form-label  [nzSm]="5" [nzXs]="24" nzFor="remarks" class="text-left" nzRequired>Remarks</nz-form-label>
                    <nz-form-control [nzSm]="19" [nzXs]="24" nzErrorTip="Please input Remarks!">
                        <input nz-input formControlName="remarks" type="text"  placeholder="Remarks"/>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
    </form>
        <!-- <app-change-password
            [userData]="selectedUserData"
            (onOkCall)="onClickChangePassword($event)"
            (onCencelCall)="toggleChangePassword = false"
            [cancelBtnTxt]="'Cancel'"
            [submitBtnTxt]="'Update'">
        </app-change-password> -->
    </ng-container>
</nz-modal>