<section>
    <nz-card>
        <form nz-form [formGroup]="addEditProductForm">
            <div class="row border-bottom">
                <div class="col-md-12">
                    <nz-form-item>
                        <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="name" class="text-left" nzRequired>NBFC’s Name</nz-form-label>
                        <nz-form-control [nzSm]="7" [nzXs]="24" nzErrorTip="Please Add Valid NBFC’s Name!">
                            <input nz-input type="text" formControlName="name"  placeholder="NBFC Name"/>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div class="col-md-12">
                    <nz-form-item>
                        <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="address_line_1" class="text-left" nzRequired>Address Line 1</nz-form-label>
                        <nz-form-control [nzSm]="7" [nzXs]="24" nzErrorTip="Please Add Valid Address!">
                            <input nz-input type="text" formControlName="address_line_1" placeholder="Address Line 1"/>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div class="col-md-12">
                    <nz-form-item>
                        <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="address_line_2" class="text-left" nzRequired>Address line 2</nz-form-label>
                        <nz-form-control [nzSm]="7" [nzXs]="24" nzErrorTip="Please Add Valid Address line 2!">
                            <input nz-input type="text" formControlName="address_line_2"  placeholder="Address Line 2"/>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div class="col-md-12">
                    <nz-form-item>
                        <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="city" class="text-left" nzRequired>City</nz-form-label>
                        <nz-form-control [nzSm]="7" [nzXs]="24" nzErrorTip="Please Add Valid  City!">
                            <input nz-input type="text" formControlName="city"  placeholder="City"/>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div class="col-md-12">
                    <nz-form-item>
                        <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="state" class="text-left" nzRequired>State</nz-form-label>
                        <nz-form-control [nzSm]="7" [nzXs]="24" nzErrorTip="Please select Valid Sate">
                            <nz-select formControlName="state" nzPlaceHolder="Select State"
                                (nzFocus)="getListOfStates()" nzShowSearch nzAllowClear
                                (nzOnSearch)="onSearchGetList($event, 'state')">
                                <nz-option *ngFor="let item of stateArr" [nzValue]="item.id"
                                    [nzLabel]="item.name">
                                </nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div class="col-md-12">
                    <nz-form-item>
                        <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="pincode" class="text-left" nzRequired>Pin Code</nz-form-label>
                        <nz-form-control [nzSm]="7" [nzXs]="24" nzErrorTip="Please Add Valid Pincode!">
                            <input nz-input type="number" formControlName="pincode"  placeholder="Pincode"/>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div class="col-md-12">
                    <nz-form-item>
                        <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="phone" class="text-left" nzRequired>Phone No</nz-form-label>
                        <nz-form-control [nzSm]="7" [nzXs]="24" nzErrorTip="Please Add Valid Phone No.!">
                            <input nz-input type="number" formControlName="phone"  placeholder="Phone No."/>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <div class="mt-2">
                <h5>
                    Contact Personal Details
                </h5>
            </div>
            <div class="row border-bottom">
                <div class="col-md-6">
                    <nz-form-item>
                        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="nbfc_user_name" class="text-left" nzRequired>Name</nz-form-label>
                        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please Add Valid Contact Person Name!">
                            <input nz-input type="text" formControlName="nbfc_user_name"  placeholder="Person Name" />
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div class="col-md-6">
                    <nz-form-item>
                        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="nbfc_user_mobile" class="text-left" nzRequired>Phone No.</nz-form-label>
                        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please Add Valid Contact person Mobile No.!">
                            <input nz-input type="number" formControlName="nbfc_user_mobile"  placeholder="person Phone No."/>
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <div class="col-md-6">
                    <nz-form-item>
                        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="nbfc_user_email" class="text-left" nzRequired>Email Id</nz-form-label>
                        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please Add Valid Person Email!">
                            <input nz-input type="text" formControlName="nbfc_user_email"  placeholder="Person Email"/>
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="mt-2">
                            <h6>
                                Banking Details
                            </h6>
                        </div>
                    </div>
                    
                    <div class="col-md-6">
                        <nz-form-item>
                            <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="bank_name" class="text-left" nzRequired>Bank Name</nz-form-label>
                            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please Add Valid Bank Name!">
                                <input nz-input type="text" formControlName="bank_name"  placeholder="Bank Name"/>
                            </nz-form-control>
                        </nz-form-item>
                    </div>

                    <div class="col-md-6">
                        <nz-form-item>
                            <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="account_no" class="text-left" nzRequired>A/c No.</nz-form-label>
                            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please Add Valid Account No.!">
                                <input nz-input type="text" formControlName="account_no"  placeholder="Account No."/>
                            </nz-form-control>
                        </nz-form-item>
                    </div>

                    <div class="col-md-6">
                        <nz-form-item>
                            <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="ifsc" class="text-left" nzRequired>IFSC Code</nz-form-label>
                            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please Add Valid IFsC!">
                                <input nz-input type="text" formControlName="ifsc"  placeholder="IFSC" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>

                    <div class="col-md-6">
                        <nz-form-item>
                            <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="branch" class="text-left" nzRequired>Branch</nz-form-label>
                            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please Add Valid Branch!">
                                <input nz-input type="text" formControlName="branch"  placeholder="Branch" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>

                </div>
            </div>
            <div class="mt-2 d-flex">
                <h5 class="mr-2">
                    KYC Documents 
                </h5>
                <span>
                    (Optional)
                </span>
            </div>
            <ng-container *ngFor="let item of get_documentArr(addEditProductForm); let k = index;"
                formArrayName="document_data">
                <!-- <nz-form-label class="text-left" nzNoColon>{{item.controls.label_name.value?.toString().toUpperCase()}}
                </nz-form-label> -->
                <div class="col-md-12" [formGroupName]="k">
                    <div class="row">
                        <div class="col-md-7 pl-0">
                            <nz-form-item>
                                <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="documents" class="text-left" nzRequired>
                                    {{item.controls.label_name.value}}</nz-form-label>
                                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please Add {{item.controls.label_name.value}}!">
                                    <div class="d-flex">
                                        <nz-upload
                                        [nzMultiple]="'false'" [nzAccept]="'.png, .jpg, .pdf'"
                                        [nzCustomRequest]="customUpload"
                                        (nzChange)="onUpload($event, k)"
                                        >
                                        <!-- <button nz-button>
                                            <i nz-icon nzType="upload"></i>
                                            Click to Upload
                                        </button> -->
                                        <button nz-button type="button"><i nz-icon nzType="upload"></i>{{item.controls.document_name.value ? 'Re Upload' :    '  Upload ' }}</button>
                                        </nz-upload>
                                        <label class="ml-3 align-self-center" formControlName="is_verified"  nz-checkbox >Verify</label> 
                                    </div>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div class="col-md-2 pl-0 mt-2" >
                            <i (click)='deleteDocumentByDocumentId(k)' *ngIf="item.controls.document_name.value" nz-icon nzType="delete" nzTheme="outline" style="font-size: 1rem; cursor: pointer; color: red;"></i>
                        </div>
                    </div>
                </div>
            </ng-container>
            <div class="row no-gutters">
                <div class="col-12 d-flex justify-content-between">
                    <button nz-button nzType="link" class="pl-0" (click)="isVisible = true">+Add Document</button>
                </div>
            </div>

            <div class="row border-top mt-2">
                <div class="col-12">
                    <div class="mt-2">
                        <h5>
                            Other Details (to be filled through admin)
                        </h5>
                    </div>
                </div>
                <div class="col-md-6">
                    <nz-form-item>
                        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="total_commitment" class="text-left" nzRequired>Total Commitment</nz-form-label>
                        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please Add Valid Commitment!">
                            <input nz-input type="text" formControlName="total_commitment"  placeholder="Total Commitment."/>
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <div class="col-md-6">
                    <nz-form-item>
                        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="roi" class="text-left" nzRequired>ROI</nz-form-label>
                        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please Add Valid ROI!">
                            <input nz-input type="text" formControlName="roi"  placeholder="ROI" />
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <div class="col-md-6">
                    <nz-form-item>
                        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="fldg" class="text-left" nzRequired>FLDG</nz-form-label>
                        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please Add Valid FLDG!">
                            <input nz-input type="text" formControlName="fldg"  placeholder="FLDG" />
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
        </form>
    </nz-card>
    <div class="row my-3 justify-content-between">
        <div class="col-3">
            <button nzType="primary" *ngIf="!isEdit" nz-button type="submit" [nzLoading]="apiLoader['saveAddNew']" [disabled]="apiLoader['formSave']" (click)="onClickSaveExistingForm($event)">Save & Add New</button>
        </div>
        <div class="col-3 text-right">
            <button type="submit" (click)="onClickSubmitForm()" [nzLoading]="apiLoader['formSave']" [disabled]="apiLoader['saveAddNew']" nz-button nzType="primary">Save</button>
        </div>
    </div>
</section>


<nz-modal [(nzVisible)]="isVisible" nzTitle="Add New Document" (nzOnCancel)="handleCancel()" (nzOnOk)="addRule()">
    <ng-container *nzModalContent>
        <nz-form-label [nzSm]="7" [nzXs]="24" class="text-left" nzRequired>Select Document</nz-form-label>
        <nz-select class='ml-4' [(ngModel)]="selectedDocument" nzPlaceHolder="Select Document!" style="min-width: 13rem;">
            <nz-option *ngFor="let item of documentArray" [nzValue]="item" [nzLabel]="item.name">
            </nz-option>
        </nz-select>
    </ng-container>
</nz-modal>