<section>
    <div class="row">
        <div class="col-md-12">
            <app-product-details [isLoading]="isLoading"></app-product-details>
        </div>
        <div class="col-md-12 mb-3">
            <nz-collapse>
                <nz-collapse-panel nzHeader="Master Partners" [nzDisabled]="!is_product_id">
                    <app-master-partners></app-master-partners>
                </nz-collapse-panel>
            </nz-collapse>
        </div>
        <div class="col-md-12 mb-3">
            <nz-collapse>
                <nz-collapse-panel nzHeader="Partner" [nzDisabled]="!is_product_id">
                    <app-partners></app-partners>
                </nz-collapse-panel>
            </nz-collapse>
        </div>
        <div class="col-md-12 mb-3">
            <nz-collapse>
                <nz-collapse-panel nzHeader="Limit" [nzActive]="limitCollapse" [nzDisabled]="!is_product_id">
                    <app-limits></app-limits>
                </nz-collapse-panel>
            </nz-collapse>
        </div>
        <div class="col-md-12 mb-3">
            <nz-collapse>
                <nz-collapse-panel nzHeader="NBFC's" [nzDisabled]="!is_product_id">
                    <app-nbfcs></app-nbfcs>
                </nz-collapse-panel>
            </nz-collapse>
        </div>
        <div class="col-md-12 mb-3">
            <nz-collapse>
                <nz-collapse-panel nzHeader="Underwriting" [nzDisabled]="!is_product_id">
                    <app-underwriting></app-underwriting>
                </nz-collapse-panel>
            </nz-collapse>
        </div>
        <div class="col-md-12 mb-3">
            <nz-collapse>
                <nz-collapse-panel nzHeader="Onboarding" [nzDisabled]="!is_product_id">
                    <app-onboarding></app-onboarding>
                </nz-collapse-panel>
            </nz-collapse>
        </div>
        <div class="col-md-12 mb-3">
            <nz-collapse>
                <nz-collapse-panel nzHeader="Fees" [nzDisabled]="!is_product_id">
                    <app-fees></app-fees>
                </nz-collapse-panel>
            </nz-collapse>
        </div>
        <div class="col-md-12 mb-3">
            <nz-collapse>
                <nz-collapse-panel nzHeader="Loan Agreement" [nzDisabled]="!is_product_id">
                    <app-loan-agreement></app-loan-agreement>
                </nz-collapse-panel>
            </nz-collapse>
        </div>
        <div class="col-md-12 mb-3">
            <nz-collapse>
                <nz-collapse-panel nzHeader="Transaction Configuration" [nzDisabled]="!is_product_id">
                    <app-transaction-config></app-transaction-config>
                </nz-collapse-panel>
            </nz-collapse>
        </div>
        <div class="col-md-12 mb-3">
            <nz-collapse>
                <nz-collapse-panel nzHeader="LMH" [nzDisabled]="!is_product_id">
                    <app-lmh></app-lmh>
                </nz-collapse-panel>
            </nz-collapse>
        </div>
        <div class="col-md-12 mb-3">
            <nz-collapse>
                <nz-collapse-panel nzHeader="LMH rules" [nzDisabled]="!is_product_id">
                    <app-lmh-rules></app-lmh-rules>
                </nz-collapse-panel>
            </nz-collapse>
        </div>
        <div class="col-md-12 mb-3">
            <nz-collapse>
                <nz-collapse-panel nzHeader="EMI Configuration" [nzDisabled]="!is_product_id">
                    <app-emi-configuration></app-emi-configuration>
                </nz-collapse-panel>
            </nz-collapse>
        </div>
    </div>
</section>