<nz-card [nzBodyStyle]="{padding : 0}" [nzBorderless]="true" [nzLoading]="api_calling_loader['cardLoader']">
      <section  class="p-0" *ngIf="action == 'viewDocument' ? true : false">
            <embed [src]="sanatizeUrlToSafe(documentData.file_url)" class="w-100 h-100">
      </section>
      

      <section *ngIf="action == 'verifyDocument' ? true : false">
            <div class="d-flex flex-column">
                  <div> Verify {{ documentData?.document_master?.name + ' Document'}}
                  </div>
                  <div class="d-flex flex-column">
                        <div class="my-3">
                              <nz-radio-group [(ngModel)]="documentStatus">
                                    <label nz-radio [nzValue]="1">Accept</label>
                                    <label nz-radio [nzValue]="2">Reject</label>
                              </nz-radio-group>
                        </div>
                        <div class="d-flex flex-wrap">
                              <label>Remarks: </label>
                              <textarea rows="4" nz-input [(ngModel)]="verifyRemarks"></textarea>
                              <!-- <nz-textarea-count class="mx-3 w-100" [(ngModel)]="verifyRemarks" [nzMaxCharacterCount]="200">
                              <textarea rows="4" nz-input></textarea>
                        </nz-textarea-count> -->
                        </div>
                  </div>
            </div>
      </section>

      <section *ngIf="action == 'uploadDocument' ? true : false">
            <nz-upload  nzListType="picture" nzType="drag" [nzAccept]="'.xls, .xlsx, .pdf, .img, .jpeg'" [nzBeforeUpload]="beforeUploadName" [nzMultiple]="false" [(nzFileList)]="fileList" >
                  <p class="ant-upload-text">Drag and Drop file here</p>
                  <p class="ant-upload-text">or</p>
                  <button class="mt-md-4" nz-button nzType="primary">Browse</button>
              </nz-upload>
      </section>
</nz-card>