<nz-page-header class="site-page-header bg-gray-lightest mb-3" [nzTitle]="title">
</nz-page-header>
<ng-template #title>
      <span class="font-weight-normal">User Status Track</span>
</ng-template>
<section>
      <nz-card>
            <div class="row">
                  <div class="col-md-12" *ngIf="loanStatusData.length == 0">No Status Update</div>
                  <div class="col-md-6">
                        <div class="d-flex flex-column">
                              <div>
                                    <h5 class="mb-4">Status</h5>
                              </div>
                              <div>
                                    <nz-steps [nzCurrent]="1" nzProgressDot nzDirection="vertical">
                                          <nz-step *ngFor="let item of loanStatusData" [nzTitle]="item?.status"></nz-step>
                                    </nz-steps>
                              </div>
                        </div>
                  </div>
                  <div class="col-md-3">
                        <div class="d-flex flex-column">
                              <div>
                                    <h5 class="mb-4">Date</h5>
                              </div>
                              <div>
                                    <ul nz-menu>
                                          <li class="pl-0" *ngFor="let item of loanStatusData" nz-menu-item>
                                                {{ loanStatusData ? item?.date : '--'}} </li>
                                    </ul>
                              </div>
                        </div>
                  </div>
                  <div class="col-md-3">
                        <div class="d-flex flex-column">
                              <div>
                                    <h5 class="mb-4">Time</h5>
                              </div>
                              <div>
                                    <ul nz-menu>

                                          <li class="pl-0" *ngFor="let item of loanStatusData" nz-menu-item>
                                                {{ loanStatusData ? item?.time : '--'}}
                                          </li>
                                    </ul>
                              </div>
                        </div>
                  </div>
            </div>
      </nz-card>
</section>