<nz-page-header class="site-page-header bg-gray-lightest mb-3" [nzTitle]="title">
</nz-page-header>
<ng-template #title>
      <span class="font-weight-normal">User Status Track</span>
</ng-template>
<section>
      <nz-card>
            <div class="row">
                  <div class="col-md-12" *ngIf="!loanStatusData">No Status Update</div>
                  <div class="col-md-12" *ngIf="loanStatusData">
                        <div class="d-flex justify-content-between flex-wrap">
<!-- <div class="align-middle">

</div> -->
                        </div>
                        <nz-table #colSpanTable [nzFrontPagination]="false" [nzShowSizeChanger]="false">
                              <thead>
                                    <tr>
                                          <th>Status</th>
                                          <th>Date</th>
                                          <th>Time</th>

                                    </tr>
                              </thead>
                              <tbody>
                                    <tr *ngFor="let item of loanStatusData">
                                          <td class="font-weight-semibold">
                                                <nz-steps [nzCurrent]="loanStatusData.length" nzProgressDot
                                                      nzDirection="vertical">
                                                      <nz-step
                                                            [nzTitle]="item?.status">
                                                      </nz-step>
                                                </nz-steps>
                                          </td>
                                          <td>
                                                <label> {{ loanStatusData ?
                                                      item?.date : '--'}}</label>
                                          </td>
                                          <td>
                                                <label>
                                                      {{ loanStatusData ? item?.time : '--'}}
                                                </label>
                                          </td>
                                    </tr>
                              </tbody>
                        </nz-table>
                  </div>
            </div>
      </nz-card>
</section>