<section>
    <div class="row">
        <nz-card class="w-100">
            <div class="row">
                <div class="col-md-4 mb-3 d-flex">
                    <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                        <input type="text"nz-input placeholder="Search text" [(ngModel)]="search_param" (keyup.enter)="fetchBorrowerList()"/>
                    </nz-input-group>
                    <ng-template #suffixIconButton>
                        <button nz-button nzType="secondary" (click)="fetchBorrowerList()" nzSearch><i nz-icon nzType="search"></i></button>
                    </ng-template>
                    <button nz-button nzType="default" nzShape="circle" nz-tooltip nzTooltipTitle="Reset Filter"  class="ml-2">
                        <i nz-icon nzType="undo"></i>
                    </button>
                </div>
                <div class="col-md-8 mb-3 d-flex justify-content-md-end">
                    <nz-select class="mx-1" style=" width: 15rem;" ngModel="filters" nzAllowClear
                        nzPlaceHolder="Filter By Product Master">
                        <nz-option nzValue="1" nzLabel="Fatak Pay"></nz-option>
                        <nz-option nzValue="2" nzLabel="Fatak Pay EMI"></nz-option>
                    </nz-select>
                    <nz-select class="mx-1" style=" width: 12rem;" ngModel="filters" nzAllowClear
                        nzPlaceHolder="Filter By Card Status">
                        <nz-option nzValue="1" nzLabel="Fatak Pay"></nz-option>
                        <nz-option nzValue="2" nzLabel="Fatak Pay EMI"></nz-option>
                    </nz-select>
                    <nz-select class="mx-1" style=" width: 12rem;" ngModel="filters" nzAllowClear
                        nzPlaceHolder="Filter By A/C Status">
                        <nz-option nzValue="1" nzLabel="Fatak Pay"></nz-option>
                        <nz-option nzValue="2" nzLabel="Fatak Pay EMI"></nz-option>
                    </nz-select>
                </div>
            </div>
            <nz-table [nzData]="borrowertList" [nzScroll]="{ x: '1500px' }" [nzLoading]="api_calling_loader">
                <!-- [nzFrontPagination]="true" [nzTotal]="total_count" [nzPageIndex]="page" [nzPageSize]="globalPageSize" [nzShowPagination]="true" [nzLoading]="api_calling_loader" -->
                <thead>
                    <tr>
                        <th nzWidth="3rem">#</th>
                        <th>User Name</th>
                        <th>Loan ID</th>
                        <th>Applied on</th>
                        <th>Credit Line Assigned</th>
                        <th>Credit Utilised</th>
                        <th>Outstanding</th>
                        <th>Fees/Charges</th>
                        <th>Card Status</th>
                        <th>A/c Status</th>
                        <th nzRight>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of borrowertList; index as i">
                        <td>{{ i + 1}}</td>
                        <td>
                            <h5>{{data.user?.full_name ? data.user.full_name : '-'}}</h5>
                            <span *ngIf="data.user?.mobile">Contact No: {{data.user ? data.user.mobile : '-'}}</span>
                            <p *ngIf="data.user?.email">{{data.user ? data.user.email : '-'}}</p>
                        </td>
                        <td>{{data.loan_unique_id}}</td>
                        <td>{{data.activation_date | date: "medium"}}</td>
                        <td>{{data.loan_amount_provided}}</td>
                        <td>{{data.credit_utilization_amount}}</td>
                        <td>{{data.loan_amount_provided - data.credit_utilization_amount}}</td>
                        <td>{{data.fees_or_charges_amount}}</td>
                        <td>{{data.is_activated}}</td>
                        <td>-</td>
                        <td nzRight>
                            <a class="text-dark font-size-20" nz-dropdown [nzClickHide]="false"
                                    [nzTrigger]="'click'" [nzPlacement]="'bottomRight'"
                                    [nzDropdownMenu]="latestUploadDropDown">
                                    <img src="assets/images/ellipsis.png" alt="" width="30">
                                </a>
                                <nz-dropdown-menu #latestUploadDropDown="nzDropdownMenu">
                                    <ul nz-menu>
                                        <!-- [routerLink]="['edit-employee', data.id]" -->
                                        <li nz-menu-item (click)="isblock = true">
                                            <!-- <i nz-icon nzType="login" nzTheme="outline"></i> -->
                                            <span class="m-l-5">Block Line</span>
                                        </li>
                                        <li nz-menu-item (click)="isUnblock = true">
                                            <!-- <i nz-icon nzType="delete" theme="outline"></i> -->
                                            <span class="m-l-5">Unblock Line</span>
                                        </li>
                                    </ul>
                                </nz-dropdown-menu>
                        </td>
                    </tr>
                </tbody>
            </nz-table>
        </nz-card>
    </div>
</section>
<!-- Block  -->
<nz-modal [nzWidth]="400" [(nzVisible)]="isblock" [nzFooter]="null" [nzClosable]="false">
    <ng-container *nzModalContent>
        <app-double-confirmation-popup 
            [title]="'Do you want to Block Akshays account permanently?'"
            [subTitle]="''"
            [icon]="'assets/images/accloser.png'"
            (onOkCall)="isblock = false"
            (onCencelCall)="isblock = false;"
            [cancelBtnTxt]="'Cancel'"
            [submitBtnTxt]="'Block'">
        </app-double-confirmation-popup>
    </ng-container>
</nz-modal>
<!-- Unblock -->
<nz-modal [nzWidth]="400" [(nzVisible)]="isUnblock" [nzFooter]="null" [nzClosable]="false">
    <ng-container *nzModalContent>
        <app-double-confirmation-popup 
            [title]="'Do you want to Unblock Akshays account?'"
            [subTitle]="''"
            [icon]="'assets/images/accloser.png'"
            (onOkCall)="isUnblock = false"
            (onCencelCall)="isUnblock = false;"
            [cancelBtnTxt]="'Cancel'"
            [submitBtnTxt]="'Unblock'">
        </app-double-confirmation-popup>
    </ng-container>
</nz-modal>