<div class="header_breadcrumb_section">
    <!-- <button nz-button nzType="primary" [routerLink]="['./upload']" class="mx-1">Uploaded Transition Sheet </button> -->
    <button nz-button nz-dropdown [nzDropdownMenu]="fileFormate" nzType="primary" class="ml-1" nzGhost>Export</button>
</div>

<nz-dropdown-menu #fileFormate="nzDropdownMenu">
    <ul nz-menu>
        <li nz-menu-item (click)="exportGlobalFunction('xlsx')"><i nz-icon nzType="file-excel" nzTheme="outline"></i>
            Excel File</li>
        <li nz-menu-item (click)="exportGlobalFunction('csv')"><i nz-icon nzType="file" nzTheme="outline"></i> CSV
            File</li>
    </ul>
</nz-dropdown-menu>
<section>
    <div class="row mb-md-3">
        <div class="col-md-12 mb-md-0">
            <nz-radio-group [(ngModel)]="selectedTab" (ngModelChange)="fetchTransactionList()">
                <label nz-radio-button class="px-5 mb-md-0 mb-3 border-radius-2" nzValue="all">All</label>
                <label nz-radio-button class=" px-5 mb-md-0 mb-3 border-radius-2" nzValue="credit">Credit</label>
                <label nz-radio-button class=" px-5 mb-md-0 mb-3 border-radius-2" nzValue="debit">Debit</label>
            </nz-radio-group>
        </div>
    </div>
</section>
<section>
    <!-- <div class="row mb-md-3">
        <span>{{total_count}} Results Found</span>
    </div> -->
    <div class="row">
        <nz-card class="w-100">
            <div class="row">
                <div class="col-md-3 mb-3 d-flex">
                    <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                        <input (keyup.enter)="fetchTransactionList()" [(ngModel)]="searchValue" type="text" nz-input
                            placeholder="Search text" />
                    </nz-input-group>
                    <ng-template #suffixIconButton>
                        <button (click)="fetchTransactionList()" nz-button nzType="secondary" nzSearch><i nz-icon
                                nzType="search"></i></button>
                    </ng-template>
                </div>
                <div class="col-md-9 mb-3 d-flex justify-content-md-end">
                    <button nz-button nzType="default" nzShape="circle" nz-tooltip nzTooltipTitle="Reset Filter"
                        class="mr-1" (click)="resetFilter()">
                        <i nz-icon nzType="undo"></i>
                    </button>
                    <nz-select class="mx-1" style=" width: 15rem;" ngModel="filters" nzAllowClear [(ngModel)]="master_product_id" (ngModelChange)="fetchTransactionList()"
                        nzPlaceHolder="Filter By Product Master">
                        <nz-option [nzValue]="1" nzLabel="FatakPay"></nz-option>
                        <nz-option [nzValue]="2" nzLabel="Fatak EMI"></nz-option>
                    </nz-select>
                    <nz-range-picker [(ngModel)]="date" [nzDisabledDate]="disabledDate" (ngModelChange)="fetchTransactionList()"></nz-range-picker>
                    <nz-select class="mx-1" style=" width: 10rem;" [(ngModel)]="selectedType" (ngModelChange)="fetchTransactionList()"
                        nzPlaceHolder="Filter By Type">
                        <nz-option nzValue="Borrower Funded" nzLabel="Borrower Funded"></nz-option>
                        <nz-option nzValue="Fees Charge" nzLabel="Fees Charge"></nz-option>
                        <nz-option nzValue="Repayment" nzLabel="Repayment"></nz-option>
                        <nz-option nzValue="Reverse" nzLabel="Reverse"></nz-option>
                        <nz-option nzValue="Expense Spend" nzLabel="Expense Spend"></nz-option>
                    </nz-select>
                    <nz-select class="mx-1" style=" width: 10rem;" [(ngModel)]="selectedStatus" (ngModelChange)="fetchTransactionList()"
                        nzPlaceHolder="Filter By Status">
                        <nz-option nzValue="Success" nzLabel="Success"></nz-option>
                        <nz-option nzValue="Fail" nzLabel="Fail"></nz-option>
                        <nz-option nzValue="Reject" nzLabel="Reject"></nz-option>
                    </nz-select>
                </div>
            </div>
            <nz-table [nzTotal]="total_count" [nzLoading]="api_calling_loader" [nzFrontPagination]="false"  [nzPageIndex]="page" [nzPageSize]="globalPageSize" [nzShowSizeChanger]="true" [nzTotal]="total_count"
                (nzQueryParams)="listOfData[0] ? fetchTransactionList($event) : ''" [nzData]="listOfData" [nzScroll]="{ x: '1500px', y: '45vh' }">
                <thead>
                    <tr>
                        <!-- <th nzWidth="2rem" [nzChecked]="checked" [nzIndeterminate]="indeterminate" (nzCheckedChange)="onAllChecked($event)"></th> -->
                        <th nzWidth="3rem">#</th>
                        <th nzWidth="15rem">User Details</th>
                        <th>Product type</th>
                        <th>Transaction ID</th>
                        <th>Transaction Type</th>
                        <th>Details</th>
                        <th>Date & Time</th>
                        <th>Amount (₹)</th>
                        <th>GST Amount</th>
                        <th>Total Amount (₹)</th>
                        <th>Status</th>
                        <th nzWidth="5.5rem" nzRight> Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let data of listOfData; index as i">
                        <tr>
                            <!-- <td [nzChecked]="setOfCheckedId.has(data.id)" [nzDisabled]="data.disabled"
                                (nzCheckedChange)="onItemChecked(data.id, $event)"></td> -->
                                <td *ngIf="page === 1">{{i+1}}</td><td *ngIf="page > 1">{{((page-1)*globalPageSize)+(i+1)}}</td>
                            <td>
                                <h5>{{data.user?.full_name ? data.user.full_name : '-'}}</h5>
                                <span>Contact No: {{data.user?.mobile ? data.user.mobile : '-'}}</span>
                            </td>
                            <td>{{ data?.product_type ? data?.product_type.name : '-'}}</td>
                            <td>{{ data?.txn_unique_id }}</td>
                            <td>{{ data?.txn_type }}</td>
                            <td>{{ data?.details }}</td>
                            <td>{{ data?.transaction_datetime | date: "medium" }}</td>
                            <td>{{ data?.txn_amount }}</td>
                            <td>{{ 'NA' }}</td>
                            <td>{{ 'NA' }}</td>
                            <td>{{ data?.txn_status }}</td>
                            <td nzRight>
                                <a class="text-dark font-size-20" nz-dropdown [nzClickHide]="false"
                                    [nzTrigger]="'click'" [nzPlacement]="'bottomRight'"
                                    [nzDropdownMenu]="latestUploadDropDown">
                                    <img src="assets/images/ellipsis.png" alt="" width="30">
                                </a>
                                <nz-dropdown-menu #latestUploadDropDown="nzDropdownMenu">
                                    <ul nz-menu>
                                        <!-- [routerLink]="['edit-employee', data.id]" -->
                                        <li nz-menu-item (click)="reverseChargesToggle(data?.id);">
                                            <span class="m-l-5">Reverse Charges</span>
                                        </li>
                                        <li nz-menu-item (click)="isRefundTransaction = true">
                                            <span class="m-l-5">Refund Transaction</span>
                                        </li>
                                    </ul>
                                </nz-dropdown-menu>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </nz-table>
            <div class="total_count_text" *ngIf="total_count">
                <b>Total Count : </b>{{total_count}}
            </div>
        </nz-card>
    </div>
</section>

<!-- Reverse Charges -->
<nz-modal [nzWidth]="500" [(nzVisible)]="isReverseCharges" [nzFooter]="null" [nzClosable]="false">
    <ng-container *nzModalContent>
        <app-double-confirmation-popup 
            [title]="'Do you want to reverse the applied charges?'"
            [subTitle]="'Amount to be reversed - ₹100 <br/> Are you sure about performing this action?'"
            [icon]="'assets/images/reverse.png'"
            (onOkCall)="reverseChargesFunction()"
            [isbtnLoading]="is_revese_loading"
            (onCencelCall)="isReverseCharges = false"
            [cancelBtnTxt]="'Cancel'"
            [submitBtnTxt]="'OK'">
        </app-double-confirmation-popup>
    </ng-container>
</nz-modal>
<!-- Refund Transaction -->
<nz-modal [nzWidth]="500" [(nzVisible)]="isRefundTransaction" [nzFooter]="null" [nzClosable]="false">
    <ng-container *nzModalContent>
        <app-double-confirmation-popup 
            [title]="'Do you want to refund this transaction amount to users account?'"
            [subTitle]="'Amount to be refunded - ₹100 <br/> Are you sure about performing this action?'"
            [icon]="'assets/images/refund.png'"
            (onOkCall)="isRefundTransaction = false"
            (onCencelCall)="isRefundTransaction = false"
            [cancelBtnTxt]="'Cancel'"
            [submitBtnTxt]="'OK'">
        </app-double-confirmation-popup>
    </ng-container>
</nz-modal>