<section>
    <div class="row mb-md-3">
        <div class="col-md-6 mb-md-0">
            <nz-radio-group [(ngModel)]="selectedTab" (ngModelChange)='onClickChangeTab($event)'>
                <label nz-radio-button class="mr-md-2 mr-2 px-4 mb-md-0 mb-3 border-radius-2" nzValue="all">All</label>
                <label nz-radio-button class="mr-md-2 mr-2 px-4 mb-md-0 mb-3 border-radius-2" nzValue="active">Active</label>
                <label nz-radio-button class="mr-md-2 mr-2 px-4 mb-md-0 mb-3 border-radius-2"
                    nzValue="inactive">Inactive</label>
            </nz-radio-group>
        </div>
        <div class="col-md-6 col-12 my-md-0 my-3 d-flex justify-content-end">
            <button nz-button class='text-primary' [routerLink]="['/masters-partners/add']" *ngxPermissionsOnly="['add_master_partner']">+ Add Master</button>
        </div>
    </div>
    <div class="row mb-md-3">
        <span>{{total_count ? total_count : ' 0 '}} Results Found</span>
    </div>
    <div class="row">
        <nz-card class="w-100">
            <div class="row">
                <div class="col-md-4 mb-3 d-flex">
                    <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                        <input (keyup.enter)="getResultBasedOnSearch()" [(ngModel)]="searchValue" type="text" nz-input placeholder="Search text" />
                      </nz-input-group>
                    <!-- <ng-template #suffixIconButton>
                        <button nz-button nzType="secondary" nzSearch><i nz-icon nzType="search"></i></button>
                    </ng-template> -->
                    <ng-template #suffixIconButton>
                        <button (click)="getResultBasedOnSearch()" nz-button nzType="secondary" nzSearch><i nz-icon nzType="search"></i></button>
                      </ng-template>
                      <button nz-button nzType="default" nzShape="circle" nz-tooltip nzTooltipTitle="Reset Filter"  class="mx-2" (click)="resetFilter()">
                        <i nz-icon nzType="undo"></i>
                      </button>
                </div>
                <div class="col-md-8 mb-3 d-flex justify-content-md-end">
                    <!-- <button nz-button nzType="default" nzShape="circle" nz-tooltip nzTooltipTitle="Reset Filter"  class="mr-2" (click)="resetFilter()">
                        <i nz-icon nzType="undo"></i>
                      </button> -->
                    <!-- <nz-select class="mx-1" style=" width: 8rem;" ngModel="filters" nzAllowClear
                        nzPlaceHolder="Filter By">
                        <nz-option nzValue="medicine" nzLabel="Medicine 1"></nz-option>
                        <nz-option nzValue="medic" nzLabel="Medicine 2"></nz-option>
                    </nz-select>
                    <nz-select class="mx-1" style=" width: 8rem;" ngModel="filters" nzAllowClear
                        nzPlaceHolder="Filter By">
                        <nz-option nzValue="medicine" nzLabel="Medicine 1"></nz-option>
                        <nz-option nzValue="medic" nzLabel="Medicine 2"></nz-option>
                    </nz-select> -->
                </div>
            </div>
            <div class="accordianLoanApp">
                <nz-table [nzTotal]="total_count" [nzFrontPagination]="false" [nzLoading]="_apiLoader['list']"
                [nzShowSizeChanger]="true" [nzFrontPagination]="false" [nzPageSize]="globalPageSize"
                [nzPageIndex]="page" (nzQueryParams)="getMasterPartner($event)" [nzShowSizeChanger]="true" [nzData]="masterPartner"
                [nzScroll]="{ x: '1300px', y: '' }">
                    <thead>
                        <tr>
                        <th rowspan="2" nzWidth="100px">#</th>
                        <th rowspan="2">Master Partner Details</th>
                        <th rowspan="2">Display Name</th>
                        <th rowspan="3" nzWidth="150px">Industry</th>
                        <th rowspan="2">Nature</th>
                        <th colspan="3" class="text-left">No. Of Partners</th>
                        <th rowspan="2">Regd. On</th>
                        <th rowspan="2">Unique Code</th>
                        <th rowspan="2">Registration (KYC)</th>
                        <th rowspan="2">System Status</th>
                        <th rowspan="2" class="pr-0"  nzWidth="8rem" nzRight>Action</th>
                        </tr>
                        <tr>
                            <th>Total
                            </th>
                            <th>Active
                            </th>
                            <th>In Active 
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let data of masterPartner; index as i">
                            <tr>
                                <td *ngIf="page == 1" [nzExpand]="expandSet.has(data.id)" (nzExpandChange)="onExpandChange(data.id, $event, i)">
                                    {{ i + 1 }}</td>
                                <td *ngIf="page > 1" [nzExpand]="expandSet.has(data.id)" (nzExpandChange)="onExpandChange(data.id, $event, i)">
                                    {{  ((page-1)*globalPageSize)+(i+1) }}</td>
                                <td>{{ data.name }}</td>
                                <td>{{ data.display_name }}</td>
                                <td>{{data?.business_type?.business_type}}</td>
                                <td>{{data?.business_nature?.business_nature}}</td>
                                <!-- <td>{{ data.no_of_partner }}</td> -->
                                <td>{{data?.partners?.total}}</td>
                                <td>{{data?.partners?.active}}</td>
                                <td>{{data?.partners?.inactive}}</td>
                                <td >{{ data.created_at | date: 'dd MMM yyyy' }}</td>
                                <td>{{ data.unique_code}}</td>
                                <td *ngIf="data?.registered"><a><i nz-icon nzType="check-circle" nzTheme="outline"></i></a></td>
                                <td *ngIf="!data?.registered"><a><i nz-icon nzType="close-circle" nzTheme="outline"></i></a></td>
                                <td *ngIf="!data?.is_deleted"><a><i nz-icon nzType="check-circle" nzTheme="outline"></i></a></td>
                                <td *ngIf="data?.is_deleted"><a><i nz-icon nzType="close-circle" nzTheme="outline"></i></a></td>
                                <td nzWidth="8rem" nzRight class="pr-0">
                                    <a class="text-dark font-size-20" nz-dropdown [nzClickHide]="false"
                                        [nzTrigger]="'click'" [nzPlacement]="'bottomRight'"
                                        [nzDropdownMenu]="latestUploadDropDown">
                                        <img src="assets/images/ellipsis.png" alt="" width="30">
                                    </a>
                                    <nz-dropdown-menu #latestUploadDropDown="nzDropdownMenu">
                                        <ul nz-menu>
                                            <!-- [routerLink]="['edit-employee', data.id]" -->
                                            <!-- <li nz-menu-item>
                                                <span class="m-l-5" (click)="changePassword(data)">Change Password</span>
                                            </li> -->
                                            <li nz-menu-item [routerLink]="['../masters-partners/edit']" [queryParams]="{id: data.id}" *ngxPermissionsOnly="['edit_master_partner']">
                                                <!-- <i nz-icon nzType="login" nzTheme="outline"></i> -->
                                                <span class="m-l-5">Edit</span>
                                            </li>
                                            <!-- <li nz-menu-item [routerLink]="['../employeeDetail']" [queryParams]="{id: data.id}">
                                                <span class="m-l-5">Employee Details</span>
                                            </li> -->
                                            <!-- nz-popconfirm
                                            nzPopconfirmTitle="Are you sure delete Employee?"
                                            nzPopconfirmPlacement="topLeft"
                                            (nzOnConfirm)="deleteCorrespondingSection(data.id)" -->
                                            <ng-container *ngxPermissionsOnly="['toggle_master_partner']">
                                                <li nz-menu-item *ngIf="!data.is_deleted" (click)="deleteUserByUserId(data?.id, false)">
                                                    <span class="m-l-5" >Inactive</span>
                                                </li>
                                            </ng-container>
                                            <ng-container *ngxPermissionsOnly="['toggle_master_partner']">
                                                <li nz-menu-item *ngIf="data.is_deleted"  (click)="deleteUserByUserId(data?.id, true)">
                                                    <span class="m-l-5">Active</span>
                                                </li>
                                            </ng-container>
                                            <!-- <li nz-menu-item>
                                                <span class="m-l-5">User Login</span>
                                            </li> -->
                                            <!-- <li nz-menu-item>
                                                <span class="m-l-5" [routerLink]="['../payoutStructure/add']" [queryParams]="{id: data.id, user: 'masterPartner'}">Payout Structure</span>
                                            </li> -->
                                            <!-- <li nz-menu-item>
                                                <span class="m-l-5">Payout List</span>
                                            </li> -->
                                            <ng-container *ngxPermissionsOnly="['upload_agreement_master_partner']">
                                                <li nz-menu-item (click)="storeSelectedId(data?.id)">
                                                    <nz-upload style="cursor: pointer;" [nzMultiple]="false"
                                                        [nzAccept]="'.xls, .xlsx, .pdf'" [nzBeforeUpload]="beforeUpload"
                                                        class="d-flex pl-1 align-items-left" nzSize="large">
                                                        Upload Agreement
                                                    </nz-upload>
                                                </li>
                                            </ng-container>
                                            <ng-container *ngxPermissionsOnly="['show_agreement_master_partner']">
                                                <li nz-menu-item (click)="storeSelectedId(data?.id, 'get')">
                                                    <span class="m-l-5">Show Agreement</span>
                                                </li>
                                            </ng-container>
                                        </ul>
                                    </nz-dropdown-menu>
                                </td>
                            </tr>


                            <tr [nzExpand]="expandSet.has(data.id)">


                                <div class="justify-content-center">
                                    <nz-page-header
                                        class="site-page-header text-center w-25 p-1 rounded bg-gray-lightest mb-2"
                                        [nzTitle]="basicDetail">
                                    </nz-page-header>
                                    <nz-card class="mb-md-5"  [nzLoading]="storeDetailId == data.id ? _apiLoader['detailList'] : null" >
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="d-flex flex-column">
                                                    <h6>
                                                        Company's Address
                                                    </h6>
                                                    <div>
                                                        {{ data?.expandSet?.address_line_1 || data?.expandSet?.address_line_2 ? (data?.expandSet?.address_line_1 + ' ' + data?.expandSet?.address_line_2) : ' -- '}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="d-flex flex-column">
                                                    <h6>
                                                        Phone No.
                                                    </h6>
                                                    <div>
                                                        {{data?.expandSet?.phone ? data?.expandSet?.phone : ' -- '}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </nz-card>
                                </div>

                                <div>
                                    <nz-page-header
                                        class="site-page-header text-center rounded w-25 p-1 bg-gray-lightest my-2"
                                        [nzTitle]="contactPersonDetail">
                                    </nz-page-header>
                                    <nz-card class="mb-md-5"  [nzLoading]="storeDetailId == data.id ? _apiLoader['detailList'] : null" >
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="d-flex flex-column">
                                                    <h6>
                                                        Name
                                                    </h6>
                                                    <div>
                                                        {{data?.expandSet?.contact_person_name ? data?.expandSet?.contact_person_name : ' -- '}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="d-flex flex-column">
                                                    <h6>
                                                        Phone No.
                                                    </h6>
                                                    <div>
                                                        {{data?.expandSet?.contact_person_phone ? data?.expandSet?.contact_person_phone : ' -- '}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="d-flex flex-column">
                                                    <h6>
                                                        Email-Id
                                                    </h6>
                                                    <div>
                                                        {{data?.expandSet?.contact_person_email ? data?.expandSet?.contact_person_email : ' -- '}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </nz-card>
                                </div>

                                <div>
                                    <nz-page-header
                                        class="site-page-header text-center rounded w-25 p-1 bg-gray-lightest my-2"
                                        [nzTitle]="bankingDetail">
                                    </nz-page-header>
                                    <nz-card class="mb-md-5"  [nzLoading]="storeDetailId == data.id ? _apiLoader['detailList'] : null" >
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="d-flex flex-column">
                                                    <h6>
                                                        Bank Name
                                                    </h6>
                                                    <div>
                                                        {{data?.expandSet?.bank_name ? data?.expandSet?.bank_name : ' -- '}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="d-flex flex-column">
                                                    <h6>
                                                        IFSC Code
                                                    </h6>
                                                    <div>
                                                        {{data?.expandSet?.ifsc ? data?.expandSet?.ifsc : ' -- '}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="d-flex flex-column">
                                                    <h6>
                                                        A/c No.
                                                    </h6>
                                                    <div>
                                                        {{data?.expandSet?.account_no ? data?.expandSet?.account_no : ' -- '}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="d-flex flex-column">
                                                    <h6>
                                                        Branch.
                                                    </h6>
                                                    <div>
                                                        {{data?.expandSet?.branch ? data?.expandSet?.branch : ' -- '}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </nz-card>
                                </div>

                                <div class="justify-content-center" *ngxPermissionsOnly="['view_document_master_partner']">
                                    <nz-page-header
                                        class="site-page-header text-center w-25 p-1 rounded bg-gray-lightest mb-2"
                                        [nzTitle]="kycDocument">
                                    </nz-page-header>
                                    <nz-card class="mb-md-5"  [nzLoading]="storeDetailId == data.id ? _apiLoader['detailList'] : null">
                                        <div class="row"  *ngIf="data?.expandSet?.documents?.length > 0">
                                            <div class="col-md-6 mb-2" *ngFor="let data of data?.expandSet?.documents">
                                                <div class="d-flex flex-column" *ngIf="data?.document_master?.require_front_back">
                                                <div class="mb-2">
                                                    <h6>
                                                        {{data?.document_master?.name + ' Front'}}
                                                    </h6>
                                                    <div class="d-flex">
                                                        <span *ngIf="data?.document_file_front">
                                                            <a>Submitted </a>
                                                            & &nbsp;
                                                        </span>
                                                        <span *ngIf="!data?.document_file_front">
                                                            Document Not Submitted
                                                        </span>
                                                        <span *ngIf="data?.is_verified">
                                                            Verified
                                                        </span>
                                                        <ng-container *ngxPermissionsOnly="['verify_document_master_partner']">
                                                            <span *ngIf="!data?.is_verified && data?.document_file_front">
                                                                <a 
                                                                    nz-popconfirm
                                                                    nzPopconfirmTitle="Are you sure you want to verify corresponding document ?"
                                                                    nzPopconfirmPlacement="bottom"                                              
                                                                    (nzOnConfirm)="onClickVerifyDoc(data?.id)"
                                                                    (nzOnCancel)="cancel()"
                                                                    >
                                                                    Plz Click to verify
                                                                    </a>
                                                            </span>
                                                        </ng-container>
                                                        <div class="mx-2">
                                                            <ng-container *ngxPermissionsOnly="['download_document']">
                                                                <i style="cursor: pointer;"  *ngIf="data?.document_file_front" class="mr-3" nz-icon nzType="download" nzTheme="outline"
                                                                (click)="onClickDownloadSelectedDocument(data, 'front')"></i>
                                                            </ng-container>
                                                             <ng-container *ngxPermissionsOnly="['view_document']">
                                                                <i style="cursor: pointer;" *ngIf="data?.document_file_front" class="mr-3" nz-icon nzType="eye" nzTheme="outline"
                                                                (click)="storeSelectedId(data, 'submitted', 'front')"></i>
                                                            </ng-container>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div>
                                                    <h6>
                                                        {{data?.document_master?.name + ' Back'}}
                                                    </h6>
                                                    <div class="d-flex">
                                                        <span *ngIf="data?.document_file_back">
                                                            <a>Submitted </a>
                                                        </span>
                                                        <span *ngIf="!data?.document_file_back">
                                                            Document Not Submitted
                                                        </span>
                                                        <div class="mx-2">
                                                            <i style="cursor: pointer;"  *ngIf="data?.document_file_back" class="mr-3" nz-icon nzType="download" nzTheme="outline" (click)="onClickDownloadSelectedDocument(data, 'back')"></i>
                                                            <i style="cursor: pointer;" *ngIf="data?.document_file_back" class="mr-3" nz-icon nzType="eye" nzTheme="outline" (click)="storeSelectedId(data, 'submitted', 'back')"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                </div>
                                                <div class="d-flex flex-column" *ngIf="!data?.document_master?.require_front_back">
                                                    <div><div>
                                                        <h6>
                                                            {{data?.document_master?.name}}
                                                        </h6>
                                                        <div class="d-flex">
                                                            <span *ngIf="data?.document_file">
                                                                <a>Submitted </a>
                                                                & &nbsp;
                                                            </span>
                                                            <span *ngIf="!data?.document_file">
                                                                Document Not Submitted
                                                            </span>
                                                            <span *ngIf="data?.is_verified">
                                                                Verified
                                                            </span>
                                                            <span *ngIf="!data?.is_verified && data?.document_file">
                                                                <a 
                                                                    nz-popconfirm
                                                                    nzPopconfirmTitle="Are you sure you want to verify corresponding document ?"
                                                                    nzPopconfirmPlacement="bottom"                                              
                                                                    (nzOnConfirm)="onClickVerifyDoc(data?.id)"
                                                                    (nzOnCancel)="cancel()"
                                                                    >
                                                                    Plz Click to verify
                                                                    </a>
                                                            </span>
                                                            <div class="mx-2">
                                                                <i style="cursor: pointer;"  *ngIf="data?.document_file" class="mr-3" nz-icon nzType="download" nzTheme="outline" (click)="onClickDownloadSelectedDocument(data, 'single')"></i>
                                                                <i style="cursor: pointer;" *ngIf="data?.document_file" class="mr-3" nz-icon nzType="eye" nzTheme="outline" (click)="storeSelectedId(data, 'submitted', 'single')"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    </div>
                                                    </div>
                                            </div>
                                        </div>
                                        <div class="row" *ngIf="data?.expandSet?.documents?.length <= 0">
                                            <div class="col-md-6">
                                                    <h6>
                                                        No Documents To show
                                                    </h6>
                                                </div>
                                        </div>
                                    </nz-card>
                                </div>

                                <div class="justify-content-center">
                                    <nz-page-header
                                        class="site-page-header acc-bg-light mb-2"
                                        [nzTitle]="adminDetail">
                                    </nz-page-header>
                                    <nz-card class="mb-md-5"  [nzLoading]="storeDetailId == data.id ? _apiLoader['detailList'] : null">
                                        <div class="row"  *ngIf="data?.expandSet?.corporate_admins?.length > 0">
                                            <div class="col-md-12 mb-2" *ngFor="let data of data?.expandSet?.corporate_admins">
                                                <div class="d-flex flex-column">
                                                    <div class="row">
                                                        <div class="col-4">
                                                            <div class="mb-2">
                                                                <h6>
                                                                    Email
                                                                </h6>
                                                                <div class="d-flex">
                                                                    <span>
                                                                        {{data?.email}}
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-4">
                                                            <div class="mb-2">
                                                                <h6>
                                                                    Name
                                                                </h6>
                                                                <div class="d-flex">
                                                                    <span>
                                                                        {{data?.name}}
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-4 align-self-center text-right" *ngxPermissionsOnly="['show_password_master_partner','reset_password_master_partner']">
                                                            <a class="text-dark font-size-20" nz-dropdown [nzClickHide]="false"
                                                                    [nzTrigger]="'click'" [nzPlacement]="'bottomRight'"
                                                                    [nzDropdownMenu]="showPassword">
                                                                    <img src="assets/images/ellipsis.png" alt="" width="30">
                                                            </a>
                                                                <nz-dropdown-menu #showPassword="nzDropdownMenu">
                                                                    <ul nz-menu>
                                                                        <li *ngxPermissionsOnly="['reset_password_master_partner']" nz-menu-item (click)="onClickGetPassword('reset', data)">
                                                                            <span class="m-l-5">Reset Password</span>
                                                                        </li>
                                                                        <li *ngxPermissionsOnly="['show_password_master_partner']" nz-menu-item (click)="onClickGetPassword('show', data)">
                                                                            <span class="m-l-5">Show Password</span>
                                                                        </li>
                                                                    </ul>
                                                                </nz-dropdown-menu>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" *ngIf="data?.expandSet?.corporate_admins?.length <= 0">
                                            <div class="col-md-6">
                                                    <h6>
                                                        No Corporate Admin Detail's to show
                                                    </h6>
                                                </div>
                                        </div>
                                    </nz-card>
                                </div>

                                <div class="justify-content-center">
                                    <nz-page-header
                                        class="site-page-header text-center w-25 p-1 rounded bg-gray-lightest mb-2"
                                        [nzTitle]="otherDetails">
                                    </nz-page-header>
                                    <nz-card class="mb-md-5"  [nzLoading]="storeDetailId == data.id ? _apiLoader['detailList'] : null" >
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="d-flex flex-column">
                                                    <h6>
                                                        Employee
                                                    </h6>
                                                    <div>
                                                        {{data?.expandSet?.employee ? data?.expandSet?.employee : ' -- '}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="d-flex flex-column">
                                                    <h6>
                                                        Payout
                                                    </h6>
                                                    <div class="d-flex">
                                                        {{data?.expandSet?.payout ? data?.expandSet?.payout : ' -- '}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </nz-card>
                                </div>


                            </tr>
                        </ng-container>
                    </tbody>
                </nz-table>
            </div>
        </nz-card>
    </div>
</section>




<ng-template #basicDetail>
    <div class="ml-md-2">
        <h6 class="mb-0">Basic Details</h6>
    </div>
</ng-template>
<ng-template #contactPersonDetail>
    <div class="ml-md-2">
        <h6 class="mb-0">Contact Personal Detail</h6>
    </div>
</ng-template>
<ng-template #bankingDetail>
    <div class="ml-md-2">
        <h6 class="mb-0">Banking Details</h6>
    </div>
</ng-template>
<ng-template #kycDocument>
    <div class="ml-md-2">
        <h6 class="mb-0">KYC Documents</h6>
    </div>
</ng-template>
<ng-template #adminDetail>
    <div class="ml-md-2">
        <h6 class="mb-0">Corporate Admin</h6>
    </div>
</ng-template>
<ng-template #otherDetails>
    <div class="ml-md-2">
        <h6 class="mb-0">Other Details</h6>
    </div>
</ng-template>

<!-- <nz-modal [(nzVisible)]="isDelete" nzOkLoading="true" nzWidth="25rem" [nzTitle]="null" [nzClosable]="false" [nzFooter]="null" (nzOnCancel)="handleCancel()">
    <ng-container *nzModalContent>

      <div class="py-4 text-center">
        <p class="font-weight-bold text-dark mt-4">You are about to delete an User</p>
        <p class="font-size-12 font-weight-semibold text-dark">This action will delete the user Permanently<br> Are You Sure ?</p>

        <div class="row pt-4">
          <div class="col-6">
            <button nz-button (click)="handleCancel()" nzType="default" nzBlock>Cancel</button>
          </div>
          <div class="col-6">
            <button nz-button (click)="confirmationTrigger(true)" nzType="primary" nzBlock>{{isCancel ? 'Cancel Order' : 'Delete'}}</button>
          </div>
        </div>
      </div>
    </ng-container>
  </nz-modal> -->

  <nz-modal [nzWidth]="500" [(nzVisible)]="isDelete" [nzFooter]="null" [nzClosable]="true" (nzOnCancel)="isDelete = false; selectedUserId = ''">
    <ng-container *nzModalContent>
        <app-double-confirmation-popup 
            [title]="statusOfSelectedLender ? 'This action will Activate this account' : 'This action will Deactivate this account'"
            [subTitle]="!statusOfSelectedLender ? 'if  required, you can activate this account after 15 days.' : 'if required, you can Deactivate this account after 15 days.'"
            [alertWarning]="statusOfSelectedLender ? 'Are your sure ?' : 'Are your sure ?'"
            [icon]="'assets/images/activate.png'"
            (onOkCall)="confirmationTrigger()"
            (onCencelCall)="isDelete = false; selectedUserId = ''"
            [cancelBtnTxt]="'Cancel'"
            [submitBtnTxt]="'OK'">
        </app-double-confirmation-popup>
    </ng-container>
</nz-modal>

<nz-modal nzTitle="Change Password"  (nzOnCancel)="toggleChangePassword = false"[nzWidth]="800" [(nzVisible)]="toggleChangePassword" [nzFooter]="null" [nzClosable]="true" >
    <ng-container *nzModalContent>
        <app-change-password
            [userData]="selectedUserData"
            (onOkCall)="onClickChangePassword($event)"
            (onCencelCall)="toggleChangePassword = false"
            [cancelBtnTxt]="'Cancel'"
            [submitBtnTxt]="'Update'">
        </app-change-password>
    </ng-container>
</nz-modal>

<nz-modal [(nzVisible)]="pdf_viewer_object_values['boolean']" nzHeight="50vw"  nzWidth="60vw" nzKeyboard="true"
	[nzTitle]="pdf_viewer_object_values['title']" (nzOnCancel)="handleCancel()" [nzFooter]="modalFooter">
	<ng-container *nzModalContent>
		<div class="pdf_viewer_container">
			<embed [src]="sanatizeUrlToSafe(pdf_viewer_object_values['url'])" width="100%" style="height: 25rem;" />
		</div>
	</ng-container>
	<ng-template #modalFooter>
		<button nz-button nzType="primary" (click)="handleCancel()">Close</button>
	</ng-template>
</nz-modal>

<nz-modal [nzTitle]="passwordForAdmin['toggleShoePasswordField'] ? 'View Password' : 'Reset Password'" [nzWidth]="500" [(nzVisible)]="passwordForAdmin['isVisibleModal']" (nzOnOk)="onClickResetPassword()" [nzOkLoading]="passwordForAdmin['apiLoader']" 
          [nzFooter]="passwordForAdmin['toggleShoePasswordField'] ?  null : ''" [nzClosable]="true" (nzOnCancel)="passwordForAdmin['isVisibleModal']=false; selectedUserId = ''">
    <!-- <ng-container *nzModalContent> -->
        <nz-card [nzLoading]="passwordForAdmin['apiLoader']">
            <div *ngIf="passwordForAdmin['toggleShoePasswordField']" class="row">
                <div class="col-6">
                    Password
                </div>
                <div class="col-6">
                    {{passwordForAdmin['password']?.password}}
                </div>
            </div>
            <div *ngIf="!passwordForAdmin['toggleShoePasswordField']" class="row">
                <form nz-form [formGroup]="resetPasswordForm">
                    <div class="col-md-12">
                            <nz-form-item>
                                <nz-form-label [nzSm]="10" nzFor="name" class="text-left" nzRequired>New Password</nz-form-label>
                                <nz-form-control [nzSm]="20" nzErrorTip="Please Add New Password!">
                                    <input nz-input type="text" formControlName="new_password"  placeholder="New Password"/>
                                </nz-form-control>
                            </nz-form-item>
                    </div>
                    <div class="col-md-12">
                        <nz-form-item>
                            <nz-form-label [nzSm]="10" nzFor="name" class="text-left" nzRequired>Confirm Password</nz-form-label>
                            <nz-form-control [nzSm]="20" nzErrorTip="Please Add Confirm Password!">
                                <input nz-input type="text" formControlName="retype_password"  placeholder="Confirm Password"/>
                            </nz-form-control>
                        </nz-form-item> 
                    </div>
                    <div class="col-md-12">
                        <nz-form-item>
                            <nz-form-label [nzSm]="10" nzFor="name" class="text-left" nzRequired>Send Email</nz-form-label>
                            <nz-form-control [nzSm]="20" nzErrorTip="Please Select Action!">
                                <label nz-checkbox formControlName="send_email"></label> 
                                <!-- <input nz-input type="text" formControlName="send_email"/> -->
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </form>
            </div>
        </nz-card>
    <!-- </ng-container> -->
</nz-modal>