<section>
    <div class="row mb-md-3">
        <div class="col-md-12 mb-md-0">
            <nz-radio-group [(ngModel)]="selectedTab" (ngModelChange)="fetchBillDateSummarization()">
                <label nz-radio-button class="px-5 mb-md-0 mb-3 border-radius-2" nzValue="bill">By Bill date</label>
                <label nz-radio-button class=" px-5 mb-md-0 mb-3 border-radius-2" nzValue="due">By due date</label>
            </nz-radio-group>
        </div>
    </div>
</section>
<section>
    <div class="row">
        <nz-card class="w-100 mb-0">
            <!-- <div class="row">
                <div class="col-md-3 mb-3 d-flex">
                    <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                        <input type="text"nz-input placeholder="Search text" [(ngModel)]="search_params" (keyup.enter)="fetchBillDateSummarization()"/>
                    </nz-input-group>
                    <ng-template #suffixIconButton>
                        <button nz-button nzType="secondary" nzSearch (click)="fetchBillDateSummarization()"><i nz-icon nzType="search"></i></button>
                    </ng-template>
                </div>
                <div class="col-md-9 mb-3 d-flex justify-content-md-end flex-wrap">
                    <button nz-button nzType="default" nzShape="circle" nz-tooltip nzTooltipTitle="Reset Filter"  class="mr-2" (click)="resetFilters()">
                        <i nz-icon nzType="undo"></i>
                    </button>
                    <nz-select class="mx-1" style=" width: 10rem;" nzAllowClear [(ngModel)]="type" (ngModelChange)="fetchBillDateSummarization()"
                        nzPlaceHolder="Filter By Type">
                        <nz-option [nzValue]="'CR'" nzLabel="Credit"></nz-option>
                        <nz-option [nzValue]="'DR'" nzLabel="Debit"></nz-option>
                    </nz-select>
                    <nz-range-picker style="min-width: 10rem;" [(ngModel)]="date" [nzDisabledDate]="disabledDate"
                        (ngModelChange)="fetchBillDateSummarization()" [nzRanges]="customRanges"></nz-range-picker>
                </div>
            </div> -->
            <nz-table #basicTable [nzFrontPagination]="false" [nzData]="list_data" [nzPageIndex]="page" [nzShowSizeChanger]="true" [nzTotal]="total_count" [nzPageSize]="globalPageSize"
            [nzLoading]="api_calling_loader" [nzScroll]="{ x: '100%' }" (nzQueryParams)="list_data ? fetchBillDateSummarization($event) : ''">
                <thead>
                    <tr>
                        <th nzWidth="3rem">#</th>
                        <th *ngIf="selectedTab == 'bill'">Bill day</th>
                        <th *ngIf="selectedTab == 'due'">Due day</th>
                        <th>Count</th>
                        <th nzWidth="6rem" nzRight>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of list_data; index as i">
                        <td *ngIf="page === 1">{{i+1}}</td>
                        <td *ngIf="page > 1">{{((page-1)*globalPageSize)+(i+1)}}</td>
                        <td *ngIf="selectedTab == 'bill'">{{ data['bill_day'] ? data['bill_day']: '-' }}</td>
                        <td *ngIf="selectedTab == 'due'">{{ data['due_day'] ? data['due_day']: '-' }}</td>
                        <td>{{ data['count'] ? data['count']: '-' }}</td>
                        <td nzRight>
                            <div>
                                <a class="text-dark font-size-20" nz-dropdown [nzClickHide]="false" [nzTrigger]="'click'"
                                    [nzPlacement]="'bottomRight'" [nzDropdownMenu]="latestUploadDropDown123">
                                    <i nz-icon nzType="ellipsis" theme="outline"></i>
                                </a>
                                <nz-dropdown-menu #latestUploadDropDown123="nzDropdownMenu">
                                    <ul nz-menu>
                                        <li nz-menu-item (click)="getDeductionDetails(data)">
                                            <span class="m-l-5">Export outstanding</span>
                                        </li>
                                        <!-- <li nz-menu-item (click)="isVisible = true; isApprove = false; getDeductionDetails(data)">
                                            <span class="m-l-5">Deduction Rejected</span>
                                        </li> -->
                                    </ul>
                                </nz-dropdown-menu>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </nz-table>
            <div class="total_count_text" *ngIf="total_count">
                <b>Total Count : </b>{{total_count}}
            </div>
        </nz-card>
    </div>
</section>