/* .donut-inner {
    margin-top: -100px;
    margin-bottom: 100px;
 }
 .donut-inner h5 {
    margin-bottom: 5px;
    margin-top: 0;
 }
 .donut-inner span {
    font-size: 12px;
 } */
 
 .title{
   /* position: relative;
   display: flex;
   justify-content: center;
   align-items: center;   
   top: 140px;
   font-size: 12px; */
   position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 161px;
    font-size: 14px;
    left: 4px;
}

.no-data-title{
   /* position: relative;
   display: flex;
   justify-content: center;
   align-items: center;   
   top: 140px;
   font-size: 12px; */
   position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    /* top: 127px; */
    height: 100%;
    font-size: 14px;
    left: 4px;
}