<div class="header_breadcrumb_section">
  <div class="row" style="width: 100%;">
    <div class="col"></div>
      <div class="col text-center">
        <nz-select [(ngModel)]="partner" style="width: 15rem;" class="mx-2 my-md-0 mb-3" nzAllowClear
        (ngModelChange)="onSelectFetchCorrespondingData()" nzAllowClear (nzOnSearch)="onSearch($event)" [nzSize]="'small'" nzPlaceHolder="Select Partner">
      <nz-option *ngFor="let item of partnerList" [nzValue]="item.pk"
            [nzLabel]="item.name">
      </nz-option>
      </nz-select>
    </div>
      <div class="col text-right">
        <button class="mx-2" nz-button nzType="primary" nzShape="circle" nz-tooltip nzTooltipTitle="Reset Filter" (click)="resetFilters()">
          <i nz-icon nzType="undo"></i>
          <!-- class="ml-auto" -->
      </button>
      </div>
    </div>
  </div>
<section>
  <div class="row">

    <!-- <div class="col-6  mb-md-3">
      <div class="row"> -->
        <div class="col-md-6 mb-md-3">
          <nz-card
            [nzTitle]="acquisition"
            [nzLoading]="isLoading['acquisition']"
            [nzExtra]="acquisitionTemplate"
            class="h-100"
          >
            <div class="row">
              <div class="col-md-5">
                <div class="d-flex mb-md-2">
                  <div class="media align-items-center">
                    <nz-badge
                      nzStatus="default"
                      [nzColor]="cyan"
                      class="h-100 dashboard-badge"
                    ></nz-badge>
                    <div class="m-l-5">
                      <p class="m-b-0 muted">Total App Download</p>
                      <h4 class="m-b-0">
                        {{
                          fetchedList["acquisition"]
                            ?.app_downloads
                            ? fetchedList["acquisition"]
                                ?.app_downloads
                            : " 0 "
                        }}
                      </h4>
                    </div>
                  </div>
                </div>
                <div class="d-flex mb-md-2">
                  <div class="media align-items-center">
                    <nz-badge
                      nzStatus="default"
                      [nzColor]="purple"
                      class="h-100 dashboard-badge"
                    >
                    </nz-badge>
                    <div class="m-l-5">
                      <p class="m-b-0 muted">Registered Users</p>
                      <h4 class="m-b-0">
                        {{
                          fetchedList["acquisition"]
                            ?.all_registered_users_exact_count
                            ? fetchedList["acquisition"]
                                ?.all_registered_users_exact_count
                            : " 0 "
                        }}
                      </h4>
                    </div>
                  </div>
                </div>
                <div class="d-flex mb-md-2">
                  <div class="media align-items-center">
                    <nz-badge
                      nzStatus="default"
                      [nzColor]="gold"
                      class="h-100 dashboard-badge"
                    ></nz-badge>
                    <div class="m-l-5">
                      <p class="m-b-0 muted">Registered Users (Tie-up Corporate)</p>
                      <h4 class="m-b-0">
                        {{
                          fetchedList["acquisition"]
                            ?.total_corporate_users_exact_count
                            ? fetchedList["acquisition"]
                                ?.total_corporate_users_exact_count
                            : 0
                        }}
                      </h4>
                    </div>
                  </div>
                </div>
                <div class="d-flex mb-md-2">
                  <div class="media align-items-center">
                    <nz-badge
                      nzStatus="default"
                      [nzColor]="pink"
                      class="h-100 dashboard-badge"
                    ></nz-badge>
                    <div class="m-l-5">
                      <p class="m-b-0 muted">Disburse User</p>
                      <h4 class="m-b-0">
                        {{
                          fetchedList["acquisition"]?.active_users_exact_count
                            ? fetchedList["acquisition"]?.active_users_exact_count
                            : " 0 "
                        }}
                      </h4>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="col-md-7 d-flex justify-content-center"
                *ngIf="
                  fetchedList['acquisition']?.active_users_exact_count ||
                  fetchedList['acquisition']?.total_corporate_users_exact_count ||
                  fetchedList['acquisition']?.all_registered_users_exact_count ||
                  fetchedList['acquisition']?.app_registered_users_exact_count
                "
              >
                <div
                  class="text-center chart-container"
                  style="width: 250px; height: 250px; position: absolute; bottom: -21px; top:-64px;"
                >
                  <div class="w-100 text-center title">
                    Total App Downloads
                  </div>
                  <br />
                  <b class="w-100 text-center title"
                    >{{fetchedList["acquisition"]?.app_downloads}}</b
                  >
                  <canvas
                    ngChartjs
                    [data]="customersChartData"
                    [labels]="customersChartLabels"
                    [chartType]="customersChartType"
                    [colors]="customersChartColors"
                    [options]="customersChartOptions"
                    [legend]="false"
                  >
                  </canvas>
                </div>
                <!-- <canvas ngChartjs [data]="customersChartData" [labels]="customersChartLabels"
                                [chartType]="customersChartType" [colors]="customersChartColors"
                                [options]="customersChartOptions" [legend]="false">
                            </canvas> -->
              </div>
              <div
                class="col-md-7  d-flex justify-content-center"
                *ngIf="
                  !fetchedList['acquisition']?.active_users_exact_count &&
                  !fetchedList['acquisition']?.total_corporate_users_exact_count &&
                  !fetchedList['acquisition']?.all_registered_users_exact_count &&
                  !fetchedList['acquisition']?.app_registered_users_exact_count
                "
              >
                <div
                  class="text-center chart-container"
                  style="width: 250px; height: 250px; position: absolute; margin-top: 9px;"
                >
                  <b class="w-100 text-center no-data-title" style="color: black"
                    >No Data To Show</b
                  >
                  <canvas
                    ngChartjs
                    [data]="dummyData"
                    [labels]="dummyDataLabels"
                    [chartType]="customersChartType"
                    [colors]="dummyDataColors"
                    [options]="customersChartOptions"
                    [legend]="false"
                  >
                  </canvas>
                </div>
              </div>
            </div>
            <div class="row mt-md-4 ant-card-head px-0 py-3">
              <div class="col-md-3">
                <p class="m-b-0 muted">Line Assigned</p>
                <h5 class="m-b-0">
                  {{
                    fetchedList["acquisition"]?.line_assigned
                      ? "₹ " + fetchedList["acquisition"]?.line_assigned
                      : " 0 "
                  }}
                </h5>
              </div>
              <div class="col-md-3">
                <p class="m-b-0 muted">Approval rate</p>
                <h5 class="m-b-0">
                  {{
                    fetchedList["acquisition"]?.approval_rate
                      ? fetchedList["acquisition"]?.approval_rate + "%"
                      : " 0 "
                  }}
                </h5>
              </div>

              <!-- There -->
              <div class="col-md-6">
                <p class="m-b-0 muted">Average Line</p>
                <h5 class="m-b-0">
                  {{
                    fetchedList["acquisition"]?.average_line_assigned
                      ? "₹ " + fetchedList["acquisition"]?.average_line_assigned
                      : " 0 "
                  }}
                </h5>
              </div>
            </div>
          </nz-card>
          <ng-template #acquisition>
            <i nz-icon nzType="user" nzTheme="outline"></i>
            Application
          </ng-template>
        </div>    
        <div class="col-md-6 mb-md-3">
          <nz-card
            [nzTitle]="corporate"
            [nzLoading]="isLoading['corporate']"
            [nzExtra]="corporateTemplate"
            class="h-100"
          >
            <div class="row">
              <div class="col-md-5">
                <div class="d-flex mb-md-2">
                  <div class="media align-items-center">
                    <nz-badge
                      nzStatus="default"
                      [nzColor]="cyan"
                      class="h-100 dashboard-badge"
                    ></nz-badge>
                    <div class="m-l-5">
                      <p class="m-b-0 muted">Total Corporates</p>
                      <h4 class="m-b-0">
                        {{
                          fetchedList["corporate"]?.total_corporate_count
                            ? fetchedList["corporate"]?.total_corporate_count : " 0 "
                        }}
                      </h4>
                    </div>
                  </div>
                </div>
                <div class="d-flex mb-md-2">
                  <div class="media align-items-center">
                    <nz-badge
                      nzStatus="default"
                      [nzColor]="blue"
                      class="h-100 dashboard-badge"
                    >
                    </nz-badge>
                    <div class="m-l-5">
                      <p class="m-b-0 muted">Total Corporate Employees</p>
                      <h4 class="m-b-0">
                        {{
                          fetchedList["corporate"]?.total_employees_count
                            ? fetchedList["corporate"]?.total_employees_count : " 0 "
                        }}
                      </h4>
                    </div>
                  </div>
                </div>
                <div class="d-flex mb-md-2">
                  <div class="media align-items-center">
                    <nz-badge
                      nzStatus="default"
                      [nzColor]="gold"
                      class="h-100 dashboard-badge"
                    >
                    </nz-badge>
                    <div class="m-l-5">
                      <p class="m-b-0 muted">Active Employees</p>
                      <h4 class="m-b-0">
                        {{
                          fetchedList["corporate"]?.active_employees
                            ? fetchedList["corporate"]?.active_employees : " 0 "
                        }}
                      </h4>
                    </div>
                  </div>
                </div>
                <div class="d-flex mb-md-2">
                  <div class="media align-items-center">
                    <nz-badge
                      nzStatus="default"
                      [nzColor]="purple"
                      class="h-100 dashboard-badge"
                    >
                    </nz-badge>
                    <div class="m-l-5">
                      <p class="m-b-0 muted">No Of EWA</p>
                      <h4 class="m-b-0">
                        {{
                          fetchedList["corporate"]?.ewa_count
                            ? fetchedList["corporate"]?.ewa_count : " 0 "
                        }}
                      </h4>
                    </div>
                  </div>
                </div>
                <div class="d-flex mb-md-2">
                  <div class="media align-items-center">
                    <nz-badge
                      nzStatus="default"
                      [nzColor]="pink"
                      class="h-100 dashboard-badge"
                    >
                    </nz-badge>
                    <div class="m-l-5">
                      <p class="m-b-0 muted">No Of Fixed Product</p>
                      <h4 class="m-b-0">
                        {{
                          fetchedList["corporate"]?.fixed_count
                            ? fetchedList["corporate"]?.fixed_count : " 0 "
                        }}
                      </h4>
                    </div>
                  </div>
                </div>
                <!-- <div class="d-flex mb-md-2">
                  <div class="media align-items-center">
                    <nz-badge
                      nzStatus="default"
                      [nzColor]="gold"
                      class="h-100 dashboard-badge"
                    ></nz-badge>
                    <div class="m-l-5">
                      <p class="m-b-0 muted">Active Employees</p>
                      <h4 class="m-b-0">
                        {{
                          fetchedList["corporate"]?.active_employees
                            ? fetchedList["corporate"]?.active_employees
                            : 0
                        }}
                      </h4>
                    </div>
                  </div>
                </div>
                <div class="d-flex mb-md-2">
                  <div class="media align-items-center">
                    <nz-badge
                      nzStatus="default"
                      [nzColor]="pink"
                      class="h-100 dashboard-badge"
                    ></nz-badge>
                    <div class="m-l-5">
                      <p class="m-b-0 muted">Disburse User</p>
                      <h4 class="m-b-0">
                        {{
                          fetchedList["acquisition"]?.active_users_exact_count
                            ? fetchedList["acquisition"]?.active_users_exact_count
                            : " 0 "
                        }}
                      </h4>
                    </div>
                  </div>
                </div> -->
              </div>
              <div
                class="col-md-7 d-flex justify-content-center" style="min-height: 14rem"
                *ngIf="
                  fetchedList['corporate']?.fixed_count ||  fetchedList['corporate']?.ewa_count"
              >
                <div
                  class="text-center chart-container"
                  style="width: 200px; height: 200px; position: absolute; bottom: -21px; top:-64px;"
                >
                  <div class="w-100 text-center title-corporate">
                    Total Corporate
                  </div>
                  <br />
                  <b class="w-100 text-center title-corporate-count">{{fetchedList["corporate"]?.total_corporate_count}}</b
                  >
                  <canvas
                    ngChartjs
                    [data]="corporateChartData"
                    [labels]="corporateChartLabels"
                    [chartType]="customersChartType"
                    [colors]="customersChartColors"
                    [options]="customersChartOptions"
                    [legend]="false"
                  >
                  </canvas>
                </div>
                <!-- <canvas ngChartjs [data]="customersChartData" [labels]="customersChartLabels"
                                [chartType]="customersChartType" [colors]="customersChartColors"
                                [options]="customersChartOptions" [legend]="false">
                            </canvas> -->
              </div>
              <div
                class="col-md-7  d-flex justify-content-center"
                *ngIf="
                !fetchedList['corporate']?.fixed_count && !fetchedList['corporate']?.ewa_count
                "
              >
                <div
                  class="text-center chart-container"
                  style="width: 250px; height: 250px; position: absolute; margin-top: 9px;"
                >
                  <b class="w-100 text-center no-data-title" style="color: black"
                    >No Data To Show</b
                  >
                  <canvas
                    ngChartjs
                    [data]="dummyData"
                    [labels]="dummyDataLabels"
                    [chartType]="customersChartType"
                    [colors]="dummyDataColors"
                    [options]="customersChartOptions"
                    [legend]="false"
                  >
                  </canvas>
                </div>
              </div>
            </div>
            <!-- <div class="row mt-md-4 ant-card-head px-0 py-3">
              <div class="col-md-3">
                <p class="m-b-0 muted">Line Assigned</p>
                <h5 class="m-b-0">
                  {{
                    fetchedList["acquisition"]?.line_assigned
                      ? "₹ " + fetchedList["acquisition"]?.line_assigned
                      : " 0 "
                  }}
                </h5>
              </div>
              <div class="col-md-3">
                <p class="m-b-0 muted">Approval rate</p>
                <h5 class="m-b-0">
                  {{
                    fetchedList["acquisition"]?.approval_rate
                      ? fetchedList["acquisition"]?.approval_rate + "%"
                      : " 0 "
                  }}
                </h5>
              </div>
              <div class="col-md-6">
                <p class="m-b-0 muted">Average Line assigned</p>
                <h5 class="m-b-0">
                  {{
                    fetchedList["acquisition"]?.average_line_assigned
                      ? "₹ " + fetchedList["acquisition"]?.average_line_assigned
                      : " 0 "
                  }}
                </h5>
              </div>
            </div> -->
          </nz-card>
          <ng-template #corporate>
            <i nz-icon nzType="user" nzTheme="outline"></i>
            Corporate
          </ng-template>
        </div>
        <div class="col-md-6 mb-md-3">
          <nz-card
            [nzTitle]="existing"
            [nzLoading]="isLoading['existing']"
            [nzExtra]="existingTemplate"
            class="h-100"
          >
            <div class="row mb-md-3">

              <div class="col-md-4 mb-md-3">
                <p class="m-b-0 muted">Total Borrowers</p>
                <h4 class="m-b-0">
                  {{
                    fetchedList["existing"]?.total_borrowers
                      ? fetchedList["existing"]?.total_borrowers
                      : " 0 "
                  }}
                </h4>
              </div>

              <!-- There 6-->
              <div class="col-md-4 mb-md-3">
                <p class="m-b-0 muted">Total Line Assigned</p>
                <h4 class="m-b-0">
                  {{
                    fetchedList["existing"]?.total_credit_line_assigned
                      ? '₹' + fetchedList["existing"]?.total_credit_line_assigned : " 0 "
                  }}
                </h4>
              </div>

              <!-- There 10-->
              <div class="col-md-4 d-flex mb-md-3">
                <nz-badge
                  nzStatus="default"
                  [nzColor]="'#55268E40'"
                  class="h-100 dashboard-badge"
                ></nz-badge>
                <div class="ml-md-2">
                  <p class="m-b-0 muted">Total Line Used</p>
                  <h4 class="m-b-0">
                    ₹
                    {{
                      fetchedList["existing"]?.total_credit_line_used
                        ? fetchedList["existing"]?.total_credit_line_used
                        : " 0 "
                    }}
                  </h4>
                </div>
              </div>
              

              <!-- There 9-->


            </div>
            <div class="row">

              <div class="col-md-4 d-flex mb-md-3">
                <nz-badge
                  nzStatus="default"
                  [nzColor]="'#55268E40'"
                  class="h-100 dashboard-badge"
                ></nz-badge>
                <div class="ml-md-2">
                  <p class="m-b-0 muted">Total Outstanding</p>
                  <h4 class="m-b-0">
                    ₹
                    {{
                      fetchedList["existing"]?.outstanding
                        ? fetchedList["existing"]?.outstanding
                        : " 0 "
                    }}
                  </h4>
                </div>
              </div>

              <div class="col-md-4 d-flex mb-md-3">
                <nz-badge
                  nzStatus="default"
                  [nzColor]="'#55268E40'"
                  class="h-100 dashboard-badge"
                ></nz-badge>
                <div class="ml-md-2">
                  <p class="m-b-0 muted">Average Line</p>
                  <h4 class="m-b-0">
                    ₹
                    {{
                      fetchedList["existing"]?.average_line_assigned
                        ? fetchedList["existing"]?.average_line_assigned
                        : " 0 "
                    }}
                  </h4>
                </div>
              </div>

              
              <!-- There 7 -->
              <div class="col-md-4 d-flex mb-md-3">
                <nz-badge
                  nzStatus="default"
                  [nzColor]="'#55268E40'"
                  class="h-100 dashboard-badge"
                ></nz-badge>
                <div class="ml-md-2">
                  <p class="m-b-0 muted">Average Outstanding Balance</p>
                  <h4 class="m-b-0">
                    ₹
                    {{
                      fetchedList["existing"]?.average_outstanding
                        ? fetchedList["existing"]?.average_outstanding
                        : " 0 "
                    }}
                  </h4>
                </div>
              </div>

              <!-- There 8 *ngIf="selectedTab['existing'] == 'overall'"-->
              <div class="col-md-4 d-flex mb-md-3" >
                <nz-badge
                  nzStatus="default"
                  [nzColor]="'#55268E40'"
                  class="h-100 dashboard-badge"
                ></nz-badge>
                <div class="ml-md-2">
                  <p class="m-b-0 muted">Total Active Borrowes</p>
                  <h4 class="m-b-0">
                    {{
                      fetchedList["existing"]?.total_active_borrowers
                        ? fetchedList["existing"]?.total_active_borrowers
                        : " 0 "
                    }}
                  </h4>
                </div>
              </div>

              <!-- There 11-->
              <div class="col-md-4 d-flex mb-md-3" >
                <nz-badge
                  nzStatus="default"
                  [nzColor]="'#55268E40'"
                  class="h-100 dashboard-badge"
                ></nz-badge>
                <div class="ml-md-2">
                  <p class="m-b-0 muted">This months Active Borrowers</p>
                  <h4 class="m-b-0">
                    {{
                      fetchedList["existing"]?.users_with_first_txn_this_month
                        ? fetchedList["existing"]?.users_with_first_txn_this_month : " 0 "
                    }}
                  </h4>
                </div>
              </div>

              <!-- There 5 -->
              <div class="col-md-4 d-flex mb-md-3">
                <nz-badge
                  nzStatus="default"
                  [nzColor]="'#55268E40'"
                  class="h-100 dashboard-badge"
                ></nz-badge>
                <div class="ml-md-2">
                  <p class="m-b-0 muted">This Month New Active Borrowers</p>
                  <h4 class="m-b-0">
                    {{
                      fetchedList["existing"]?.count_new_active_borrowers
                        ? fetchedList["existing"]?.count_new_active_borrowers : " 0 "
                    }}
                  </h4>
                </div>
              </div>  

              <!-- There 4-->
              <div class="col-md-4 d-flex mb-md-3">
                <nz-badge
                  nzStatus="default"
                  [nzColor]="'#55268E40'"
                  class="h-100 dashboard-badge"
                ></nz-badge>
                <div class="ml-md-2">
                  <p class="m-b-0 muted">New Acquisition Active Borrowers</p>
                  <h4 class="m-b-0">
                    {{
                      fetchedList["existing"]?.count_new_acquisition_borrowers
                        ? fetchedList["existing"]?.count_new_acquisition_borrowers : " 0 "
                    }}
                  </h4>
                </div>
              </div>  

              <!-- THere -->
              <div class="col-md-4 d-flex mb-md-3">
                <nz-badge
                  nzStatus="default"
                  [nzColor]="'#55268E40'"
                  class="h-100 dashboard-badge"
                ></nz-badge>
                <div class="ml-md-2">
                  <p class="m-b-0 muted">Average Age in Months</p>
                  <h4 class="m-b-0">
                    {{
                      fetchedList["existing"]?.average_age_in_months
                        ? fetchedList["existing"]?.average_age_in_months + ' Months': " 0 "
                    }}
                  </h4>
                </div>
              </div>  

            </div>
          </nz-card>
          <ng-template #existing>
            <i nz-icon nzType="pie-chart" nzTheme="outline"></i>
            Borrowers
          </ng-template>
    </div>
      <!-- </div>
    </div> -->

    
    <!-- <div class="col-md-6 mb-md-3">
      <nz-card
        [nzTitle]="mandate"
        [nzLoading]="isLoading['mandate']"
        [nzExtra]="mandateTemplate"
        class="h-100"
      >
        <div class="row">
          <div class="col-md-5">
            <div class="d-flex mb-md-2">
              <div class="media align-items-center">
                <nz-badge
                  nzStatus="default"
                  [nzColor]="cyan"
                  class="h-100 dashboard-badge"
                ></nz-badge>
                <div class="m-l-5">
                  <p class="m-b-0 muted">Mandate through Aadhar</p>
                  <h4 class="m-b-0">
                    {{
                      fetchedList["mandate"]
                        ?.aadhar_mandate
                        ? fetchedList["mandate"]
                            ?.aadhar_mandate
                        : " 0 "
                    }}
                  </h4>
                </div>
              </div>
            </div>
            <div class="d-flex mb-md-2">
              <div class="media align-items-center">
                <nz-badge
                  nzStatus="default"
                  [nzColor]="purple"
                  class="h-100 dashboard-badge"
                >
                </nz-badge>
                <div class="m-l-5">
                  <p class="m-b-0 muted">Mandate through DebitCard</p>
                  <h4 class="m-b-0">
                    {{
                      fetchedList["mandate"]
                        ?.debitcard_mandate
                        ? fetchedList["mandate"]
                            ?.debitcard_mandate
                        : " 0 "
                    }}
                  </h4>
                </div>
              </div>
            </div>
            <div class="d-flex mb-md-2">
              <div class="media align-items-center">
                <nz-badge
                  nzStatus="default"
                  [nzColor]="gold"
                  class="h-100 dashboard-badge"
                ></nz-badge>
                <div class="m-l-5">
                  <p class="m-b-0 muted">Mandate through NetBanking</p>
                  <h4 class="m-b-0">
                    {{
                      fetchedList["mandate"]
                        ?.netbanking_mandate
                        ? fetchedList["mandate"]
                            ?.netbanking_mandate
                        : 0 }}
                  </h4>
                </div>
              </div>
            </div>
            <div class="d-flex mb-md-2">
              <div class="media align-items-center">
                <nz-badge
                  nzStatus="default"
                  [nzColor]="pink"
                  class="h-100 dashboard-badge"
                ></nz-badge>
                <div class="m-l-5">
                  <p class="m-b-0 muted">UPI Mandate Done</p>
                  <h4 class="m-b-0">
                    {{
                      fetchedList["mandate"]?.upi_mandate
                        ? fetchedList["mandate"]?.upi_mandate
                        : " 0 "
                    }}
                  </h4>
                </div>
              </div>
            </div>
            <div class="d-flex mb-md-2">
              <div class="media align-items-center">
                <nz-badge
                  nzStatus="default"
                  [nzColor]="red"
                  class="h-100 dashboard-badge"
                ></nz-badge>
                <div class="m-l-5">
                  <p class="m-b-0 muted">Total Mandate Done</p>
                  <h4 class="m-b-0">
                    {{
                      fetchedList["mandate"]?.total_mandate_done
                        ? fetchedList["mandate"]?.total_mandate_done
                        : " 0 "
                    }}
                  </h4>
                </div>
              </div>
            </div>
          </div>
          <div
            class="col-md-7 d-flex justify-content-center"
            *ngIf="
              fetchedList['mandate']?.aadhar_mandate ||
              fetchedList['mandate']?.debitcard_mandate ||
              fetchedList['mandate']?.netbanking_mandate ||
              fetchedList['mandate']?.total_mandate_done ||
              fetchedList['mandate']?.upi_mandate
            "
          >
            <div
              class="text-center chart-container"
              style="width: 250px; height: 250px; position: absolute; bottom: -21px; top: -25px;"
            >
              <div class="w-100 text-center title">
                Mandate Counts
              </div>
              <br />
              <b class="w-100 text-center title"
                >{{fetchedList['mandate']?.total_mandate_done}}</b
              >
              <canvas
                ngChartjs
                [data]="mandateChartData"
                [labels]="mandateChartLabels"
                [chartType]="customersChartType"
                [colors]="mandateChartColors"
                [options]="customersChartOptions"
                [legend]="false"
              >
              </canvas>
            </div>
          </div>
          <div
            class="col-md-7  d-flex justify-content-center"
            *ngIf="
            !fetchedList['mandate']?.aadhar_mandate &&
            !fetchedList['mandate']?.debitcard_mandate &&
            !fetchedList['mandate']?.netbanking_mandate &&
            !fetchedList['mandate']?.total_mandate_done &&
            !fetchedList['mandate']?.upi_mandate"
          >
            <div
              class="text-center chart-container"
              style="width: 250px; height: 250px; position: absolute; margin-top: 9px;"
            >
              <b class="w-100 text-center no-data-title" style="color: black"
                >No Data To Show</b
              >
              <canvas
                ngChartjs
                [data]="dummyData"
                [labels]="dummyDataLabels"
                [chartType]="customersChartType"
                [colors]="dummyDataColors"
                [options]="customersChartOptions"
                [legend]="false"
              >
              </canvas>
            </div>
          </div>
        </div>
      </nz-card>
      <ng-template #mandate>
        <i nz-icon nzType="user" nzTheme="outline"></i>
        Mandate
      </ng-template>
    </div> -->

    <div class="col-md-6 mb-md-3">
      <nz-card
        [nzTitle]="authorisation"
        [nzExtra]="authorizationTemplate"
        class="h-100"
      >
        <nz-table
          [nzLoading]="isLoading['authorization']"
          [nzData]="fetchedList['authorization']"
        >
          <thead>
            <tr>
              <th>#</th>
              <th>Credit Transactions</th>
              <th>Total Count</th>
              <th>Total Amount</th>
            </tr>
          </thead>
          <tbody>
            <ng-container>
              <tr>
                <td>1</td>
                <td>Total</td>
                <td>
                  {{
                    fetchedList["authorization"]?.credit
                      ? fetchedList["authorization"]?.credit[0]?.total
                      : 0
                  }}
                </td>
                <td>
                  {{
                    fetchedList["authorization"]?.credit
                      ? fetchedList["authorization"]?.credit[0]?.amount
                      : 0
                  }}
                </td>
              </tr>
              <tr>
                <td>2</td>
                <td>Success</td>
                <td>
                  {{
                    fetchedList["authorization"]?.credit
                      ? fetchedList["authorization"]?.credit[1]?.success
                      : 0
                  }}
                </td>
                <td>
                  {{
                    fetchedList["authorization"]?.credit
                      ? fetchedList["authorization"]?.credit[1]?.amount
                      : 0
                  }}
                </td>
                <!-- <td>{{fetchedList['authorization']?.failed ? ('₹ ' + fetchedList['authorization']?.failed) : ' 0 '}}</td> -->
              </tr>
              <tr>
                <td>3</td>
                <td>Failed</td>
                <td>
                  {{
                    fetchedList["authorization"]?.credit
                      ? fetchedList["authorization"]?.credit[2]?.failure :" 0 "
                  }}
                </td>
                <td>
                  {{
                    fetchedList["authorization"]?.credit
                      ? fetchedList["authorization"]?.credit[2]?.amount: " 0 "
                  }}
                </td>
                <!-- <td>{{fetchedList['authorization']?.success ? ('₹ ' + fetchedList['authorization']?.success) : ' 0 '}}</td> -->
              </tr>
            </ng-container>
          </tbody>
        </nz-table>
        <div class="row mt-md-4 ant-card-head px-0 py-3">
          <div class="col-md-12">
            <p class="m-b-0 muted">Credit Failure Ratio</p>
          </div>
          <div class="col-md-6">
            <h5 class="m-b-0">Failed/Total Transaction</h5>
          </div>
          <div class="col-md-3">
            <h5 class="m-b-0">
              {{
                (fetchedList["authorization"]?.failure_ratio_credit?.failed ? fetchedList["authorization"]?.failure_ratio_credit?.failed : " 0 ") +
                  "/" +
                  (fetchedList["authorization"]?.failure_ratio_credit?.total ? fetchedList["authorization"]?.failure_ratio_credit?.total : " 0 ")
              }}
            </h5>
          </div>
          <div class="col-md-3">
            <h5 class="m-b-0">
              {{
                fetchedList["authorization"]?.failure_ratio_credit?.failed_percentage ? fetchedList["authorization"]?.failure_ratio_credit?.failed_percentage : " 0 " 
              }}%
            </h5>
          </div>
        </div>
        <nz-table class="mt-3"
          [nzLoading]="isLoading['authorization']"
          [nzData]="fetchedList['authorization']">
          <thead>
            <tr>
              <th>#</th>
              <th>Debit Transactions</th>
              <th>Total Count</th>
              <th>Total Amount</th>
            </tr>
          </thead>
          <tbody>
            <ng-container>
              <tr>
                <td>1</td>
                <td>Total</td>
                <td>
                  {{
                    fetchedList["authorization"]?.debit
                      ? fetchedList["authorization"]?.debit[0]?.total
                      : 0
                  }}
                </td>
                <td>
                  {{
                    fetchedList["authorization"]?.debit
                      ? fetchedList["authorization"]?.debit[0]?.amount
                      : 0
                  }}
                </td>
              </tr>
              <tr>
                <td>2</td>
                <td>Success</td>
                <td>
                  {{
                    fetchedList["authorization"]?.debit
                      ? fetchedList["authorization"]?.debit[1]?.success
                      : 0
                  }}
                </td>
                <td>
                  {{
                    fetchedList["authorization"]?.debit
                      ? fetchedList["authorization"]?.debit[1]?.amount
                      : 0
                  }}
                </td>
              </tr>
              <tr>
                <td>3</td>
                <td>Failed</td>
                <td>
                  {{
                    fetchedList["authorization"]?.debit
                      ? fetchedList["authorization"]?.debit[2]?.failure
                      : " 0 "
                  }}
                </td>
                <td>
                  {{
                    fetchedList["authorization"]?.debit
                      ? fetchedList["authorization"]?.debit[2]?.amount: " 0 "
                  }}
                </td>
              </tr>
            </ng-container>
          </tbody>
        </nz-table>
        <div class="row mt-md-4 ant-card-head px-0 py-3">
          <div class="col-md-12">
            <p class="m-b-0 muted">Debit Failure Ratio</p>
          </div>
          <div class="col-md-6">
            <h5 class="m-b-0">Failed/Total Transaction</h5>
          </div>
          <div class="col-md-3">
            <h5 class="m-b-0">
              {{
                (fetchedList["authorization"]?.failure_ratio_debit?.failed ? fetchedList["authorization"]?.failure_ratio_debit?.failed :" 0 ")+
                  "/" +
                  (fetchedList["authorization"]?.failure_ratio_debit?.total ? fetchedList["authorization"]?.failure_ratio_debit?.total : " 0 ")
              }}
            </h5>
          </div>
          <div class="col-md-3">
            <h5 class="m-b-0">
              {{
                fetchedList["authorization"]?.failure_ratio_debit?.failed_percentage ? fetchedList["authorization"]?.failure_ratio_debit?.failed_percentage : 0
              }}%
            </h5>
          </div>
        </div>
      </nz-card>
    </div>
    <!-- <div class="col-6">
      <div class="row"> -->
        <div class="col-md-6 mb-md-3">
          <nz-card
            [nzTitle]="repayment"
            [nzLoading]="isLoading['repayment']"
            [nzExtra]="repaymentTemplate"
            class="h-100"
          >
            <div class="row mb-md-3">
              <div class="col-md-4 mb-md-3">
                <p class="m-b-0 muted">No. of Borrowers Bill Due</p>
                <h4 class="m-b-0">
                  {{
                    fetchedList["repayment"]?.number_of_borrowers_bill_due
                      ? fetchedList["repayment"]?.number_of_borrowers_bill_due : " 0 "
                  }}
                </h4>
              </div>
              <!-- <div style="height: 30px; width: 70%;">
                            <canvas ngChartjs [datasets]="revenueChartData" [labels]="revenueChartLabels" [options]="revenueChartOptions"
                                [colors]="revenueChartColors" [legend]="false" [chartType]="revenueChartType">
                            </canvas>
                        </div> -->
              <div class="col-md-4 mb-md-3">
                <p class="m-b-0 muted">Due Outstanding</p>
                <h4 class="m-b-0">
                  {{
                    fetchedList["repayment"]?.total_borrower_outstanding
                      ? '₹' + fetchedList["repayment"]?.total_borrower_outstanding : " 0 "
                  }}
                </h4>
                <!-- <div style="height: 30px; width: 70%;">
                                <canvas ngChartjs [datasets]="revenueChartData" [labels]="revenueChartLabels" [options]="revenueChartOptions"
                                    [colors]="revenueChartColors" [legend]="false" [chartType]="revenueChartType">
                                </canvas>
                            </div> -->
              </div>
              <div class="col-md-4 mb-md-3">
                <p class="m-b-0 muted">Repayment Done</p>
                <h4 class="m-b-0">
                  {{
                    fetchedList["repayment"]?.number_repayment_transactions
                      ? fetchedList["repayment"]?.number_repayment_transactions : " 0 "}}
                </h4>
                <!-- <div style="height: 30px; width: 70%;">
                                <canvas ngChartjs [datasets]="revenueChartData" [labels]="revenueChartLabels" [options]="revenueChartOptions"
                                    [colors]="revenueChartColors" [legend]="false" [chartType]="revenueChartType">
                                </canvas>
                            </div> -->
              </div>
            </div>
            <div class="row mt-md-4 ant-card-head px-0 py-3">
              <div class="col-md-3">
                <p class="m-b-0 muted">Repayment Amount</p>
                <h5 class="m-b-0">
                  {{
                    fetchedList["repayment"]?.total_transaction_amount
                      ? "₹ " + fetchedList["repayment"]?.total_transaction_amount
                      : " 0 "
                  }}
                </h5>
              </div>
              <div class="col-md-3">
                <p class="m-b-0 muted">Count of Fee Collected</p>
                <h5 class="m-b-0">
                  {{
                    fetchedList["repayment"]?.count_fee_transaction
                      ? fetchedList["repayment"]?.count_fee_transaction : " 0 "
                  }}
                </h5>
              </div>
              <div class="col-md-6">
                <p class="m-b-0 muted">Amount Of Fee Collected</p>
                <h5 class="m-b-0">
                  {{
                    fetchedList["repayment"]?.total_fees_amount
                      ? "₹ " + fetchedList["repayment"]?.total_fees_amount
                      : " 0 "
                  }}
                </h5>
              </div>
            </div>
          </nz-card>
          <ng-template #repayment>
            <i nz-icon nzType="pie-chart" nzTheme="outline"></i>
            Repayments
          </ng-template>
        </div>
        <div class="col-md-6 mb-md-3">
          <nz-card
            [nzTitle]="delinquent"
            [nzExtra]="delinquentTemplate"
            class="h-100"
          >
            <nz-table
              [nzLoading]="isLoading['delinquent']"
              nzShowPagination="false"
              [nzData]="fetchedList['delinquent']"
            >
              <thead>
                <tr>
                  <th>#</th>
                  <th>No. of Days</th>
                  <th>Total No. of Users</th>
                  <th>Total Amount</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of fetchedList['delinquent']?.delinquent_data; index as i">
                  <td>{{ i + 1 }}</td>
                  <td>{{ data?.number_of_days }}</td>
                  <td>{{ data?.number_of_user }}</td>
                  <td>
                    {{ data?.total_amount ? "₹ " + data?.total_amount : " 0 " }}
                  </td>
                </tr>
                <!-- <tr>
                                <td>2</td>
                                <td>30+ Days</td>
                                <td>5,000</td>
                                <td>₹ 3,00,000</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>90+ Days</td>
                                <td>5,000</td>
                                <td>₹ 3,00,000</td>
                            </tr> -->
              </tbody>
            </nz-table>
            <div class="row mb-md-3">
              <div class="col-md-4 mb-md-3">
                <p class="m-b-0 muted">Write Off</p>
                <h4 class="m-b-0">
                  {{
                    fetchedList["delinquent"]?.number_of_write_offs
                      ? fetchedList["delinquent"]?.number_of_write_offs : " 0 "
                  }}
                </h4>
              </div>
              <!-- <div style="height: 30px; width: 70%;">
                            <canvas ngChartjs [datasets]="revenueChartData" [labels]="revenueChartLabels" [options]="revenueChartOptions"
                                [colors]="revenueChartColors" [legend]="false" [chartType]="revenueChartType">
                            </canvas>
                        </div> -->
              <div class="col-md-4 mb-md-3">
                <p class="m-b-0 muted">Total Number Of Users</p>
                <h4 class="m-b-0">
                  {{
                    fetchedList["delinquent"]?.total_users
                      ? fetchedList["delinquent"]?.total_users : " 0 "}}
                </h4>
                <!-- <div style="height: 30px; width: 70%;">
                                <canvas ngChartjs [datasets]="revenueChartData" [labels]="revenueChartLabels" [options]="revenueChartOptions"
                                    [colors]="revenueChartColors" [legend]="false" [chartType]="revenueChartType">
                                </canvas>
                            </div> -->
              </div>
              <div class="col-md-4 mb-md-3">
                <p class="m-b-0 muted">Total Amount</p>
                <h4 class="m-b-0">
                  {{
                    fetchedList["delinquent"]?.total_delinquent_amount
                      ? '₹' + fetchedList["delinquent"]?.total_delinquent_amount : " 0 "
                  }}
                </h4>
                <!-- <div style="height: 30px; width: 70%;">
                                <canvas ngChartjs [datasets]="revenueChartData" [labels]="revenueChartLabels" [options]="revenueChartOptions"
                                    [colors]="revenueChartColors" [legend]="false" [chartType]="revenueChartType">
                                </canvas>
                            </div> -->
              </div>
            </div>
          </nz-card>
          <ng-template #delinquent>
            <i nz-icon nzType="file-text" nzTheme="outline"></i>
            Delinquent
          </ng-template>
        </div>          
      <!-- </div>
    </div> -->
    
    <!-- Repayment In Progress -->

    <!-- <div class="col-md-6">
      <nz-card [nzTitle]="NBFC" [nzExtra]="nbfcTemplate">
        <div style="height: 360px">
          <canvas
            ngChartjs
            [datasets]="avgProfitChartData"
            [labels]="avgProfitChartLabels"
            [options]="avgProfitChartOptions"
            [colors]="avgProfitChartColors"
            [legend]="avgProfitChartLegend"
            [chartType]="avgProfitChartType"
          >
          </canvas>
        </div>
      </nz-card>
      <ng-template #NBFC>
        <i nz-icon nzType="code-sandbox" nzTheme="outline"></i>
        NBFC
      </ng-template>
    </div> -->
  </div>
</section>

<ng-template #delinquentTemplate>
  <nz-radio-group
    (ngModelChange)="onChangeTab($event, 'delinquent')"
    [(ngModel)]="selectedTab['delinquent']"
  >
    <label nz-radio-button nzValue="Today">Today</label>
    <label nz-radio-button nzValue="This Month">Start of Month</label>
    <!-- <label nz-radio-button nzValue="Overall">Overall</label> -->
  </nz-radio-group>
  
  <!-- <nz-radio-group (ngModelChange)="onChangeTab($event, 'delinquent')"
  [(ngModel)]="selectedTab['delinquent']">
    <label nz-radio-button class="px-5 mb-md-0 mb-3 border-radius-2" nzValue="Today">Today</label>
    <label nz-radio-button class=" px-5 mb-md-0 mb-3 border-radius-2" nzValue="This Month">This Month</label>
    <label nz-radio-button class=" px-5 mb-md-0 mb-3 border-radius-2" nzValue="Overall">Overall</label>
</nz-radio-group> -->
</ng-template>
<ng-template #nbfcTemplate>
  <nz-radio-group
    (ngModelChange)="onChangeTab($event, 'nbfc')"
    [(ngModel)]="selectedTab['nbfc']">
    <label nz-radio-button nzValue="Today">Today</label>
    <label nz-radio-button nzValue="This Month">This Month</label>
    <label nz-radio-button nzValue="Overall">Overall</label>
  </nz-radio-group>
</ng-template>
<ng-template #authorizationTemplate>
  <nz-radio-group
    (ngModelChange)="onChangeTab($event, 'authorization')"
    [(ngModel)]="selectedTab['authorization']"
  >
    <label nz-radio-button nzValue="Today">Today</label>
    <label nz-radio-button nzValue="This Month">This Month</label>
    <!-- <label nz-radio-button nzValue="Overall">Overall</label> -->
  </nz-radio-group>
</ng-template>
<ng-template #acquisitionTemplate>
  <nz-radio-group
    (ngModelChange)="onChangeTab($event, 'acquisition')"
    [(ngModel)]="selectedTab['acquisition']"
  >
    <label nz-radio-button nzValue="today">Today</label>
    <label nz-radio-button nzValue="this month">This Month</label>
    <label nz-radio-button nzValue="overall">Overall</label>
  </nz-radio-group>
</ng-template>
<ng-template #corporateTemplate>
  <nz-radio-group
    (ngModelChange)="onChangeTab($event, 'corporate')"
    [(ngModel)]="selectedTab['corporate']"
  >
    <!-- <label nz-radio-button nzValue="today">Today</label> -->
    <label nz-radio-button nzValue="this month">This Month</label>
    <label nz-radio-button nzValue="overall">Overall</label>
  </nz-radio-group>
</ng-template>
<ng-template #repaymentTemplate>
  <nz-radio-group
    (ngModelChange)="onChangeTab($event, 'repayment')"
    [(ngModel)]="selectedTab['repayment']"
  >
    <label nz-radio-button nzValue="today">Today</label>
    <label nz-radio-button nzValue="this month">This Month</label>
    <!-- <label nz-radio-button nzValue="overall">Overall</label> -->
  </nz-radio-group>
</ng-template>
<ng-template #mandateTemplate>
  <nz-radio-group
    (ngModelChange)="onChangeTab($event, 'mandate')"
    [(ngModel)]="selectedTab['mandate']"
  >
    <label nz-radio-button nzValue="today">Today</label>
    <label nz-radio-button nzValue="this month">This Month</label>
    <label nz-radio-button nzValue="overall">Overall</label>
  </nz-radio-group>
</ng-template>
<ng-template #existingTemplate>
  <nz-radio-group
    (ngModelChange)="onChangeTab($event, 'existing')"
    [(ngModel)]="selectedTab['existing']"
  >
    <!-- <label nz-radio-button nzValue="today">Today</label> -->
    <label nz-radio-button nzValue="this month">This Month</label>
    <label nz-radio-button nzValue="overall">Overall</label>
  </nz-radio-group>
</ng-template>
<ng-template #authorizationTemplate>
  <nz-radio-group
    (ngModelChange)="onChangeTab($event, 'authorization')"
    [(ngModel)]="selectedTab['authorization']"
  >
    <label nz-radio-button nzValue="Today">Today</label>
    <label nz-radio-button nzValue="This Month">This Month</label>
    <!-- <label nz-radio-button nzValue="Overall">Overall</label> -->
  </nz-radio-group>
</ng-template>
<ng-template #authorisation>
  <i nz-icon nzType="line-chart" nzTheme="outline"></i>
  Authorization
</ng-template>
