<div class="header_breadcrumb_section">
    <button nz-button (click)="isVisible = true" nzType="primary" class="ml-1" nzGhost>Export Outstanding</button>
    <button nz-button (click)="exportGlobalFunction('xlsx')" nzType="primary" class="ml-1" nzGhost>Export</button>
</div>
<section>
    <div class="row">
        <nz-card class="w-100 accordianLoanApp">
            <div class="row">
                <div class="col-md-3 mb-3 d-flex">
                    <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                        <input type="text"nz-input placeholder="Search text" [(ngModel)]="search_params" (keyup.enter)="fetchBorrowerList()"/>
                    </nz-input-group>
                    <ng-template #suffixIconButton>
                        <button nz-button nzType="secondary" nzSearch (click)="fetchBorrowerList()"><i nz-icon nzType="search"></i></button>
                    </ng-template>
                    <button nz-button nzType="default" nzShape="circle" nz-tooltip nzTooltipTitle="Reset Filter" (click)="resetFilters()" class="ml-2">
                        <i nz-icon nzType="undo"></i>
                    </button>
                </div>
                <div class="col-md-9 mb-3 d-flex justify-content-md-end flex-wrap">
                    <!-- <nz-select class="mx-1 mb-2" [(ngModel)]="selectedCorporate" nzAllowClear nzShowSearch nzPlaceHolder="Select Corporate"
                        (nzOnSearch)="OnTypeSearchList($event)" style="min-width: 13rem"
                        (ngModelChange)="fetchBorrowerList()" (nzFocus)="fetchPartnerList()">
                        <nz-option *ngFor="let item of corporateList" [nzValue]="item?.pk" [nzLabel]="item?.name">
                            <div *ngIf="item.name">{{ item?.name }}</div>
                        </nz-option>
                    </nz-select> -->
                    <nz-select [(ngModel)]="selectedCorporate" nzMode="multiple" style="width: 15rem;" class="mx-1 my-md-0 mb-3"
                        (nzFocus)="fetchPartnerList()" (ngModelChange)="fetchBorrowerList()" nzAllowClear [nzMaxTagCount]="1"
                        [nzSize]="'small'" nzPlaceHolder="Select Partner">
                        <nz-option *ngFor="let item of corporateList" [nzValue]="item.pk" [nzLabel]="item.name">
                        </nz-option>
                  </nz-select>
                    <nz-select class="mx-1" style=" width: 12rem;" ngModel="filters" nzAllowClear [(ngModel)]="master_product_id" (ngModelChange)="fetchBorrowerList()"
                        nzPlaceHolder="Filter By Product Master">
                        <nz-option [nzValue]="1" nzLabel="FatakPay"></nz-option>
                        <nz-option [nzValue]="2" nzLabel="Fatak EMI"></nz-option>
                    </nz-select>
                    <nz-select class="mx-1" style=" width: 12rem;" ngModel="filters" nzAllowClear [(ngModel)]="is_blocked" (ngModelChange)="fetchBorrowerList()"
                        nzPlaceHolder="Filter By Card Status">
                        <nz-option [nzValue]="1" nzLabel="Active"></nz-option>
                        <nz-option [nzValue]="2" nzLabel="Blocked"></nz-option>
                    </nz-select>
                    <nz-select class="mx-1" style=" width: 12rem;" ngModel="filters" nzAllowClear [(ngModel)]="is_spend" (ngModelChange)="fetchBorrowerList()"
                        nzPlaceHolder="Filter By spend">
                        <nz-option [nzValue]="'Yes'" nzLabel="Spend"></nz-option>
                        <nz-option [nzValue]="'No'" nzLabel="Not spend"></nz-option>
                    </nz-select>
                    <nz-select class="mx-1" style=" width: 12rem;" ngModel="filters" nzAllowClear [(ngModel)]="is_active" (ngModelChange)="fetchBorrowerList()"
                        nzPlaceHolder="Filter By A/C Status">
                        <nz-option [nzValue]="'Active'" nzLabel="Active"></nz-option>
                        <nz-option [nzValue]="'Dormant'" nzLabel="Dormant"></nz-option>
                        <nz-option [nzValue]="'Delinquent'" nzLabel="Delinquent"></nz-option>
                        <nz-option [nzValue]="'Disbursement'" nzLabel="Disbursement"></nz-option>
                        <nz-option [nzValue]="'Write Off'" nzLabel="Write Off"></nz-option>
                        <nz-option [nzValue]="'Involuntary Closure'" nzLabel="Involuntary Closure"></nz-option>
                        <nz-option [nzValue]="'Voluntary Closure Restructuring'" nzLabel="Voluntary Closure Restructuring"></nz-option>
                        <nz-option [nzValue]="'Offer Acceptance'" nzLabel="Offer Acceptance"></nz-option>
                        <nz-option [nzValue]="'Rejected'" nzLabel="Rejected"></nz-option>Disbursement
                    </nz-select>
                    <!-- <nz-select class="mx-1" style=" width: 12rem;" ngModel="filters" nzAllowClear
                        nzPlaceHolder="Filter By A/C Status">
                        <nz-option nzValue="1" nzLabel="Fatak Pay"></nz-option>
                        <nz-option nzValue="2" nzLabel="Fatak Pay EMI"></nz-option>
                    </nz-select> -->
                </div>
            </div>
            <nz-table #basicTable [nzFrontPagination]="false" [nzData]="borrowertList" [nzPageIndex]="page" [nzShowSizeChanger]="true" [nzTotal]="total_count" [nzPageSize]="globalPageSize"
            [nzScroll]="{ x: '2500px' }" [nzLoading]="api_calling_loader" (nzQueryParams)="borrowertList ? fetchBorrowerList($event) : ''">
            <!-- , y: '45vh'     -->
            <thead>
                    <tr>
                        <th nzWidth="2rem"></th>
                        <th nzWidth="3rem">#</th>
                        <th nzWidth="15rem">User Name</th>
                        <th>Product type</th>
                        <th>Corporate</th>
                        <th>Loan ID</th>
                        <th>Employee code</th>
                        <th>Nach status</th>
                        <th>Applied on</th>
                        <th>Disbursement date</th>
                        <th>Available limit</th>
                        <th>Credit Line Assigned</th>
                        <th>Credit Utilized</th>
                        <th>Enach Trigger</th>
                        <th>Outstanding</th>
                        <th>Fees/Charges</th>
                        <th>Is using app</th>
                        <th>Card Status</th>
                        <th>A/c Status</th>
                        <th>User Status</th>
                        <th nzWidth="5rem" nzRight>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let data of borrowertList; index as i">
                        <tr>
                            <td nzWidth="1rem" [nzExpand]="expandSet.has(data?.loan_application_id)"
                                (nzExpandChange)="onExpandChange(data?.loan_application_id, $event, i)"></td>
                            <td *ngIf="page === 1">{{i+1}}</td>
                            <td *ngIf="page > 1">{{((page-1)*globalPageSize)+(i+1)}}</td>
                            <td>
                                <h5>{{data.user?.full_name ? data.user.full_name : '-'}}</h5>
                                <span *ngIf="data.user?.mobile">Contact No: {{data.user ? data.user.mobile : '-'}}</span>
                                <p *ngIf="data.user?.email">{{data.user ? data.user.email : '-'}}</p>
                            </td>
                            <td>{{ data?.product_type ? data?.product_type.name : '-'}}</td>
                            <td>{{ data?.corporate ? data?.corporate.display_name : '-'}}</td>
                            <td>{{ data.loan_unique_id ? data.loan_unique_id : '-'}}</td>
                            <td>{{ data.emp_code ? data.emp_code : '-' }}</td>
                            <td>{{ data.latest_token_status ? (data.latest_token_status | titlecase) : '-' }}</td>
                            <td>{{data.activation_date | date: "medium"}}</td>
                            <td>{{data.disbursement_date ? (data.disbursement_date| date: "MMM dd, yyyy") : '-'}}</td>
                            <td>₹ {{data.closing_credit_balance}}</td>
                            <td>₹ {{data.loan_amount_provided}}</td>
                            <td>₹ {{data.credit_utilization_amount}}</td>
                            <td>
                                <span *ngIf="!data.ignore_enach_trigger" style="text-transform: capitalize !important;" class="badge badge-pill badge-success">Enabled</span>
                                <span *ngIf="data.ignore_enach_trigger" style="text-transform: capitalize !important;" class="badge badge-pill badge-danger">Disabled</span>
                            </td>
                            <td>₹ {{data.outstanding_amount}}</td>
                            <td>₹ {{data.fees_or_charges_amount}}</td>
                            <td>{{ data.is_using_app ? 'Yes' : 'No'}}</td>
                            <td>
                                <span *ngIf="!data?.is_blocked">Active</span>
                                <span *ngIf="data?.is_blocked">Block</span>
                            </td>
                            <td>
                                {{data?.account_status}}
                                <!-- <nz-tag nzColor="green" *ngIf="data?.account_status == 'Active'">
                                                        <i nz-icon nzType="check-circle"></i>
                                                        <span>Active</span>
                                                      </nz-tag>
                                                      <nz-tag nzColor="orange" *ngIf="data?.account_status != 'Active'">
                                                        <i nz-icon nzType="close-circle"></i>
                                                        <span>{{data?.account_status}}</span>
                                                      </nz-tag> -->
                            </td>
                            <td>
                                <span *ngIf="!data?.is_user_blocked">Active</span>
                                <span *ngIf="data?.is_user_blocked">Block</span>
                            </td>
                            <td nzRight>
                                <div>
                                    <a class="text-dark font-size-20" nz-dropdown [nzClickHide]="false" [nzTrigger]="'click'"
                                        [nzPlacement]="'bottomRight'" [nzDropdownMenu]="latestUploadDropDown">
                                        <img src="assets/images/ellipsis.png" alt="" width="30">
                                    </a>
                                    <nz-dropdown-menu #latestUploadDropDown="nzDropdownMenu">
                                        <ul nz-menu>
                                            <li nz-menu-item [routerLink]="['details']" [queryParams]="{id: data.id}"
                                                *ngxPermissionsOnly="['view_borrowers']">
                                                <!-- <i nz-icon nzType="edit" theme="outline"></i> -->
                                                <span class="m-l-5">View Details</span>
                                            </li>
                                            <li nz-menu-item (click)="exportGlobalFunctionTnx('xlsx', data.id)">
                                                <span class="m-l-5">Export transaction</span>
                                            </li>
                                            <li nz-menu-item (click)="holdIgnoreMandateTrigger(data.id, data.ignore_enach_trigger)">
                                                <span class="m-l-5">Hold/ Ignore Mandate trigger</span>
                                            </li>
                                            <li
                                            nz-menu-item *ngxPermissionsOnly="['']"
                                            (click)="fetchCibilPDF(data?.loan_application_id)"
                                            >
                                            <!-- <i nz-icon nzType="edit" theme="outline"></i> -->
                                            <span class="m-l-5">Fetch Cibil PDF</span>
                                            </li>

                                            <ng-container *ngIf="data?.latest_token_status == 'confirmed'" >
                                            <li nz-menu-item nz-dropdown [nzClickHide]="false" [nzTrigger]="'click'" [nzPlacement]="'bottomRight'"
                                                [nzDropdownMenu]="latestUploadDropDown1234">
                                                    <span class="m-l-5">Send Enach Reg Link</span>
                                            </li>
                                            </ng-container>
                                            
                                          <nz-dropdown-menu #latestUploadDropDown1234="nzDropdownMenu">
                                            <ul nz-menu>
                                                  <li nz-menu-item nz-popconfirm nzPopconfirmTitle="Are you sure Send Enach Reg Link?"
                                                      nzPopconfirmPlacement="topLeft"
                                                      (nzOnConfirm)="sendEnachLink(data?.id ,'upi')">
                                                      <span class="m-l-5">UPI</span>
                                                  </li>
                                                  <li nz-menu-item nz-popconfirm nzPopconfirmTitle="Are you sure Send Enach Reg Link?"
                                                      nzPopconfirmPlacement="topLeft"
                                                      (nzOnConfirm)="sendEnachLink(data?.id ,'netbanking')">
                                                      <span class="m-l-5">Net banking</span>
                                                  </li>
                                                  <li nz-menu-item nz-popconfirm nzPopconfirmTitle="Are you sure Send Enach Reg Link?"
                                                      nzPopconfirmPlacement="topLeft"
                                                      (nzOnConfirm)="sendEnachLink(data?.id ,'aadhar')">
                                                      <span class="m-l-5">Aadhar card</span>
                                                  </li>
                                                  <li nz-menu-item nz-popconfirm nzPopconfirmTitle="Are you sure Send Enach Reg Link?"
                                                      nzPopconfirmPlacement="topLeft"
                                                      (nzOnConfirm)="sendEnachLink(data?.id ,'debitcard')">
                                                      <span class="m-l-5">Debit card</span>
                                                  </li>
                                            </ul>
                                      </nz-dropdown-menu>
                        
                                            <!-- <li nz-menu-item *ngxPermissionsOnly="['delete_ipd']" nz-popconfirm
                                                                    nzPopconfirmTitle="Are you sure delete this IPD Admission?"
                                                                    (nzOnConfirm)="deleteIPDAdmission(data.id)" nzPopconfirmPlacement="topLeft">
                                                                    <i nz-icon nzType="delete" theme="outline"></i>
                                                                    <span class="m-l-5">Delete</span>
                                                                </li> -->
                                        </ul>
                                    </nz-dropdown-menu>
                                </div>
                            </td>
                        </tr>
                        
                        <tr [nzExpand]="expandSet.has(data?.loan_application_id)">
                            <div class="justify-content-center">
                                <nz-page-header class="site-page-header acc-bg-light" [nzTitle]="personalDetail">
                                </nz-page-header>
                                <nz-card class="mb-md-0 border"
                                    [nzLoading]="_currentId == data?.loan_application_id ? api_calling_loader_accordian : null">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="d-flex flex-column">
                                                <span class="text-muted">
                                                    Email
                                                </span>
                                                <div>
                                                    {{data?.expanddata?.user?.email ?
                                                    data?.expanddata?.user?.email : '-'}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="d-flex flex-column">
                                                <span class="text-muted">
                                                    D.O.B
                                                </span>
                                                <div>
                                                    {{data?.expanddata?.user?.dob ?
                                                    (data?.expanddata?.user?.dob
                                                    | date:'dd MMM, yyyy' ): '-'}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="d-flex flex-column">
                                                <span class="text-muted">
                                                    Monthly Income
                                                </span>
                                                <div>
                                                    {{
                                                    data?.expanddata?.income_details?.results[0]?.income_range_id
                                                    ?
                                                    data?.expanddata?.income_details?.results[0]?.income_range_id?.name
                                                    : '-'}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </nz-card>
                                <ng-template #personalDetail>
                                    <div class="ml-md-2">
                                        <h6 class="mb-0"><i nz-icon class="mr-2" nzType="user" nzTheme="outline"></i> Personal Details</h6>
                                    </div>
                                </ng-template>
                            </div>
                            <div class="my-3">
                                <nz-page-header class="site-page-header acc-bg-light" [nzTitle]="empHeader">
                                </nz-page-header>
                                <nz-card class="mb-md-0 border"
                                    [nzLoading]="_currentId == data?.loan_application_id ? api_calling_loader_accordian : null">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="d-flex flex-column">
                                                <span class="text-muted">
                                                    Company Name
                                                </span>
                                                <div>
                                                    <!-- created_at -->
                                                    {{data?.expanddata?.partner?.name ?
                                                    data?.expanddata?.partner?.name : '-'}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="d-flex flex-column">
                                                <span class="text-muted">
                                                    Address
                                                </span>
                                                <div>
                                                    {{ data?.expanddata?.partner ?
                                                    data?.expanddata?.partner?.address :
                                                    '-'}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="d-flex flex-column">
                                                <span class="text-muted">
                                                    EMP Code
                                                </span>
                                                <div>
                                                    {{data?.expanddata?.emp_code ?
                                                    data?.expanddata?.emp_code : '-'}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </nz-card>
                                <ng-template #empHeader>
                                    <div class="ml-md-2">
                                        <h6 class="mb-0"><i nz-icon class="mr-2" nzType="file" nzTheme="outline"></i> Employement Details</h6>
                                    </div>
                                </ng-template>
                            </div>
                        
                            <!-- KYC Details -->
                            <div class="my-3">
                                <nz-page-header class="site-page-header acc-bg-light" [nzTitle]="kycDetails">
                                </nz-page-header>
                                <nz-card class="mb-md-0 border"
                                    [nzLoading]="_currentId == data?.loan_application_id ? api_calling_loader_accordian : null">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="d-flex flex-column">
                                                <span class="text-muted">
                                                    PAN No.
                                                </span>
                                                <div>
                                                    {{data?.expanddata?.pan ?
                                                    data?.expanddata?.kyc_details?.results[data?.expanddata?.kyc_details?.results?.length
                                                    - 1]['pan_no'] : '-'}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="d-flex flex-column">
                                                <span class="text-muted">
                                                    Aadhaar No.
                                                </span>
                                                <div>
                                                    {{data?.expanddata?.aadhar ?
                                                    data?.expanddata?.kyc_details?.results[data?.expanddata?.kyc_details?.results?.length
                                                    - 1]['aadhar_no'] : '-'}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </nz-card>
                                <ng-template #kycDetails>
                                    <div class="ml-md-2">
                                        <h6 class="mb-0"><i nz-icon class="mr-2" nzType="file" nzTheme="outline"></i> KYC Details</h6>
                                    </div>
                                </ng-template>
                            </div>
                        
                            <!-- Aadhar Address -->
                            <div class="my-3">
                                <nz-page-header class="site-page-header acc-bg-light" [nzTitle]="aadharAddress">
                                </nz-page-header>
                                <nz-card class="mb-md-0 border"
                                    [nzLoading]="_currentId == data?.loan_application_id ? api_calling_loader_accordian : null">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="d-flex flex-column">
                                                <span class="text-muted">
                                                    Address Line 1
                                                </span>
                                                <div>
                                                    {{data?.expanddata?.kyc_details ?
                                                    data?.expanddata?.kyc_details?.results[data?.expanddata?.kyc_details?.results?.length
                                                    -1]?.address_1
                                                    : '-'}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="d-flex flex-column">
                                                <span class="text-muted">
                                                    Address Line 2
                                                </span>
                                                <div>
                                                    {{data?.expanddata?.kyc_details ?
                                                    data?.expanddata?.kyc_details?.results[data?.expanddata?.kyc_details?.results?.length
                                                    -1]?.address_2
                                                    : '-'}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4" *ngIf="data?.expanddata?.kyc_details?.results[0]?.address_3 ? true : false">
                                            <div class="d-flex flex-column">
                                                <span class="text-muted">
                                                    Address Line 3
                                                </span>
                                                <div>
                                                    {{data?.expanddata?.kyc_details ?
                                                    data?.expanddata?.kyc_details?.results[data?.expanddata?.kyc_details?.results?.length
                                                    -1]?.address_3
                                                    : '-'}}
                                                </div>
                                            </div>
                                        </div>
                        
                                        <div class="col-md-4">
                                            <div class="d-flex flex-column">
                                                <span class="text-muted">
                                                    City
                                                </span>
                                                <div>
                                                    {{data?.expanddata?.kyc_details ?
                                                    data?.expanddata?.kyc_details?.results[data?.expanddata?.kyc_details?.results?.length
                                                    -1]?.city
                                                    : '-'}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="d-flex flex-column">
                                                <span class="text-muted">
                                                    State
                                                </span>
                                                <div>
                                                    {{data?.expanddata?.kyc_details ?
                                                    data?.expanddata?.kyc_details?.results[data?.expanddata?.kyc_details?.results?.length
                                                    -1]?.state
                                                    : '-'}}
                                                </div>
                                            </div>
                                        </div>
                        
                                        <div class="col-md-4">
                                            <div class="d-flex flex-column">
                                                <span class="text-muted">
                                                    Pincode
                                                </span>
                                                <div>
                                                    {{data?.expanddata?.kyc_details ?
                                                    data?.expanddata?.kyc_details?.results[data?.expanddata?.kyc_details?.results?.length
                                                    -1]?.pincode
                                                    : '-'}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </nz-card>
                                <ng-template #aadharAddress>
                                    <div class="ml-md-2">
                                        <h6 class="mb-0"><i nz-icon class="mr-2" nzType="file" nzTheme="outline"></i> Aadhar Address</h6>
                                    </div>
                                </ng-template>
                            </div>
                        
                            <!-- API Response -->
                            <div class="my-3">
                                <nz-page-header class="site-page-header acc-bg-light" [nzTitle]="response">
                                </nz-page-header>
                                <nz-card class="mb-md-0 border"
                                    [nzLoading]="_currentId == data?.loan_application_id ? api_calling_loader_accordian : null">
                                    <nz-table #colSpanTable [nzFrontPagination]="false" [nzShowSizeChanger]="false"
                                        [nzData]="data?.expanddata?.api_calls_response" nzBordered>
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th *ngFor="let item of data?.expanddata?.api_calls_response">
                                                    {{item?.name }} </th>
                        
                                            </tr>
                                        </thead>
                                        <tbody>
                        
                                            <tr>
                                                <td class="font-weight-semibold">API Call</td>
                                                <td *ngFor="let item of data?.expanddata?.api_calls_response">
                                                    <i *ngIf="item?.called" nz-icon nzType="check-circle" nzTheme="fill"
                                                        class="text-success"></i>
                                                    <i *ngIf="!(item?.called)" nz-icon nzType="close-circle" nzTheme="fill"
                                                        class="text-danger"></i>
                                                </td>
                                            </tr>
                                            <tr>
                        
                                                <td>Response came</td>
                                                <td *ngFor="let item of data?.expanddata?.api_calls_response">
                                                    <i *ngIf="item?.response" nz-icon nzType="check-circle" nzTheme="fill"
                                                        class="text-success"></i>
                                                    <i *ngIf="!(item?.response)" nz-icon nzType="close-circle" nzTheme="fill"
                                                        class="text-danger"></i>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </nz-table>
                                </nz-card>
                                <ng-template #response>
                                    <div class="ml-md-2">
                                        <h6 class="mb-0"><i nz-icon class="mr-2" nzType="file" nzTheme="outline"></i> API response</h6>
                                    </div>
                                </ng-template>
                            </div>
                            <!-- History -->
                            <div class="my-3" *ngIf="_currentId == data?.loan_application_id">
                                <nz-page-header class="site-page-header acc-bg-light" [nzTitle]="history">
                                </nz-page-header>
                                <nz-card class="mb-md-0 border">
                                    <div class="row">
                                        <div class="col-12">
                                            <app-audit-history [endpoint]="'LoanApplication'" [endpoint_id]="_currentId"></app-audit-history>
                                        </div>
                                    </div>
                                </nz-card>
                                <ng-template #history>
                                    <div class="ml-md-2">
                                        <h6 class="mb-0"><i nz-icon class="mr-2" nzType="file" nzTheme="outline"></i>History</h6>
                                    </div>
                                </ng-template>
                            </div>
                        
                        </tr>
                    </ng-container>
                    
                </tbody>
            </nz-table>
            <div class="total_count_text" *ngIf="total_count">
                <b>Total Count : </b>{{total_count}}
            </div>
        </nz-card>
    </div>
</section>
<nz-modal [(nzVisible)]="isVisible" (nzOnCancel)="isVisible = false"
      (nzOnOk)="exportOutstandingGlobalFunction('xlsx')" nzOkText="Export"
      [nzOkDisabled]="!(corporate_Id && start_month)">
      <!-- [nzOkDisabled]="!selectedDateforStatement" -->
      <ng-container *nzModalContent>
            
          <div class="row">
            <div class="col-md-12">
                <nz-form-item>
                    <nz-form-label [nzSm]="10" [nzXs]="24" class="text-left" nzRequired>Select corporate
                    </nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please Select corporate!">
                        <nz-select nzAllowClear [(ngModel)]="corporate_Id" nzPlaceHolder="Please Select corporate"
                        (nzOnSearch)="OnTypeSearchList($event)" style="min-width: 13rem"
                        (ngModelChange)="getCorporateWithBillDate()" (nzFocus)="fetchPartnerList()">
                        <nz-option *ngFor="let item of corporateList" [nzValue]="item?.pk" [nzLabel]="item?.name">
                            <div *ngIf="item.name">{{ item?.name }}</div>
                        </nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div class="col-md-12">
                <nz-form-item>
                    <nz-form-label [nzSm]="10" [nzXs]="24" class="text-left" nzRequired>Enter bill date
                    </nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please Enter bill date!">
                        <input [(ngModel)]="month" type="number" nz-input placeholder="Please Enter bill date" disabled/>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div class="col-md-12">
                <nz-form-item>
                    <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="start_month" class="text-left" nzRequired>Select from</nz-form-label>
                    <nz-form-control [nzSm]="10" [nzXs]="24" nzErrorTip="Please input select from!">
                        <nz-select [(ngModel)]="start_month" nzPlaceHolder="Select select from!" nzShowSearch nzAllowClear>
                            <nz-option *ngFor="let item of time_period_arr" [nzValue]="item.value"
                                [nzLabel]="item.name">
                            </nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
      </ng-container>
</nz-modal>

<nz-modal [(nzVisible)]="pdf_viewer_object_values['boolean']" nzHeight="60vw" nzWidth="80vw" nzKeyboard="true"
    [nzTitle]="pdf_viewer_object_values['title']" (nzOnCancel)="handleCancel()" [nzFooter]="modalFooter">
    <ng-container *nzModalContent>
        <div class="pdf_viewer_container" *ngIf="pdf_viewer_object_values['url']">
            <embed [src]="pdfData" width="100%" style="height: 37rem;" />
        </div>
        <div *ngIf="!pdf_viewer_object_values['url']">
          <h4>No PDF Found</h4>
        </div>
    </ng-container>
</nz-modal>
<ng-template #modalFooter>
  <button nz-button nzType="primary" (click)="handleCancel()">Close</button>
</ng-template>