<section>
    <div class="row">
        <div class="col-md-12">
            <div>
                <nz-page-header class="site-page-header acc-bg-light" [nzTitle]="kycDetails">
                </nz-page-header>
                <nz-card class="mb-md-0 border" [nzLoading]="api_calling_loader">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="d-flex flex-column">
                                <span class="text-muted"> PAN No. </span>
                                <div>
                                    {{data?.kyc_details?.pan_no ? data?.kyc_details?.pan_no: "-"}}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="d-flex flex-column">
                                <span class="text-muted"> Aadhaar No. </span>
                                <div>
                                    {{ data?.kyc_details?.aadhar_no ? data?.kyc_details?.aadhar_no : "-" }}
                                </div>
                            </div>
                        </div>
                    </div>
                </nz-card>
                <ng-template #kycDetails>
                    <div class="ml-md-2">
                        <h6 class="mb-0">
                            <i nz-icon class="mr-2" nzType="file" nzTheme="outline"></i>
                            KYC Details
                        </h6>
                    </div>
                </ng-template>
            </div>
            <div class="mt-3" *ngxPermissionsOnly="[uploadPermission]">
                <nz-page-header class="site-page-header acc-bg-light" [nzTitle]="document">
                </nz-page-header>
                <nz-card class="mb-md-0" [nzLoading]="api_calling_loader">
                    <div class="row" *ngIf="data?.kyc_documents">
                        <div class="col-md-4" *ngFor="let item of data?.kyc_documents">
                            <div class="d-flex flex-column">
                                <div class="d-flex flex-wrap justify-content-between">
                                    <label class="text-muted">{{ item?.document_master?.name + " " }}
                                        <b> {{ item?.status }} </b>
                                    </label>
            
                                    <div class="mr-5">
                                        <a class="text-primary mr-3" *ngIf="
                                            item?.document_master?.require_front_back == 1
                                              ? item?.front_file_url
                                              : item?.file_url
                                          " nzTooltipTitle="View Document" (click)="
                                            _isViewDocument = true; _currentModalData = item
                                          ">
                                            <i nz-icon nzType="eye" nzTheme="outline"></i></a>
                                        <a class="text-primary mr-3" *ngIf="item?.id" nzTooltipTitle="Verify Document" (click)="
                                            _isVerify = true; _currentModalData = item
                                          ">
                                            <i nz-icon nzType="check-circle" nzTheme="outline"></i></a>
                                        <a class="text-primary mr-3" *ngIf="
                                            item?.document_master?.require_front_back == 1
                                              ? item?.front_file_url
                                              : item?.file_url
                                          " nzTooltipTitle="Download Document" href="{{ item?.front_file_url }}" download
                                            target="_blank">
                                            <i nz-icon nzType="download" nzTheme="outline"></i></a>
                                        <a class="text-primary" nzTooltipTitle="Upload Document" (click)="
                                            _isUpload = true; _currentModalData = item
                                          ">
                                            <i nz-icon nzType="upload" nzTheme="outline"></i>
                                        </a>
                                    </div>
                                </div>
                                <div>
                                    {{ item?.reason ? item?.reason : "-" }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <!-- View Uploaded Document -->
                            <button nzSize="small" nz-button nzType="link" (click)="onClickPreviewImage(data?.id)">
                                View Uploaded Document
                            </button>
                        </div>
                    </div>
                    <div class="row" *ngIf="!data?.kyc_documents">
                        Documents not uploaded
                    </div>
                </nz-card>
                <ng-template #document>
                    <div class="ml-md-2">
                        <h6 class="mb-0">Document Details</h6>
                    </div>
                </ng-template>
            </div>
            <div class="my-3">
                <nz-page-header class="site-page-header acc-bg-light" [nzTitle]="aadharAddress">
                </nz-page-header>
                <nz-card class="mb-md-0 border" [nzLoading]="api_calling_loader">
                    <div class="row" *ngFor="let item of data?.address_list; index as i">
                        <div class="col-md-12">
                            <h5>Address {{i+1}}</h5>
                        </div>
                        <div class="col-md-4">
                            <div class="d-flex flex-column">
                                <span class="text-muted"> Address Line 1 </span>
                                <div>
                                    {{item?.address_1 ? item?.address_1: "-"}}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="d-flex flex-column">
                                <span class="text-muted"> Address Line 2 </span>
                                <div>
                                    {{item?.address_2 ? item?.address_2: "-"}}
                                </div>
                            </div>
                        </div>
            
                        <div class="col-md-4">
                            <div class="d-flex flex-column">
                                <span class="text-muted"> City </span>
                                <div>
                                    {{item?.city ? item?.city: "-"}}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="d-flex flex-column">
                                <span class="text-muted"> State </span>
                                <div>
                                    {{item?.state ? item?.state: "-"}}
                                </div>
                            </div>
                        </div>
            
                        <div class="col-md-4">
                            <div class="d-flex flex-column">
                                <span class="text-muted"> Pincode </span>
                                <div>
                                    {{item?.pincode ? item?.pincode: "-"}}
                                </div>
                            </div>
                        </div>
                    </div>
                </nz-card>
                <ng-template #aadharAddress>
                    <div class="ml-md-2">
                        <h6 class="mb-0">
                            <i nz-icon class="mr-2" nzType="file" nzTheme="outline"></i>
                            Aadhar Address
                        </h6>
                    </div>
                </ng-template>
            </div>
            <div class="mt-3">
                <nz-page-header class="site-page-header acc-bg-light" [nzTitle]="cibilAddresses">
                </nz-page-header>
                <nz-card class="mb-md-0" [nzLoading]="api_calling_loader">
                    <nz-table [nzFrontPagination]="false" [nzLoading]="api_calling_loader" [nzShowSizeChanger]="false"
                        [nzFrontPagination]="false" [nzShowSizeChanger]="false" [nzData]="data?.cibil_pulled_addresses">
                        <thead>
                            <tr>
                                <th rowspan="2" nzWidth="40px">#</th>
                                <th>Address</th>
                                <th>Postal</th>
                                <th>Reported Date</th>
                                <th>State</th>
                                <th>Type</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let item of data?.cibil_pulled_addresses;index as i">
                                <tr>
                                    <td>{{ i + 1 }}</td>
                                    <td>{{ item?.Address }}</td>
                                    <td>{{ item?.Postal }}</td>
                                    <td>{{ item?.ReportedDate }}</td>
                                    <td>{{ item?.State }}</td>
                                    <td>{{ item?.Type }}</td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </nz-table>
                </nz-card>
                <ng-template #cibilAddresses>
                    <div class="ml-md-2">
                        <h6 class="mb-0">Cibil Pulled Addresses</h6>
                    </div>
                </ng-template>
            </div>
            <div class="my-3">
                <nz-page-header class="site-page-header acc-bg-light" [nzTitle]="response">
                </nz-page-header>
                <nz-card class="mb-md-0 border" [nzLoading]="api_calling_loader">
                    <nz-table #colSpanTable [nzFrontPagination]="false" [nzShowSizeChanger]="false"
                        [nzData]="data?.api_calls_response" nzBordered>
                        <thead>
                            <tr>
                                <th></th>
                                <th *ngFor="
                                        let item of data?.api_calls_response
                                      ">
                                    {{ item?.name }}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="font-weight-semibold">API Call</td>
                                <td *ngFor="
                                        let item of data?.api_calls_response
                                      ">
                                    <i *ngIf="item?.called" nz-icon nzType="check-circle" nzTheme="fill" class="text-success"></i>
                                    <i *ngIf="!item?.called" nz-icon nzType="close-circle" nzTheme="fill" class="text-danger"></i>
                                </td>
                            </tr>
                            <tr>
                                <td>Response came</td>
                                <td *ngFor="
                                        let item of data?.api_calls_response
                                      ">
                                    <i *ngIf="item?.response" nz-icon nzType="check-circle" nzTheme="fill" class="text-success"></i>
                                    <i *ngIf="!item?.response" nz-icon nzType="close-circle" nzTheme="fill" class="text-danger"></i>
                                </td>
                            </tr>
                        </tbody>
                    </nz-table>
                </nz-card>
                <ng-template #response>
                    <div class="ml-md-2">
                        <h6 class="mb-0">
                            <i nz-icon class="mr-2" nzType="file" nzTheme="outline"></i>
                            API response
                        </h6>
                    </div>
                </ng-template>
            </div>
            <div class="my-3">
                <nz-page-header class="site-page-header acc-bg-light" [nzTitle]="thirdPartyResponse">
                </nz-page-header>
                <nz-card class="mb-md-0 border" [nzLoading]="api_calling_loader">
                    <nz-table style="text-align-last: center" #colSpanTable [nzFrontPagination]="false" [nzShowSizeChanger]="false"
                        [nzData]="data?.kyc_documents" nzBordered>
                        <thead>
                            <tr>
                                <th></th>
                                <th *ngFor="let item of data?.kyc_documents">
                                    {{ item?.document_master?.name }}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="font-weight-semibold">API Response</td>
                                <td *ngFor="let item of data?.kyc_documents">
                                    <i *ngIf="item?.api_response" nz-icon nzType="check-circle" nzTheme="fill"
                                        class="text-success"></i>
                                    <i *ngIf="!item?.api_response" nz-icon nzType="close-circle" nzTheme="fill"
                                        class="text-danger"></i>
                                </td>
                            </tr>
                            <tr>
                                <td>Response came</td>
                                <td *ngFor="let item of data?.kyc_documents">
                                    <button *ngIf="!item?.api_response" nz-button nzType="link" class="border"
                                        [disabled]="!item?.api_response" (click)="onClickShowJSONPreview(item)">
                                        Preview
                                    </button>
                                    <button *ngIf="item?.api_response" nz-button nzType="link" class="border"
                                        (click)="onClickShowJSONPreview(item)">
                                        Preview
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </nz-table>
                </nz-card>
                <ng-template #thirdPartyResponse>
                    <div class="ml-md-2">
                        <h6 class="mb-0">
                            <i nz-icon class="mr-2" nzType="file" nzTheme="outline"></i>
                            Third Party API response
                        </h6>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</section>

<nz-modal [(nzVisible)]="isVisibleThirdPartyResp" [nzWidth]="'600'" nzTitle="Fetched Third Party Response"
    [nzFooter]="thirdPartyFooter" (nzOnCancel)="isVisibleThirdPartyResp = false">
    <ng-container *nzModalContent>
        <nz-card [nzLoading]="api_calling_loader1">
            <span *ngIf="thirdPartyDataResponse">
                <ngx-json-viewer [json]="thirdPartyDataResponse" [expanded]="true"></ngx-json-viewer>
            </span>
            <span *ngIf="!thirdPartyDataResponse" style="font-weight: bolder">
                No data Found
            </span>
        </nz-card>
    </ng-container>
    <ng-template #thirdPartyFooter>
        <button nz-button nzType="link" class="border" (click)="isVisibleThirdPartyResp = false">
            Cancel
        </button>
    </ng-template>
</nz-modal>

<nz-modal [(nzVisible)]="isVisibleUploadedImage" nzTitle="Fetched Selfie Response"
    (nzOnCancel)="isVisibleUploadedImage = false" (nzOnOk)="isVisibleUploadedImage = false" [nzWidth]="'70%'">
    <ng-container *nzModalContent>
        <nz-card [nzLoading]="api_calling_loader2">
            <!-- <span *ngIf="xmlDataResponse">
                        <ngx-json-viewer [json]="xmlDataResponse"  [expanded]="false"></ngx-json-viewer>
                  </span> 
                  <span *ngIf="!xmlDataResponse" style="font-weight: bolder;">
                        No data Found
                  </span> -->
            <div class="row">
                <div class="col-6">
                    <!-- <div>Aadhar Image</div> -->
                    <div><b>Aadhar Image</b></div>
                    <img alt="item" [src]="storedSelfieImage?.aadhar_url" width="100%" />
                </div>
                <div class="col-6">
                    <div><b>Selfie Image</b></div>
                    <img alt="item" [src]="storedSelfieImage?.selfie_url" width="100%" />
                </div>
            </div>
        </nz-card>
    </ng-container>
</nz-modal>
<section *ngIf="_isViewDocument">
    <app-common-document-actions [action]="'viewDocument'" [_isOpenModal]="_isViewDocument ? true : false"
        [documentData]="_currentModalData" (close)="_isViewDocument = false"></app-common-document-actions>
</section>
<section *ngIf="_isVerify">
    <app-common-document-actions [action]="'verifyDocument'" [_isOpenModal]="_isVerify ? true : false"
        [documentData]="_currentModalData" (close)="
      _isVerify = false;
      getKycDetails()
    ">
    </app-common-document-actions>
</section>
<section *ngIf="_isUpload">
  <app-common-document-actions
    [action]="'uploadDocument'"
    [_isOpenModal]="_isUpload ? true : false"
    [documentData]="_currentModalData"
    (close)="
      _isUpload = false;
      getKycDetails()
    "
  >
  </app-common-document-actions>
</section>