<section>
    <nz-card>
        <div class="row">
            <div class="col-md-3 mb-3 d-flex"></div>
            <div class="col-md-9 mb-3 d-flex justify-content-md-end flex-wrap">
                <nz-range-picker style="width: 20rem;" class="mx-1" [(ngModel)]="date" [nzDisabledDate]="disabledDate"
                    (ngModelChange)="getCashbackList()" [nzRanges]="customRanges">
                </nz-range-picker>
            </div>
            <div class="col-md-12 accordianLoanApp totalCount">
                <nz-table #rowSelectionTable [nzData]="listData" [nzTotal]="total_count"
                        [nzFrontPagination]="false" [nzShowSizeChanger]="true" [nzPageIndex]="page"
                        [nzPageSize]="globalPageSize" [nzShowTotal]="botTotalCount"
                        (nzQueryParams)="listData[0] ? getCashbackList($event) : null"
                        [nzLoading]="api_calling_loader['listLoader']">
                        <thead>
                              <tr>
                                    <th [nzWidth]="'4rem'">#</th>
                                    <th>Corporate name</th>
                                    <th>Total corporate cashback amount</th>
                                    <th>Total corporate cashbacks</th>
                                    <th>Total referee cashback</th>
                                    <th>Total referrals</th>
                                    <th>Total referrer cashback</th>
                                    <th nzRight>Actions</th>
                              </tr>
                        </thead>
                        <tbody>
                              <ng-container *ngFor="let data of listData; index as i">
                                    <tr>
                                          <td *ngIf="page == 1">{{i+1}}</td>
                                          <td *ngIf="page > 1">{{((page-1)*globalPageSize)+(i+1)}}</td>
                                          <td>{{ data?.name ? data?.name : '-'}}</td>
                                          <td>{{ data?.total_corporate_cashback_amount ? data?.total_corporate_cashback_amount : '-'}}</td>
                                          <td>{{ data?.total_corporate_cashbacks ? data?.total_corporate_cashbacks : '-'}}</td>
                                          <td>{{ data?.total_referee_cashback ? data?.total_referee_cashback : '-'}}</td>
                                          <td>{{ data?.total_referrals ? data?.total_referrals : '-'}}</td>
                                          <td>{{ data?.total_referrer_cashback ? data?.total_referrer_cashback : '-'}}</td>
                                          <td nzRight>
                                            <div>
                                                <a class="text-dark font-size-20" nz-dropdown [nzClickHide]="false"
                                                    [nzTrigger]="'click'" [nzPlacement]="'bottomRight'"
                                                    [nzDropdownMenu]="latestUploadDropDown">
                                                    <img src="assets/images/ellipsis.png" alt="" width="30">
                                                </a>
                                                <nz-dropdown-menu #latestUploadDropDown="nzDropdownMenu">
                                                    <ul nz-menu>
                                                        <li nz-menu-item (click)="exportCashback(data?.id)">
                                                            <span class="m-l-5">Export cashback program</span>
                                                        </li>
                                                        <li nz-menu-item (click)="exportReferral(data?.id)">
                                                            <span class="m-l-5">Export referral program</span>
                                                        </li>
                                                    </ul>
                                                </nz-dropdown-menu>
                                            </div>
                                          </td>
                                        
                                    </tr>
                              </ng-container>
                        </tbody>
                  </nz-table>
                  <ng-template #botTotalCount>
                        <div *ngIf="total_count && listData[0]"
                              class="font-weight-semibold text-body-color">Total Count: {{total_count}} </div>
                  </ng-template>
            </div>
        </div>
    </nz-card>
</section>