<section>
    <div class="row">
        <nz-card class="w-100 mb-0">
            <nz-table #basicTable [nzFrontPagination]="false" [nzData]="list_data" [nzPageIndex]="page" [nzShowSizeChanger]="true" [nzTotal]="total_count" [nzPageSize]="globalPageSize"
            [nzLoading]="api_calling_loader" (nzQueryParams)="list_data ? fetchGSTInvoiceList($event) : ''">
                <thead>
                    <tr>
                        <th nzWidth="3rem">#</th>
                        <th>Invoice file name</th>
                        <th>Invoice date</th>
                        <th>IGST</th>
                        <th>Total</th>
                        <th>Transaction name</th>
                        <th>Transaction id</th>                    
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of list_data; index as i">
                        <td *ngIf="page === 1">{{i+1}}</td>
                        <td *ngIf="page > 1">{{((page-1)*globalPageSize)+(i+1)}}</td>
                        <td>{{ data['invoice_file'] ? data['invoice_file']: '-' }}</td>
                        <td>{{ data['invoice_date'] ? (data['invoice_date'] | date: 'medium'): '-' }}</td>
                        <td>{{ data['igst_total'] ? data['igst_total']: '-' }}</td>
                        <td>{{ data['total'] ? data['total']: '-' }}</td>
                        <td>{{ data['transaction'].txn_name ? data['transaction'].txn_name: '-' }}</td>
                        <td>{{ data['transaction'].txn_unique_id ? data['transaction'].txn_unique_id: '-' }}</td>
                    </tr>
                </tbody>
            </nz-table>
            <div class="total_count_text" *ngIf="total_count">
                <b>Total Count : </b>{{total_count}}
            </div>
        </nz-card>
    </div>
</section>