<section>
    <nz-card [nzLoading]="apiLoader['list']">
        <!-- <div class="accordianLoanApp"></div> -->
        <div class="row accordianLoanApp">
            <!-- <div class="col-4" *ngFor="let data of permissionList">
                    <h4> {{data?.display_name}}</h4>
            </div> -->
            <div class="col-md-4 mb-3" *ngFor="let data of permissionList">
                <nz-page-header 
                    class="acc-bg-light w-100"
                    [nzTitle]="basicDetail">
                </nz-page-header>
                <!-- <nz-card class="mb-md-5"> -->
                    <div class="row">
                        <div class="col-md-12" *ngFor="let slugs of data?.slugs_list">
                            <!-- <div class="d-flex flex-column">
                                <h3 class="font-weight-bold mb-0">
                                </h3>
                            </div> -->
                            <h5 class="mt-0 mb-2"> {{slugs?.display_name}}</h5>
                        </div>
                        </div>
                <!-- </nz-card> -->
                <ng-template #basicDetail>
                    <!-- <div class="row"> -->
                        <!-- <div class="col-12"> -->
                            <h4 class="my-0">{{data?.display_name}}</h4>
                        <!-- </div> -->
                        <!-- <h6 class="mb-0 my-2"> <img  class="mr-2" src="assets/images/icons/moneyBag.svg" />Total Repayments Received</h6> -->
                    <!-- </div> -->
                </ng-template>
          </div>
        </div>
    </nz-card>
</section>
