<section>
  <nz-card [nzLoading]="apiLoader['list']">
      <div class="row">
          <div class="col-12">
            <nz-form-item>
                <nz-form-label [nzSm]="5" [nzXs]="24" nzFor="bill_date" class="text-left">Select Preferred  Role</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please select Role">
                    <nz-select nzShowSearch nzPlaceHolder="Select Role" [(ngModel)]="selectedRole">
                        <nz-option *ngFor="let item of fetchedRole" [nzValue]="item.pk"
                        [nzLabel]="item.name">
                        </nz-option>
                      </nz-select>
                </nz-form-control>
                </nz-form-item>
          </div>

      </div>
    <div class="row accordianLoanApp" *ngIf="selectedRole">
      <div class="col-md-4 col-sm-6 col-12 mb-3" *ngFor="let data of permissionList">
        <nz-page-header class="acc-bg-light w-100" [nzTitle]="basicDetail">
          <!-- <ng-template #basicDetai>
          <div class="row">
            <div class="col-7">
              <h4 class="my-0">{{ data?.display_name }}</h4>
            </div>
            <div class="col-5">
              <label
                    class="d-flex"
                    nz-checkbox
                    (ngModelChange)="ngModelChange($event, data, 'head')" ngModel="false"
                    ></label>
            </div>
          </div>
        </ng-template> -->
        <!-- [ngModel]="slugListCheckBoxSelection(slugs?.function_name)" -->
        </nz-page-header>
        <div class="row mt-4">
          <div class="col-12" *ngFor="let slugs of data?.slugs_list; index as i">
            <div class="d-flex">
                <h5 class="mx-3">{{i + 1}}</h5>
                <h5 class=""><label
                    class="d-flex"
                    nz-checkbox
                    (ngModelChange)="ngModelChange($event, slugs, 'slugs')" ngModel="false"> 
                    {{ slugs?.display_name }}</label></h5>
                    <!-- [ngModel]="slugListCheckBoxSelection(slugs?.function_name)" -->
            </div>
          </div>
        </div>
        <ng-template #basicDetail>
          <h4 class="my-0">{{ data?.display_name }}</h4>
        </ng-template>
      </div>
      <div class="col-12 bg-light-orange mt-4 text-right">
        <button [nzLoading]="apiLoader['onOk']" [disabled]="slugList.length < 1 || !selectedRole"  (click)="updatePermissionBasedOnType()" nz-button nzType="primary">Update Permission</button>          
      </div>
    </div>
  </nz-card>
</section>
