<div class="header_breadcrumb_section">
      <div class="d-flex justify-content-md-between flex-wrap w-100">
            <div></div>
            <div class="align-self-end font-size-20"><i nz-icon class="mr-2" nzType="user" nzTheme="outline"></i> Users
                  : {{total_count ? total_count : '0'}}</div>
            <div> <button nz-button nzType="primary" [disabled]="checkDisabledStatus()" class="ml-auto"
                        (click)="updateStatus('status')" [routerLink]="">Update Status ({{_checkedLoanList ?
                        _checkedLoanList?.length
                        : '0'}})</button>
                  <button nz-button nzType="link" [disabled]="checkDisabledStatus()" (click)="exportData('xlsx')"
                        class="ml-3 border" [routerLink]=""  *ngxPermissionsOnly="['export_application']">Export</button>
            </div>
      </div>
</div>
<!-- Main Section  -->
<section>
      <nz-card class="w-100">
            <div class="row">
                  <div class="col-md-4 mb-3 d-flex">
                        <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                              <input type="text" [(ngModel)]="searchValue" (keyup.enter)="getFormLoanData()" nz-input
                                    placeholder="Search text" />
                        </nz-input-group>
                        <ng-template #suffixIconButton>
                              <button nz-button nzType="secondary" (click)="getFormLoanData()" nzSearch><i nz-icon
                                          nzType="search"></i></button>
                        </ng-template>
                  </div>
                  <div class="col-md-8 mt-md-0 mt-3 mb-3 d-flex justify-content-md-end">
                        <button nz-button nzType="default" nzShape="circle" nz-tooltip nzTooltipTitle="Reset Filter"
                              (click)="resetFilters()" class="mr-2">
                              <i nz-icon nzType="undo"></i>
                        </button>
                        <nz-select class="mx-3 w-100" nzAllowClear [(ngModel)]="productFilters"
                                    (nzFocus)="onFocusMethod('product')" (ngModelChange)="getFormLoanData()"
                                    nzPlaceHolder="Select Product">
                                    <nz-option *ngFor="let item of productList" [nzValue]="item.id"
                                          [nzLabel]="item.name">
                                    </nz-option>
                              </nz-select>
                        <nz-select [(ngModel)]="partner" (nzFocus)="onFocusMethod('partner')" class="mr-3 my-md-0 my-3 w-100" (ngModelChange)="getFormLoanData()" nzAllowClear nzPlaceHolder="Select Partner">
                                          <nz-option *ngFor="let item of partnerList" [nzValue]="item?.pk"
                                                [nzLabel]="item?.name "></nz-option>
                                    </nz-select>
                        <nz-select class="w-100" nzMode="multiple" (nzFocus)="onFocusMethod('status')" 
                              [(ngModel)]="filters" (ngModelChange)="getFormLoanData()" nzAllowClear [nzMaxTagCount]="1" [nzSize]="'small'"
                              nzPlaceHolder="Select Status">
                              <nz-option *ngFor="let item of stageStatusList" [nzValue]="item.id"
                                    [nzLabel]="item.status">
                              </nz-option>
                        </nz-select>
                  </div>
            </div>
            <div class="accordianLoanApp">
                  <nz-table #rowSelectionTable [nzData]="loanApplicationData" [nzTotal]="total_count"
                        [nzFrontPagination]="false" [nzShowSizeChanger]="true" [nzPageIndex]="page"
                        [nzPageSize]="globalPageSize" (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
                        (nzQueryParams)="loanApplicationData[0] ? getFormLoanData($event) : null"
                        [nzScroll]="{ x: '1500px', y: '' }" [nzLoading]="api_calling_loader['listLoader']">
                        <thead>
                              <tr>
                                    <th nzWidth="2rem"></th>
                                    <th nzWidth="3rem" [nzChecked]=" loanApplicationData[0] ? checked : false"
                                          [nzIndeterminate]=" loanApplicationData[0] ? indeterminate : false"
                                          (nzCheckedChange)="loanApplicationData[0] ? onAllChecked($event) : false">
                                    </th>
                                    <th nzWidth="100px">#</th>
                                    <th>Loan ID</th>
                                    <th nzWidth="14rem">User Details</th>
                                    <th>Apply Date & Time</th>
                                    <th>Master Partner</th>
                                    <th>Source Id</th>
                                    <th>Partner Id</th>
                                    <th>Reference Id</th>
                                    <th>Latest Action Performed By</th>
                                    <th>Status</th>
                                    <th>Reason</th>
                                    <th nzRight [nzWidth]="'5rem'">Action</th>
                              </tr>
                        </thead>
                        <tbody>
                              <ng-container *ngFor="let data of loanApplicationData; index as i">
                                    <tr>
                                          <td nzWidth="2rem" [nzExpand]="expandSet.has(data.id)"
                                                (nzExpandChange)="onExpandChange(data.id, $event, i)"></td>
                                          <td nzWidth="3rem" [nzChecked]="setOfCheckedId.has(data.id)"
                                                [nzDisabled]="data.disabled"
                                                (nzCheckedChange)="onItemChecked(data.id, $event)"></td>
                                          <td>{{i+1}}</td>
                                          <td>{{ data?.id }}</td>
                                          <td nzWidth="14rem">
                                                <div class="d-flex flex-column">
                                                      <div>{{ data?.user?.first_name ? data?.user?.first_name + ' ' +
                                                            (data?.user?.last_name ? data?.user?.last_name : '') : '' }}
                                                      </div>
                                                      <div *ngIf="data?.user?.mobile" class="d-flex font-size-12">
                                                            Contact No:
                                                            {{data?.user?.mobile}}</div>
                                                </div>
                                          </td>
                                          <td>
                                                <div class="d-flex flex-column">
                                                      <div>{{ data?.created_at | date:'shortDate' }}</div>
                                                      <div>{{ data?.created_at | date:'shortTime' }}</div>
                                                </div>
                                          </td>
                                          <td>{{data?.master_partner ? data?.master_partner?.name : '--'}}</td>
                                          <td>{{data?.source_id ? data?.source_id : '--'}}</td>
                                          <td>{{ data?.partner?.name ? data?.partner?.name : '--' }}</td>
                                          <td>{{ data?.reference_id ? data?.reference_id : '--' }}</td>
                                          <td></td>
                                          <td>{{data?.status ? data?.status : '--'}}</td>
                                          <td><span nz-tooltip nzTooltipTitle="{{data?.remarks}}">
                                                {{data?.remarks?.length >=18 ? (data?.remarks | slice : 0:18) : (data?.remarks ? data?.remarks : '--')}}
                                          </span></td>
                                          <td nzRight [nzWidth]="'5rem'">
                                                <a class="text-dark font-size-20" nz-dropdown [nzClickHide]="false"
                                                      [nzTrigger]="'click'" [nzPlacement]="'bottomRight'"
                                                      [nzDropdownMenu]="latestUploadDropDown">
                                                      <i nz-icon nzType="ellipsis" theme="outline"></i>
                                                </a>
                                                <nz-dropdown-menu #latestUploadDropDown="nzDropdownMenu">
                                                      <ul nz-menu>
                                                            <!-- [routerLink]="['edit-employee', data.id]" -->
                                                            <li nz-menu-item [routerLink]="['edit-form']"
                                                                  [queryParams]="{id: data?.id}" *ngxPermissionsOnly="['edit_application']">
                                                                  <!-- <i nz-icon nzType="edit" theme="outline"></i> -->
                                                                  <span class="m-l-5">Edit Application</span>
                                                            </li>
                                                            <li nz-menu-item [routerLink]="['track-status']"
                                                                  [queryParams]="{id: data?.id}">
                                                                  <span class="m-l-5">Track Status</span>
                                                            </li>
                                                            <!-- <li nz-menu-item (click)="updateStatus('requestDoc', data)">
                                                                  <span class="m-l-5">Request Documents</span>
                                                            </li> -->

                                                      </ul>
                                                </nz-dropdown-menu>
                                          </td>
                                    </tr>
                                    <tr [nzExpand]="expandSet.has(data.id)">
                                          <div class="justify-content-center">
                                                <nz-page-header class="site-page-header acc-bg-light"
                                                      [nzTitle]="personalDetail">
                                                </nz-page-header>
                                                <nz-card class="mb-md-0 border"
                                                      [nzLoading]="_currentId == data.id ? api_calling_loader['accordian'] : null">
                                                      <div class="row">
                                                            <div class="col-md-4">
                                                                  <div class="d-flex flex-column">
                                                                        <span class="text-muted">
                                                                              Email
                                                                        </span>
                                                                        <div>
                                                                              {{data?.expanddata?.user?.email ?
                                                                              data?.user?.email : '--'}}
                                                                        </div>
                                                                  </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                  <div class="d-flex flex-column">
                                                                        <span class="text-muted">
                                                                              D.O.B
                                                                        </span>
                                                                        <div>
                                                                              {{data?.expanddata?.user?.dob ?
                                                                                    (data?.expanddata?.user?.dob | date:'dd MMM, yyyy')
                                                                              : '--'}}
                                                                        </div>
                                                                  </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                  <div class="d-flex flex-column">
                                                                        <span class="text-muted">
                                                                              Monthly Income
                                                                        </span>
                                                                        <div>
                                                                              {{
                                                                              data?.expanddata?.income_details?.results[0]?.income_range_id
                                                                              ?
                                                                              data?.expanddata?.income_details?.results[0]?.income_range_id?.name
                                                                              : '--'}}
                                                                        </div>
                                                                  </div>
                                                            </div>
                                                      </div>
                                                </nz-card>
                                                <ng-template #personalDetail>
                                                      <div class="ml-md-2">
                                                            <h6 class="mb-0"><i nz-icon class="mr-2" nzType="user"
                                                                        nzTheme="outline"></i> Personal Details</h6>
                                                      </div>
                                                </ng-template>
                                          </div>
                                          <div class="mt-3">
                                                <nz-page-header class="site-page-header acc-bg-light"
                                                      [nzTitle]="empHeader">
                                                </nz-page-header>
                                                <nz-card class="mb-md-0 border"
                                                      [nzLoading]="_currentId == data.id ? api_calling_loader['accordian'] : null">
                                                      <div class="row">
                                                            <div class="col-md-4">
                                                                  <div class="d-flex flex-column">
                                                                        <span class="text-muted">
                                                                              Company Name
                                                                        </span>
                                                                        <div>
                                                                              <!-- created_at -->
                                                                              {{data?.expanddata?.partner?.name ?
                                                                              data?.expanddata?.partner?.name : '--'}}
                                                                        </div>
                                                                  </div>
                                                            </div>
                                                            <div class="col-md-8">
                                                                  <div class="d-flex flex-column">
                                                                        <span class="text-muted">
                                                                              Address
                                                                        </span>
                                                                        <div>
                                                                              {{data?.expanddata?.partner ?
                                                                              data?.expanddata?.partner?.address : '--'}}
                                                                        </div>
                                                                  </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                  <div class="d-flex flex-column">
                                                                        <span class="text-muted">
                                                                              EMP Code
                                                                        </span>
                                                                        <div>
                                                                              {{data?.expanddata?.emp_code ?
                                                                              data?.expanddata?.emp_code : '--'}}
                                                                        </div>
                                                                  </div>
                                                            </div>
                                                      </div>
                                                </nz-card>
                                                <ng-template #empHeader>
                                                      <div class="ml-md-2">
                                                            <h6 class="mb-0"><i nz-icon class="mr-2" nzType="file"
                                                                        nzTheme="outline"></i> Employement Details</h6>
                                                      </div>
                                                </ng-template>
                                          </div>

                                          <!-- KYC Details -->
                                          <div class="my-3">
                                                <nz-page-header class="site-page-header acc-bg-light"
                                                      [nzTitle]="kycDetails">
                                                </nz-page-header>
                                                <nz-card class="mb-md-0 border"
                                                      [nzLoading]="_currentId == data.id ? api_calling_loader['accordian'] : null">
                                                      <div class="row">
                                                            <div class="col-md-6">
                                                                  <div class="d-flex flex-column">
                                                                        <span class="text-muted">
                                                                              PAN No.
                                                                        </span>
                                                                        <div>
                                                                              {{data?.expanddata?.pan ?
                                                                                    data?.expanddata?.kyc_details?.results[data?.expanddata?.kyc_details?.results?.length - 1]['pan_no'] : '--'}}
                                                                        </div>
                                                                  </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                  <a nz-button nzType="link" (click)="onClickFetchXML('PAN', data?.expanddata?.id)">Fetch Pan XML</a>
                                                            </div>
                                                            <div class="col-md-6">
                                                                  <div class="d-flex flex-column">
                                                                        <span class="text-muted">
                                                                              Aadhaar No.
                                                                        </span>
                                                                        <div>
                                                                              {{data?.expanddata?.aadhar ?
                                                                                    data?.expanddata?.kyc_details?.results[data?.expanddata?.kyc_details?.results?.length - 1]['aadhar_no'] : '--'}}
                                                                        </div>
                                                                  </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                  <a nz-button nzType="link" (click)="onClickFetchXML('AADHAR', data?.expanddata?.id)">Fetch Aadhaar XML</a>
                                                            </div>
                                                      </div>
                                                </nz-card>
                                                <ng-template #kycDetails>
                                                      <div class="ml-md-2">
                                                            <h6 class="mb-0"><i nz-icon class="mr-2" nzType="file"
                                                                        nzTheme="outline"></i> KYC Details</h6>
                                                      </div>
                                                </ng-template>
                                          </div>


                                          <!-- Aadhar Address -->
                                          <div class="my-3">
                                                <nz-page-header class="site-page-header acc-bg-light"
                                                      [nzTitle]="aadharAddress">
                                                </nz-page-header>
                                                <nz-card class="mb-md-0 border"
                                                      [nzLoading]="_currentId == data.id ? api_calling_loader['accordian'] : null">
                                                      <div class="row">
                                                            <div class="col-md-4">
                                                                  <div class="d-flex flex-column">
                                                                        <span class="text-muted">
                                                                              Address Line 1
                                                                        </span>
                                                                        <div>
                                                                              {{data?.expanddata?.kyc_details ?
                                                                              data?.expanddata?.kyc_details?.results[0]?.address_1
                                                                              : '--'}}
                                                                        </div>
                                                                  </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                  <div class="d-flex flex-column">
                                                                        <span class="text-muted">
                                                                              Address Line 2
                                                                        </span>
                                                                        <div>
                                                                              {{data?.expanddata?.kyc_details ?
                                                                              data?.expanddata?.kyc_details?.results[0]?.address_2
                                                                              : '--'}}
                                                                        </div>
                                                                  </div>
                                                            </div>
                                                            <div class="col-md-4"
                                                                  *ngIf="data?.expanddata?.kyc_details?.results[0]?.address_3 ? true : false">
                                                                  <div class="d-flex flex-column">
                                                                        <span class="text-muted">
                                                                              Address Line 3
                                                                        </span>
                                                                        <div>
                                                                              {{data?.expanddata?.kyc_details ?
                                                                              data?.expanddata?.kyc_details?.results[0]?.address_3
                                                                              : '--'}}
                                                                        </div>
                                                                  </div>
                                                            </div>

                                                            <div class="col-md-4">
                                                                  <div class="d-flex flex-column">
                                                                        <span class="text-muted">
                                                                              City
                                                                        </span>
                                                                        <div>
                                                                              {{data?.expanddata?.kyc_details ?
                                                                              data?.expanddata?.kyc_details?.results[0]?.city
                                                                              : '--'}}
                                                                        </div>
                                                                  </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                  <div class="d-flex flex-column">
                                                                        <span class="text-muted">
                                                                              State
                                                                        </span>
                                                                        <div>
                                                                              {{data?.expanddata?.kyc_details ?
                                                                              data?.expanddata?.kyc_details?.results[0]?.state
                                                                              : '--'}}
                                                                        </div>
                                                                  </div>
                                                            </div>

                                                            <div class="col-md-4">
                                                                  <div class="d-flex flex-column">
                                                                        <span class="text-muted">
                                                                              Pincode
                                                                        </span>
                                                                        <div>
                                                                              {{data?.expanddata?.kyc_details ?
                                                                              data?.expanddata?.kyc_details?.results[0]?.pincode
                                                                              : '--'}}
                                                                        </div>
                                                                  </div>
                                                            </div>
                                                      </div>
                                                </nz-card>
                                                <ng-template #aadharAddress>
                                                      <div class="ml-md-2">
                                                            <h6 class="mb-0"><i nz-icon class="mr-2" nzType="file"
                                                                        nzTheme="outline"></i> Aadhar Address</h6>
                                                      </div>
                                                </ng-template>
                                          </div>

                                          <div class="mt-3">
                                                <nz-page-header class="site-page-header acc-bg-light"
                                                      [nzTitle]="preApproval">
                                                </nz-page-header>
                                                <nz-card class="mb-md-0"
                                                      [nzLoading]="_currentId == data.id ? api_calling_loader['accordian'] : null">
                                                      <div class="row">
                                                            <div class="col-md-4">
                                                                  <div class="d-flex flex-column">
                                                                        <span class="text-muted">
                                                                              Product Name
                                                                        </span>
                                                                        <div>
                                                                              {{data?.expanddata?.offer_details ?
                                                                              data?.expanddata?.offer_details?.product_name
                                                                              :
                                                                              '--'}}
                                                                              <!-- {{_activeLoans[i]['id'] == data.id ? _activeLoans[i]['email']}} -->
                                                                        </div>
                                                                  </div>
                                                            </div>
                                                            <div class="col-md-8">
                                                                  <div class="d-flex flex-column">
                                                                        <span class="text-muted">
                                                                              Limit Proposed
                                                                        </span>
                                                                        <div>
                                                                              {{data?.expanddata?.offer_details ?
                                                                              data?.expanddata?.offer_details?.limit_proposed
                                                                              :
                                                                              '--'}}
                                                                        </div>
                                                                  </div>
                                                            </div>
                                                      </div>
                                                </nz-card>
                                                <ng-template #preApproval>
                                                      <div class="ml-md-2">
                                                            <h6 class="mb-0">Pre Approved Offer Details</h6>
                                                      </div>
                                                </ng-template>
                                          </div>
                                          <!-- Document Details  -->
                                          <div class="mt-3">
                                                <nz-page-header class="site-page-header acc-bg-light"
                                                      [nzTitle]="document">
                                                </nz-page-header>
                                                <nz-card class="mb-md-0"
                                                      [nzLoading]="_currentId == data.id ? api_calling_loader['accordian'] : null">
                                                      <div class="row" *ngIf=" data?.expanddata?.kyc_documents">
                                                            <div class="col-md-4"
                                                                  *ngFor="let item of data?.expanddata?.kyc_documents">
                                                                  <div class="d-flex flex-column">
                                                                        <div
                                                                              class="d-flex flex-wrap justify-content-between">
                                                                              <label class="text-muted">{{
                                                                                    item?.document_master?.name + ' '}}
                                                                                    <b>
                                                                                          {{ item?.status }} </b>
                                                                              </label>

                                                                              <div class="mr-5">
                                                                                    <a class="text-primary mr-3"
                                                                                          *ngIf="item?.document_master?.require_front_back == 1 ? item?.front_file_url : item?.file_url"
                                                                                          nzTooltipTitle="View Document"
                                                                                          (click)="_isViewDocument = true;_currentModalData = item;">
                                                                                          <i nz-icon nzType="eye"
                                                                                                nzTheme="outline"></i></a>
                                                                                    <a class="text-primary mr-3"
                                                                                          *ngIf="item?.status == 'Pending' && (item?.document_master?.require_front_back == 1 ? item?.front_file_url : item?.file_url)"
                                                                                          nzTooltipTitle="Verify Document"
                                                                                          (click)="_isVerify = true; _currentModalData = item">
                                                                                          <i nz-icon
                                                                                                nzType="check-circle"
                                                                                                nzTheme="outline"></i></a>
                                                                                    <a class="text-primary mr-3"
                                                                                          *ngIf="item?.document_master?.require_front_back == 1 ? item?.front_file_url : item?.file_url"
                                                                                          nzTooltipTitle="Download Document"
                                                                                          href="{{ item?.front_file_url }}"
                                                                                          download target="_blank">
                                                                                          <i nz-icon nzType="download"
                                                                                                nzTheme="outline"></i></a>
                                                                                    <a class="text-primary"
                                                                                          nzTooltipTitle="Upload Document"
                                                                                          (click)="_isUpload = true; _currentModalData = item">
                                                                                          <i nz-icon nzType="upload"
                                                                                                nzTheme="outline"></i>
                                                                                    </a>
                                                                              </div>
                                                                        </div>
                                                                        <div>
                                                                              {{ item?.reason ? item?.reason : '--'}}
                                                                        </div>
                                                                  </div>
                                                            </div>

                                                      </div>
                                                      <div class="row" *ngIf="!data?.expanddata?.kyc_documents">
                                                            Documents not uploaded
                                                      </div>
                                                </nz-card>
                                                <ng-template #document>
                                                      <div class="ml-md-2">
                                                            <h6 class="mb-0">Document Details</h6>
                                                      </div>
                                                </ng-template>
                                          </div>

                                          <div class="my-3">
                                                <nz-page-header class="site-page-header acc-bg-light"
                                                      [nzTitle]="response">
                                                </nz-page-header>
                                                <nz-card class="mb-md-0 border"
                                                      [nzLoading]="_currentId == data.id ? api_calling_loader['accordian'] : null">
                                                      <nz-table #colSpanTable [nzFrontPagination]="false"
                                                            [nzShowSizeChanger]="false"
                                                            [nzData]="data?.expanddata?.api_calls_response" nzBordered>
                                                            <thead>
                                                                  <tr>
                                                                        <th></th>
                                                                        <th
                                                                              *ngFor="let item of data?.expanddata?.api_calls_response">
                                                                              {{item?.name }} </th>

                                                                  </tr>
                                                            </thead>
                        <tbody>

                              <tr>
                                    <td class="font-weight-semibold">API Call</td>
                                    <td *ngFor="let item of data?.expanddata?.api_calls_response">
                                          <i *ngIf="item?.called" nz-icon nzType="check-circle" nzTheme="fill"
                                                class="text-success"></i>
                                          <i *ngIf="!(item?.called)" nz-icon nzType="close-circle" nzTheme="fill"
                                                class="text-danger"></i>
                                    </td>
                              </tr>
                              <tr>

                                    <td>Response came</td>
                                    <td *ngFor="let item of data?.expanddata?.api_calls_response">
                                          <i *ngIf="item?.response" nz-icon nzType="check-circle" nzTheme="fill"
                                                class="text-success"></i>
                                          <i *ngIf="!(item?.response)" nz-icon nzType="close-circle" nzTheme="fill"
                                                class="text-danger"></i>
                                    </td>
                              </tr>
                        </tbody>
                  </nz-table>
      </nz-card>
      <ng-template #response>
            <div class="ml-md-2">
                  <h6 class="mb-0"><i nz-icon class="mr-2" nzType="file" nzTheme="outline"></i> API response</h6>
            </div>
      </ng-template>
      </div>
      </tr>
      </ng-container>
      </tbody>
      </nz-table>
      </div>

      </nz-card>
</section>

<section *ngIf="_isViewDocument">
      <app-common-document-actions [action]="'viewDocument'" [_isOpenModal]="_isViewDocument ? true : false"
            [documentData]="_currentModalData" (close)="_isViewDocument = false "></app-common-document-actions>
</section>

<section *ngIf="_isVerify">
      <app-common-document-actions [action]="'verifyDocument'" [_isOpenModal]="_isVerify ? true : false"
            [documentData]="_currentModalData"
            (close)="_isVerify = false; (!_isVerify ? getIdWiseData(_currentModalData?.application ,currentDropDownId) : false)">
      </app-common-document-actions>

</section>
<section *ngIf="_isUpload">
      <app-common-document-actions [action]="'uploadDocument'" [_isOpenModal]="_isUpload ? true : false"
            [documentData]="_currentModalData"
            (close)="_isUpload = false; (!_isUpload ? getIdWiseData(_currentModalData?.application ,currentDropDownId) : false)">
      </app-common-document-actions>
</section>

<ng-template #modalTitle>
      <label *ngIf="_isStatus">Update Status</label>
      <label *ngIf="isRequestDoc">Request Document</label>
      <!-- <label *ngIf="_isViewDocument">{{ _currentModalData?.document_id?.name ? _currentModalData?.document_id?.name : '' -->
      <!-- }} Document</label> -->
      <label *ngIf="_isVerify">{{ _currentModalData?.document_id?.name ? _currentModalData?.document_id?.name : '' }}
            Document</label>
</ng-template>
<!-- Modal Section -->
<section>
      <nz-modal [(nzVisible)]="_isOpenModal" [nzTitle]="modalTitle" (nzOnCancel)="handleCancel()"
            [nzFooter]="footerModal">
            <!-- Status Modal -->
            <section *ngIf="_isStatus">
                  <div class="row">
                        <div class="col-md-4 mb-3">
                              Select Status
                        </div>
                        <div class="col-md-8 mb-3">
                              <nz-select class="w-100" [(ngModel)]="_currentStageStatus" nzAllowClear
                                    nzPlaceHolder="Select Status">
                                    <nz-option *ngFor="let item of stageMasterList" [nzValue]="item?.id"
                                          [nzLabel]="item?.name"></nz-option>
                              </nz-select>
                        </div>
                        <div class="col-md-4">
                              Remarks
                        </div>
                        <div class="col-md-8">
                              <textarea rows="4" nz-input [(ngModel)]="remarksDescription"></textarea>
                        </div>
                  </div>
            </section>

            <!--Add Document Modal -->
            <section *ngIf="isRequestDoc">
                  <div class="row">
                        <div class="col-md-12 mb-4 text-muted">
                              <label
                                    *ngIf="_currentDocumentReq?.user?.first_name ? (_currentDocumentReq?.user?.first_name + (_currentDocumentReq?.user?.last_name ? _currentDocumentReq?.user?.last_name : '')) : '--'">Name
                                    : {{ _currentDocumentReq?.user?.first_name ? ( _currentDocumentReq?.user?.first_name
                                    + ' ' + (_currentDocumentReq?.user?.last_name ? _currentDocumentReq?.user?.last_name
                                    : '')) : '--' }} </label>
                              <label> Loan ID - #{{_currentDocumentReq?.id ?
                                    _currentDocumentReq?.id : '--'}}</label>
                        </div>
                        <div class="col-md-4 mb-3">
                              Document Type
                        </div>
                        <div class="col-md-8 mb-3">
                              <nz-select class="w-100" [(ngModel)]="_currentDocument" nzAllowClear
                                    nzPlaceHolder="Select Document Type">
                                    <nz-option nzValue="1" nzLabel="Aadhaar Card"></nz-option>
                                    <nz-option nzValue="2" nzLabel="PAN Card"></nz-option>
                                    <nz-option nzValue="3" nzLabel="Bank Statement"></nz-option>
                                    <nz-option nzValue="4" nzLabel="Voter Id"></nz-option>
                                    <nz-option nzValue="5" nzLabel="Selfie"></nz-option>
                              </nz-select>
                        </div>
                        <div class="col-md-4">
                              Remarks
                        </div>
                        <div class="col-md-8">
                              <textarea class="border" nz-input [(ngModel)]="verifyRemarks"
                                    placeholder="Please enter description"></textarea>
                        </div>
                        <div class="col-md-12 my-3">
                              <a class="text-primary">
                                    <h5 class="text-primary">+ Add Document</h5>
                              </a>
                        </div>
                  </div>
            </section>
      </nz-modal>
</section>

<ng-template #footerModal>
      <button nz-button nzType="link" class="border" (click)="handleCancel()">Cancel</button>
      <button *ngIf="_isDownload" nz-button nzType="primary" class="mx-2"
            (click)="handleOk('DocumentModal')">Submit</button>
      <button *ngIf="_isStatus" nz-button nzType="primary" [nzLoading]="api_calling_loader['button']"
            [disabled]="!_currentStageStatus ? true : false" class="mx-2"
            (click)="handleOk('StatusModal')">Submit</button>
      <!-- <button *ngIf="_isDownload" nz-button nzType="primary" class="mx-2" (click)="handleOk()">Submit</button> -->
</ng-template>


<nz-modal [(nzVisible)]="isVisibleXMLModal" nzTitle="Fetched XML Response" (nzOnCancel)="isVisibleXMLModal =false" (nzOnOk)="handleOk()">
      <ng-container *nzModalContent>
            <nz-card [nzLoading]="api_calling_loader['xmlLoader']">
                  <!-- <p>Content one</p>
                  <p>Content two</p>
                  <p>Content three</p> -->
                  <span *ngIf="xmlDataResponse">
                        <ngx-json-viewer [json]="xmlDataResponse"  [expanded]="false"></ngx-json-viewer>
                  </span> 
                  <span *ngIf="!xmlDataResponse" style="font-weight: bolder;">
                        No data Found
                  </span>
                  <!-- <span *ngIf="xmlDataResponse">
                        <app-common-cibil-sms [_currentLoanDetails]="xmlDataResponse">
                        </app-common-cibil-sms>
                  </span>
                  <span style="font-weight: bold;">
                       No Data Found
                  </span> -->
            </nz-card>
      </ng-container>
    </nz-modal>