<div class="header_breadcrumb_section">
    <div class="d-flex justify-content-md-center flex-wrap w-100">
      <div></div>
      <div class="font-size-20">
        <i nz-icon class="mr-2" nzType="user" nzTheme="outline"></i> Users : {{ total_count ? total_count : "0" }}
      </div>
      <div></div>
    </div>
  </div>
  <section>
    <nz-card class="w-100">
      <div class="row mb-md-3">
        <div class="col-md-8 mb-md-0">
            <div class="d-flex">
              <span>
                <nz-radio-group
                [(ngModel)]="selectedTabFilter"
                (ngModelChange)="onClickChangeTabFilter($event)"
              >
              <label
              nz-radio-button
              class="mr-md-2 mr-2 px-4 mb-md-0 mb-3 border-radius-2"
              nzValue="all">All</label>
                <label
                  nz-radio-button
                  class="mr-md-2 mr-2 px-4 mb-md-0 mb-3 border-radius-2"
                  nzValue="B2B"
                  >B2B</label>
                <label
                  nz-radio-button
                  class="mr-md-2 mr-2 px-4 mb-md-0 mb-3 border-radius-2"
                  nzValue="D2C"
                  >D2C</label>
                </nz-radio-group>
                </span>
                <span>
                    <nz-input-group
                      nzSearch
                      [nzAddOnAfter]="suffixIconButton"
                      class="mb-2"
                      style="width: 19rem"
                    >
                      <input
                        type="text"
                        [(ngModel)]="searchValue"
                        (keyup.enter)="getUsersData()"
                        nz-input
                        placeholder="Search text"
                      />
                    </nz-input-group>
                    <ng-template #suffixIconButton>
                        <button
                          nz-button
                          nzType="secondary"
                          (click)="getUsersData()"
                          nzSearch
                        >
                          <i nz-icon nzType="search"></i>
                        </button>
                    </ng-template>
                </span>           
            </div>            
        </div>
        <div class="col-md-4 mb-3 d-flex justify-content-md-end"> 
            <nz-select
            [(ngModel)]="partner"
            nzMode="multiple"
            style="width: 15rem"
            class="mx-1 my-md-0 mb-3"
            (nzFocus)="onFocusMethod('partner')"
            (ngModelChange)="getUsersData()"
            nzAllowClear
            [nzMaxTagCount]="1"
            [nzSize]="'small'"
            nzPlaceHolder="Select Partner"
          >
            <nz-option
              *ngFor="let item of partnerList"
              [nzValue]="item.pk"
              [nzLabel]="item.name"
            >
            </nz-option>
          </nz-select>   
            <nz-range-picker    class="mx-1 mb-2"
            style="width: 18rem"
            [(ngModel)]="date"
            [nzDisabledDate]="disabledDate"
            (ngModelChange)="getUsersData()"
            [nzRanges]="customRanges"></nz-range-picker>
        </div>
    </div> 
    <div>
            <nz-table
            #rowSelectionTable
            [nzData]="insuranceData"
            [nzTotal]="total_count"
            [nzFrontPagination]="false"
            [nzShowSizeChanger]="true"
            [nzPageIndex]="page"
            [nzPageSize]="globalPageSize"
            (nzQueryParams)="
            insuranceData[0] ? fetchEmployeeList($event) : null"
            [nzScroll]="{ x: '1500px', y: '' }"   
            [nzLoading]="api_calling_loader"     
          >
          <thead>
            <tr>
              <!-- <th nzWidth="2rem"></th>           -->
              <th nzWidth="60px">#</th>          
              <th nzWidth="8rem">User Details</th>
              <th nzWidth="8rem">Amount</th>
              <th nzWidth="8rem">Current Step</th>
              <th nzWidth="8rem">Unique Code</th>
              <th nzWidth="8rem">Company Name</th>
              <th nzWidth="8rem">Type</th>
              <th nzWidth="8rem">Employee Type</th>
             <th nzWidth="8rem">Apply Date & Time</th>
             <th nzWidth="8rem" nzRight>Actions</th>          
            </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let data of insuranceData; index as i">
                <tr>
                    <td *ngIf="page === 1">{{i+1}}</td>
                    <!-- <td *ngIf="page > 1">{{((page-1)*globalPageSize)+(i+1)}}</td> -->
                    <td>{{ data.user_name }}<br> {{ data.mobile }}</td>
                    <td>{{ data.amount ? data.amount : '-' }}</td>
                    <td>{{ data.current_step ? data.current_step : '-' }}</td>
                    <td>{{ data.unique_code ? data.unique_code : '-' }}</td>
                    <td>{{ data.company_name ? data.company_name : '-' }}</td>
                    <td>{{ data.nature ? data.nature : '-' }}</td>
                    <td>{{ data.employment_type ? data.employment_type : '-' }}</td>
                    <td>{{ data.created_at | date : "medium"}}</td>
                    <td nzRight>
                        <div>
                            <a class="text-dark font-size-20" nz-dropdown [nzClickHide]="false"
                                [nzTrigger]="'click'" [nzPlacement]="'bottomRight'"
                                [nzDropdownMenu]="latestUploadDropDown">
                                <img src="assets/images/ellipsis.png" alt="" width="30">
                            </a>
                            <nz-dropdown-menu #latestUploadDropDown="nzDropdownMenu">
                                <ul nz-menu *ngIf="data.pdf!=null">
                                    <li nz-menu-item (click)="pdfViewerAndDownload(data?.pdf)">
                                        <span class="m-l-5">View</span>
                                    </li>                                   
                                </ul>
                            </nz-dropdown-menu>
                        </div>
                    </td>
                  </tr>
              </ng-container>
            </tbody>
            </nz-table>
      </div>
       
    </nz-card>
</section>

<nz-modal [(nzVisible)]="pdf_viewer_object_values['boolean']" nzHeight="60vw" nzWidth="80vw" nzKeyboard="true"
  [nzTitle]="pdf_viewer_object_values['title']" (nzOnCancel)="handleCancel()" [nzFooter]="modalFooter">
  <ng-container *nzModalContent>
    <div class="pdf_viewer_container" *ngIf="pdfData">
      <embed [src]="pdfData" width="100%" style="height: 37rem" />
    </div>
    <div class="pdf_viewer_container" *ngIf="pdf_viewer_object_values['url']">
      <embed [src]="pdf_viewer_object_values['url']" width="100%" style="height: 37rem" />
    </div>
    <div *ngIf="!pdf_viewer_object_values['url']">
      <h4>No PDF Found</h4>
    </div>
  </ng-container>
</nz-modal>
<ng-template #modalFooter>
  <button nz-button nzType="primary" (click)="handleCancel()">Close</button>
</ng-template>