<!-- Cards Section -->
<section>
      <div class="row">
            <div class="col-md-4 mb-3">
                  <nz-card class="h-100">
                        <div class="d-flex flex-column">
                              <div> <label class="text-muted">Total NBFC’s Commitment</label></div>
                              <div>
                                    <h4 class="font-style-bold">${{ matricData?.total_nbfc_commitment ?
                                          matricData?.total_nbfc_commitment : '0'}}</h4>
                              </div>
                        </div>
                  </nz-card>
            </div>
            <div class="col-md-4 mb-3">
                  <nz-card class="h-100">
                        <div class="d-flex flex-column">
                              <div> <label class="text-muted">Fund Transferred in Escrow</label></div>
                              <div>
                                    <h4 class="font-style-bold">${{ matricData?.fund_transfered_escrow ?
                                          matricData?.fund_transfered_escrow : '0'}}</h4>
                              </div>
                        </div>
                  </nz-card>
            </div>
            <div class="col-md-4 mb-3">
                  <nz-card class="h-100">
                        <div class="d-flex flex-column">
                              <div> <label class="text-muted">Total Fund in Escrow</label></div>
                              <div>
                                    <h4 class="font-style-bold">${{ matricData?.fund_in_escrow ?
                                          matricData?.fund_in_escrow : '0'}}</h4>
                              </div>
                        </div>
                  </nz-card>
            </div>
            <div class="col-md-4 mb-3">
                  <nz-card class="h-100">
                        <div class="d-flex flex-column">
                              <div> <label class="text-muted">Total Credit Line</label></div>
                              <div>
                                    <h4 class="font-style-bold">${{ matricData?.total_credit_line ?
                                          matricData?.total_credit_line : '0'}}</h4>
                              </div>
                        </div>
                  </nz-card>
            </div>
            <div class="col-md-4 mb-3">
                  <nz-card class="h-100">
                        <div class="d-flex flex-column">
                              <div> <label class="text-muted">Total Credit Line Balance</label></div>
                              <div>
                                    <h4 class="font-style-bold">${{ matricData?.total_credit_line_utilized ?
                                          matricData?.total_credit_line_utilized : '0'}}</h4>
                              </div>
                        </div>
                  </nz-card>
            </div>
            <div class="col-md-4 mb-3">
                  <nz-card class="h-100">
                        <div class="d-flex flex-column">
                              <div> <label class="text-muted">Total Credit Utilisation</label></div>
                              <div>
                                    <h4 class="font-style-bold">${{ matricData?.fund_in_escrow ?
                                          matricData?.fund_in_escrow : '0'}}</h4>
                              </div>
                        </div>
                  </nz-card>
            </div>
      </div>
</section>

<!-- List Section -->
<section>
      <nz-page-header class="site-page-header text-center w-100 py-1 px-2 bg-gray-lightest"
            [nzTitle]="lenderManagement">
      </nz-page-header>
      <ng-template #lenderManagement>
            <h6 class="mb-0 pl-3">Total NBFC’s : 5</h6>
      </ng-template>
</section>

<section>
      <nz-table #rowSelectionTable nzShowSizeChanger [nzData]="lenderListData" [nzScroll]="{ x: '1500px' }">
            <thead>
                  <tr>
                        <th>Name</th>
                        <th> Total Commitment </th>
                        <th> Fund Transferred in Escrow </th>
                        <th>Total Credit Line </th>
                        <th> Total Credit Line Utilised </th>
                        <th> Balance Credit Line </th>
                        <th>Fund in Escrow </th>
                        <th>Fund Request </th>
                        <th nzRight>Action</th>
                  </tr>
            </thead>
            <tbody>
                  <tr *ngFor="let data of lenderListData; index as i">
                        <td>{{data?.nbfc_id?.name ? data?.nbfc_id?.name : '--'}}</td>
                        <td>{{data?.total_commitment ? data?.total_commitment : '--'}}</td>
                        <td>{{data?.fund_transfered_escrow ? data?.fund_transfered_escrow : '--'}}</td>
                        <td>{{data?.total_credit_line ? data?.total_credit_line : '--'}}</td>
                        <td>{{data?.total_credit_line_utilized ? data?.total_credit_line_utilized : '--'}}</td>
                        <td>{{data?.total_credit_line_balance ? data?.total_credit_line_balance : '--'}}</td>
                        <td>{{data?.fund_in_escrow ? data?.fund_in_escrow : '--'}}</td>
                        <td>{{data?.requested_funds_amount ? data?.requested_funds_amount : '--'}}</td>
                        <td nzRight> <a class="text-dark font-size-20" nz-dropdown [nzClickHide]="false"
                                    [nzTrigger]="'click'" [nzPlacement]="'bottomRight'"
                                    [nzDropdownMenu]="latestUploadDropDown">
                                    <i nz-icon nzType="ellipsis" theme="outline"></i>
                              </a>
                              <nz-dropdown-menu #latestUploadDropDown="nzDropdownMenu">
                                    <ul nz-menu>
                                          <!-- [routerLink]="['edit-employee', data.id]" -->
                                          <li nz-menu-item>
                                                <!-- <i nz-icon nzType="edit" theme="outline"></i> -->
                                                <span class="m-l-5">Edit Total Commitment</span>
                                          </li>
                                          <li nz-menu-item>
                                                <!-- <i nz-icon nzType="login" nzTheme="outline"></i> -->
                                                <span class="m-l-5">Request Funds</span>
                                          </li>
                                          <!-- nz-popconfirm
                                    nzPopconfirmTitle="Are you sure delete Employee?"
                                    nzPopconfirmPlacement="topLeft"
                                    (nzOnConfirm)="deleteCorrespondingSection(data.id)" -->
                                          <li nz-menu-item>
                                                <!-- <i nz-icon nzType="delete" theme="outline"></i> -->
                                                <span class="m-l-5">Generate Report</span>
                                          </li>
                                    </ul>
                              </nz-dropdown-menu>
                        </td>
                  </tr>
            </tbody>
      </nz-table>
</section>